.login_form{
    background:#fff no-repeat 120px 50px;
    padding:25px 0 25px 0;
    vertical-align:middle;
    display:table-cell;
    text-align:left;
    margin:0
}

.login_form .login_yellow{
    background:#fff;
    padding:10px 0;
    font-size:15px;
    margin:0 auto;
    width:340px;
    height:auto;
    color:#333
}

.login_form .login_yellow strong{
    display:block;
    padding-bottom:10px
}

.login_form .alert_login{
    margin:10px auto 10px auto;
    width:340px;
    height:auto
}

.login_form .alert_login .alert_red{
    color:#fff;
    text-align:center
}

.login_form .alert_login .alert_yellow{
    text-align:center
}

.login_form .login_btn_wrp{
    margin:10px auto;
    width:340px;
    height:auto
}

.login_form .login_btn_wrp input[type=checkbox]{
    vertical-align:middle;
    margin-right:5px
}

.login_form .login_btn_wrp a{
    display:block;
    margin-top:20px
}

.login_form .login_btn_wrp .login_btn{
    border:1px solid #ef451e;
    background:#f26531;
    padding:7px 20px;
    font-weight:700;
    font-size:16px;
    color:#fff;
    border:0;
    margin:0 10px 0 0
}

.login_text{
    border:1px solid #999;
    font-size:14px;
    padding:7px 10px;
    width:100%;
    margin:0
}

.lost_password{
    width:284px;
    height:auto;
    margin:10px auto 0 auto;
    padding:0
}

.lost_password a{
    color:#ef571e;
    font-size:12px
}

.signup_form{
    margin:50px auto 0 auto;
    border:1px solid #ccc;
    width:450px;
    background-color:#fff;
    padding:77px 10px 25px 20px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}

.connection_menu,
.lumonata_menu,
.settings_menu{
    background:url(../images/menu_bg.jpg) repeat-y top left;
    border:1px solid #afafaf;
    margin:10px 0;
    width:152px;
    height:auto
}

.connection_menu ul,
.lumonata_menu ul,
.settings_menu ul{
    margin:5px 0;
    padding:0
}

.connection_menu ul li,
.lumonata_menu ul li,
.settings_menu ul li{
    margin:10px 0;
    list-style:none;
    padding:0 5px
}

.connection_menu ul li ul,
.lumonata_menu ul li ul,
.settings_menu ul li ul{
    border:1px solid #afafaf;
    border-width:1px 0 1px 0;
    background:#fff;
    margin:5px -5px
}

.connection_menu ul li ul li,
.lumonata_menu ul li ul li,
.settings_menu ul li ul li{
    list-style:none;
    padding:5px 0;
    display:block;
    margin:0
}

.connection_menu ul li ul li a,
.lumonata_menu ul li ul li a,
.settings_menu ul li ul li a{
    padding:0 0 5px 40px;
    border-bottom:1px solid #afafaf
}

.connection_menu ul li ul li:last-child a,
.lumonata_menu ul li ul li:last-child a,
.settings_menu ul li ul li:last-child a{
    border:none;
    padding-bottom:0
}

.connection_menu ul li a,
.lumonata_menu ul li a,
.settings_menu ul li a{
    padding:6px 0 6px 35px;
    text-decoration:none;
    font-size:12px;
    color:#4a4a4a;
    display:block
}

.connection_menu ul li,
.lumonata_menu ul li,
.settings_menu ul li{
    background-position:7px 3px;
    background-repeat:no-repeat
}

.connection_menu ul li.friends,
.connection_menu ul li.people,
.lumonata_menu ul li.comments,
.settings_menu ul li.personal-settings,
.settings_menu ul li.plugins,
.settings_menu ul li.themes{
    display:none
}

.connection_menu ul li.dashboard{
    background-image:url(../images/ico-dashboard.png)
}

.connection_menu ul li.notifications{
    background-image:url(../images/ico-comment.png)
}

.connection_menu ul li.friends{
    background-image:url(../images/friends.png)
}

.connection_menu ul li.people{
    background-image:url(../images/friends.png)
}

.lumonata_menu ul li.applications{
    background-image:url(../images/ico-application.png)
}

.lumonata_menu ul li.articles,
.lumonata_menu ul li.blogs{
    background-image:url(../images/ico-article.png);
    display:none;
}

.lumonata_menu ul li.pages{
    background-image:url(../images/ico-page.png)
}

.lumonata_menu ul li.my-profile,
.lumonata_menu ul li.users,
.settings_menu ul li.users{
    background-image:url(../images/ico-user.png)
}

.lumonata_menu ul li.comments{
    background-image:url(../images/ico-comment.png)
}

.settings_menu ul li.plugins{
    background-image:url(../images/ico-plugin.png)
}

.settings_menu ul li.themes{
    background-image:url(../images/themes.png)
}

.settings_menu ul li.menus{
    background-image:url(../images/ico-menu.png)
}

.settings_menu ul li.global_settings{
    background-image:url(../images/ico-globalsetting.png)
}

.settings_menu ul li.personal-settings{
    background-image:url(../images/ico-globalsetting.png)
}

.theanav{
    display:block;
    cursor:pointer;
    padding:0;
    margin:0
}

.theanav_l{
    float:left;
    width:116px;
    height:auto
}

.theanav_r{
    float:left;
    width:26px;
    height:auto;
    text-align:right;
    margin:8px 0 0 0
}

.count_updates{
    background:#ef451e;
    color:#fff;
    padding:2px 5px;
    text-align:right;
    font-size:10px;
    font-weight:700
}

#applications,
#people,
#plugins{
    background:url(../images/ico-arrow.png) no-repeat 125px center;
    margin:0 5px 0 0
}

.clearfix:after,
.clearfix:before{
    content:'';
    display:table
}

.clearfix:after{
    clear:both
}

.dash{
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    position:relative
}

.dash-content{
    min-height:600px
}

.dash-content .action{
    margin-bottom:20px
}

.dash-content .time-box{
    float:right;
    height:30px;
    line-height:28px;
    margin:5px 0
}

.dash-content .time-box .opt{
    border:1px solid #bbb;
    border-right-width:0;
    position:relative;
    text-align:center;
    cursor:pointer;
    width:50px;
    float:left
}

.dash-content .time-box .opt:last-child{
    border-right-width:1px
}

.dash-content .time-box .opt input{
    -moz-opacity:0;
    -khtml-opacity:0;
    opacity:0;
    position:absolute;
    height:100%;
    width:100%;
    margin:0;
    left:0;
    top:0
}

.dash-content .time-box .opt label{
    padding:0 10px;
    display:block;
    background:#f5f5f5
}

.dash-content .time-box .opt input:checked+label{
    background:#bbb
}

.dash-content .three-cols{
    float:left;
    width:60%;
    margin-top:30px
}

.dash-content .three-cols .box{
    float:left;
    width:33.33%
}

.dash-content .three-cols .Chartjs{
    margin:0 5px 30px;
    border-right:1px solid #bbb
}

.dash-content .three-cols .Chartjs h3{
    margin:0 0 5px
}

.dash-content .three-cols .Chartjs b{
    display:block;
    font-size:20px;
    margin-bottom:30px
}

.dash-content .three-cols .Chartjs-figure,
.dash-content .three-cols canvas{
    height:30px !important
}

.chart{
    width:98%;
    margin:0 auto
}

.Chartjs{
    margin-bottom:30px
}

.Chartjs h2{
    font-size:18px;
    margin-bottom:20px
}

.Chartjs.half{
    float:left;
    width:50%
}

.Chartjs-figure{
    margin:0 !important
}

#dashboard_left,
#people_left{
    border-top:1px solid #bbb;
    margin-left:0;
    height:auto;
    float:left;
    width:100%
}

#dashboard_right,
#people_right{
    width:226px !important;
    width:200px;
    min-width:200px !important;
    min-width:150px;
    height:auto;
    margin-left:10px;
    margin-top:30px;
    float:left
}

#people_right{
    margin-top:0
}

#dashboard_left .home_plug1{
    width:100%;
    min-width:400px !important;
    min-width:600px;
    height:auto;
    margin-bottom:15px;
    padding:0 0 5px 0
}

#dashboard_right h2,
#people_right h2{
    font-weight:700;
    font-size:12px;
    background:#f0f0f0;
    color:#333;
    border-top:1px solid #ccc;
    padding:3px;
    margin:0
}

.home_plug1 h2{
    padding:5px 5px 5px 10px;
    margin:0;
    background:url(../images/panel_bg.jpg) repeat-x;
    height:23px;
    border-bottom:1px solid #bbb;
    font-size:14px
}

.the_feeds{
    height:auto;
    padding:10px 0 0;
    border-top:1px solid #ffece9;
    margin:10px
}

.the_feeds:last-child{
    border-bottom:1px solid #ffece9
}

.the_feeds_avatar{
    width:50px;
    height:50px;
    float:left;
    background:#666
}

.the_feeds_content{
    margin:0 0 0 60px;
    height:auto;
    position:relative
}

.the_author{
    padding:0
}

.the_author a,
a.the_post_title{
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    color:#ef451e
}

.the_post{
    margin:10px 0 0 0;
    border-left:1px solid #bbb;
    padding:0 5px 0 10px
}

.delete_post{
    text-align:right;
    position:absolute;
    right:10px;
    top:0
}

.delete_post .delete_icon{
    cursor:pointer;
    background-image:url(../images/delete.png);
    background-repeat:no-repeat;
    background-position:right;
    width:15px;
    height:15px
}

.the_post_title a{
    color:#999;
    font-size:12px;
    text-decoration:none;
    font-weight:700
}

p.the_text_content{
    font-size:11px;
    color:#9a9a9a;
    width:80%
}

.input_post{
    width:95%
}

#postarea{
    width:100%;
    margin:0;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    padding:3px;
    line-height:inherit;
    border:1px solid #bbb
}

.postbox{
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    width:98%;
    height:20px !important;
    height:30px;
    min-width:200px;
    font-size:14px;
    border:1px solid #bbb;
    padding:5px !important;
    padding:0
}

#postbox{
    width:100%
}

.btn_post{
    background:url(../images/panel_bg.jpg) repeat-x;
    height:25px;
    border:1px solid #bbb;
    cursor:pointer;
    margin:1px;
    font-size:12px;
    font-weight:700
}

.load_more_feeds{
    background:url(../images/panel_bg.jpg) repeat-x;
    margin:10px;
    border:1px solid #bbb;
    width:auto;
    padding:4px 10px;
    text-align:center;
    font-weight:700;
    cursor:pointer
}

.load_more_feeds a:hover,
.load_more_feeds:hover{
    background:#fff
}

.load_more_feeds a{
    text-decoration:none;
    display:block;
    padding:5px 0 5px 0
}

#dashboard_right,
.connection_menu ul li,
.home_plug1 ul.tabs,
.input_post #share_thought{
    display:none
}

.connection_menu ul li.dashboard{
    display:block
}

.language form fieldset{
    border-bottom:1px solid #bbb;
    padding:15px
}

.language form fieldset p{
    margin:0 0 15px
}

.language form fieldset small{
    display:block;
    margin-top:15px;
    font-size:90%
}

.language form fieldset figure{
    width:80px;
    margin:15px 0 0;
    border:1px solid #bbb;
    padding:2px;
    text-align:center
}

.language form fieldset figure img{
    width:100%
}

.language-delete-form ol{
    padding-left:15px;
    margin:10px 0
}

.language-delete-form .action{
    text-align:right;
    margin:0 13px 10px 0
}

.language-delete-form .alert_red_form{
    margin:15px
}

ul.tabs{
    border-bottom:1px solid #bbb;
    border-left:1px solid #bbb;
    list-style:none;
    height:32px;
    width:100%;
    float:left;
    padding:0;
    margin:0
}

ul.tabs li{
    background:#eaeaea url(../images/panel_bg.jpg) repeat-x left;
    border:1px solid #bbb;
    border-bottom:none;
    margin-bottom:-1px;
    position:relative;
    line-height:31px;
    border-left:none;
    height:31px;
    float:left;
    padding:0;
    margin:0
}

ul.tabs li a{
    text-decoration:none;
    color:#000;
    display:block;
    font-size:12px;
    padding:0 7px;
    outline:0;
    float:left
}

ul.tabs li span{
    padding:0 2px;
    cursor:pointer
}

ul.tabs li a:hover{
    background:#f5f5f5;
    border-bottom:1px solid #bbb;
    height:31px
}

html ul.tabs li.active{
    background:#fff;
    line-height:32px;
    height:32px
}

html ul.tabs li.active a:hover{
    background:0 0;
    border:none
}

.tab_container{
    border-left:1px solid #bbb;
    border-top:none;
    overflow:hidden;
    clear:both;
    float:left;
    width:100%
}

.tab_content{
    font-size:12px;
    font-weight:400
}

.tab_content_image{
    font-size:11px;
    font-weight:400;
    height:100%
}

.tab_content_image fieldset{
    padding:20px;
    border:none;
}

.single_content{
    border-top:1px solid #bbb
}

.single_content .button-language{ margin-top:20px; }

.media_upload{
    position:relative;
    z-index:1
}

.media_upload_wrapp{
    position:relative;
    height:100%;
    margin-top:-33px;
    padding-top:32px;
    border-left:0
}

.media_upload_content{
    overflow:auto;
    height:100%;
    z-index:1
}

.media_upload_content .alert_red_form{
    margin-top:0
}

.media_upload_content .action_box{
    margin:0;
    text-align:right
}

.media_upload_content .action_box .button{
    height:auto;
    padding:5px;
    width:40px;
    margin:0 2px
}

.attach_box{
    padding:20px 10px;
    overflow:auto;
    position:absolute;
    height:100%;
    left:0;
    right:0;
    top:31px
}

.attach_box .alert_green{ margin-bottom:20px; }

.attach-list-action-box{
    margin-bottom:25px;
    padding:10px 0 0;
    float:left; 
    width:50%; 
}

.upload_image_detail{
    display:none;
    padding-top:0
}

ul.media_upload{
    border-left:0
}

ul.media_upload li{
    border-top:0
}

ul.media_upload li a:hover{
    border-bottom:0
}

ul.cat_tab,
ul.tag_tab{
    background:url(../images/menu_bg.jpg) repeat-y top left;
    border-bottom:1px solid #bbb;
    border-right:1px solid #bbb;
    margin:0;
    list-style:none;
    height:207px;
    width:100%;
    padding:0
}

ul.cat_tab li,
ul.tag_tab li{
    margin-right:-1px;
    line-height:31px;
    overflow:hidden;
    padding:0;
    height:31px;
    margin:0
}

ul.cat_tab li a,
ul.tag_tab li a{
    text-decoration:none;
    color:#000;
    display:block;
    font-size:11px;
    padding:0 10px;
    outline:0
}

ul.cat_tab li a:hover,
ul.tag_tab li a:hover{
    background:#ccc
}

html ul.cat_tab li.active,
html ul.cat_tab li.active a:hover,
html ul.tag_tab li.active,
html ul.tag_tab li.active a:hover{
    background-color:#fff
}

.view_more_tabs ul{
    padding:0;
    margin:0;
    position:absolute;
    top:31px;
    left:0;
    display:none
}

.view_more_tabs ul li{
    list-style:none;
    border-left:1px solid #999;
    background:#fff
}

.view_more_tabs ul li a{
    display:block;
    border:none;
    width:200px
}

.application_area h1{
    margin:18px 0;
    padding:5px 0
}

.application_area fieldset p{
    margin-top:0
}

.application_area .form-field fieldset:first-child{
    padding-top:0
}

.application_area .form-field .profile_line{
    border:none
}

.application_area .list_edit .form-field fieldset{
    border-bottom:1px solid #e1e1e1
}

.application_area .list_edit .form-field fieldset select{
    margin:0
}

.application_area .list_edit .form-field h2{
    margin:10px 20px 0
}

.no-margin{
    margin:0
}

.no-border{
    border:none
}

.hidden{
    display:none
}

.ui-datepicker{
    -webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, .5);
    -moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, .5);
    box-shadow:0 0 10px 0 rgba(0, 0, 0, .5);
    margin:5px auto 0;
    height:auto;
    padding:0
}

.ui-datepicker a{
    text-decoration:none
}

.ui-datepicker .ui-datepicker-header{
    background:#ef451e;
    font-weight:700;
    line-height:30px;
    border-width:0;
    color:#fff;
    padding:5px
}

.ui-widget-header .ui-icon{
    background-image:url(../../../includes/jquery-ui-1.12.1/images/ui-icons_ffffff_256x240.png)
}

.ui-datepicker .ui-datepicker-next-hover,
.ui-datepicker .ui-datepicker-prev-hover{
    background-color:transparent;
    border:none;
    top:5px;
    left:2px
}

.ui-datepicker table{
    width:100%;
    margin:0
}

.ui-datepicker thead{
    background-color:#f7f7f7;
    border-bottom:1px solid #bbb
}

.ui-datepicker tbody td{
    border-right:1px solid #bbb;
    padding:0
}

.ui-datepicker tbody tr{
    border-bottom:1px solid #bbb
}

.ui-datepicker tbody td:last-child{
    border-right:0
}

.ui-datepicker tbody tr:last-child{
    border-bottom:0
}

.ui-datepicker th{
    text-transform:uppercase;
    padding:5px;
    color:#666;
    font-size:10px
}

.ui-datepicker-calendar .ui-state-default{
    -webkit-box-shadow:inset 1px 1px 0 0 rgba(250, 250, 250, .5);
    -moz-box-shadow:inset 1px 1px 0 0 rgba(250, 250, 250, .5);
    box-shadow:inset 1px 1px 0 0 rgba(250, 250, 250, .5);
    background:#ededed;
    padding:5px;
    border:none
}

.ui-datepicker td a,
.ui-datepicker td span{
    text-align:center;
    font-weight:700;
    color:#666
}

.ui-datepicker-calendar .ui-datepicker-today a{
    color:#ef451e
}

.ui-datepicker-calendar .ui-state-hover{
    background:#f7f7f7
}

.ui-datepicker-calendar .ui-datepicker-today .ui-state-active,
.ui-datepicker-calendar .ui-state-active{
    -webkit-box-shadow:inset 0 0 10px 0 rgba(0, 0, 0, .1);
    -moz-box-shadow:inset 0 0 10px 0 rgba(0, 0, 0, .1);
    box-shadow:inset 0 0 10px 0 rgba(0, 0, 0, .1);
    background:#ef451e;
    position:relative;
    color:#fff
}

.ui-datepicker-unselectable .ui-state-default{
    background:#f4f4f4;
    color:#b4b3b3
}

.ui-datepicker .ui-datepicker-next,
.ui-datepicker .ui-datepicker-prev{
    top:5px
}

.small_textbox{
    background:url(../images/textbox-bg.png) repeat-x left top #fff !important;
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    border:1px solid #bbb;
    padding:5px !important;
    font-size:14px;
    width:50px;
    padding:0
}

.medium_textbox{
    background:url(../images/textbox-bg.png) repeat-x left top #fff !important;
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    border:1px solid #bbb;
    padding:7px 10px !important;
    background:#fff;
    min-width:200px;
    font-size:14px;
    width:40%
}

.date_textbox{
    background:url(../images/textbox-bg.png) repeat-x left top #fff !important;
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    border:1px solid #bbb;
    font-size:14px;
    padding:7px;
    width:250px
}

.textbox{
    background:url(../images/textbox-bg.png) repeat-x left top !important;
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    border:1px solid #bbb;
    background:#fff;
    min-width:400px;
    font-size:14px;
    padding:7px;
    width:100%
}

.category_textbox{
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    width:100%;
    height:30px !important;
    min-width:100px;
    font-size:12px;
    border:1px solid #bbb;
    padding:2px 5px !important;
    background:url(../images/textbox-bg.png) repeat-x left top !important;
    background:#fff;
    margin:5px 0 10px 0
}

.textarea{
    background:url(../images/textbox-bg.png) repeat-x left top !important;
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    border:1px solid #bbb;
    font-size:14px;
    padding:7px;
    width:100%
}

select{
    width:auto;
    font-size:12px;
    height:30px;
    margin:5px 0
}

select.big{
    width:auto;
    font-size:14px;
    margin:5px 0
}

.textarea_button{
    width:100% !important;
    height:40px;
    border-right:1px solid #bbb;
    border-left:1px solid #bbb;
    border-top:1px solid #bbb;
    background:#f0f0ee;
    padding:0 2px
}

.textarea_button .button_area{
    line-height:39px;
    float:left;
    width:50%;
    height:39px;
    padding:0
}

.textarea_button .html_view,
.textarea_button .visual_view{
    line-height:26px;
    float:right;
    width:50%;
    height:39px;
    text-align:right;
    padding:0
}

.textarea_button input.html_view_button,
.textarea_button input.visual_view_button{
    height:26px;
    padding:0 15px;
    background:url(../images/button-html-view.png) repeat-x left top;
    border:1px solid #787878;
    color:#4e4e4e;
    font-weight:700;
    text-decoration:none;
    z-index:1
}

.textarea_button input.html_view_button_selected,
.textarea_button input.visual_view_button_selected{
    height:26px;
    padding:0 15px;
    background:#d1d1d1;
    border:1px solid #bbb;
    color:#737373;
    font-weight:700;
    text-decoration:none;
    z-index:1
}

.textarea_button input.html_view_button,
.textarea_button input.html_view_button_selected,
.textarea_button input.visual_view_button,
.textarea_button input.visual_view_button_selected{
    margin:6px
}

.textarea_button a.upload_image{
    background:url(../images/ico-upload-images.png) no-repeat left top;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    text-decoration:none;
    margin:0 1px 0 10px
}

.post_button{
    background:url(../images/ico-upload-images.png) no-repeat left top;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    text-decoration:none;
    margin:0 1px 0 10px
}

.textarea_button a.upload_flash{
    background:url(../images/ico-upload-flash.png) no-repeat left top;
    height:26px;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    font-weight:700;
    text-decoration:none;
    margin:0 1px 0 2px
}

.textarea_button a.upload_video{
    background:url(../images/ico-upload-video.png) no-repeat left top;
    height:26px;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    font-weight:700;
    text-decoration:none;
    margin:0 1px 0 2px
}

.textarea_button a.upload_music{
    background:url(../images/ico-upload-music.png) no-repeat left top;
    height:26px;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    font-weight:700;
    text-decoration:none;
    margin:0 1px 0 2px
}

.textarea_button a.upload_pdf{
    background:url(../images/ico-upload-pdf.png) no-repeat left top;
    height:26px;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    font-weight:700;
    text-decoration:none;
    margin:0 1px 0 2px
}

.textarea_button a.upload_doc{
    background:url(../images/ico-upload-doc.png) no-repeat left top;
    height:26px;
    padding:7px 12px 6px 12px;
    border:none;
    color:#4e4e4e;
    font-weight:700;
    text-decoration:none;
    margin:0 1px 0 2px
}

.tinymce{
    width:100%;
    min-width:400px;
    font-size:12px
}

select{
    font-family:"Lucida Sans", Arial, Helvetica, sans-serif;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-left:1px solid #bbb;
    border-top:1px solid #bbb;
    padding:5px;
    background:url(../images/textbox-bg.png) repeat-x left top
}

.status_to_show{
    padding:0 20px;
    margin:15px 0;
    width:100%
}

.button_wrapper{
    padding:0 20px;
    margin:20px 0;
    width:100%
}

.button_wrapper.bottom{
    margin:10px 0 30px 0
}

.button_left{
    min-width:300px;
    height:auto;
    float:left
}

.button_right{
    height:auto;
    float:right
}

.paging_right{
    text-align:right;
    margin:4px 0;
    min-width:300px;
    width:100%
}

ul.button_navigation{
    margin:0;
    padding:0 0
}

ul.button_navigation li{
    display:inline;
    margin:0 0;
    height:33px
}

.button{
    background:url(../images/panel_bg.jpg) repeat-x;
    height:25px;
    border:1px solid #bbb;
    cursor:pointer;
    margin:1px;
    font-size:11px;
    padding-bottom:2px
}

.button_bold{
    background:url(../images/panel_bg.jpg) repeat-x;
    height:25px;
    border:1px solid #bbb;
    cursor:pointer;
    margin:1px;
    font-weight:700;
    font-size:12px;
    padding-bottom:2px
}

.btn_enable{
    background:url(../images/panel_bg.jpg) repeat-x;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:14px;
    font-weight:700;
    margin:0;
    cursor:pointer
}

.btn_save_changes_enable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 0;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:25px !important;
    padding-left:11px
}

.btn_save_changes_disable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -40px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:25px !important;
    padding-left:11px
}

.btn_add_new_enable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -80px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_add_new_disable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -116px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_cancel_enable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -155px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_cancel_disable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -192px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_delete_enable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -233px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_delete_disable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -271px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_edit_enable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -310px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:18px
}

.btn_edit_disable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -352px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:18px
}

.btn_publish_enable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -390px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important;
    padding-left:15px
}

.btn_publish_disable{
    background-image:url(../images/button.png);
    background-repeat:no-repeat;
    background-position:0 -430px;
    height:33px;
    border:1px solid #bbb;
    color:#373737;
    font-size:12px;
    font-weight:700;
    margin:0;
    cursor:pointer;
    padding-left:30px !important
}

.btn_upload_file{
    border:1px solid #bbb;
    position:relative;
    margin-right:10px;
    line-height:33px;
    cursor:pointer;
    display:block;
    height:33px;
    width:108px;
    float:left;
}

.btn_upload_file b{
    background-image:url(../images/button.png);
    background-position:0 -390px;
    background-repeat:no-repeat;
    position:absolute;
    padding-left:30px;
    text-align:left;
    font-size:12px;
    color:#373737;
    height:100%;
    width:100%;
    left:0;
    top:0;
}

.btn_upload_file input{
    opacity:0;
    width:100%;
    position:absolute;
    height:100%;
    top:0;
    left:0
}

button img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    height:18px
}

button[type]{
    padding:5px 10px 5px 7px;
    line-height:17px
}

.btn_disable{
    background:#d1d1d1;
    height:33px;
    border:1px solid #bbb;
    color:#737373;
    font-size:14px;
    font-weight:700;
    margin:5px 0;
    cursor:default
}

.search_box{
    margin:0;
    padding:0
}

.search_box .textwrap{
    background:url(../images/panel_bg.jpg) repeat-x;
    padding:3px;
    width:250px;
    border-top:1px solid #bbb;
    border-right:none;
    border-bottom:1px solid #bbb;
    border-left:1px solid #bbb;
    float:left
}

.search_box .searchtext{
    background:url(../images/textbox-bg.png) repeat-x left top !important;
    border:1px solid #bbb;
    font-size:11px;
    padding:0 10px;
    color:#717171;
    width:100%;
    height:25px
}

.search_box .buttonwrap{
    background:url(../images/panel_bg.jpg) repeat-x;
    border-bottom:1px solid #bbb;
    border-right:1px solid #bbb;
    border-left:1px solid #dcdcdc;
    border-top:1px solid #bbb;
    padding:3px 5px 0 !important;
    padding:1px 5px 4px 5px;
    height:25px;
    height:33px;
    width:35px;
    float:left
}

.search_box .searchbutton{
    width:23px;
    border:none;
    padding:6px 5px
}

.ui-widget-overlay{
    background:rgba(0, 0, 0, .7);
    opacity:1
}

.ui-dialog{
    padding:0
}

.ui-corner-all{
    border-radius:0
}

.ui-widget.ui-widget-content{
    border:0
}

.ui-dialog .ui-dialog-titlebar-close{
    right:10px
}

.ui-dialog .ui-dialog-titlebar{
    padding:10px;
    background-color:#f26531;
    color:#fff;
    font-size:16px;
    border:0
}

.ui-dialog .ui-dialog-content{
    padding:10px
}

.ui-dialog .ui-dialog-buttonpane{
    margin:10px 0 0;
    padding:10px
}

.ui-dialog .ui-dialog-buttonpane button{
    margin-top:0;
    margin-bottom:0;
    padding:5px 15px
}

.list{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    min-width:600px;
    padding:0 20px;
    height:auto;
    width:100%;
    margin:0
}

.list .dataTables_wrapper{
    position:relative
}

.list .dataTables_wrapper .dataTables_processing{
    top:34px;
    right:0;
    bottom:0;
    left:0;
    margin:0;
    width:auto;
    background-color:#fff;
    z-index:1
}

.list .table{
    width:100%;
    border-collapse:collapse
}

.list .table>tbody>tr>td{
    position:relative;
    padding:10px 7px;
    vertical-align:top
}

.list .table>thead>tr>th input{
    position:static;
    margin:0
}

.list .table>tbody>tr>td input{
    position:static;
    margin:0
}

.list .table>thead>tr>th{
    border-bottom-color:#e6eeef;
    border-bottom-width:1px;
    vertical-align:middle;
    position:relative;
    padding:8px 7px;
    font-weight:600;
    font-size:12px;
    height:auto
}

.list .table>thead>tr>th>input{
    margin-top:3px
}

.list .table>tbody>tr>.red{
    color:red
}

.list .table>tbody>tr>td img{
    margin-right:20px
}

.list .table>tbody>tr>td p{
    margin:0
}

.list .table>tbody>tr>td p a{
    -webkit-transition:opacity .1s ease-in;
    transition:opacity .1s ease-in;
    color:#10a3c1;
    margin-right:10px;
    font-weight:400;
    font-size:12px;
    opacity:0
}

.list .table>tbody>tr>td p a:last-child{
    margin-right:0
}

.list .table>tbody>tr>td{
    border-top-color:#e6eeef;
    color:#494955;
    font-weight:400;
    font-size:12px
}

.list .table>tbody>tr>td>input{
    margin-top:2px
}

.list .table>tbody>tr:hover>td p a{
    opacity:1
}

.list .table>tbody>tr:last-child>td{
    border-bottom:1px solid #e6eeef
}

.list .table-striped>tbody>tr:nth-of-type(odd){
    background-color:#fff
}

.list .table-striped>tbody>tr:nth-of-type(even){
    background-color:#f5f5f5
}

.list .table>tbody>tr>td .link-action{
    margin-top:10px;
    opacity:0
}

.list .table>tbody>tr:hover>td .link-action{
    opacity:1
}

.list .table>tbody>tr>td .link-action a{
    margin-right:10px;
    font-size:12px
}

.list .table>tbody>tr>td .list_author{
    width:auto
}

.list .table>tbody>tr.dt-rowReorder-moving{
    color:#ac260d;
    background-color:#f2dedc;
    outline:1px solid #ebcccf
}

.list .table>tbody>tr.dt-rowReorder-moving td{
    color:#ac260d
}

.list .table>tbody>tr.dt-rowReorder-moving td a,
.list .table>tbody>tr.dt-rowReorder-moving td p{
    color:inherit
}

.list .table>tbody>tr td .move,
.list .table>thead>tr th .move{
    background:url(../images/move.svg) no-repeat;
    display:block;
    width:16px;
    height:16px
}

.list .table>tbody>tr td .move{
    cursor:move
}

table.dt-rowReorder-float{
    color:#8a6d39;
    background-color:#fcf8e1;
    outline:1px solid #faebca;
    opacity:1
}

table.dt-rowReorder-float td{
    position:relative;
    padding:10px 7px;
    vertical-align:top;
    color:#8a6d39
}

table.dt-rowReorder-float td img{
    margin-right:20px
}

table.dt-rowReorder-float td p{
    margin:0;
    color:inherit
}

table.dt-rowReorder-float td a{
    color:inherit
}

table.dt-rowReorder-float td input{
    position:static;
    margin:0
}

table.dt-rowReorder-float td .link-action{
    margin-top:10px
}

table.dt-rowReorder-float td .link-action a{
    margin-right:10px;
    font-size:12px
}

table.dt-rowReorder-float td .list_author{
    width:auto
}

.list .pagination{
    list-style:none;
    margin:30px 0 0 !important;
    text-align:center;
    padding:0
}

.list .pagination li{
    display:inline;
    font-weight:600
}

.list .pagination li a{
    padding:0 10px;
    border:none;
    text-decoration:none
}

.list .pagination li a:focus,
.list .pagination li a:hover,
.list .pagination li.active a,
.list .pagination li.active a:focus,
.list .pagination li.active a:hover{
    text-decoration:underline;
    background-color:transparent
}

.list .pagination li a:focus{
    text-decoration:none
}

.article_content .alert_red_form,
.single_content .alert_red_form{
    margin:20px
}

.list_title{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:url(../images/panel_bg.jpg) repeat-x;
    border:1px solid #bbb;
    margin:10px 0 5px;
    font-weight:700;
    font-size:12px;
    height:35px;
    padding:7px;
    width:100%
}

.list_title div{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.list_title input{
    position:absolute;
    margin:1px 0;
    left:0
}

.list_title a{
    display:block;
    width:100%;
    float:left;
    text-decoration:none
}

.list_title span{
    float:left
}

.sorting-indicator{
    background:url(../images/sort.gif) no-repeat scroll 0 0 transparent;
    display:none;
    height:4px;
    margin-left:7px;
    margin-top:5px;
    width:7px
}

.sortable .sorting-indicator{
    display:block
}

.desc .sorting-indicator{
    background-position:0 0
}

.desc:hover .sorting-indicator{
    background-position:-7px 0
}

.asc .sorting-indicator{
    background-position:-7px 0
}

.asc:hover .sorting-indicator{
    background-position:0 0
}

.sorted:hover .sorting-indicator{
    display:block
}

.the_navigation_list{
    height:20px;
    clear:both;
    margin:10px 0 0 20px
}

.list_title a{
    display:block;
    float:left;
    width:100%
}

.list_navigation{
    margin:0 0 0 10px
}

.list_navigation a{
    font-size:10px
}

.list_item{
    border:1px solid #bbb;
    background:#fff;
    width:inherit;
    margin:5px 0;
    padding:7px;
    height:auto;
    width:100%
}

.list_item.ui-sortable-placeholder{
    height:72px;
    background-color:#f66;
    visibility:visible !important;
    border:none
}

.list_item.ui-sortable-helper{
    height:auto !important
}

.list_edit{
    position:relative;
    border:none;
    height:auto;
    width:inherit;
    background:#fff;
}

.list_edit .sef_content{
    background:#fc6;
    cursor:pointer
}

.list_edit .sef_box_act{
    display:none
}

.list_edit .sef_box_act input[type=text]{
    border:1px solid #ccc;
    width:300px;
    font-size:11px
}

.list_edit fieldset{
    border:none;
    margin:0;
    padding:10px 20px
}

.list_edit fieldset p{
    margin-top:0
}

.list_edit fieldset p.pdf-file{
    padding: 10px 5px;
    border: 1px solid grey;
  width: max-content;
  position: relative;
}

.list_edit fieldset p.pdf-file > .link{
  position: absolute;
  right: -30px;
  display: block;
  width: 20px;
  height: 20px;
  background-color: black;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  color: white;
  text-align: center;
  line-height: 20px;
  cursor: pointer;
}

.title_checkbox{
    position:absolute;
    margin:1px 0;
    left:0
}

.avatar{
    margin:0 10px 0 0;
    overflow:hidden;
    height:32px;
    width:32px;
    float:left
}

.title_username{
    width:150px;
    padding:2px 2px 0 20px;
    float:left;
    position:relative
}

.title_name{
    width:200px;
    padding:2px;
    float:left
}

.title_email{
    width:30%;
    padding:2px;
    float:left
}

.title_category{
    width:10%;
    padding:2px;
    float:left
}

.pages_title{
    padding:2px 2px 2px 30px;
    position:relative;
    width:50%;
    float:left
}

.article_title{
    padding:2px 0 2px 30px;
    position:relative;
    width:330px;
    width:52%;
    float:left
}

.article_title.small{
    width:20%
}

.list_category{
    width:12%;
    padding:2px;
    float:left
}

.list_category.medium{
    width:20%
}

.list_author{
    width:15%;
    padding:2px;
    float:left
}

.list_author a{
    text-decoration:none
}

.list_comments{
    width:10%;
    padding:2px;
    float:left;
    text-align:center
}

.thecomments{
    width:50px;
    padding:2px;
    float:left
}

.list_date{
    text-align:right;
    padding:2px;
    float:left;
    width:12%
}

.list_date span{
    float:right
}

.list_order{
    width:10%;
    padding:2px;
    float:left
}

.plugin_name{
    width:40%;
    padding:2px 2px 2px 15px;
    float:left
}

.plugin_description{
    width:55%;
    padding:2px;
    float:left
}

.rule_parent{
    padding:2px 0 2px 30px;
    position:relative;
    width:250px;
    float:left
}

.rule_name{
    width:150px;
    padding:2px;
    float:left
}

.rule_description{
    width:200px;
    padding:2px;
    float:left
}

.additional_data{
    /*margin:0 0 20px 0*/
}

.additional_data h2,
.categories_tags h2{
    padding:0 10px;
    margin:0;
    background:url(../images/panel_bg.jpg) repeat-x;
    height:30px;
    line-height:30px;
    border:1px solid #bbb;
    font-size:14px;
    cursor:pointer
}

.additional_data .additional_content{
    padding:5px;
    border-left:1px solid #bbb;
    border-bottom:1px solid #bbb;
    border-right:1px solid #bbb;
    /*margin:0 0 10px 0*/
}

.categories_tags{
    padding:0;
    margin:0;
    width:100%;
    height:auto
}

.tags_cat_content{
    padding:0 0;
    border-left:1px solid #bbb;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bbb;
    height:340px;
    margin:0
}

.categories_tags .categories{
    width:50%;
    height:auto;
    float:left
}

.categories_tags .tags{
    width:49%;
    height:auto;
    float:left;
    margin:0 0 0 1%
}

.tags_cat_nav{
    width:20%;
    float:left;
    padding:0 0;
    margin:0 0;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.tags_cat_val{
    width:80%;
    height:215px;
    float:left;
    overflow:hidden;
    padding:7px 0 7px 7px;
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}

.the_categories{
    width:100%;
    height:200px;
    overflow:auto;
    margin:0 0 10px -10px;
    border-bottom:1px solid #bbb;
    list-style:none;
    padding:5px 0 0 10px
}

.the_categories ul{
    padding:0;
    margin:0 0 0 16px
}

.the_categories ul li{
    list-style:none
}

.add_new_cattags{
    padding:10px
}

.add_new_cattags select{
    width:100%;
    margin:0 0 10px
}

.add_cattags_button{
    text-align:right;
    float:right
}

.add_cattags_button .button{
    width:80px;
    padding:5px 10px;
    margin:0;
    height:auto
}

.most_tag_list,
.tag_list{
    margin:3px;
    padding:3px;
    border:1px solid #bbb
}

.tag_name{
    float:left;
    width:90%;
    height:auto
}

.tag_action{
    float:left;
    width:9%;
    height:auto;
    border-left:1px solid #ccc;
    text-align:center
}

.tag_action a{
    display:block;
    text-decoration:none
}

.add_tags_button{
    background-color:#f66
}

.add_tags_button_normal{
    background:url(../images/menu_bg.jpg) repeat-y top left
}

.the_picture{
    width:250px;
    height:300px;
    overflow:hidden;
    margin:20px;
    float:left
}

.upload_profile_pic{
    float:left;
    padding:10px 0 0 20px
}

.upload_profile_pic .btn_publish_enable{ margin-top:15px; }

.morebox{
    border:1px solid #ccc;
    display:block;
    padding:5px 0;
    text-align:center;
    width:100%
}

.morebox a{
    text-decoration:none;
    color:#333
}

.morebox a:hover{
    color:#ccc
}

.alert-wrapper{
    padding:0 20px;
}

.alert_red{
    background-color:#f66;
    font-size:14px;
    color:#333;
    padding:10px;
    height:auto
}

.alert_yellow{
    background-color:#fc6;
    font-size:14px;
    color:#333;
    padding:10px;
    height:auto
}

.alert_green{
    background-color:#84ff90;
    font-size:14px;
    color:#333;
    padding:10px;
    height:auto
}

.alert_green_form{
    background-color:#84ff90;
    font-size:14px;
    color:#333;
    padding:10px;
    height:auto;
    margin:20px auto 20px auto
}

.alert_yellow_form{
    background-color:#fc6;
    font-size:14px;
    color:#333;
    padding:10px;
    height:auto;
    margin:20px auto 20px auto
}

.alert_red_form{
    background-color:#f66;
    font-size:14px;
    color:#333;
    padding:10px;
    height:auto;
    margin:20px auto 20px auto
}

.alert_green_form ol,
.alert_green_form ul,
.alert_red_form ol,
.alert_red_form ul,
.alert_yellow_form ol,
.alert_yellow_form ul{
    padding:0 15px;
    margin:0 0 0
}

.alert_green_form ol li,
.alert_green_form ul li,
.alert_red_form ol li,
.alert_red_form ul li,
.alert_yellow_form ol li,
.alert_yellow_form ul li{
    margin-bottom:5px
}

.alert_green_form ol li:last-child,
.alert_green_form ul li:last-child,
.alert_red_form ol li:last-child,
.alert_red_form ul li:last-child,
.alert_yellow_form ol li:last-child,
.alert_yellow_form ul li:last-child{
    margin-bottom:0
}

.alert_green_form strong,
.alert_red_form strong,
.alert_yellow_form strong{
    margin:0 0 10px;
    display:block
}

.alert_form_action{
    text-align:right;
    margin:0;
    padding:0 10px 20px 0
}

.alert_form_action .button{
    height:auto;
    margin:0 3px;
    padding:5px 10px
}

#delete_confirmation_wrapper{
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    z-index:99
}

.fade{
    opacity:.5;
    background:#000;
    position:fixed;
    height:100%;
    width:100%;
    z-index:99;
    left:0;
    top:0
}

.popup_block{
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:2px solid #bbb;
    margin:0 0 0 -250px;
    padding:0 10px;
    background:#fff;
    position:fixed;
    z-index:100;
    width:480px;
    float:left;
    top:20%;
    left:50%
}

.popup_block .popup{
    float:left;
    width:100%;
    background:#fff;
    margin:10px 0;
    padding:10px 0
}

*html .fade{
    position:absolute;
    top:0
}

*html .popup_block{
    position:absolute;
    top:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop +((documentElement.clientHeight-this.clientHeight)/2):document.body.scrollTop +((document.body.clientHeight-this.clientHeight)/2));
    left:expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollLeft + (document.body.clientWidth /2):document.body.scrollLeft + (document.body.offsetWidth /2))
}

.validate_box{
    font-family:arial, helvetica, san-serif;
    padding:6px !important;
    margin:-2px 0 0 10px;
    font-weight:700;
    font-size:13px;
    height:30px;
    color:#666;
    padding:0
}

.validate_box span{
    /*padding:5px 20px 12px 5px !important;
    padding:4px 20px 12px 4px;
    margin:0 0 0 20px;*/
    white-space:nowrap
}

.validate_ok span,
.goodPass span{ 
    padding-left:25px;
}

.shortPass,
.validate_no{
    background:#edabab;
    border:1px solid #bc0000
}

.strongPass,
.validate_ok{
    background:url(../images/green.png) no-repeat left;
    border:1px solid #73bc00
}

.badPass{
    background:#edabab;
    border:1px solid #bc0000;
    padding:0
}

.goodPass{
    background:url(../images/yellow.png) no-repeat left;
    border:1px solid #bc9f00
}

.comment_box{
    margin:5px 0 0 0;
    padding:0
}

.the_comment{
    padding:5px 5px 5px 5px;
    width:98%;
    height:auto;
    background:#ffece9;
    margin:0 0 1px 0;
    font-size:11px
}

.commentator_name,
.commentator_name a{
    font-size:13px;
    color:#333;
    text-decoration:none;
    font-weight:700;
    margin:5px 0 0 0
}

.commentator_name a:hover{
    text-decoration:underline
}

.comment{
    padding:0 0 0 45px;
    margin-top:-40px
}

.the_comment_content{
    margin:5px 0;
    color:#333
}

.the_comment_content a{
    text-decoration:none;
    background:#ccc
}

.the_avatar{
    margin-left:0;
    width:32px;
    height:32px;
    overflow:hidden
}

.comment_button{
    text-align:right
}

.commentview{
    text-decoration:none;
    color:#ef451e;
    font-size:11px
}

textarea.comment_area{
    width:100%;
    margin:10px 0 0 0;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    padding:3px;
    line-height:inherit
}

.comment_area_loged{
    width:98%;
    margin:10px 0 0 0;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    padding:3px;
    line-height:inherit;
    border:1px solid #bbb
}

.comment_date{
    font-size:10px;
    color:#666
}

.inputtext{
    height:25px;
    font-family:inherit;
    font-size:inherit;
    color:inherit;
    padding:3px;
    line-height:inherit
}

.comment_button{
    margin:10px 0 0 0
}

.tb-menu{
    position:relative;
    top:0;
    bottom:0;
    height:100%;
    width:100%;
    margin-bottom:10px
}

.tb-menu .apps-set-wrapp{
    width:30%;
    vertical-align:top;
    position:relative;
    height:100%;
    padding:0
}

.tb-menu .apps-set-wrapp .apps-box{
    padding:10px
}

.tb-menu .apps-set-wrapp .apps-set{
    width:100%
}

.tb-menu .menu-set-wrapp{
    width:70%;
    vertical-align:top;
    padding:0
}

.the_apps_set{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #bbb;
    position:absolute;
    margin-left:0;
    margin-top:10px;
    overflow:hidden;
    display:block;
    height:auto;
    float:none;
    width:100%;
    bottom:0;
    left:0;
    top:0
}

.the_apps_set .loader{ margin-top:10px; }

.the_apps_set ul{
    padding:0;
    margin:0;
    border-top:1px solid #bbb
}

.the_apps_set ul li{
    display:block;
    list-style:none
}

.the_apps_set ul li span{ margin-top:10px; float:left; width:100%; background-color:#ccc; padding:8px; }

.the_apps_set ul li:first-child .apps_item,
.the_apps_set ul li:first-child .apps_details_item{
    margin-top:10px
}

.the_apps_set h2,
.the_menus_set h2{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:url(../images/panel_bg.jpg) repeat-x;
    border-bottom:1px solid #bbb;
    padding:8px 10px;
    max-height:33px;
    font-size:14px;
    height:auto;
    margin:0
}

.the_menus_set{
    border:1px solid #bbb;
    margin:10px 0 0 5px;
    background:#fff;
    height:auto;
    float:left;
    width:100%
}

.the_menus_set ul{
    padding:10px 10px 0;
    border-left:0;
    height:auto
}

.the_menus_set ul li{
    display:block !important
}

.the_menus_set ul li:first-child{
    border-left:1px solid #bbb
}

.the_menus_set ul li a{
    border:none
}

.the_menus_set ul li span{
    padding:0 10px 0 0
}

.the_menus_set ul li a:hover,
.the_menus_set ul li span:hover{
    background:0 0;
    color:#333;
    border:none
}

.sets_apps_item{
    padding:0 10px 10px;
    overflow:auto;
    height:auto;
    width:auto
}

.apps-act{
    text-align:right;
    border-top:1px solid #bbb;
    padding:10px
}

.apps-act .button{
    padding:7px 10px;
    font-size:11px;
    height:30px;
    margin:0 0 0 3px
}

.sets_apps_item .apps_item{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #bbb;
    background:#fff;
    overflow:hidden;
    margin:3px 0;
    height:auto;
    width:100%
}

.sets_apps_item .apps_item .apps_item_text{
    width:calc( 100% - 60px );
    height:auto;
    background:#ccc;
    float:left;
    padding:8px 5px
}

.sets_apps_item .apps_item .add{
    width:30px;
    float:left;
    cursor:pointer;
    padding:5px 0;
    text-align:center;
}

.sets_apps_item .apps_item .view{
    background:#fff url(../images/ico-arrow.png) center no-repeat;
    width:30px;
    height:30px;
    float:left;
    cursor:pointer
}

.apps_details_item{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border:1px solid #bbb;
    background:#f8f8f8;
    margin:3px 0;
    padding:10px;
    height:auto;
    width:100%
}

.apps_details_item div{ text-align:right; border-top:1px dashed #BBBBBB; padding-top:10px; }

.menuset_details_item{
    min-width:200px !important;
    width:290px !important;
    border:1px dashed #bbb;
    min-width:150px;
    background:#fff;
    padding:5px;
    height:auto;
    margin:0
}

.menuset_details_item .label{
    margin:0
}

.menuset_details_item .label input{
    font-size:12px;
    padding:3px 5px
}

.menuset_details_item .target{
    margin:5px 0
}

.menuset_details_item .target select{
    height:auto;
    padding:3px 5px
}

.menuset_details_item .url{
    margin:5px 0 10px
}

.menuset_details_item .url input{
    font-size:12px;
    padding:3px 5px
}

.menuset_details_item .act{
    text-align:right
}

.apps_details_item label{
    font-weight:700;
    display:block;
    padding:0 0 10px
}

.apps_details_item select{
    margin:0
}

.apps_details_item p{
    margin-top:0
}

.apps_details_item p i{
    display:block;
    padding:10px 0
}

.apps_details_item .medium_textbox{
    padding:7px 10px !important;
    height:auto !important;
    width:100%
}

.setname{
    background:#f8f8f8;
    padding:10px;
    width:100%;
    border-bottom:1px solid #bbb
}

.setname span{
    padding-right:10px
}

.setname .button{
    height:auto;
    padding:9px 10px;
    margin:0;
    vertical-align:top
}

.setname .medium_textbox{
    padding:7px 10px !important;
    height:auto !important
}

.delete_tab:hover{
    background:#ccc;
    color:#fff
}

.view_more_tabs img{
    margin-top:15px;
    padding-bottom:11px
}

.process-alert{
    border:1px solid #ccc;
    padding:10px;
    display:none;
    font-weight:700;
    color:red;
    margin:5px 0
}

#link_the_set{
    width:100%;
    height:100px;
    border-top:1px solid #ccc
}

.the_sets{
    -moz-box-sizing:border-box;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    background:#fff;
    padding:10px;
    height:auto;
    clear:both
}

.theme_wrapper{
    margin:10px;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
    width:98%;
    height:auto
}

.theme_preview{
    width:350px;
    height:350px;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bbb;
    margin:0;
    padding:10px;
    float:left;
    overflow:hidden
}

.current_theme_preview{
    width:350px;
    height:350px;
    border-right:1px solid #bbb;
    border-bottom:1px solid #bbb;
    margin:0;
    padding:10px;
    float:left;
    overflow:hidden;
    background:#f0f0f0
}

.current_theme_preview img,
.theme_preview img{
    border:1px solid #bbb
}

#background_preview{
    width:100%;
    height:300px;
    border:1px solid #ccc
}

#header_preview{
    width:100%;
    height:auto;
    overflow:hidden
}

#from_comp{
    text-decoration:none;
    font-weight:700
}

.header_thumb,
.header_thumb_selected{
    width:280px !important;
    width:250px;
    height:110px;
    float:left;
    margin:5px 5px;
    overflow:hidden;
    text-align:center;
    text-align:left
}

.header_thumb img{
    border:1px solid #ccc;
    padding:3px;
    cursor:pointer
}

.header_thumb_selected img{
    border:2px solid #ef451e;
    padding:3px;
    cursor:pointer
}

.the_upload_set{
    width:31% !important;
    width:32%;
    min-width:200px !important;
    min-width:150px;
    height:auto;
    margin-left:5px;
    margin-bottom:5px;
    border:1px solid #bbb;
    float:left
}

.the_header_set{
    width:65% !important;
    width:63%;
    min-width:400px !important;
    min-width:600px;
    height:auto;
    border:1px solid #bbb;
    float:left;
    margin:0 0 0 5px;
    background:#fff
}

.pages_name_items{
    width:96%;
    height:30px;
    border:1px solid #ccc;
    margin:5px 0 0 0;
    padding:2px
}

.page_name_label{
    width:90%;
    float:left
}

.page_name_check{
    width:8%;
    float:left
}

#upload_area{
    width:100%;
    height:auto
}

#headers_area{
    width:100%;
    height:200px;
    overflow:auto
}

#headers_area .header_thumb,
.header_thumb_selected{
    width:280px;
    height:100px;
    margin:5px 5px;
    overflow:hidden;
    text-align:left
}

.list_wrapper{
    padding:5px
}

.theme_title{
    background:url(../images/panel_bg.jpg) repeat-x;
    height:20px;
    font-size:12px;
    font-weight:700;
    margin:0 0 5px 0
}

.header_pos{
    width:50%;
    float:left
}

.header_img{
    width:20%;
    float:left
}

.header_act{
    width:30%;
    float:left
}

.header_row{
    padding:3px;
    border:1px solid #ccc;
    margin:5px 0
}

#friendship{
    width:80%;
    height:auto;
    float:left
}

#friend_list{
    margin:5px 0 10px 0;
    width:18%;
    height:auto;
    border-bottom:1px solid #ccc;
    padding-bottom:10px;
    float:left
}

#friend_list .friend_list{
    background:url(../images/friend_list-small.png) left center no-repeat;
    padding:0 0 0 5px
}

#friend_list .friend_list a{
    display:block;
    text-decoration:none;
    padding:3px 5px 3px 18px
}

#friend_list .friend_list a:hover{
    background-color:#f0f0f0;
    background-image:url(../images/friend_list-small.png);
    background-repeat:no-repeat;
    background-position:-5px 0
}

.friends_item{
    width:620px;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0;
    height:auto;
    margin:5px 0 0 5px
}

.friend_tag_area{
    margin:0 0 5px 5px;
    padding:10px;
    width:600px;
    min-height:35px;
    height:auto;
    background:#f0f0f0;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc
}

.friends_list_item{
    width:690px;
    border:1px solid #ccc;
    height:70px;
    margin:5px 0 5px 5px;
    cursor:move
}

.friends_item img{
    border:0
}

.friends_avatar{
    width:50px;
    height:50px;
    margin:10px;
    float:left
}

.friends_name{
    float:left;
    width:290px;
    height:auto;
    margin:0 10px 0 10px
}

.friends_name_fof{
    float:left;
    width:390px;
    height:auto;
    margin:0 10px 0 10px
}

.friends_name_request{
    float:left;
    width:290px;
    height:auto;
    margin:0 10px 0 10px
}

.friends_name a,
.friends_name_fof a,
.friends_name_request a{
    color:#ef451e;
    text-decoration:none
}

.friends_name p,
.friends_name_fof p,
.friends_name_request p{
    font-weight:700;
    top:0
}

.follow_unfollow{
    width:70px;
    float:left;
    height:50px;
    margin:10px
}

.fof_add_friend{
    width:113px;
    float:left;
    height:50px;
    margin:10px 3px
}

.follow_unfollow_request{
    width:80px;
    float:left;
    height:50px;
    margin:10px
}

.fof_add_friend p,
.follow_unfollow p,
.follow_unfollow_request p{
    vertical-align:middle;
    margin-top:12px !important;
    margin-top:0;
    background:url(../images/panel_bg.jpg) repeat-x;
    border:1px solid #bbb;
    cursor:pointer;
    padding:5px
}

.edit_friends_list{
    float:left;
    width:14%;
    height:50px;
    margin:10px 0 0 0;
    display:table-cell;
    text-align:center
}

.edit_friends_list_request{
    float:left;
    width:14%;
    height:50px;
    margin:10px 0 0 0;
    display:table-cell;
    text-align:center
}

.friends_list_name{
    float:left;
    width:350px;
    height:50px;
    margin:10px
}

.friends_list_name p{
    cursor:pointer
}

.invite_friends_list{
    float:left;
    width:120px;
    height:50px;
    margin:10px 0 0 10px;
    text-align:center
}

.edit_friends_list p,
.edit_friends_list_request p,
.invite_friends_list p{
    font-weight:700;
    vertical-align:middle;
    top:5%;
    background:url(../images/panel_bg.jpg) repeat-x;
    padding:5px 0;
    border:1px solid #ccc;
    cursor:pointer
}

.edit_friends_list a,
.edit_friends_list_request a,
.invite_friends_list a{
    display:block;
    text-decoration:none
}

.delete_friends_list{
    float:left;
    width:35px;
    height:50px;
    margin:10px 0 0 10px;
    display:table-cell;
    text-align:center;
    border-left:1px solid #ccc
}

.delete_friends_list p{
    font-weight:700;
    vertical-align:middle;
    position:relative;
    top:12%
}

.delete_friends_list p a{
    cursor:pointer;
    padding:5px 10px 5px 10px;
    background-image:url(../images/delete.png);
    background-repeat:no-repeat;
    background-position:10px 0;
    text-decoration:none;
    display:block
}

.delete_friends_list p a:hover{
    background-image:url(../images/delete_hover.png);
    background-repeat:no-repeat;
    background-position:5px -3px;
    display:block
}

.friend_search{
    margin:5px;
    text-align:right
}

.invite_friends_text{
    width:97% !important;
    width:89%;
    height:174px;
    background:url(../images/shadow_gradient.gif) repeat-x bottom left;
    border:1px solid #ccc;
    margin:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px
}

.the_benefit{
    width:100%;
    height:174px;
    margin:20px;
    float:left
}

.invite_friends{
    width:98%;
    border:1px solid #ccc;
    height:auto;
    margin:5px 0 5px 5px
}

.invite_email{
    width:350px;
    height:auto;
    float:left;
    margin:10px;
    border-right:1px solid #ccc;
    padding-right:50px
}

.invite_contacts strong,
.invite_email strong{
    margin:10px 0;
    color:#ef451e
}

.invite_contacts{
    width:300px;
    height:auto;
    float:left;
    margin:10px;
    padding-left:10px
}

.iservices{
    float:left;
    width:161px;
    height:60px;
    overflow:hidden;
    margin:5px
}

a.button_add_friend{
    text-decoration:none;
    font-weight:700;
    font-size:12px;
    padding:5px 2px
}

a.button_add_friend_user{
    text-decoration:none;
    background:url(../images/panel_bg.jpg) repeat-x;
    height:30px;
    border:1px solid #bbb;
    cursor:pointer;
    margin:1px;
    font-weight:700;
    font-size:12px;
    padding:5px
}

.add_new_friend_list_box{
    width:670px;
    margin:20px 0 10px 5px;
    padding:10px;
    border:1px dashed #bbb
}

.fl_item{
    width:185px;
    height:60px;
    border:1px solid #ccc;
    margin:5px 5px;
    cursor:pointer;
    float:left
}

.fl_image{
    width:50px;
    height:50px;
    overflow:hidden;
    margin:5px 5px;
    float:left
}

.fl_name{
    width:110px;
    height:50px;
    overflow:hidden;
    margin:5px 5px;
    float:left;
    font-weight:700
}

.profile_img{
    width:152px;
    height:auto;
    margin-bottom:9px
}

.profile_img a{
    color:#ef451e;
    text-decoration:none
}

.profile_img .p_text{
    width:95px;
    height:auto;
    float:left;
    text-align:right
}

.profile_img .p_text a:first-child{
    font-weight:700
}

.profile_img .p_text a:last-child{
    font-size:10px
}

.profile_img .p_img{
    width:50px;
    height:50px;
    float:left;
    margin-left:5px
}

.profile_img .p_img a{
    display:block
}

.profile_img .p_img img{
    margin:0
}

#profile_right{
    width:226px !important;
    margin-bottom:10px;
    margin-left:5px;
    width:200px;
    height:auto;
    float:left
}

#profile_right h2,
.education h2,
.work h2{
    border-top:1px solid #ccc;
    background:#f0f0f0;
    font-weight:700;
    font-size:12px;
    padding:3px;
    color:#333
}

.profile_line{
    border-bottom:1px solid #f0f0f0;
    padding-bottom:10px
}

.expertise_item{
    padding:10px;
    float:left;
    border:1px solid #ccc;
    margin:5px 5px 5px 0;
    font-size:13px;
    font-weight:700;
    cursor:pointer
}

.expert_tag_list{
    border:1px solid #bbb;
    margin:5px;
    padding:2px;
    width:auto;
    height:auto;
    float:left;
    background:#fff
}

.expert_tag_name{
    float:left;
    width:auto;
    height:20px;
    padding-right:3px
}

.expert_tag_action{
    border-left:1px solid #ccc;
    text-align:center;
    height:auto;
    float:left;
    width:15px
}

.expert_tag_action a{
    display:block;
    text-decoration:none
}

.work{
    padding:10px 10px 10px 10px;
    height:auto;
    float:left;
    width:45%
}

.education{
    border-right:1px solid #f0f0f0;
    padding:10px 10px 10px 10px;
    height:auto;
    float:left;
    width:45%
}

.eduwork_list{
    margin:10px 0
}

.the_school{
    background:url(../images/school.png) left center no-repeat;
    padding-left:60px;
    cursor:pointer;
    height:50px;
    margin:10px;
    width:83%
}

.the_work{
    background:url(../images/office.png) left center no-repeat;
    padding-left:60px;
    cursor:pointer;
    height:50px;
    margin:10px;
    width:83%
}

.the_school label,
.the_work label{
    font-size:10px;
    color:#ccc
}

.the_school .shool_name,
.the_work .comp_name{
    float:left;
    width:200px
}

.the_school .action,
.the_work .action{
    float:left;
    width:80px;
    text-align:right
}

.people_wrapper{
    border-left:1px solid #ccc;
    border-top:1px solid #ccc;
    padding-bottom:5px
}

.the_people{
    width:520px;
    height:auto;
    margin:5px 0 0 5px;
    padding:10px;
    border-top:1px solid #ccc;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    -moz-border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0
}

.people_thumb{
    float:left;
    margin:10px;
    width:50px;
    height:50px;
    overflow:hidden
}

.people_description{
    float:left;
    width:300px
}

.the_people h2{
    padding:5px 0;
    font-size:14px
}

.the_people .oneliner{
    color:#ccc
}

.the_people a{
    text-decoration:none;
    color:#ef451e
}

.the_people img{
    border:none
}

.the_people .location{
    margin:5px 0;
    font-size:13px
}

.people_wrapper .tag_area{
    margin:0 0 0 5px;
    padding:10px;
    width:520px;
    min-height:35px;
    height:auto;
    background:#f0f0f0;
    -moz-border-radius:0 0 5px 5px;
    -webkit-border-radius:0 0 5px 5px;
    border-left:1px solid #ccc;
    border-right:1px solid #ccc;
    border-bottom:1px solid #ccc;
    border-top:1px solid #ccc
}

.people_tag_list_wrapper{
    margin:5px;
    padding:0;
    border:1px solid #bbb;
    width:auto;
    height:auto;
    background:#fff;
    float:left
}

.people_tag_list{
    float:left;
    background:#fff;
    padding:5px
}

.people_tag_list_wrapper a{
    text-decoration:none;
    font-weight:700
}

.numof_tag_list{
    float:left;
    border-left:1px solid #ccc;
    background:#fff;
    padding:5px
}

*{
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box
}

body,
html{
    min-height:100%;
    height:100%
}

.clearfix:after,
.clearfix:before{
    content:"";
    display:table
}

.clearfix:after{
    clear:both
}

.filename{
    padding:10px;
    border:1px solid #bbb;
    background:#f5f5f5;
    display:inline-block
}

.filename.hidden{
    display:none
}

body{
    background:#fff;
    margin:0;
    padding:0;
    font-family:Arial, "Lucida Sans", Helvetica, sans-serif;
    color:#333;
    font-size:12px;
    font-weight:400
}

fieldset{
    border-bottom:1px solid #e1e1e1;
    border-top:0 solid #e1e1e1;
    border-left:0 solid #e1e1e1;
    border-right:0 solid #e1e1e1;
    padding:10px 20px 10px 20px;
    margin:0
}

label{
    padding:10px 0
}

legend{
    color:inherit
}

a{
    color:#333
}

th{
    padding:0 0 0 5px;
    margin:0;
    background:url(../images/panel_bg.jpg) repeat-x;
    height:23px;
    border-top:1px solid #bbb;
    border-bottom:1px solid #bbb;
    font-size:11px
}

.lumonata_head_wrap{
    border-bottom:1px solid #e5e5e5;
    background:#fff;
    width:100%
}

.lumonata_head_wrap .header_orange{
    width:100%;
    height:47px;
    background-color:#ef451e;
    color:#fff
}

.lumonata_head_wrap .lumonata_header{
    background-image:url(../images/lumonata-logo.png);
    background-position:10px 10px;
    background-repeat:no-repeat;
    text-align:right;
    margin:0 auto;
    color:#fff;
    height:47px;
    width:100%
}

.lumonata_content_wrap{
    position:absolute;
    top:47px;
    bottom:0;
    left:0;
    right:0
}

.lumonata_content_wrap form{
    position:relative;
    height:100%;
    width:100%;
    display:table;
    text-align:center
}

.top_search_box{
    width:358px;
    height:auto;
    float:left;
    margin-left:168px;
    margin-top:9px;
    text-align:left;
    position:relative
}

.search_result_header{
    background:#f0f0f0;
    font-weight:700;
    padding:5px;
    color:#333
}

.top_search_wrapper{
    width:340px;
    background:#ef835c;
    padding:6px 8px;
    border-top:1px solid #d03414;
    border-left:1px solid #d03414;
    border-right:1px solid #d03414;
    border-radius:5px 5px 0 0;
    -webkit-border-radius:5px 5px 0 0
}

.top_search_button{
    background-image:url(../images/searchbox.png);
    width:33px;
    height:25px;
    border:1px solid #d03414;
    margin:0 0 0 -2px;
    padding:0
}

.input_search_wrapper{
    height:25px;
    width:300px;
    float:left;
    background:#ccc
}

.button_search_wrapper{
    float:left;
    height:25px;
    width:33px
}

.search_top_text{
    border:1px solid #f0f0f0;
    height:25px;
    width:300px;
    font:inherit;
    color:#ccc;
    font-size:11px
}

#top_search_result_wrapper{
    position:absolute;
    background:#fff;
    z-index:1;
    width:356px;
    height:auto;
    max-height:410px;
    border:1px solid #d03414
}

.top_search_result_wrapper{
    width:356px;
    height:auto;
    max-height:380px;
    overflow:hidden
}

.top_search_result{
    width:100%;
    height:auto;
    cursor:pointer;
    color:#ef451e;
    border-bottom:1px solid #f0f0f0
}

.top_search_result.active{
    background:#ef835c;
    color:#fff
}

.top_search_avatar{
    width:50px;
    height:60px;
    overflow:hidden;
    float:left;
    margin:5px
}

.top_search_avatar a{
    display:block
}

.top_search_name{
    width:250px;
    height:60px;
    overflow:hidden;
    float:left;
    margin:5px
}

.top_search_name a{
    display:block;
    color:inherit;
    text-decoration:none;
    height:50px
}

.more_search_result{
    width:345px;
    height:20px;
    background:#f0f0f0;
    color:#333;
    margin-top:0;
    text-align:center;
    font-size:12px;
    font-weight:700;
    padding:5px
}

.notif_wrap{
    width:345px;
    height:380;
    overflow:auto
}

.notifications_list{
    padding:5px;
    width:785px;
    height:37px;
    border-bottom:1px solid #f0f0f0
}

.notifications_list a{
    text-decoration:none;
    color:#ef835c
}

.notifications_avatar{
    width:32px;
    height:32px;
    float:left
}

.notifications_name{
    width:743px;
    height:32px;
    float:left;
    margin:0 0 0 10px
}

.topnav{
    float:right;
    height:47px;
    margin-right:10px;
    max-width:400px;
    min-width:200px
}

.lumonata_header ul{
    margin:0;
    padding:25px 0 0 0
}

.lumonata_header ul li{
    display:inline;
    padding:2px
}

.lumonata_header ul li a{
    color:#fff;
    text-decoration:none
}

.lumonata_content{
    margin:-68px auto 0 auto;
    width:100%;
    min-height:100%;
    padding:68px 0 50px
}

.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

h1{
    font-size:20px;
    padding:5px;
    margin:0
}

h2{
    padding:5px 5px 5px 0;
    margin:0
}

.footer{
    width:100%;
    height:10px;
    background:#ef451e;
    margin:0;
    font-style:italic;
    color:#fff;
    padding:10px 0
}

.footer_wrap{
    width:960px;
    height:inherit;
    margin:0 auto
}

.footer a{
    color:#fff;
    text-decoration:none:
}

ul#alignment{
    padding:0;
    margin:0
}

ul#alignment li{
    float:left;
    width:auto !important;
    list-style:none;
    margin-right:10px;
    line-height:30px
}

ul#alignment li input{
    margin:0 5px 0 10px;
    vertical-align:text-top
}

ul#alignment li#alignment_left{
    background-image:url(../images/button-align.png);
    background-repeat:no-repeat;
    padding:0 0 0 28px;
    height:29px
}

ul#alignment li#alignment_middle{
    background-image:url(../images/button-align.png);
    background-position:-3px -58px;
    background-repeat:no-repeat;
    padding:0 0 0 28px;
    height:30px
}

ul#alignment li#alignment_right{
    background-image:url(../images/button-align.png);
    background-position:-3px -30px;
    background-repeat:no-repeat;
    padding:0 0 0 28px;
    height:30px
}

ul#alignment li#alignment_none{
    background-image:url(../images/button-align.png);
    background-position:-3px -87px;
    background-repeat:no-repeat;
    padding:0 0 0 28px;
    height:30px
}

ul.pagging{
    padding:5px 0;
    margin:0
}

ul.pagging li{
    margin:0 2px;
    display:inline
}

ul.pagging li:last-child{
    margin:0 -2px 0 2px
}

ul.pagging li a{
    padding:6px;
    background:url(../images/panel_bg.jpg) repeat-x;
    border:1px solid #bbb;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-decoration:none
}

ul.pagging li a.selected{
    padding:6px;
    background:#d1d1d1;
    border:1px solid #bbb;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    text-decoration:none;
    color:#737373
}

.media_navigation{
    width:100%;
    height:auto;
    margin:0 0 5px 0
}

.search_wraper{
    float:left;
    padding:0 0;
    width:50%
}

.sort_order{
    text-align:right;
    padding:10px 0;
}

.paging_media{
    padding:15px 0 0;
    text-align:right;
    float:left;
    width:49%;
}

.media_title{
    background:url(../images/panel_bg.jpg) repeat-x;
    border-bottom:1px solid #bbb;
    border-top:1px solid #bbb;
    margin:10px 0 5px;
    position:relative;
    font-size:12px;
    padding:0 5px;
    height:auto
}

.media_title .title_checkbox{
    left:5px
}

.media_description{
    float:left;
    padding:9px 31px;
    width:50%;
    text-align:left
}

.media_action{
    float:left;
    padding:9px 31px;
    width:50% !important;
    text-align:right
}

.application_area{
    background:none repeat scroll 0 0 #fff;
    border-bottom:1px solid #bbb;
    height:auto;
    margin:0 0 0 170px;
    overflow:hidden;
    padding:0;
    position:relative
}

#media_gallery{
    border-bottom:1px solid #bbb;
    height:auto
}

.media_gallery_item{
    border:1px solid #bbb;
    background:#fff;
    position:relative;
    margin:0 0 5px;
    padding:5px;
    height:auto;
    cursor:move;
    width:100%
}

.media_gallery_item.ui-sortable-placeholder{
    height:72px;
    background-color:#f66;
    visibility:visible !important;
    border:none
}

.media_gallery_item.ui-sortable-helper{
    height:auto !important
}

.media_gallery_item .title_checkbox{
    left:5px
}

.media_gallery_item .media_action,
.media_gallery_item .media_description{
    padding:0 31px
}

.media_image_small{
    border:1px solid #bbb;
    text-align:center;
    overflow:hidden;
    padding:2px;
    height:64px;
    width:64px;
    float:left;
}

.media_image_small img{
    object-fit:cover;
    height:100%;
    width:100%;
}

.media_item_title{
    width:63%;
    height:50px;
    overflow:hidden;
    float:left;
    padding:5px
}

.media_item_action{
    width:100%;
    height:50px;
    overflow:hidden;
    float:left;
    padding-top:10px
}

.media_item_action a{
    margin:0 5px
}

.media_item_action a:last-child{
    margin-right:0
}

.details_item{
    border-top:1px solid #bbb;
    padding:10px;
    margin-top:10px
}

.details_attachment_set:first-child{
    border-bottom:1px solid #bbb;
    margin-bottom:10px;
    padding-bottom:10px
}

.media_field_left_image{
    width:120px;
    height:110px;
    float:left;
    overflow:hidden;
    padding:5px 0
}

.media_field_right_image{
    padding:5px 0 0 130px;
    margin-left:-120px;
    height:110px;
    width:100%;
    float:left
}

.media_field_left{
    width:120px;
    float:left;
    padding:10px 0
}

.media_field_left strong{
    display:block;
    text-align:right;
    padding-top:7px
}

.media_field_right{
    width:100%;
    float:left;
    padding:10px 0;
    margin-left:-120px;
    padding-left:130px
}

.media_field_right .textbox{ margin-bottom:10px; }

.upload_image_url_detail .media_field_left{ width:85px; }
.upload_image_url_detail .media_field_right{ margin-left:-85px; padding-left:95px; }

.left_side{
    width:152px;
    height:auto;
    float:left;
    padding-top:10px
}

.preview_website{
    background:url(../images/menu_bg.jpg) repeat-y top left;
    border:1px solid #afafaf;
    margin-bottom:10px;
    overflow:hidden;
    height:auto;
    padding:5px
}

.preview_website a{
    display:block;
    text-decoration:none
}

.settings_website{
    width:142px;
    height:auto;
    margin:10px 0;
    overflow:hidden;
    background:url(../images/menu_bg.jpg) repeat-y top left;
    border:1px solid #afafaf;
    padding:5px
}

.settings_website a{
    display:block;
    text-decoration:none
}

#colorbox{
    -webkit-box-sizing:content-box;
    -moz-box-sizing:content-box;
    box-sizing:content-box
}

.dropzone{
    border:2px dashed #ddd;
    border-radius:5px;
    background:white;
    min-height:200px;
}

.dropzone .dz-message {
    font-weight:400;
    font-size:12px;
}

.dropzone .dz-message .note {
    margin-top:1.4rem;
    font-size:0.8em;
    font-weight:200;
    display:block;
}

.status_to_show input{
    margin:-2px 5px 0 20px;
    vertical-align:middle
}

.status_to_show input:first-child{
    margin-left:20px
}

.top_search_wrapper{
    display:none
}

.attach-loader{
    background:url(../images/loading.gif) no-repeat scroll center center #fff;
    position:absolute;
    display:none;
    height:100%;
    z-index:100;
    opacity:.5;
    width:100%;
    top:0;
}

.button-language,
.button-language-menu{
    padding:0 20px;
    width:100%;
}

.button-language-menu{
    padding-right:0;
    padding-left:0;
}

.button-language ul,
.button-language-menu ul{
    border-bottom:1px solid #ccc;
    padding:0;
    margin:0;
}

.button-language ul::before,
.button-language-menu ul::before{
    display:table;
    content:'';
}

.button-language ul::after,
.button-language-menu ul::after{
    display:table;
    content:'';
}

.button-language ul li,
.button-language-menu ul li{
    list-style-type:none;
    margin-bottom:-1px;
    position:relative;
    display:block;
    float:left;
}

.button-language ul li::after,
.button-language-menu ul li::after{
    clear:both;
}

.button-language ul li a.btn,
.button-language-menu ul li a.btn{
    padding:10px 10px 10px 10px;
    border:1px solid transparent;
    border-bottom:transparent;
    background-color:#fff;
    text-decoration:none;
    margin-right:2px;
    display:block;
}

.button-language ul li a.btn img,
.button-language-menu ul li a.btn img{
    vertical-align:middle;
    margin-right:10px;
}

.button-language ul li a.btn:hover,
.button-language-menu ul li a.btn:hover{
    background-color:#eee;
}

.button-language ul li.active a.btn,
.button-language ul li.active a.btn:hover,
.button-language-menu ul li.active a.btn,
.button-language-menu ul li.active a.btn:hover{
    border:1px solid #ccc;
    border-bottom-color:transparent;
    background-color:#fff;
}

.button-language .btn,
.button-language-menu .btn{
    background-position:10px center;
    background-repeat:no-repeat;
    background-size:20px;
}

.content-lang{
    display:none;
}

.content-lang .list_edit{
    border:1px solid #ccc;
    border-top:none;
    padding:20px 0;
    margin:0 20px;
}

.content-lang .list_edit fieldset:last-child{ 
    padding-bottom:0; 
}

.content-lang .list_edit fieldset:last-child .additional_data,
.content-lang .list_edit fieldset:last-child .additional_data .additional_content{
    margin-bottom:0;
}

.content-lang.active{
    display:block;
}