<!-- BEGIN form-block -->
<h1>{app_title}</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container {group}">
    {alert}

    <form method="post" action="#" enctype="multipart/form-data">
        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    <li>{button}</li>
                </ul>
            </div>
        </div>

        <div class="button-language {btn_cls}">
            <ul class="clearfix">
                <!-- BEGIN form-language-btn-block -->
                <li class="{llanguage_btn_cls}">
                    <a href="#" data-filter="{llanguage_code}" class="btn">
                        <img src="//{template_url}/flags/{llanguage_code}.svg" alt="" width="24" />
                        {llanguage}
                    </a>
                </li>
                <!-- END form-language-btn-block -->
            </ul>
        </div>

        <div class="content-loop {conten_css} active">
            <div class="list_edit">
                <fieldset>
                    <p>Title</p>
                    <input type="text" class="article-title textbox" name="title[{i}]" value="{title}" autocomplete="off" />
                    {sef_scheme}
                </fieldset>

                <fieldset>
                    <p>Post Date</p>
                    <input type="text" class="date_textbox" name="post_date[{i}]" value="{post_date}" autocomplete="off" />
                </fieldset>

                <fieldset>
                    <p>Description</p>
                    <input type="text" class="textbox hidden post-type-field" name="post_type[{i}]" value="{group}" autocomplete="off" />
                    {textarea}
                </fieldset>

                <fieldset>
                    <div class="categories_tags clearfix">
                        <div class="categories">
                            <h2>Categories</h2>
                            <div class="tags_cat_content clearfix">
                                <div class="tags_cat_nav">
                                    <ul class="cat_tab cat_tab_{i}" id="cat_tab_{i}">
                                        <li><a href="#all_categories_{i}">All Categories</a></li>
                                        <li><a href="#mostused_category_{i}">Most Used</a></li>
                                    </ul>
                                </div>
                                <div class="tags_cat_val">
                                    <div id="all_categories_{i}" class="all_categories_{i} catcontent_{i}">
                                        {all_categories}
                                    </div>
                                    <div id="mostused_category_{i}" class="mostused_category_{i} catcontent_{i}">
                                        {most_used_categories}
                                    </div>
                                </div>
                                {add_new_category}
                            </div>
                        </div>

                        <div class="tags">
                            <h2>Tags</h2>
                            <div class="tags_cat_content clearfix">
                                <div class="tags_cat_nav">
                                    <ul class="tag_tab tag_tab_{i}" id="tag_tab_{i}">
                                        <li><a href="#the_tags_{i}" id="add_tags_button_{i}">Add Tags</a></li>
                                        <li><a href="#mostused_tabs_{i}">Most Used</a></li>
                                    </ul>
                                </div>
                                <div class="tags_cat_val">
                                    <div id="the_tags_{i}" class="the_tags_{i} tabcontent_{i}">
                                        {all_tags}
                                    </div>
                                    <div id="mostused_tabs_{i}" class="mostused_tabs_{i} tabcontent_{i}">
                                        {most_used_tags}
                                    </div>
                                </div>
                                {add_new_tag}
                            </div>
                        </div>
                    </div>
                </fieldset>

                {application_additional_data}
                {additional_data}
            </div>
        </div>

        <!-- BEGIN form-language-loop-block -->
        <div class="content-loop {llanguage_content_css}">
            <div class="list_edit">
                <fieldset>
                    <p>Title</p>
                    <input type="text" class="textbox" name="additional_fields[larticle_title_{llanguage_code}][{llanguage_index}]" value="{llanguage_larticle_title}" autocomplete="off" />
                </fieldset>

                <fieldset>
                    <p>Description</p>
                    {llanguage_textarea}
                </fieldset>

                {llanguage_application_additional_data}
                {llanguage_additional_data}
            </div>
        </div>
        <!-- END form-language-loop-block -->

        <div class="button_wrapper bottom clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
        </div>
    </form>
            
    <script type="text/javascript">
        function remove_tag( index, count_child )
        {
            jQuery('.the_tag_list_' + index + '_' + count_child ).animate({ 'backgroundColor' : '#FF6666' }, 500, function(){
                jQuery(this).remove();
            });
        }

        jQuery(document).ready(function() {
            jQuery('.date_textbox').datepicker({ dateFormat:'dd MM yy' });
            
            //-- When page loads...            
            jQuery('.tabcontent_{i}').hide();
            jQuery('.catcontent_{i}').hide();
            jQuery('.catcontent_{i}:first').show();
            jQuery('.tabcontent_{i}:first').show();
            jQuery('.cat_tab_{i} li:first').addClass('active').show();
            jQuery('.tag_tab_{i} li:first').addClass('active').show();

            //-- On Click Category Tab Event            
            jQuery( '.cat_tab_{i} li' ).click(function() {            
                jQuery( '.cat_tab_{i} li' ).removeClass( 'active' );      
                jQuery( '.catcontent_{i}' ).hide();

                jQuery(this).addClass('active');
        
                jQuery( jQuery(this).find('a').attr('href') ).fadeIn();

                return false;            
            });
        
            //-- On Click Tag Tab Event
            jQuery('.tag_tab_{i} li').click(function() {            
                jQuery('tag_tab_{i} li').removeClass('active');
                jQuery('.tabcontent_{i}').hide();

                jQuery(this).addClass('active');

                jQuery( jQuery(this).find('a').attr('href') ).fadeIn();

                return false;
            });

            //-- Add Category Button Click            
            jQuery('.new-category-button-{i}').click(function(){            
                if( jQuery('.new-category-textbox-{i}').val() != '' )
                {
                    var sel = jQuery(this);
                    var prm = new Object;
                        prm.selected     = jQuery('.selected_category_{i}').text();
                        prm.parent       = jQuery('.select_parent_{i} select').val();
                        prm.name         = jQuery('.new-category-textbox-{i}').val();
                        prm.pkey         = 'add-new-category';
                        prm.rule         = 'categories';
                        prm.group        = '{group}';
                        prm.index        = '{i}';
                        prm.insert_rules = true;
                        prm.description  = '';

                    jQuery.ajax({
                        data: prm,
                        method: 'POST',
                        url: '{ajax_url}',
                        dataType : 'json',
                        beforeSend: function( xhr ){
                            sel.val( 'Adding...' ).attr( 'disabled', 'disabled' );
                        },
                        success: function( e ){
                            sel.val( 'Add' ).removeAttr( 'disabled' );

                            jQuery('.new-category-textbox-{i}').val('');
                            jQuery('.all_categories_{i}').html( e.data );
                            jQuery('.select_parent_{i}').html( e.options );
                        },
                        error: function( e ){
                            alert( 'Error adding new category' );
            
                            sel.val( 'Add' ).removeAttr( 'disabled' );

                            jQuery('.new-category-textbox-{i}').val('');
                        }
                    });
                }
            });

            //-- Add Tags Button Click            
            jQuery('.new-tag-button-{i}').click(function(){
                var input_tags = jQuery('.new-tag-textbox-{i}').val();            
                var tag_label  = input_tags.split(',');

                if( input_tags != '' )
                {
                    jQuery(this).val( 'Adding...' ).attr( 'disabled', 'disabled' );
            
                    for( i = 0; i < tag_label.length; i++ )
                    {
                        var child  = jQuery('.tag_index_{i}').length;
                        var thetag = 
                        '<div id="the_tag_list_{i}_' + child + '" class="tag_list tag_index_{i} the_tag_list_{i}_' + child + ' clearfix">'+
                            '<div class="tag_name">' + jQuery.trim( tag_label[i] ) + '</div>'+
                            '<div class="tag_action">'+
                                '<a href="javascript:;" id="remove_tag_' + child + '" onclick="remove_tag( {i}, ' + child + ')">X</a>'+
                            '</div>'+
                            '<input type="hidden" name="tags[{i}][]" value="' + jQuery.trim( tag_label[i] ) + '" />'+
                        '</div>';
                        console.log(thetag);
                        if( child == 0 )
                        {
                            jQuery('.the_tags_{i}').html('').append( thetag );                    
                        }
                        else
                        {
                            jQuery('.tag_index_{i}:first').before( thetag );
                        }
                    }

                    jQuery(this).val( 'Add' ).removeAttr('disabled');

                    jQuery('.new-tag-textbox-{i}').val('');
                }            
            });
        });            
    </script>
</div>
<!-- END form-block -->