<!-- BEGIN language-setting -->

<h1>Global Settings</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container">
    <div id="language" class="tab_content">
        {alert}
        
        <form name="language" action="" method="post">
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>
                </div>
                <div class="button_right">
                    <div class="search_box clearfix" style="float:right;">
                        <div class="textwrap">
                            <input type="text" name="search" class="searchtext" value="" placeholder="Seach" autocomplete="off" />
                        </div>
                        <div class="buttonwrap">
                            <img src="{img-url}/ico-search.png" name="search" class="searchbutton" alt="">
                        </div>
                    </div>
                </div>
            </div>

            <div class="list">            
                <table id="language-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th align="left" width="15" data-orderable="false">
                                <input type="checkbox" name="select_all" autocomplete="off" />
                            </th>
                            <th align="left" data-orderable="false">Flag</th>
                            <th align="left">Language</th>
                            <th align="left">Code</th>
                            <th align="left">Default</th>
                            <th align="left">Status</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
                
            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                        {button}
                    </ul>   
                </div>
            </div>
       	</form>

        <script type="text/javascript">
            jQuery(document).ready(function(){
                var table  = jQuery('#language-table').DataTable({
                    dom          : '<"row"<"col-xs-5 col-sm-6"l><"col-xs-7 col-sm-6 text-right">r>t<"row"<"col-md-12"i><"col-md-12 text-center"p>>',
                    columnDefs   : [{ targets:4, type:'date' }],
                    pageLength   : parseInt('{limit}'),
                    lengthChange : false,
                    info         : false,
                    processing   : true,
                    serverSide   : true,
                    searching    : true,
                    deferRender  : true,
                    order        : [],
                    ajax         : {
                        url  : '{ajax-url}',
                        type : 'POST',
                        data : function(d){
                            d.pkey = 'load-language-data';
                        }
                    },
                    columns: [
                        {
                            data: 'id', render: function ( data, type, row ){
                                return '<input type="checkbox" name="select[]" class="title_checkbox select" value="' + data + '"  autocomplete="off" />';
                            }
                        },
                        {
                            data: 'flag', render: function ( data, type, row ){
                                return '<img src="' + data + '" width="40" />';
                            }
                        },
                        {
                            data: 'title', render: function ( data, type, row ) {
                                var html = 
                                '<p>' + data + '</p>'+
                                '<div class="link-action">'+
                                    '<div class="list-action" id="the-action-'+ row.id +'">'+
                                        '<a href="' + row.edit_link + '">Edit</a>'+
                                        '<a href="' + row.ajax_link + '" class="delete-link" id="'+ row.id +'" rel="' + data + '">Delete</a>'+
                                    '</div>'+
                                '</div>';

                                return html;
                            }
                        },
                        {
                            data: 'code', render: function ( data, type, row ) {
                                return data;
                            }
                        },
                        {
                            data: 'default', render: function ( data, type, row ) {
                                return data == 0 ? 'No' : 'Yes';
                            }
                        },
                        {
                            data: 'status', render: function ( data, type, row ) {
                                return data == 0 ? '<strong style="color:red;">Non Active</strong>' : '<strong>Active</strong>';
                            }
                        }
                    ]
                });

                table.on( 'init.dt', function (){
                    set_button_access();
                    delete_language_func( table, 'delete-language' );
                });

                table.on( 'draw.dt', function (){
                    set_button_access();
                    delete_language_func( table, 'delete-language' );
                });

                jQuery('[name=search]').on('keyup change', function(){
                    table.search( this.value ).draw() ;
                });
            });
        </script>
    </div>
</div>

<!-- END language-setting -->