<!-- BEGIN form-block -->

<h1>{page_title}</h1>
<div class="tab_container">
    <div class="single_content">

		{alert}

        <form method="post" action="">

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                    	{button}
                    </ul>
                </div>
            </div>

            <div class="button-language {btn_cls}">
                <ul class="clearfix">
                    <!-- BEGIN form-language-btn-block -->
                    <li class="{llanguage_btn_cls}">
                        <a href="#" data-filter="{llanguage_code}" class="btn">
                            <img src="//{template_url}/flags/{llanguage_code}.svg" alt="" width="24" />
                            {llanguage}
                        </a>
                    </li>
                    <!-- END form-language-btn-block -->
                </ul>
            </div>

            <div class="content-loop {conten_css} active">
                <div class="list_edit">
                    <fieldset>
                        <p>Title</p>
                        <p><input type="text" class="article-title textbox" name="title[{i}]" value="{title}" autocomplete="off" /></p>
                        {sef_scheme}
                    </fieldset>

                    <fieldset>
    					<p>Description</p>
                        {textarea}
                    </fieldset>
                    
                    {additional_data}
                </div>
            </div>

            <!-- BEGIN form-language-loop-block -->
            <div class="content-loop {llanguage_content_css}">
                <div class="list_edit">
                    <fieldset>
                        <p>Title</p>
                        <input type="text" class="textbox" name="additional_fields[larticle_title_{llanguage_code}][{llanguage_index}]" value="{llanguage_larticle_title}" autocomplete="off" />
                    </fieldset>

                    <fieldset>
                        <p>Description</p>
                        {llanguage_textarea}
                    </fieldset>
                    
                    {llanguage_application_additional_data}
                    {llanguage_additional_data}
                </div>
            </div>
            <!-- END form-language-loop-block -->

            <div class="button_wrapper clearfix">
                <div class="button_left">
                    <ul class="button_navigation">
                       {button}
                    </ul>
                </div>
           </div>
        </form>
    </div>
</div>

<!-- END form-block -->