<!-- BEGIN form-block -->

<h1>{app_title}</h1>
<ul class="tabs">
    {tab}
</ul>
<div class="tab_container">
    {alert}

    <form class="{form_class}" method="post" action="#" enctype="multipart/form-data" name="upload" >

        {is_edit_all}
        {is_saved}

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
        </div>

        <div class="button-language {btn_cls}">
            <ul class="clearfix">
                <!-- BEGIN form-language-btn-block -->
                <li class="{llanguage_btn_cls}">
                    <a href="#" data-filter="{llanguage_code}" class="btn">
                        <img src="//{template_url}/flags/{llanguage_code}.svg" alt="" width="24" />
                        {llanguage}
                    </a>
                </li>
                <!-- END form-language-btn-block -->
            </ul>
        </div>

        <div class="content-loop {conten_css} active">
            <div class="list_edit">
                <fieldset>
                    <p>Name</p>
                    <input type="text" class="textbox" name="name[]" value="{rule_name}" autocomplete="off" />
                    <input type="hidden" class="rule-text-id textbox" name="rule_id[]" value="{rule_id}" />
                </fieldset>

                <fieldset>
                    <p>Parent :</p>            
                    <select name="parent[]" class="big">
                        <option value="0">Parent</option>
                        {rule_parent}
                    </select>
                </fieldset>

                <fieldset>
                    <p>Description</p>
                    {rule_description}
                </fieldset>
                
                {application_additional_data}
            </div>
        </div>

        <!-- BEGIN form-language-loop-block -->
        <div class="content-loop {llanguage_content_css}">
            <div class="list_edit">
                <fieldset>
                    <p>Name</p>
                    <input type="text" class="textbox" name="additional_fields[lname_{llanguage_code}][]" value="{llanguage_lname}" autocomplete="off" />
                </fieldset>

                <fieldset>
                    <p>Description</p>
                    {llanguage_textarea}
                </fieldset>
                
                {llanguage_application_additional_data}
            </div>
        </div>
        <!-- END form-language-loop-block -->

        <div class="button_wrapper clearfix">
            <div class="button_left">
                <ul class="button_navigation">
                    {button}
                </ul>
            </div>
        </div>
    </form>
</div>

<!-- END form-block -->