<style type="text/css">
	.carousel-control.left {
		background-image: none;
	}
	.carousel-control.right {
		background-image: none;
	}
</style>

<carousel interval="myInterval">
	<slide ng-repeat="(key, slide) in info.promoBanner">
		<!-- <img ng-src="{{slide}}" class="" style="max-height:290px;"> -->
		<img src="{{slide.url}}" style="width:100%;">
	</slide>
</carousel>
