<style>
.ichronozSearch {
    background: #ff0033;
    text-transform: uppercase;
    bottom: 20px;
    border: 1px solid #CC6135;
    cursor: pointer;
    padding: 7.5px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: rgba(0,0,0,0.18) 0 1px 0;
    -moz-box-shadow: rgba(0,0,0,0.18) 0 1px 0;
    box-shadow: rgba(0,0,0,0.18) 0 1px 0;
    text-shadow: rgba(0,0,0,.4) 0 -1px 0;
    chr_color: #ffffff;
    font-size: 13px;
    font-family: Helvetica, Arial, Sans-Serif;
    text-decoration: none;
    vertical-align: middle;
    font-family: "Arial";
    font-weight: 700;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    transition: .3s;
}
.cancellationForm{
	border: 1px solid #CCC;padding: 20px !important;
}
</style>
<div class="chr_col-lg-12 cancellationForm" >
	<form name="searcForm" ng-submit="cekBooking()" target="_self" class="form-reserve">
		<div class="chr_col-lg-2">
			<strong>Email</strong>
		</div>
		<div class="chr_col-lg-4">
			<input ng-model="cekBookingEmail" type="email" placeholder="E-mail" class="chr_form-control margtop10" name="email">
		</div>
		<div class="chr_col-lg-2">
			<strong>Booking ID#</strong>
		</div>
		<div class="chr_col-lg-4">
			<input ng-model="cekBookingCode" type="text" placeholder="Booking ID#" class="chr_form-control margtop10" name="code">
		</div>
		<div class="chr_col-lg-2">
			<input type="submit" name="availcheck" class="ichronozSearch2 right" value="Submit" class="chr_btn">
		</div>
	</form>
</div>

<div class="clearfix"></div>
<div class="line4"></div>
<div class="ichronoz_pagecontainer2">
					
	<div class="hpadding10">
		table class="chr_tableichronoz chr_table-bordered">
			<thead>
				<tr>
					<th chr_colspan="2" class="size16">{{bookingStatus}}</th>
				</tr>
			</thead>
		</chr_table>
	</div>
	<div class="padding10">
		<div class="chr_col-md-12 mediafix1">
									<p class="size16 dark bold">{{bookingStatus.rn}}</p>
									
									<p class="size14 red bold">
										{{bookingStatus.cico}} ( {{bookingStatus.night}} Night<span ng-show="product.night > 1">s</span> Stay )
									</p>
									<p class="size13 wpadding10" ng-bind-html="bookingStatus.rd">
									</p>
									<p class="size12 ">
										<ul class="ichronoz_checklist2 size12 wpadding10" style="padding-left: 24px;">
												<li class="ichronoz_checklist2"><span class="bold green">Accupancy</span> - {{bookingStatus.pa}} Adults in existing beds <span ng-show="bookingStatus.pc < 1">and no Children in the room</span><span ng-hide="bookingStatus.pc < 1">+ {{bookingStatus.pc}} Child under 12 years old (in existing beds) per Room.</span></li>
												<li class="ichronoz_checklist2"><span class="bold green">Extra Bed</span> - <span ng-show="bookingStatus.eb > 0"> {{bookingStatus.eb}} extra bed in 1 Room.</span> <span ng-hide="bookingStatus.eb > 0">No Extrabed available for this room</span></li>
												<li ng-show="bookingStatus.bi == 1"><span class="bold green">Breakfast Include</span></li>
												
												<li ng-hide="product.cancellation == 1"><span class="bold green">Non Refundable </span></li>
												
												<!-- '0'=>'Full Payment in Advance', '1'=>'Guarantee Booking' -->
												<li ng-show="product.paymentType == 1"><span class="bold green">Guarantee Booking </span> - for {{product.bookingFee}} Night<span ng-show="product.bookingFee > 1">s</span> Stay &nbsp;
													<a popover="Pay a deposit of 100% of {{product.bookingFee}} night now to guarantee your reservation. The rest will be charged when check-in." popover-trigger="mouseenter" href style="chr_color:#2E7BBE;font-family:Arial;font-size:11px;">
														<i class="fa fa-question-circle"></i>
													</a>
												</li>
												
												<li ng-show="product.surchargeDescription != ''"><span class="bold green" ng-bind-html="product.surchargeDescription"></span></li>
												
												<li ng-show="bookingStatus.cncl == 1"><span class="bold green">FREE Cancellation </span>before {{bookingStatus.cncld}}</li>
											</ul>
									</p>
								</div>
																	
	</div>	
</div>
