<div class="container-chr chr_mtop20" style="max-width: 1100px;">
	<div class="chr_row">	
		<!-- STEP -->
		<div class="chr_col-md-12" ng-show="info.management == true">
			<div class="chr_row">
				<div class="chr_col-md-5">
					<span class="chr_size14">{{product.hotel}}</span><br />
					<span>{{product.address}}</span>
				</div>
				<div class="chr_col-md-7 chr_text-right chr_p10">
					<div class="chr_row">
						<div class="chr_col-md-12 chr_p10">
							<div class="chr_row">
								<div id="stepper-example" class="bs-stepper">
								  <div class="bs-stepper-header">
								    <div class="step">
								      <a href ui-sref="reserve({id:indexnya})" class="active">
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-file-o"></i>
								        </span>
								        <span class="bs-stepper-label">Reservation</span>
								      </a>
								    </div>
								    <div class="line"></div>
								    <div class="step">
								      <div class="active">
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-check-square-o"></i>
								        </span>
								        <span class="bs-stepper-label">Confirmation</span>
								      </div>
								    </div>
								    <div class="line"></div>
								    <div class="step">
								      <!-- <a href="#"> -->
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-money"></i>
								        </span>
								        <span class="bs-stepper-label">Payment</span>
								      <!-- </a> -->
								    </div>
								  </div>
								  
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>		
		</div>
		<div class="chr_col-md-12" ng-hide="info.management == true">
			<div class="chr_row">
				<div class="chr_col-md-12 chr_p10">
					<div class="chr_row">
						<div id="stepper-example" class="bs-stepper">
						  <div class="bs-stepper-header">
						    <div class="step">
						      <a href ui-sref="reserve({id:indexnya})" class="active">
						        <span class="bs-stepper-circle">
						        	<i class="fa fa-file-o"></i>
						        </span>
						        <span class="bs-stepper-label">Reservation</span>
						      </a>
						    </div>
						    <div class="line"></div>
						    <div class="step">
						      <div class="active">
						        <span class="bs-stepper-circle">
						        	<i class="fa fa-check-square-o"></i>
						        </span>
						        <span class="bs-stepper-label">Confirmation</span>
						      </div>
						    </div>
						    <div class="line"></div>
						    <div class="step">
						      <!-- <a href="#"> -->
						        <span class="bs-stepper-circle">
						        	<i class="fa fa-money"></i>
						        </span>
						        <span class="bs-stepper-label">Payment</span>
						      <!-- </a> -->
						    </div>
						  </div>
						  
						</div>
					</div>
				</div>
			</div>		
		</div>
		<div class="chr_clearfix"></div>
		<div class="chr_line4"></div>
		<!-- END STEP -->

		<!-- LEFT CONTENT -->
		<div class="chr_col-md-8 chr_col-sm-12 chr_col-xs-12 mb20 chr_p10">
			<div class="chr_row mb20">
				<reservation-description></reservation-description>
			</div>
			<!-- <div class="chr_line4"></div>		 -->
			<div class="chr_row">
				<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12 chr_mtop20">
					<form name="guestForm" ng-submit="submitForm(guestForm.$valid);" novalidate>
						<div class="chr_row">
							<div class="chr_row chr_priority-title chr_p10">
								<div class="chr_col-md-12">
									<div>
										<span class="chr_size12 chr_text-bold">Personal Detail</span>
									</div>	
								</div>
							</div>
							<div class="chr_row chr_priority chr_p10">
								<div class="chr_col-md-4">
									<div>
										<span>Email:</span><span class="chr_red">*</span>
									</div>
									<small><i> Confirmation email sent to this address</i></small>
								</div>
								<div class="chr_col-md-8"ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.email.$invalid) || (guestForm.email.$invalid && !guestForm.email.$pristine), 'chr_has-success':guestForm.title.$valid }">
									<input ng-enter="ngEnter()" ng-model="booking.cEmail" type="email" placeholder="E-mail" class="chr_form-control margtochr_p10" name="email" required>
									<small ng-show="(booking.aggrement && guestForm.email.$invalid) || (guestForm.email.$invalid && !guestForm.email.$pristine)" class="help-block chr_red">Your Email is required.<br></small>
									
									<button ng-hide="myLoading == true" type="button" ng-click="getGuest(booking.cEmail)" class="chr_btn chr_btn-book non-block chr_btn-chronoz" data-loading-text="Sending data ...">
										<i class="fa fa-search"></i>
									</button>
									<img ng-show="myLoading == true" alt="..." src="ichronoz/img/loading.gif" class="left">
									<small><i> * Search to Check whether you are our returning guest.</i></small>
								</div>
							</div>
						</div>

						<div class="chr_row">
							<div class="chr_row chr_priority chr_p10">
								<div class="chr_col-md-4">
									&nbsp;&nbsp;
								</div>
								<div class="chr_col-md-8 chr_mb10" ng-show="myMessage == 'Returning Guest'">
									<span>Welcome back <span class="chr_size12 chr_text-bold">{{booking.cTitle}} {{booking.cLname}} {{booking.cFname}}</span>,</span>					
								</div>
								<div class="chr_col-md-8 chr_mb10" ng-hide="myMessage == 'Returning Guest'">
									<span>Welcome,</span>					
								</div>

								<div class="chr_col-md-4 chr_p10">
									<div>
										<span>Title:</span><span class="chr_red">*</span>
									</div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.title.$invalid) || (guestForm.title.$invalid && !guestForm.title.$pristine), 'chr_has-success':guestForm.title.$valid }">
									<input class="mleft10" name="title" type="radio" ng-model="booking.cTitle" value="Mr." ng-required="!booking.cTitle" required>Mr.
									<input class="mleft10" name="title" type="radio" ng-model="booking.cTitle" value="Mrs." ng-required="!booking.cTitle" required>Mrs.
									<input class="mleft10" name="title" type="radio" ng-model="booking.cTitle" value="Ms." ng-required="!booking.cTitle" required>Ms.
									<input class="mleft10" name="title" type="radio" ng-model="booking.cTitle" value="Dr." ng-required="!booking.cTitle" required>Dr.
									&nbsp;
									<small ng-show="(booking.aggrement && guestForm.title.$invalid) || (guestForm.title.$invalid && !guestForm.title.$pristine)" class="help-block chr_red">Title is required.</small>
								</div>

								<div class="chr_col-md-4 chr_p10">
									<div><span>First Name:</span><span class="chr_red">*</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.name.$invalid) || (guestForm.name.$invalid && !guestForm.name.$pristine), 'chr_has-success':guestForm.name.$valid}">
									<input name="name" ng-model="booking.cFname" type="text" placeholder="First Name" class="chr_form-control has-warning" required>
									<small ng-show="(booking.aggrement && guestForm.name.$invalid) || (guestForm.name.$invalid && !guestForm.name.$pristine)" class="help-block chr_red">Your First Name is required.</small>
								</div>
												
								<div class="chr_col-md-4 chr_p10">
									<div><span>Last Name:</span><span class="chr_red">*</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.lname.$invalid) || (guestForm.lname.$invalid && !guestForm.lname.$pristine), 'chr_has-success':guestForm.lname.$valid }">
									<input ng-model="booking.cLname" type="text" placeholder="Last Name" class="chr_form-control chr_p10" name="lname" required>
									<small ng-show="(booking.aggrement && guestForm.lname.$invalid) || (guestForm.lname.$invalid && !guestForm.lname.$pristine)" class="help-block chr_red">Your Last Name is required.</small>
								</div>
													
								<div class="chr_col-md-4 chr_p10">
									<div><span>Preffered Phone #:</span><span class="chr_red">*</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.phone.$invalid) || (guestForm.phone.$invalid && !guestForm.phone.$pristine), 'chr_has-success':guestForm.phone.$valid }">
									<input ng-model="booking.cPhone" type="text" placeholder="Include Country Code Please" class="chr_form-control margtochr_p10" name="phone" required>
									<small ng-show="(booking.aggrement && guestForm.phone.$invalid) || (guestForm.phone.$invalid && !guestForm.phone.$pristine)" class="help-block chr_red">Your Phone is required.</small>
								</div>

								<div class="chr_col-md-4 chr_p10">
									<div><span>Nationality:</span><span class="chr_red">*</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.nationality.$invalid) || (guestForm.nationality.$invalid && !guestForm.nationality.$pristine), 'chr_has-success':guestForm.nationality.$valid }">
									<select name="nationality" ng-model="booking.cNationality" class="chr_form-control" required> 
										<option value="" selected="selected">Select Nationality</option> 
										<option value="United States">United States</option> 
										<option value="United Kingdom">United Kingdom</option> 
										<option value="Afghanistan">Afghanistan</option> 
										<option value="Albania">Albania</option> 
										<option value="Algeria">Algeria</option> 
										<option value="American Samoa">American Samoa</option> 
										<option value="Andorra">Andorra</option> 
										<option value="Angola">Angola</option> 
										<option value="Anguilla">Anguilla</option> 
										<option value="Antarctica">Antarctica</option> 
										<option value="Antigua and Barbuda">Antigua and Barbuda</option> 
										<option value="Argentina">Argentina</option> 
										<option value="Armenia">Armenia</option> 
										<option value="Aruba">Aruba</option> 
										<option value="Australia">Australia</option> 
										<option value="Austria">Austria</option> 
										<option value="Azerbaijan">Azerbaijan</option> 
										<option value="Bahamas">Bahamas</option> 
										<option value="Bahrain">Bahrain</option> 
										<option value="Bangladesh">Bangladesh</option> 
										<option value="Barbados">Barbados</option> 
										<option value="Belarus">Belarus</option> 
										<option value="Belgium">Belgium</option> 
										<option value="Belize">Belize</option> 
										<option value="Benin">Benin</option> 
										<option value="Bermuda">Bermuda</option> 
										<option value="Bhutan">Bhutan</option> 
										<option value="Bolivia">Bolivia</option> 
										<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option> 
										<option value="Botswana">Botswana</option> 
										<option value="Bouvet Island">Bouvet Island</option> 
										<option value="Brazil">Brazil</option> 
										<option value="British Indian Ocean Territory">British Indian Ocean Territory</option> 
										<option value="Brunei Darussalam">Brunei Darussalam</option> 
										<option value="Bulgaria">Bulgaria</option> 
										<option value="Burkina Faso">Burkina Faso</option> 
										<option value="Burundi">Burundi</option> 
										<option value="Cambodia">Cambodia</option> 
										<option value="Cameroon">Cameroon</option> 
										<option value="Canada">Canada</option> 
										<option value="Cape Verde">Cape Verde</option> 
										<option value="Cayman Islands">Cayman Islands</option> 
										<option value="Central African Republic">Central African Republic</option> 
										<option value="Chad">Chad</option> 
										<option value="Chile">Chile</option> 
										<option value="China">China</option> 
										<option value="Christmas Island">Christmas Island</option> 
										<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option> 
										<option value="chr_colombia">chr_colombia</option> 
										<option value="Comoros">Comoros</option> 
										<option value="Congo">Congo</option> 
										<option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option> 
										<option value="Cook Islands">Cook Islands</option> 
										<option value="Costa Rica">Costa Rica</option> 
										<option value="Cote D'ivoire">Cote D'ivoire</option> 
										<option value="Croatia">Croatia</option> 
										<option value="Cuba">Cuba</option> 
										<option value="Cyprus">Cyprus</option> 
										<option value="Czech Republic">Czech Republic</option> 
										<option value="Denmark">Denmark</option> 
										<option value="Djibouti">Djibouti</option> 
										<option value="Dominica">Dominica</option> 
										<option value="Dominican Republic">Dominican Republic</option> 
										<option value="Ecuador">Ecuador</option> 
										<option value="Egypt">Egypt</option> 
										<option value="El Salvador">El Salvador</option> 
										<option value="Equatorial Guinea">Equatorial Guinea</option> 
										<option value="Eritrea">Eritrea</option> 
										<option value="Estonia">Estonia</option> 
										<option value="Ethiopia">Ethiopia</option> 
										<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option> 
										<option value="Faroe Islands">Faroe Islands</option> 
										<option value="Fiji">Fiji</option> 
										<option value="Finland">Finland</option> 
										<option value="France">France</option> 
										<option value="French Guiana">French Guiana</option> 
										<option value="French Polynesia">French Polynesia</option> 
										<option value="French Southern Territories">French Southern Territories</option> 
										<option value="Gabon">Gabon</option> 
										<option value="Gambia">Gambia</option> 
										<option value="Georgia">Georgia</option> 
										<option value="Germany">Germany</option> 
										<option value="Ghana">Ghana</option> 
										<option value="Gibraltar">Gibraltar</option> 
										<option value="Greece">Greece</option> 
										<option value="Greenland">Greenland</option> 
										<option value="Grenada">Grenada</option> 
										<option value="Guadeloupe">Guadeloupe</option> 
										<option value="Guam">Guam</option> 
										<option value="Guatemala">Guatemala</option> 
										<option value="Guinea">Guinea</option> 
										<option value="Guinea-bissau">Guinea-bissau</option> 
										<option value="Guyana">Guyana</option> 
										<option value="Haiti">Haiti</option> 
										<option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option> 
										<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option> 
										<option value="Honduras">Honduras</option> 
										<option value="Hong Kong">Hong Kong</option> 
										<option value="Hungary">Hungary</option> 
										<option value="Iceland">Iceland</option> 
										<option value="India">India</option> 
										<option value="Indonesia">Indonesia</option> 
										<option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option> 
										<option value="Iraq">Iraq</option> 
										<option value="Ireland">Ireland</option> 
										<option value="Israel">Israel</option> 
										<option value="Italy">Italy</option> 
										<option value="Jamaica">Jamaica</option> 
										<option value="Japan">Japan</option> 
										<option value="Jordan">Jordan</option> 
										<option value="Kazakhstan">Kazakhstan</option> 
										<option value="Kenya">Kenya</option> 
										<option value="Kiribati">Kiribati</option> 
										<option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option> 
										<option value="Korea, Republic of">Korea, Republic of</option> 
										<option value="Kuwait">Kuwait</option> 
										<option value="Kyrgyzstan">Kyrgyzstan</option> 
										<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option> 
										<option value="Latvia">Latvia</option> 
										<option value="Lebanon">Lebanon</option> 
										<option value="Lesotho">Lesotho</option> 
										<option value="Liberia">Liberia</option> 
										<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option> 
										<option value="Liechtenstein">Liechtenstein</option> 
										<option value="Lithuania">Lithuania</option> 
										<option value="Luxembourg">Luxembourg</option> 
										<option value="Macao">Macao</option> 
										<option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option> 
										<option value="Madagascar">Madagascar</option> 
										<option value="Malawi">Malawi</option> 
										<option value="Malaysia">Malaysia</option> 
										<option value="Maldives">Maldives</option> 
										<option value="Mali">Mali</option> 
										<option value="Malta">Malta</option> 
										<option value="Marshall Islands">Marshall Islands</option> 
										<option value="Martinique">Martinique</option> 
										<option value="Mauritania">Mauritania</option> 
										<option value="Mauritius">Mauritius</option> 
										<option value="Mayotte">Mayotte</option> 
										<option value="Mexico">Mexico</option> 
										<option value="Micronesia, Federated States of">Micronesia, Federated States of</option> 
										<option value="Moldova, Republic of">Moldova, Republic of</option> 
										<option value="Monaco">Monaco</option> 
										<option value="Mongolia">Mongolia</option> 
										<option value="Montserrat">Montserrat</option> 
										<option value="Morocco">Morocco</option> 
										<option value="Mozambique">Mozambique</option> 
										<option value="Myanmar">Myanmar</option> 
										<option value="Namibia">Namibia</option> 
										<option value="Nauru">Nauru</option> 
										<option value="Nepal">Nepal</option> 
										<option value="Netherlands">Netherlands</option> 
										<option value="Netherlands Antilles">Netherlands Antilles</option> 
										<option value="New Caledonia">New Caledonia</option> 
										<option value="New Zealand">New Zealand</option> 
										<option value="Nicaragua">Nicaragua</option> 
										<option value="Niger">Niger</option> 
										<option value="Nigeria">Nigeria</option> 
										<option value="Niue">Niue</option> 
										<option value="Norfolk Island">Norfolk Island</option> 
										<option value="Northern Mariana Islands">Northern Mariana Islands</option> 
										<option value="Norway">Norway</option> 
										<option value="Oman">Oman</option> 
										<option value="Pakistan">Pakistan</option> 
										<option value="Palau">Palau</option> 
										<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option> 
										<option value="Panama">Panama</option> 
										<option value="Papua New Guinea">Papua New Guinea</option> 
										<option value="Paraguay">Paraguay</option> 
										<option value="Peru">Peru</option> 
										<option value="Philippines">Philippines</option> 
										<option value="Pitcairn">Pitcairn</option> 
										<option value="Poland">Poland</option> 
										<option value="Portugal">Portugal</option> 
										<option value="Puerto Rico">Puerto Rico</option> 
										<option value="Qatar">Qatar</option> 
										<option value="Reunion">Reunion</option> 
										<option value="Romania">Romania</option> 
										<option value="Russian Federation">Russian Federation</option> 
										<option value="Rwanda">Rwanda</option> 
										<option value="Saint Helena">Saint Helena</option> 
										<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
										<option value="Saint Lucia">Saint Lucia</option> 
										<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option> 
										<option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option> 
										<option value="Samoa">Samoa</option> 
										<option value="San Marino">San Marino</option> 
										<option value="Sao Tome and Principe">Sao Tome and Principe</option> 
										<option value="Saudi Arabia">Saudi Arabia</option> 
										<option value="Senegal">Senegal</option> 
										<option value="Serbia and Montenegro">Serbia and Montenegro</option> 
										<option value="Seychelles">Seychelles</option> 
										<option value="Sierra Leone">Sierra Leone</option> 
										<option value="Singapore">Singapore</option> 
										<option value="Slovakia">Slovakia</option> 
										<option value="Slovenia">Slovenia</option> 
										<option value="Solomon Islands">Solomon Islands</option> 
										<option value="Somalia">Somalia</option> 
										<option value="South Africa">South Africa</option> 
										<option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option> 
										<option value="Spain">Spain</option> 
										<option value="Sri Lanka">Sri Lanka</option> 
										<option value="Sudan">Sudan</option> 
										<option value="Suriname">Suriname</option> 
										<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option> 
										<option value="Swaziland">Swaziland</option> 
										<option value="Sweden">Sweden</option> 
										<option value="Switzerland">Switzerland</option> 
										<option value="Syrian Arab Republic">Syrian Arab Republic</option> 
										<option value="Taiwan, Province of China">Taiwan, Province of China</option> 
										<option value="Tajikistan">Tajikistan</option> 
										<option value="Tanzania, United Republic of">Tanzania, United Republic of</option> 
										<option value="Thailand">Thailand</option> 
										<option value="Timor-leste">Timor-leste</option> 
										<option value="Togo">Togo</option> 
										<option value="Tokelau">Tokelau</option> 
										<option value="Tonga">Tonga</option> 
										<option value="Trinidad and Tobago">Trinidad and Tobago</option> 
										<option value="Tunisia">Tunisia</option> 
										<option value="Turkey">Turkey</option> 
										<option value="Turkmenistan">Turkmenistan</option> 
										<option value="Turks and Caicos Islands">Turks and Caicos Islands</option> 
										<option value="Tuvalu">Tuvalu</option> 
										<option value="Uganda">Uganda</option> 
										<option value="Ukraine">Ukraine</option> 
										<option value="United Arab Emirates">United Arab Emirates</option> 
										<option value="United Kingdom">United Kingdom</option> 
										<option value="United States">United States</option> 
										<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option> 
										<option value="Uruguay">Uruguay</option> 
										<option value="Uzbekistan">Uzbekistan</option> 
										<option value="Vanuatu">Vanuatu</option> 
										<option value="Venezuela">Venezuela</option> 
										<option value="Viet Nam">Viet Nam</option> 
										<option value="Virgin Islands, British">Virgin Islands, British</option> 
										<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option> 
										<option value="Wallis and Futuna">Wallis and Futuna</option> 
										<option value="Western Sahara">Western Sahara</option> 
										<option value="Yemen">Yemen</option> 
										<option value="Zambia">Zambia</option> 
										<option value="Zimbabwe">Zimbabwe</option>
										</select>
									<small ng-show="(booking.aggrement && guestForm.nationality.$invalid) || (guestForm.nationality.$invalid && !guestForm.nationality.$pristine)" class="help-block chr_red">Your Nationality required.</small>
								</div>
													
								<div class="chr_col-md-4 chr_p10">
									<div class="margtop15"><span>Country of Origin:</span><span class="chr_red">*</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-class="{ 'chr_has-error' : (booking.aggrement && guestForm.country.$invalid) || (guestForm.country.$invalid && !guestForm.country.$pristine), 'chr_has-success':guestForm.country.$valid }">
									<select name="country" ng-model="booking.cCountry" class="chr_form-control" name="country" required> 
										<option value="" selected="selected">Select Country</option> 
										<option value="United States">United States</option> 
										<option value="United Kingdom">United Kingdom</option> 
										<option value="Afghanistan">Afghanistan</option> 
										<option value="Albania">Albania</option> 
										<option value="Algeria">Algeria</option> 
										<option value="American Samoa">American Samoa</option> 
										<option value="Andorra">Andorra</option> 
										<option value="Angola">Angola</option> 
										<option value="Anguilla">Anguilla</option> 
										<option value="Antarctica">Antarctica</option> 
										<option value="Antigua and Barbuda">Antigua and Barbuda</option> 
										<option value="Argentina">Argentina</option> 
										<option value="Armenia">Armenia</option> 
										<option value="Aruba">Aruba</option> 
										<option value="Australia">Australia</option> 
										<option value="Austria">Austria</option> 
										<option value="Azerbaijan">Azerbaijan</option> 
										<option value="Bahamas">Bahamas</option> 
										<option value="Bahrain">Bahrain</option> 
										<option value="Bangladesh">Bangladesh</option> 
										<option value="Barbados">Barbados</option> 
										<option value="Belarus">Belarus</option> 
										<option value="Belgium">Belgium</option> 
										<option value="Belize">Belize</option> 
										<option value="Benin">Benin</option> 
										<option value="Bermuda">Bermuda</option> 
										<option value="Bhutan">Bhutan</option> 
										<option value="Bolivia">Bolivia</option> 
										<option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option> 
										<option value="Botswana">Botswana</option> 
										<option value="Bouvet Island">Bouvet Island</option> 
										<option value="Brazil">Brazil</option> 
										<option value="British Indian Ocean Territory">British Indian Ocean Territory</option> 
										<option value="Brunei Darussalam">Brunei Darussalam</option> 
										<option value="Bulgaria">Bulgaria</option> 
										<option value="Burkina Faso">Burkina Faso</option> 
										<option value="Burundi">Burundi</option> 
										<option value="Cambodia">Cambodia</option> 
										<option value="Cameroon">Cameroon</option> 
										<option value="Canada">Canada</option> 
										<option value="Cape Verde">Cape Verde</option> 
										<option value="Cayman Islands">Cayman Islands</option> 
										<option value="Central African Republic">Central African Republic</option> 
										<option value="Chad">Chad</option> 
										<option value="Chile">Chile</option> 
										<option value="China">China</option> 
										<option value="Christmas Island">Christmas Island</option> 
										<option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option> 
										<option value="chr_colombia">chr_colombia</option> 
										<option value="Comoros">Comoros</option> 
										<option value="Congo">Congo</option> 
										<option value="Congo, The Democratic Republic of The">Congo, The Democratic Republic of The</option> 
										<option value="Cook Islands">Cook Islands</option> 
										<option value="Costa Rica">Costa Rica</option> 
										<option value="Cote D'ivoire">Cote D'ivoire</option> 
										<option value="Croatia">Croatia</option> 
										<option value="Cuba">Cuba</option> 
										<option value="Cyprus">Cyprus</option> 
										<option value="Czech Republic">Czech Republic</option> 
										<option value="Denmark">Denmark</option> 
										<option value="Djibouti">Djibouti</option> 
										<option value="Dominica">Dominica</option> 
										<option value="Dominican Republic">Dominican Republic</option> 
										<option value="Ecuador">Ecuador</option> 
										<option value="Egypt">Egypt</option> 
										<option value="El Salvador">El Salvador</option> 
										<option value="Equatorial Guinea">Equatorial Guinea</option> 
										<option value="Eritrea">Eritrea</option> 
										<option value="Estonia">Estonia</option> 
										<option value="Ethiopia">Ethiopia</option> 
										<option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option> 
										<option value="Faroe Islands">Faroe Islands</option> 
										<option value="Fiji">Fiji</option> 
										<option value="Finland">Finland</option> 
										<option value="France">France</option> 
										<option value="French Guiana">French Guiana</option> 
										<option value="French Polynesia">French Polynesia</option> 
										<option value="French Southern Territories">French Southern Territories</option> 
										<option value="Gabon">Gabon</option> 
										<option value="Gambia">Gambia</option> 
										<option value="Georgia">Georgia</option> 
										<option value="Germany">Germany</option> 
										<option value="Ghana">Ghana</option> 
										<option value="Gibraltar">Gibraltar</option> 
										<option value="Greece">Greece</option> 
										<option value="Greenland">Greenland</option> 
										<option value="Grenada">Grenada</option> 
										<option value="Guadeloupe">Guadeloupe</option> 
										<option value="Guam">Guam</option> 
										<option value="Guatemala">Guatemala</option> 
										<option value="Guinea">Guinea</option> 
										<option value="Guinea-bissau">Guinea-bissau</option> 
										<option value="Guyana">Guyana</option> 
										<option value="Haiti">Haiti</option> 
										<option value="Heard Island and Mcdonald Islands">Heard Island and Mcdonald Islands</option> 
										<option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option> 
										<option value="Honduras">Honduras</option> 
										<option value="Hong Kong">Hong Kong</option> 
										<option value="Hungary">Hungary</option> 
										<option value="Iceland">Iceland</option> 
										<option value="India">India</option> 
										<option value="Indonesia">Indonesia</option> 
										<option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option> 
										<option value="Iraq">Iraq</option> 
										<option value="Ireland">Ireland</option> 
										<option value="Israel">Israel</option> 
										<option value="Italy">Italy</option> 
										<option value="Jamaica">Jamaica</option> 
										<option value="Japan">Japan</option> 
										<option value="Jordan">Jordan</option> 
										<option value="Kazakhstan">Kazakhstan</option> 
										<option value="Kenya">Kenya</option> 
										<option value="Kiribati">Kiribati</option> 
										<option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option> 
										<option value="Korea, Republic of">Korea, Republic of</option> 
										<option value="Kuwait">Kuwait</option> 
										<option value="Kyrgyzstan">Kyrgyzstan</option> 
										<option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option> 
										<option value="Latvia">Latvia</option> 
										<option value="Lebanon">Lebanon</option> 
										<option value="Lesotho">Lesotho</option> 
										<option value="Liberia">Liberia</option> 
										<option value="Libyan Arab Jamahiriya">Libyan Arab Jamahiriya</option> 
										<option value="Liechtenstein">Liechtenstein</option> 
										<option value="Lithuania">Lithuania</option> 
										<option value="Luxembourg">Luxembourg</option> 
										<option value="Macao">Macao</option> 
										<option value="Macedonia, The Former Yugoslav Republic of">Macedonia, The Former Yugoslav Republic of</option> 
										<option value="Madagascar">Madagascar</option> 
										<option value="Malawi">Malawi</option> 
										<option value="Malaysia">Malaysia</option> 
										<option value="Maldives">Maldives</option> 
										<option value="Mali">Mali</option> 
										<option value="Malta">Malta</option> 
										<option value="Marshall Islands">Marshall Islands</option> 
										<option value="Martinique">Martinique</option> 
										<option value="Mauritania">Mauritania</option> 
										<option value="Mauritius">Mauritius</option> 
										<option value="Mayotte">Mayotte</option> 
										<option value="Mexico">Mexico</option> 
										<option value="Micronesia, Federated States of">Micronesia, Federated States of</option> 
										<option value="Moldova, Republic of">Moldova, Republic of</option> 
										<option value="Monaco">Monaco</option> 
										<option value="Mongolia">Mongolia</option> 
										<option value="Montserrat">Montserrat</option> 
										<option value="Morocco">Morocco</option> 
										<option value="Mozambique">Mozambique</option> 
										<option value="Myanmar">Myanmar</option> 
										<option value="Namibia">Namibia</option> 
										<option value="Nauru">Nauru</option> 
										<option value="Nepal">Nepal</option> 
										<option value="Netherlands">Netherlands</option> 
										<option value="Netherlands Antilles">Netherlands Antilles</option> 
										<option value="New Caledonia">New Caledonia</option> 
										<option value="New Zealand">New Zealand</option> 
										<option value="Nicaragua">Nicaragua</option> 
										<option value="Niger">Niger</option> 
										<option value="Nigeria">Nigeria</option> 
										<option value="Niue">Niue</option> 
										<option value="Norfolk Island">Norfolk Island</option> 
										<option value="Northern Mariana Islands">Northern Mariana Islands</option> 
										<option value="Norway">Norway</option> 
										<option value="Oman">Oman</option> 
										<option value="Pakistan">Pakistan</option> 
										<option value="Palau">Palau</option> 
										<option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option> 
										<option value="Panama">Panama</option> 
										<option value="Papua New Guinea">Papua New Guinea</option> 
										<option value="Paraguay">Paraguay</option> 
										<option value="Peru">Peru</option> 
										<option value="Philippines">Philippines</option> 
										<option value="Pitcairn">Pitcairn</option> 
										<option value="Poland">Poland</option> 
										<option value="Portugal">Portugal</option> 
										<option value="Puerto Rico">Puerto Rico</option> 
										<option value="Qatar">Qatar</option> 
										<option value="Reunion">Reunion</option> 
										<option value="Romania">Romania</option> 
										<option value="Russian Federation">Russian Federation</option> 
										<option value="Rwanda">Rwanda</option> 
										<option value="Saint Helena">Saint Helena</option> 
										<option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> 
										<option value="Saint Lucia">Saint Lucia</option> 
										<option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option> 
										<option value="Saint Vincent and The Grenadines">Saint Vincent and The Grenadines</option> 
										<option value="Samoa">Samoa</option> 
										<option value="San Marino">San Marino</option> 
										<option value="Sao Tome and Principe">Sao Tome and Principe</option> 
										<option value="Saudi Arabia">Saudi Arabia</option> 
										<option value="Senegal">Senegal</option> 
										<option value="Serbia and Montenegro">Serbia and Montenegro</option> 
										<option value="Seychelles">Seychelles</option> 
										<option value="Sierra Leone">Sierra Leone</option> 
										<option value="Singapore">Singapore</option> 
										<option value="Slovakia">Slovakia</option> 
										<option value="Slovenia">Slovenia</option> 
										<option value="Solomon Islands">Solomon Islands</option> 
										<option value="Somalia">Somalia</option> 
										<option value="South Africa">South Africa</option> 
										<option value="South Georgia and The South Sandwich Islands">South Georgia and The South Sandwich Islands</option> 
										<option value="Spain">Spain</option> 
										<option value="Sri Lanka">Sri Lanka</option> 
										<option value="Sudan">Sudan</option> 
										<option value="Suriname">Suriname</option> 
										<option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option> 
										<option value="Swaziland">Swaziland</option> 
										<option value="Sweden">Sweden</option> 
										<option value="Switzerland">Switzerland</option> 
										<option value="Syrian Arab Republic">Syrian Arab Republic</option> 
										<option value="Taiwan, Province of China">Taiwan, Province of China</option> 
										<option value="Tajikistan">Tajikistan</option> 
										<option value="Tanzania, United Republic of">Tanzania, United Republic of</option> 
										<option value="Thailand">Thailand</option> 
										<option value="Timor-leste">Timor-leste</option> 
										<option value="Togo">Togo</option> 
										<option value="Tokelau">Tokelau</option> 
										<option value="Tonga">Tonga</option> 
										<option value="Trinidad and Tobago">Trinidad and Tobago</option> 
										<option value="Tunisia">Tunisia</option> 
										<option value="Turkey">Turkey</option> 
										<option value="Turkmenistan">Turkmenistan</option> 
										<option value="Turks and Caicos Islands">Turks and Caicos Islands</option> 
										<option value="Tuvalu">Tuvalu</option> 
										<option value="Uganda">Uganda</option> 
										<option value="Ukraine">Ukraine</option> 
										<option value="United Arab Emirates">United Arab Emirates</option> 
										<option value="United Kingdom">United Kingdom</option> 
										<option value="United States">United States</option> 
										<option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option> 
										<option value="Uruguay">Uruguay</option> 
										<option value="Uzbekistan">Uzbekistan</option> 
										<option value="Vanuatu">Vanuatu</option> 
										<option value="Venezuela">Venezuela</option> 
										<option value="Viet Nam">Viet Nam</option> 
										<option value="Virgin Islands, British">Virgin Islands, British</option> 
										<option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option> 
										<option value="Wallis and Futuna">Wallis and Futuna</option> 
										<option value="Western Sahara">Western Sahara</option> 
										<option value="Yemen">Yemen</option> 
										<option value="Zambia">Zambia</option> 
										<option value="Zimbabwe">Zimbabwe</option>
										</select>
									<small ng-show="(booking.aggrement && guestForm.country.$invalid) || (guestForm.country.$invalid && !guestForm.country.$pristine)" class="help-block chr_red">Your Country required.</small>
								</div>

								<div class="chr_col-md-4 chr_p10">
									&nbsp;
								</div>
								<div class="chr_col-md-8 chr_p10">
									<div class="">
										<input type="checkbox" name="mailingList" ng-model="booking.mailingList" ng-init="booking.mailingList=true">
										<span> Yes, I would like to join {{product.hotel}} preffered guest newsletter.</span>
									</div>
								</div>
							</div>

							<div class="chr_row chr_priority-title chr_p10">
								<span class="chr_size12 chr_text-bold">Special Request</span>
							</div>
							<div class="chr_row chr_priority chr_p10">				
								<div class="chr_col-md-4 chr_p10" ng-show="product.beddingPreff == '1' && product.beddingPreffVal.length">
									<div class="margtop15"><span>Bedding Preff:</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10" ng-show="product.beddingPreff == 1 && product.beddingPreffVal.length">
									<span ng-repeat="bedding in product.beddingPreffVal">
										<input class="mleft10" type="radio" ng-model="booking.beddingPreff" ng-value="bedding.id"> {{bedding.title}}
									</span>
								</div>
													
								<div class="chr_col-md-4 chr_p10">
									<div><span>Smoking:</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10">
									<input class="mleft10" type="radio" ng-model="booking.smookOption" value="No Reference"> No Reference
									<input class="mleft10" type="radio" ng-model="booking.smookOption" value="No Smoking"> No Smoking
									<input class="mleft10" type="radio" ng-model="booking.smookOption" value="Smoking"> Smoking
								</div>

								<div class="chr_col-md-4 chr_p10">
									<div><span>Special Request/Comment:</span></div>
								</div>
								<div class="chr_col-md-8 chr_p10">
									<textarea ng-model="booking.comment" rows="5" class="chr_form-control" placeholder="Special Request/Comment" ></textarea>
								</div>
							</div>

							<div class="chr_row chr_priority-title chr_p10">
								<span class="chr_size12 chr_text-bold">Optional Information</span>		
							</div>

							<div class="chr_row chr_priority chr_p10">
								<div class="chr_col-md-4 chr_p10">
									&nbsp;
								</div>
								<div class="chr_col-md-8 chr_p10">
									<textarea ng-model="booking.arriveDetail" rows="5" class="chr_form-control" placeholder="Please provide us with your flight number / flight schedule or estimate time arrival when you arrive with sea / land transportation" ></textarea>
								</div>
								<input class="mleft10" type="hidden" ng-model="booking.paymentOption" ng-value="product.paymentOpt">
							</div>

							<div class="chr_row chr_priority-title chr_p10">
								<span class="chr_size12 chr_text-bold">
									Payment Options
								</span>				
							</div>
							<div class="chr_row chr_priority chr_p10">
								<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12">
									<span ng-repeat="payments in product.paymentOpt">
										<div class="chr_row p15">
											<div class="chr_col-md-4 chr_text-right">
												&nbsp;
											</div>
											<div class="chr_col-md-8 chr_mtop10">
												<div class="chr_row">
													<div class="chr_col-md-6 chr_col-sm-6 chr_col-xs-12">
														<input class="mleft10" type="radio" ng-model="booking.paymentOption" ng-value="payments.id"> {{payments.title}}
													</div>
													<div class="chr_col-md-6 chr_col-sm-6 chr_col-xs-12">
														<img alt="..." ng-src="{{payments.image}}" style="width:130px;" >
													</div>
													<div ng-show="booking.paymentOption == {{payments.id}}" class="chr_col-md-12">
														<span ng-bind-html="payments.description"></span>
													</div>
												</div>
											</div>
											
										</div>
									</span>
								</div>
							</div>

						</div>
						
					</form>
				</div>
			</div>
		</div>
		<!-- END OF LEFT CONTENT -->
				
		<!-- RIGHT CONTENT -->
		<div class="chr_col-md-4 chr_col-sm-12 chr_col-xs-12 chr_mtochr_p10">
			<reservation-summary></reservation-summary>
		</div>
		<!-- END OF RIGHT CONTENT -->

		<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12 chr_well">
			<div class="chr_row chr_text-right">
				<div class="chr_col-md-8">
					<span class="chr_text-bold chr_detail-link" >
						<input type="checkbox" name="adultBreakfast" ng-model="booking.aggrement">
						I agree with 
						<a href ng-click="showTerms(product)" > terms and conditions</a>		
					</span>
				</div>
				<div class="chr_col-md-4">

				</div>
			</div>
			<div class="chr_row chr_text-right">
				<div class="chr_col-md-8 chr_text-right chr_mtop20">
					<button type="button" ui-sref="reserve({id:indexnya})" class="chr_btn-back non-block">
						Back
					</button>
					<img ng-show="loadImage == true" alt="..." src="ichronoz/img/loading.gif">
					<button ng-click="submitForm(guestForm.$valid);" class="chr_btn-chronoz non-block" ng-show="guestForm.$valid && booking.paymentOption && booking.aggrement==true && booking.payment!=false">Proceed to Payment</button>
				</div>
				<div class="chr_col-md-4">

				</div>
			</div>
			<div class="chr_row chr_text-right">
				<div class="chr_col-md-2"></div>
				<div class="chr_col-md-6 chr_mtop20">
					<div class="chr_alert chr_alert-danger" ng-hide="(guestForm.$valid && booking.paymentOption && booking.aggrement==true) || loadImage == true ">
						{{info.agreement}}
					</div>
				</div>
				<div class="chr_col-md-4">

				</div>
			</div>
		</div>				
	</div>
</div>
<a id="fram" class="venobox_custom" data-type="iframe" href="#"></a>
