<div class="chr_col-md-12 chr_alert chr_alert-warning">
	<div ng-hide="showDescriptionNoResult" class="chr_size11">
			<span ng-bind-html="gagal.apologyText">
			</span>
        <br>
        <span class="chr_text-bold" ng-bind-html="gagal.apologySuggest">
        </span>
	</div>
	<div ng-show="showDescriptionNoResult" class="chr_text-center">
		Your new selected date: <b>{{cdays}} to {{coday}}</b>.
	</div>
</div>

<!-- Calendar -->
<div class="chr_col-md-12">
        <calendar ng-model="currentDate" calendar-mode="mode" event-source="eventSource"
                  range-changed="reloadSource(startTime, endTime)"
                  event-selected="onEventSelected(event)"></calendar>
</div>
<!-- End Calendar -->


<div class="clearfix"></div>
<div class="line4"></div>
