<div class="chr_wrapper" >
    <div ng-class="info.scrolled ? wrapperClass : wrapperClassss">
        <div ng-class="info.scrolled ? wrapperFixed : wrapperClassss"> 
        	<div class="chr_panel">
        		<div class="chr_panel-heading">
        			<span class="chr_size12 chr_text-bold">Reservation Summary</span>
        		</div>
        		<div class="chr_p10 chr_panel-body">
					<table class="chr_table-summary chr_table-price chr_borderless">
						
						<tbody>
						<!-- reservation summary -->
						<tr ng-show="summaryDetails">
							<td colspan="2">
								<span>
									<span class="chr_text-bold">{{product.name}}</span> - {{product.typeName}}&nbsp;&nbsp;&nbsp;
									
									<a href ng-click="summaryDetails = !summaryDetails">
										<i ng-class="isShowDetail ? 'fa fa-plus-square' : 'fa fa-minus-square'"></i>
									</a>
								</span>
								<br />
								<span>{{product.rooms}} {{product.accType}}<span ng-show="product.rooms > 1">s</span> x {{product.night}} Night</span>
							</td>									
						</tr>
						<tr ng-show="summaryDetails">
							<td width="50%">
								<span>
									<span class="chr_text-bold">Checkin</span> <br /> {{product.checkin_date}}&nbsp;
								</span>
								
							</td>									
							<td width="50%">
								<span>
									<span class="chr_text-bold">Checkout</span> <br /> {{product.checkout_date}}&nbsp;
								</span>
								
							</td>	
						</tr>
						<tr ng-show="summaryDetails">
							<td colspan="2" class="chr_td-b-border">
								<span>
									<span class="chr_text-bold">Occupant / Room</span> <br /> 
									<span ng-show="product.accomodationTypeNew == 'Unit'">{{(product.adult * product.roomPerVilla) * product.rooms}} Adults + {{(product.child * product.roomPerVilla)}} Child </span>
									<span ng-show="product.accomodationTypeNew == 'Room'">{{(product.adult) * product.rooms}} Adults + {{(product.child)}} Child </span>
									&nbsp;
								</span>
								
							</td>									
						</tr>

						<!-- promo name, checkin-checkout general -->
						<tr ng-hide="summaryDetails">
							<td colspan="2" class="chr_td-b-border">
								<span>
									<span class="chr_text-bold">{{product.name}}</span> - {{product.typeName}}&nbsp;&nbsp;&nbsp;
									
									<a href ng-click="summaryDetails = !summaryDetails">
										<i ng-class="!isShowDetail ? 'fa fa-plus-square' : 'fa fa-minus-square'"></i>
									</a>
								</span>
							</td>									
						</tr>
						<!-- <tr ng-hide="summaryDetails">
							<td class="chr_td-b-border" width="50%">
								<span>{{product.checkin_date}}&nbsp;
								</span>
								
							</td>									
							<td class="chr_td-b-border" width="50%">
								<span>{{product.checkout_date}}&nbsp;
								</span>
								
							</td>	
						</tr> -->
						<!-- end checkin-checkout general -->

						<!-- Room -->
						<tr ng-hide="product.hid.utc_rate > 0">
							<td class="">
								<span>
									<span class="chr_text-bold">{{product.accType}} Charges</span>&nbsp;
									<a href ng-click="showCustom(product, product.lastMinuteDeal)" popover="{{product.accType}} & Rate Details" popover-trigger="mouseenter">
										<i class="fa fa-question-circle"></i>
									</a>
								</span>
							</td>
							
							<td class="chr_text-right">
								<span>{{product.cur}} {{product.rooms*product.rate | currencys:product.cur}}</span>
							</td>
							
						</tr>
						<tr ng-show="product.hid.utc_rate > 0">
							<td class="">
								<span>
									<span class="chr_text-bold">{{product.accType}} Charges </span>&nbsp;
									<a href ng-click="showCustom(product, product.lastMinuteDeal)" popover="{{product.accType}} & Rate Details" popover-trigger="mouseenter">
										<i class="fa fa-question-circle"></i>
									</a>
								</span>
							</td>
							
							<td class="chr_text-right">
								<span>{{product.cur}} {{product.hid.utc_rate+(product.rooms*product.rate) | currencys:product.cur}}</span>
							</td>
							
						</tr>
						<tr ng-show="product.hid.utc_rate > 0">
							<td class="chr_td-b-border ">
								<span>
									<span class="chr_text-bold">Promo Code Disc.</span>&nbsp;
								</span>
							</td>
							
							<td class="chr_td-b-border chr_text-right">
								<span> - {{product.cur}} {{product.hid.utc_rate | currencys:product.cur}}</span>
							</td>
							
						</tr>
						<!-- <tr ng-show="product.hid.utc_rate > 0">
							<td class="chr_td-b-border">
								<span>
									<span class="chr_text-bold">Total Charges</span>&nbsp;
								</span>
							</td>
							
							<td class="chr_text-right chr_text-bold chr_td-b-border">
								<span>{{product.cur}} {{product.rooms*product.rate | currencys:product.cur}}</span>
							</td>
							
						</tr> -->

						<!-- Additional -->
						<tr ng-show="extraBedQty > 0 || (product.breakfast != 1 && optional.adultBreakfast.status)">
							<td>
								<span class="chr_text-bold" ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">Breakfast<br></span>
								<span ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">{{product.adult * product.rooms}} Adult<span ng-show="product.adult > 1">s</span> @ {{product.cur}} {{product.breakfastRate*product.rooms | currencys:product.cur}} <br></span>
								<span class="chr_text-bold" ng-show="extraBedQty > 0">Extrabed <br></span>
								<span ng-show="extraBedQty > 0">{{extraBedQty}} Bed<span ng-show="optional.adultExtrabed.qty > 1">s</span> @ {{product.cur}} {{product.extrabedRate*product.rooms | currencys:product.cur}}</span>
							</td>
							<td class="chr_text-right">
								 <span ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">&nbsp;<br></span>
								 <span ng-show="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">{{product.cur}} {{ (product.adult*product.breakfastRate)*product.rooms | currencys:product.cur}}<br></span>
								 <span ng-hide="product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">&nbsp;<br></span>
								 <span ng-show="extraBedQty > 0 && product.breakfast != 1 && product.adult > 0 && optional.adultBreakfast.status">&nbsp;<br></span>
								 <span ng-show="extraBedQty > 0">{{product.cur}} {{  ( ( extraBedQty * product.extrabedRate ) * product.rooms) | currencys:product.cur}}</span>
							</td>
						</tr>
						<!-- optional -->
						<tr ng-repeat="srvc in product.services" ng-show="srvc.qty > 0">
							<td>
								<span class="chr_text-bold">{{srvc.name}}<br></span>
								<span>{{srvc.qty}} {{srvc.unit}} @ {{product.cur}} {{srvc.rate | currencys:product.cur}}</span>
							</td>
							<td class="chr_text-right">
								<span>&nbsp;<br></span>
								<span>{{product.cur}} {{srvc.rate*srvc.qty | currencys:product.cur}}</span>
							</td>
							
						</tr>
						
						<!-- Taxes -->
						<tr ng-show="product.taxIncluded == 0">
							<td class="chr_td-t-border chr_text-bold">
								<span>Service Charge: </span>
							</td>
							
							<td class="chr_text-right chr_td-t-border">
								<span>{{product.cur}} {{ onePajak(srvcTax, govTax, getTotalBeforeTax(), 'srvc_charge') | currencys:product.cur}}</span>
							</td>
						</tr>
						<tr ng-show="product.taxIncluded == 0">
							<td class="chr_text-bold">
								<span>Goverment Tax: </span>
							</td>
							
							<td class="chr_text-right">
								<span>{{product.cur}} {{ onePajak(srvcTax, govTax, getTotalBeforeTax(), 'gov_tax') | currencys:product.cur}}</span>
							</td>
						</tr>
						<!-- end Taxes -->
						
						<!-- total payabel -->
						<!-- <tr ng-show="product.payAtHotel==false || product.paymentType != 1"> -->
						<tr ng-hide="product.payAtHotel==true">
							<td class="chr_text-bold chr_td-t-border" >
								Total Payable
							</td>
							<td class="chr_text-bold chr_text-right chr_td-t-border">
								{{product.cur}} {{getTotal() | currencys:product.cur}}
							</td>
						</tr>
						<!-- end total payabel -->
						
						<!-- Payment type paid later -->								
						<!-- Guarantee booking deposit -->
						<!-- <tr ng-show="product.paymentType == 1 && product.payAtHotel==false" class=""> -->
						<tr ng-hide="product.payAtHotel==true || product.paymentType == 0 || product.paymentType == 2">
							<td class="chr_text-bold chr_red">
								{{product.guaranteeText}}
							</td>
							<td class="chr_text-bold chr_red chr_text-right">
								{{product.cur}} {{ depositGuarantee(product.guaranteeOpt, taxInclude( (product.rate/product.night)*product.rooms ), product.guarantee , getTotal(), product) | currencys:product.cur}}
							</td>
						</tr>
						<!-- End guarantee booking deposit -->

						<!-- <tr ng-show="product.paymentType == 1" class=""> -->
						<tr ng-hide="product.payAtHotel==true || product.paymentType == 0 || product.paymentType == 2">
							<td class="chr_text-bold chr_td-t-border">
								Pay upon check-in
							</td>
							<td class="chr_text-bold chr_text-right chr_td-t-border">
								{{product.cur}} {{getTotal() - depositGuarantee(product.guaranteeOpt, taxInclude( (product.rate/product.night)*product.rooms ), product.guarantee, getTotal(), product) | currencys:product.cur}}
							</td>
						</tr>

						<!-- End Payment type paid later -->
						</tbody>
					</table>
					<div class="chr_text-right" ng-show="exchange > 0">
						<small>Exchange rate: {{info.cur}} 1 = {{info.localCur}} {{exchange | currencys:product.cur}}</small>
					</div>

					<div class="chr_border_top_white" ng-show="info.scrolled">
						<div class="chr_text-center">
							<span ng-repeat="payments in product.paymentOpt">
								<img alt="..." ng-src="{{payments.image}}" style="width:100px;padding:10px;">
							</span>
						</div>
					</div>
				</div>		
        	</div>
        	
			<div class="chr_p10" ng-hide="info.scrolled">
				<div class="chr_p10 chr_text-center">
					<span ng-repeat="payments in product.paymentOpt">
						<img alt="..." ng-src="{{payments.image}}" style="width:150px;padding:10px;">
					</span>
				</div>
			</div>
			
        </div>
    </div>
</div>