<div class="container-chr chr_mtop20" style="max-width: 1100px;">
	<div class="chr_row">
		<!-- STEP -->
		<div class="chr_col-md-12" ng-show="info.management == true">
			<div class="chr_row">
				<div class="chr_col-md-5">
					<span class="chr_size14">{{info.hotelName}}</span><br />
					<span>{{info.hotelAddress}}</span>
				</div>
				<div class="chr_col-md-7 chr_text-right chr_p10">
					<div class="chr_row">
						<div class="chr_col-md-12">
							<div class="chr_row">
								<div id="stepper-example" class="bs-stepper">
								  <div class="bs-stepper-header">
								    <div class="step">
								      <div class="active">
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-file-o"></i>
								        </span>
								        <span class="bs-stepper-label">Reservation</span>
								      </div>
								    </div>
								    <div class="line"></div>
								    <div class="step">
								      <!-- <a href="#"> -->
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-check-square-o"></i>
								        </span>
								        <span class="bs-stepper-label">Confirmation</span>
								      <!-- </a> -->
								    </div>
								    <div class="line"></div>
								    <div class="step">
								      <!-- <a href="#"> -->
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-money"></i>
								        </span>
								        <span class="bs-stepper-label">Payment</span>
								      <!-- </a> -->
								    </div>
								  </div>
								  
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>		
		</div>
		<div class="chr_col-md-12" ng-hide="info.management == true">
			<div class="chr_row">
				<div class="chr_col-md-12">
					<div class="chr_row">
						<div id="stepper-example" class="bs-stepper">
						  <div class="bs-stepper-header">
						    <div class="step">
						      <div class="active">
						        <span class="bs-stepper-circle">
						        	<i class="fa fa-file-o"></i>
						        </span>
						        <span class="bs-stepper-label">Reservation</span>
						      </div>
						    </div>
						    <div class="line"></div>
						    <div class="step">
						      <!-- <a href="#"> -->
						        <span class="bs-stepper-circle">
						        	<i class="fa fa-check-square-o"></i>
						        </span>
						        <span class="bs-stepper-label">Confirmation</span>
						      <!-- </a> -->
						    </div>
						    <div class="line"></div>
						    <div class="step">
						      <!-- <a href="#"> -->
						        <span class="bs-stepper-circle">
						        	<i class="fa fa-money"></i>
						        </span>
						        <span class="bs-stepper-label">Payment</span>
						      <!-- </a> -->
						    </div>
						  </div>
						  
						</div>
					</div>
				</div>
				<!-- <div class="chr_col-md-12">
					<div class="chr_row">
						<div class="chr_col-md-3 chr_hidden-sm chr_hidden-xs">
							<span class="chr_text-left chr_size11" style="padding-right:10px;">Booking Step > </span>
						</div>
						<div class="chr_col-md-9 chr_col-sm-8 chr_hidden-xs">
							<span class="chr_roundstep chr_text-left active">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Reservation</span>
							<span class="chr_roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirmation</span>
							<span class="chr_roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Payment</span>
						</div>
						<div class="chr_col-xs-12 chr_visible-xs">
							<span class="chr_roundstep chr_text-left active">1</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Rsv</span>
							<span class="chr_roundstep chr_text-left">2</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Confirm</span>
							<span class="chr_roundstep chr_text-left">3</span>
							<span class="chr_text-left chr_size11" style="padding: 0 20px 0 5px;">Pay</span>
						</div>
					</div>
				</div> -->
			</div>		
		</div>
		<div class="chr_clearfix"></div>
		<div class="chr_line4"></div>
		<!-- END STEP -->

		<!-- LEFT CONTENT -->
		<div class="chr_col-md-8 chr_col-sm-12 chr_col-xs-12 chr_mb20 chr_mtop10">
			<div class="chr_row">
				<reservation-description></reservation-description>
			</div>

			<!-- Additional info -->
			<div class="chr_row chr_priority-title chr_p10" ng-show="product.adult > product.maxPax || product.breakfast == 0">
				<div class="chr_col-md-12">
					<div class="">
						<span class="chr_size12 chr_text-bold" ng-show="product.adult > product.maxPax || product.breakfast == 0">
								Additional for: {{product.rooms}} {{product.accType}} and {{product.night}} Night<span ng-show="product.night > 1">s</span>
						</span>
						<!-- <div ng-show="product.adult > product.maxPax || product.breakfast == 0" class="chr_line4"></div> -->
					</div>
				</div>
			</div>
			<div class="chr_row chr_priority chr_p10" ng-show="product.adult > product.maxPax || product.breakfast == 0">
				<div class="chr_col-md-12">
					<div ng-show="product.breakfast == 0 && product.adult > 0" class="chr_mb20">
						<span>
							[ <input type="checkbox" name="adultBreakfast" ng-model="optional.adultBreakfast.status" ng-change="getTax(srvcTax)"> ] &nbsp;
							Breakfast for {{product.adult * product.rooms}} person @ {{product.cur}} {{product.breakfastRate*product.rooms | currencys:product.cur}}
						</span>
					</div>
					<div ng-show="product.adult > product.maxPax">
						<span>
							[ <input type="checkbox" name="extraBedss" checked> ] &nbsp;
							Extrabed for 
							<input type="number" ng-change="changeQtyExtrabed()" ng-model="extraBedQty" min="{{minQty}}" max="{{product.maxExtrabed}}" style="width:65px;display:inline;" class="chr_form-control">
							person @ {{product.cur}} {{(product.extrabedRate*product.rooms)| currencys:product.cur}}
						</span>
					</div>
				</div>
			</div>
			<!-- End Additional info -->

			<!-- Optional info -->
			<div class="chr_row chr_priority-title chr_p10" ng-show="product.services != ''">
				<div class="chr_col-md-12">
					<span class="chr_size12 chr_text-bold" >Optional Services</span>
				</div>
			</div>
			<div class="chr_row chr_priority chr_p10" ng-show="product.services != ''">
				<div class="chr_col-md-12 chr_mb20">
					<div ng-repeat="srvc in product.services">
						<div class="chr_row chr_item-content">
							<div class="chr_col-md-3">
								<a href="#"><img alt="" class="chr_img-responsive chr_image-box"  ng-src="{{srvc.pic}}" style="max-height:180px;width:180px"></a>
							</div>	
							<div class="chr_col-md-9">
								<div class="chr_row">
									<div class="chr_col-lg-9 chr_col-md-8 chr_col-sm-8 chr_col-xs-12">
										<span class="chr_text-bold chr_size11">{{srvc.name}} </span>
										<br>
										<span>@ {{product.cur}} {{srvc.rate | currencys:product.cur}} / {{srvc.unit}}</span>
									</div>
									<div class="chr_col-lg-3 chr_col-md-4 chr_col-sm-4 chr_col-xs-6">
										<span class="chr_input-group">
											<input ng-model="srvc.qty" ng-init="srvc.qty=0" type="number" min="0" max="{{srvc.maxUnit}}" class="chr_form-control" style="display:inline;">
											<span class="chr_input-group-addon">{{srvc.unit}}</span>
										</span>
									</div>
								</div>
								<div class="chr_row">
									<div class="chr_col-md-12">
										<span class="chr_text-justify" ng-bind-html="srvc.desc"></span>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- End Optional info -->

		</div>
		<!-- END OF LEFT CONTENT -->			
				
		<!-- RIGHT CONTENT -->
		<div class="chr_col-md-4 chr_col-sm-12 chr_col-xs-12 chr_mtop10">

			<reservation-summary></reservation-summary>
			
		</div>
		<!-- END RIGHT CONTENT -->

		<!-- BUTTON -->
		<div class="chr_col-md-8 chr_col-sm-12 chr_col-xs-12 chr_well chr_text-right">
			<button type="button" ui-sref="book" class="chr_btn-back non-block">Back</button>
			<!-- <input type="submit" ui-sref="book" name="book" class="chr_btn chr_btn-book non-block"  value="Back">  -->
			<img class="chr_text-right" ng-show="loadImage == true" alt="..." src="ichronoz/img/loading.gif">
			<button ng-hide="loadImage == true" type="submit" ng-click="saveAll(indexnya)" class="chr_btn-chronoz non-block">Continue</button>
			<!-- <input ng-hide="loadImage == true" type="submit" ng-click="saveAll(indexnya)" name="book" class="chr_btn chr_btn-book non-block"  value="Continue"> -->
		</div>
		<div class="chr_col-md-4">
		</div>
		<!-- END BUTTON -->
	</div>
</div>