<div class="chr_col-md-5">
	<div class="chr_row">
		<div class="chr_col-md-12">
			<span>
				<a data-lightbox="products" href ng-click="showCustom(product, product.lastMinuteDeal)" >
					<!-- <img style="height:200px;width:200px;" alt="..." class="chr_img-responsive chr_image-box" ng-src="{{product.img}}"> -->
					<img width="100%" height="100%" alt="..." ng-src="{{product.img}}" class="chr_img-responsive" >
				</a>
			</span>		
		</div>
		<div class="chr_col-md-12 chr_text-center chr_detail-link chr_p10">
			<a href ng-click="showCustom(product, product.lastMinuteDeal)" popover="{{product.accType}} & Rate Details" popover-trigger="mouseenter">
				<span class="">Details</span>
			</a>		
			<span class=""> | </span>
			<a href ng-click="showTerm(product)" popover="The Terms & Conditions and Privacy Policy" popover-trigger="mouseenter">
				<span class="">Terms & Conditions</span>
			</a>
		</div>
		<div class="chr_col-md-12 chr_text-left chr_detail-link">
			
		</div>
	</div>
</div>
<div class="chr_col-md-7">
	<div class="chr_row">
		<!-- reservation info -->
		<div class="chr_col-md-12">
			<div class="chr_mb10">
				<!-- <span class="chr_size14">{{product.hotel}}</span>	 -->
				<span class="chr_size13">
					{{product.name}} - {{product.typeName}}
				</span>	
			</div>							
		</div>

		
		<div class="chr_col-md-12">
            <div class="chr_mb10 chr_size12">
            	<i class="chr_green-text fa fa-calendar"></i>&nbsp;
            	<span> {{product.bookingDate}} ({{product.night}} Night<span ng-show="product.night > 1">s</span> stay)</span>
            </div>
            <div class="chr_mb10">
            	<!-- breakfast -->
				<span ng-show="product.breakfast == 1" >
					<i class="chr_green-text fa fa-cutlery"></i>&nbsp;
					<span class="">Breakfast</span>
					<span class="" ng-show="product.promoType == 'Full Board ' && product.meals == ''">Lunch & Dinner </span>
					<span class="" ng-show="product.promoType == 'Half Board ' && product.meals == 0"> & Lunch</span>
					<span class="" ng-show="product.promoType == 'Half Board ' && product.meals == 1"> & Dinner</span> Included
				</span>

				<span ng-hide="product.breakfast == 1" class="chr_non-active-text">
					<i class=" fa fa-cutlery"></i>&nbsp;
					<span>{{product.hid.breakfastText}}</span>&nbsp;
					<a popover="{{product.hid.breakfastTextDesc}}" popover-trigger="mouseenter" href><i class="fa fa-question-circle"></i></a>
				</span>
				<!-- end breakfast -->

				&nbsp;&nbsp;&nbsp;

				<!-- refundable -->
				<span class="chr_mb6" ng-show="product.hid.refundable == 1">
	            	<a popover="{{product.hid.refundableTextDesc}}" popover-trigger="mouseenter" href class="chr_cursor-default">			
						<span class="">
							<i class="chr_green-text fa fa-info-circle"></i>&nbsp;
							{{product.hid.refundableText}}
						</span>
					</a> &nbsp;
					
	            </span> 
	            <span class="chr_mb6" ng-hide="product.hid.refundable == 1">
	            	<a popover="{{product.hid.refundableTextDesc}}" popover-trigger="mouseenter" href class="chr_cursor-default">	
						<span class="chr_non-active-text">
							<i class="fa fa-info-circle"></i>&nbsp;
							{{product.hid.refundableText}}
						</span>
					</a>
	            </span>
	            <!-- end refundable -->
	        </div>
	        <div class="chr_mb10">
	            <!-- benefit summary -->
	            <p class="">
	            	<i class="chr_green-text fa fa-check"></i>&nbsp;
	            	Save {{getPersen(product.oldRate, product.rate)}}% 
	            </p>
				<p>
					<i class="chr_green-text fa fa-check"></i>&nbsp;
					At Average {{product.cur}} {{ ( product.rate*product.rooms ) / product.night | currencys:product.cur }} per Night
				<p>
					<i class="chr_green-text fa fa-check"></i>&nbsp;
						Maximum {{product.maxPax}} Adults in existing beds 
							<span ng-show="product.maxChild < 1"> and no Children in the room</span>
							<span ng-hide="product.maxChild < 1">+ {{product.maxChild}} Child under {{product.childYear}} years old (in existing beds) per Room</span>
				</p>
				<p>
					<i class="chr_green-text fa fa-check"></i>&nbsp;
					<span class="" ng-show="product.maxAdult > 0">
						Maximum {{product.maxAdult}} Extra Bed in room.
					</span> 
					<span ng-hide="product.maxAdult > 0" class="">
						No Extrabed available for this room.
					</span>
				</p>
				
				<p ng-show="product.taxIncluded == 0">
					<i class="chr_green-text fa fa-check"></i>&nbsp;
					Rate is subject to {{srvcTax}}% Service Charge and {{govTax}}% Government Tax
				</p>
	            <!-- end benefit summary -->
            </div> 
		</div>
		

		<div class="chr_col-md-12 chr_mb10">
			<div ng-show="!isShowDetailS" id="replyForm" class="fadein fadeout">
				<span ng-bind-html="product.desc">
				</span>
				<span class="" ng-show="product.surchargeDescription != ''" ng-bind-html="product.surchargeDescription" style="padding-top:10px;"></span>
				<span class="" ng-show="product.specialDescription != ''" ng-bind-html="product.specialDescription" style="padding-top:10px;"></span>
			</div>
			<div class="chr_detail-link">
				<a href ng-click="isShowDetailS = !isShowDetailS">
					<span ng-show="isShowDetailS">Show More</span>
					<span ng-show="!isShowDetailS">Hide </span>
					<i ng-class="isShowDetailS ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i>
				</a>						
			</div>
			<!-- <div class="chr_text-justify chr_mb10" ng-bind-html="product.desc"></div>
			<div ng-show="product.surchargeDescription != ''" class="chr_text-justify chr_mb10" ng-bind-html="product.surchargeDescription"></div>
			<div ng-show="product.specialDescription != ''" class="chr_text-justify chr_mb10" ng-bind-html="product.specialDescription"></div> -->
		</div>
		<!-- end reservation info -->

		
	</div>
</div>