<div class="container-chr" style="margin-top:15px; max-width: 1100px;">
	<div class="chr_row ">

		<!-- STEP -->
		<div class="chr_col-md-12" ng-show="info.management == true">
			<div class="chr_row">
				<div class="chr_col-md-5 chr_mb10">
					<span class="chr_size14">{{info.hotelName}}</span><br />
					<span>{{info.hotelAddress}}</span>
				</div>
				<div class="chr_col-md-7 chr_text-right p10 chr_mb10">
					<div class="chr_row">
						<div class="chr_col-md-12 chr_p10">
							<div class="chr_row">
								<div id="stepper-example" class="bs-stepper">
								  <div class="bs-stepper-header">
								    <div class="step">
								      <!-- <a href ui-sref="reserve({id:indexnya})" class="active"> -->
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-file-o"></i>
								        </span>
								        <span class="bs-stepper-label">Reservation</span>
								      <!-- </a> -->
								    </div>
								    <div class="line"></div>
								    <div class="step">
								      <!-- <div class="active"> -->
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-check-square-o"></i>
								        </span>
								        <span class="bs-stepper-label">Confirmation</span>
								      <!-- </div> -->
								    </div>
								    <div class="line"></div>
								    <div class="step">
								      <!-- <a href="#"> -->
								        <span class="bs-stepper-circle">
								        	<i class="fa fa-money"></i>
								        </span>
								        <span class="bs-stepper-label">Payment</span>
								      <!-- </a> -->
								    </div>
								  </div>
								  
								</div>
							</div>
						</div>
					</div>
				</div>	
			</div>	
			<div class="chr_border-style"></div>	
		</div>
		<!-- END STEP -->

		<!-- form search -->
		<div ng-hide="info.promoListType == 1" ng-class=" info.promoListType == 1 ? 'chr_col-md-4 pull-right chr_mb20' : 'chr_col-md-12'">
		<!-- <div ng-hide="info.promoListType == 1 || myLoading == true" ng-class=" info.promoListType == 1 ? 'chr_col-md-4 pull-right chr_mb20' : 'chr_col-md-12'"> -->
			<div class="chr_row">
				<search-form></search-form>	
			</div>
			<div class="chr_border-style"></div>
		</div>
		<!-- end form search -->

		<div class="chr_col-md-12">
			<div class="chr_row">

				<!-- loading -->
				<div class="chr_header chr_text-center chr_col-md-12 chr_mtop20" ng-show="myLoading == true">
					<div>
						<span class="chr_size11">Searching for the best rate within your requested period : {{cdays}} - {{coday}}</span>
					</div>
				
					<div>
						<img class="chr_mtop10" alt="..." src="ichronoz/img/loading.gif">
					</div>
					<div>
						Loading...
					</div>
				</div>
				<!-- END loading -->
			</div>
			<div class="chr_row" ng-hide="myLoading == true">
				<div class="chr_col-md-12" style="padding: 0px;">
					<banner></banner>
				</div>
				<div class="chr_col-md-12" style="padding: 15px;background-color: #e4e4e4;border-bottom: 1px solid #FFF;">
					<div class="chr_row">
						<!-- Top filters -->
						<div class="chr_col-md-7 chr_text-left-lg chr_text-left-md chr_text-center-sm chr_text-center-xs" ng-show="myMessage == true && cbs != 1">
							
							<div ng-hide="myLoading == true" class="chr_size11">
								<!-- Description note -->
								<span>There are <span class="chr_text-bold">{{info.rooms}}</span> room{{plural(info.rooms)}}  available</span>
								<span>start from</span>
								<span class="chr_text-bold">{{info.cur}} {{info.rateStartnya | currencys:info.cur}} </span>
								<span>/ room / night</span>	
								<!-- END Description note -->
							</div>
						</div>
						<!-- End of top filters-->

						<!-- Shorter button -->
						<div class="chr_col-md-5 chr_col-sm-12 chr_col-xs-12 chr_text-right-lg chr_text-right-md chr_text-center-sm chr_text-center-xs" ng-hide="myMessage == false || myLoading == true || info.promoListType == 1">
							<div class="chr_hidden-lg chr_hidden-md chr_mb10"></div>
							<button ng-class="(orderByField == 'promoType') ? 'chr_popularbtn chr_popularbtn-active' : 'chr_popularbtn'" ng-click="orderByField='promoType'; reverseSort = !reverseSort">PROMO
								<span ng-show="orderByField == 'promoType'">
									<span ng-show="reverseSort">
										<i class="fa fa-arrow-circle-up"></i>
									</span>
									<span ng-show="!reverseSort">
										<i class="fa fa-arrow-circle-down"></i>
									</span>
								</span>
							</button>
							<button ng-class="(orderByField == 'typeName') ? 'chr_popularbtn chr_popularbtn-active' : 'chr_popularbtn'" ng-click="orderByField='typeName'; reverseSort = !reverseSort">ROOM
								<span ng-show="orderByField == 'typeName'">
									<span ng-show="reverseSort">
										<i class="fa fa-arrow-circle-up"></i>
									</span>
									<span ng-show="!reverseSort">
										<i class="fa fa-arrow-circle-down"></i>
									</span>
								</span>
							</button>
							<button ng-class="(orderByField == 'rate') ? 'chr_popularbtn chr_popularbtn-active' : 'chr_popularbtn'" ng-click="orderByField='rate'; reverseSort = !reverseSort">PRICE
								<span ng-show="orderByField == 'rate'">
									<span ng-show="reverseSort">
										<i class="fa fa-arrow-circle-up"></i>
									</span>
									<span ng-show="!reverseSort">
										<i class="fa fa-arrow-circle-down"></i>
									</span>
								</span>
							</button>		
						</div>
						<!-- Shorter button -->
					</div>
				</div>

				<!-- Promocode applied  -->
				<div class="chr_col-md-12" style="padding: 15px;background-color: #c9f7d2;color: #0b7a39;border-bottom: 1px solid #FFF;" ng-show="info.utc != '' && info.promocode_message != ''">
					<div class="row" style="padding: 0 15px">
						<div class="chr_size11 chr_col-md-8">
							<span ng-bind-html="info.promocode_message"></span>
							<!-- <span class="chr_text-bold">{{info.utc}}</span> -->
						</div>
						<div class="chr_text-right-md chr_col-md-4">
							<a href ng-click="info.utc = '';utc = '';addForm();">remove</a>
						</div>
					</div>
				</div>
				<!-- End Promocode applied -->

			</div>
		</div>
		
		<!-- form search -->
		<div ng-show="info.promoListType == 1" ng-class=" info.promoListType == 1 ? 'chr_col-md-4 pull-right chr_mb20' : 'chr_col-md-12 chr_mb20'">
			<div class="chr_row">
				<search-form></search-form>	
			</div>
		</div>
		<!-- end form search -->

		<!-- content -->
		<div ng-hide="myLoading == true" ng-class="info.promoListType == 1 ? 'chr_col-md-8 pull-left chr_mb20' : 'chr_col-md-12 chr_mb20'">
			<div class="chr_row">

				<!-- No result -->
				<div ng-show="myMessage == false">
					<not-result></not-result>
				</div>
				<!-- END No result -->

				<!-- promo items -->
				<div ng-hide="cbs == 1">
					<booking-list ng-show="myMessage == true"></booking-list>
				</div>
				<!-- END promo items -->

			</div>	
		</div>
		<!-- end content -->

	</div>
</div>
