<style>
	.popover  {
		top:9px;
	}
	.popover.bottom .arrow:after {
		border-bottom-color: #428BCA;
	}
	.popover-content {
		min-width: 200px;
	}
</style>
	<!-- room type sorting promo list -->
	<div class="chr_widget" ng-show="info.promoListType == 1">
	    <div class="chr_row">
	    	<div class="chr_col-md-8 chr_col-sm-8 chr_col-xs-12 chr_mtop10">
	            <div class="chr_text-left">
	            	<div class="chornoz-chr_label chr_mb6">
						<!-- chr_label -->
						<span class="chr_size11 chr_label chr_label-warning" ng-hide="product.specialName != ''"> {{product.promoType}} </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-hide="product.specialName == ''"> {{product.specialName}} </span>
						<!-- chr_label -->
						&nbsp;&nbsp;&nbsp;
						<span class="chr_size11 chr_text-italic chr_red" ng-show="product.recomend2">
							<a popover="Recommendation Package" popover-trigger="mouseenter" href class="chr_cursor-default" popover-placement="right">
								<i class="fa fa-thumbs-o-up"></i> 
								<small>
									Recommendation: &nbsp;
									<span ng-show="product.recomend == 1"> Extend Your Stay </span>
									<span ng-show="product.lastMinuteDeal"> Last Minute Deal</span>
								</small>
							</a>
							<br />
						</span>
					</div>
					<div class="chr_mb6 chr_mtop10">
	                	<span class="chr_size13">{{product.name}}</span>
	                </div>

	                <!-- person and discount -->
	                <div class="chr_mb6">
	                	<a popover="{{product.accType}} Occupancy : Max {{product.maxPax}} Pax and extra {{product.maxAdult}} Adults + {{product.maxChild}} Child / {{product.accType}}" popover-trigger="mouseenter" popover-placement="right" href>			
							<span ng-repeat="n in [] | each:product.maxPax" class="chr_green-text">
								<i class="fa fa-male"></i>
							</span>
						</a> &nbsp;
						
						<span ng-show="product.oldRate > product.rate" class="ptop5 chr_text-center">
	                    	{{getPersen(product.oldRate, product.rate)}}% 
							Discount
	                    </span>
	                    
	                    <span ng-if="product.allotment <= 5 && product.allotment > 1">
	                    	 &nbsp;
		                     <i class="fa fa-arrow-circle-right"></i>
		                     &nbsp;
		                     <span class="chr_red">{{product.allotment}} {{product.accType}}s left </span>
							
						</span>
						<span class="chr_red" ng-if="product.allotment == 1">
							Our last {{product.accType}}
						</span>
						&nbsp;
						<span class="blue" ng-show="product.lastMinuteDeal"><a popover="Last minute deal off published rate if you book now" popover-trigger="mouseenter" popover-placement="right" href><i class="fa fa-question-circle"></i></a></span>
						&nbsp;
	                </div> 
	                <!-- end person and discount -->

	                <!-- breakfast -->
	                <div class="chr_mb6">
						<span ng-show="product.breakfast == 1" >
							<i class="chr_green-text fa fa-cutlery"></i>&nbsp;
							<span class="">Breakfast</span>
							<span class="" ng-show="product.promoType == 'Full Board ' && product.meals == ''">Lunch & Dinner </span>
							<span class="" ng-show="product.promoType == 'Half Board ' && product.meals == 0"> & Lunch</span>
							<span class="" ng-show="product.promoType == 'Half Board ' && product.meals == 1"> & Dinner</span> Included
						</span>

						<span ng-hide="product.breakfast == 1" class="chr_non-active-text">
							<i class=" fa fa-cutlery"></i>&nbsp;
							<span>{{product.hid.breakfastText}}</span>&nbsp;
							<a popover="{{product.hid.breakfastTextDesc}}" popover-trigger="mouseenter" href><i class="fa fa-question-circle"></i></a>
						</span>
	                </div> 
	                <!-- end person, breakfast and discount -->

	                <!-- refundable -->
	                <div class="chr_mb6" ng-show="product.hid.refundable == 1">
	                	<a popover="{{product.hid.refundableTextDesc}}" popover-trigger="mouseenter" href class="chr_cursor-default" popover-placement="right">			
							<span class="">
								<i class="chr_green-text fa fa-info-circle"></i>&nbsp;
								{{product.hid.refundableText}}
							</span>
						</a> &nbsp;
						
	                </div> 
	                <div class="chr_mb6" ng-hide="product.hid.refundable == 1">
	                	<a popover="{{product.hid.refundableTextDesc}}" popover-trigger="mouseenter" href class="chr_cursor-default" popover-placement="right">	
							<span class="chr_non-active-text">
								<i class="fa fa-info-circle"></i>&nbsp;
								{{product.hid.refundableText}}
							</span>
						</a>
	                </div> 
	                <!-- end refundable -->

	                <div class="chr_mb6 chr_detail-link">
	                <!-- link -->
	                	<a href ng-click="showCustom(product, product.lastMinuteDeal)">
							{{product.accType}} & Rate Details
						</a> &nbsp;&nbsp; | &nbsp;&nbsp;
						<a href ng-click="showTerm(product)">
							Terms & Conditions
						</a>
	                <!-- akhir link -->
	                </div>
	            </div>
	        </div>

	    	<div class="chr_col-md-4 chr_col-sm-4 chr_col-xs-12 bg-price chr_brtr chr_brbr chr_hidden-xs chr_text-right chr_mtop10">
            	<!-- normal view -->
            	<div ng-show="product.depositText != ''" class="chr_mb20">
	            	<span class="chr_label chr_label-success2">
	            		<i class="fa fa-money"></i>
	            		{{product.depositText}}
	            	</span>
	            </div>
	            
                <div class="chr_mb6" ng-show="product.oldRate > product.rate">
                	<a href popover="Standard Publish Price" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
						<span class="chr_old-price">{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
						</span>	
					</a>
					
				</div>
				<div class="chr_mb6" ng-show="product.oldRate > product.rate && product.hid.utc_rate > 0">
					<a href popover="Price before promocode disc. is applied" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
						<span class="chr_discount-price" >{{product.cur}} {{product.hid.utc_rate+(product.rate*product.rooms) | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
							<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
						</span>	
					</a>
						
				</div>
				<div class="chr_mb6">
					<a href popover="{{product.hid.finalPriceHoverText}}" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
						<i class="fa fa-question-circle" ng-show="product.hid.utc_rate > 0"></i>
						&nbsp;&nbsp;
						<span class="chr_final-price">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
						</span>
					</a>
					<!-- converter -->
				</div>
				<div class="chr_mb10">
					<span class="chr_text-right chr_detail-link">
						<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter" popover-placement="left">
							Currency Converter
						</a>
					</span>
					<!-- end converter -->
				</div>	
				<div class="chr_mb10">
					<button type="submit" ui-sref="reserve({id:products.indexOf(product)})" class="chr_btn-book-now chr_btn-book-md text-uppercase">
						Book Now
					</button>
				</div>
				<!-- normal view -->
	        </div>

	        <div class="chr_col-xs-12 chr_mb10">
	            <div class="chr_text-left">
	            	<!-- room night -->
					<div class="chr_ptop10">
						{{product.rooms}} 
						<span ng-show="product.rooms < 2">{{product.accType}}</span>
						<span ng-show="product.rooms >= 2">{{product.accType}}s</span>
						<span> for {{product.bookingDate}} ({{product.night}} Night<span ng-show="product.night > 1">s</span>)</span>
						<span> @avg {{product.cur}}. {{(product.rate*product.rooms)/product.night | currencys:product.cur}}/night</span>&nbsp;
					</div>
					<!-- end room night -->
	            </div>
	        </div>

	        <!-- product detail -->
			<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12">
				<div ng-show="isShowDetail" id="replyForm" class="fadein fadeout">
					<span ng-bind-html="product.desc | limitTo: 150">
					</span>
				</div>
				<div ng-show="!isShowDetail" id="replyForm" class="fadein fadeout">
					<span ng-bind-html="product.desc">
					</span>
					<span class="" ng-show="product.surchargeDescription != ''" ng-bind-html="product.surchargeDescription" style="padding-top:10px;"></span>
					<span class="" ng-show="product.specialDescription != ''" ng-bind-html="product.specialDescription" style="padding-top:10px;"></span>
				</div>
				<div class="chr_detail-link" ng-show="product.desc.length+product.surchargeDescription.length+product.specialDescription.length > 100">
					<a href ng-click="isShowDetail = !isShowDetail">
						<span ng-show="isShowDetail">Show More</span>
						<span ng-show="!isShowDetail">Hide </span>
						<i ng-class="isShowDetail ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i>
					</a>						
				</div>
				
			</div>
			<!-- end product detail -->
			<div class="chr_clearfix"></div>

			<!-- price section for small layout -->
			<div class="chr_col-md-12 chr_hidden-lg chr_hidden-md chr_hidden-sm">
				<div class="chr_text-right">
					<div ng-show="product.depositText != ''" class="chr_mb20">
		            	<span class="chr_label chr_label-success2">
		            		<i class="fa fa-money"></i>
		            		{{product.depositText}}
		            	</span>
		            </div>
					<div class="chr_mb6" ng-show="product.oldRate > product.rate">
						<a href popover="Standard Publish Price" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
							<span class="chr_old-price" >{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
								<span ng-show="product.taxIncluded == 0">++</span>
								<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
							</span>	
						</a>
					</div>
					<div class="chr_mb6" ng-show="product.oldRate > product.rate && product.hid.utc_rate > 0">
						<span class="chr_discount-price-title">Before promocode disc.</span>
						<a href popover="Price before promocode disc. is applied" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
							<span class="chr_discount-price" >{{product.cur}} {{product.hid.utc_rate+(product.rate*product.rooms) | currencys:product.cur}} 
								<span ng-show="product.taxIncluded == 0">++</span>
								<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
							</span>	
						</a>
							
					</div>

					<div class="chr_mb6">
						<a href popover="{{product.hid.finalPriceHoverText}}" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
							<i class="fa fa-question-circle" ng-show="product.hid.utc_rate > 0"></i>
							&nbsp;&nbsp;
							<span class="chr_size14 chr_final-price">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
								<span ng-show="product.taxIncluded == 0">++</span>
							</span>
						</a>
					</div>
					<div class="chr_mb10">
						<!-- converter -->
						<br>
						<span class="chr_text-right chr_ptop20 chr_detail-link">
							<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter" popover-placement="left">
								Currency Converter
							</a>
						</span>
						<!-- end converter -->
					</div>	
					<div class="chr_mb6">
						<button type="submit" ui-sref="reserve({id:products.indexOf(product)})" class="chr_btn-book-now chr_btn-book-sm text-uppercase">
							Book Now
						</button>
					</div>
				</div>	
			</div>
			<!-- end price section for small layout -->
			<!-- <div class="chr_visible-lg chr_visible-md chr_visible-sm chr_col-xs-12">
				<hr>
			</div> -->
	    </div>

		<!-- <div class="chr_col-md-4 chr_col-sm-4 chr_col-xs-12 pb15">
			<div class="chr_row chr_text-right">
				<div class="chr_col-xs-12">
					<input type="submit" ui-sref="reserve({id:products.indexOf(product)})" name="book" class="chr_btn chr_btn-book"  value="Book Now">
				</div>
			</div>
		</div> -->
		<!-- <div class="chr_col-md-4 chr_col-sm-4 chr_col-xs-12 product-desc">
			<p ng-bind-html="product.typeDesc"></p>
		</div> -->
	</div>

	<!-- rate sorting promo list -->
	<div class="chr_widget" ng-hide="info.promoListType == 1">
	    <div class="chr_row">
	    	<div class="chr_col-md-3 chr_col-sm-3 chr_col-xs-12">
	    		<div class="image chr_image-list chr_zoom-effect-container">
	    			<div class="chr_image-card">
	    				<a data-lightbox="products" href ng-click="showCustom(product, product.lastMinuteDeal)" >
							<img width="100%" height="100%" alt="..." ng-src="{{product.img}}" class="chr_img-responsive chr_ptop5">
						</a>	
	    			</div>
					
					<div class="chr_special-tag">
						<!-- chr_label -->
						<span class="chr_size11" ng-hide="product.specialName != ''"> {{product.promoType}} </span>
						<span class="chr_size11" ng-hide="product.specialName == ''"> {{product.specialName}} </span>
						
						
						<!-- chr_label -->
					</div>
				</div>
	    	</div>
	    	<div class="chr_col-md-6 chr_col-sm-6 chr_col-xs-12">
	            <div class="chr_text-left chr_pleft-xs-15 chr_pleft-md-15 chr_pleft-sm-15 chr_mtop6">
					<div class="chr_mb6">
						<span class="chr_size11 chr_text-italic chr_red" ng-show="product.recomend2">
							<a popover="Recommendation Package" popover-trigger="mouseenter" href class="chr_cursor-default" popover-placement="right">
								<i class="fa fa-thumbs-o-up"></i> 
								<small>
									Recommendation: &nbsp;
									<span ng-show="product.recomend == 1"> Extend Your Stay </span>
									<span ng-show="product.lastMinuteDeal"> Last Minute Deal</span>
								</small>
							</a>
							<br />
						</span>
							

						<span class="chr_size12"><b>{{product.name}}</b></span>
						 - 
						<span class="chr_size12">{{product.typeName}} </span>

						<span class="chr_size11" ng-show="product.availability_limit">Limited Availability </span>
	                </div>

	                
	                <!-- person and discount -->
	                <div class="chr_mb6">
	                	<a popover="{{product.accType}} Occupancy : Max {{product.maxPax}} Pax and extra {{product.maxAdult}} Adults + {{product.maxChild}} Child / {{product.accType}}" popover-trigger="mouseenter" popover-placement="right" href>			
							<span ng-repeat="n in [] | each:product.maxPax" class="chr_green-text">
								<i class="fa fa-male"></i>
							</span>
						</a> &nbsp;
						
						<span ng-show="product.oldRate > product.rate" class="ptop5 chr_text-center">
	                    	{{getPersen(product.oldRate, product.rate)}}% 
							Discount
	                    </span>
	                    
	                    <span ng-if="product.allotment <= 5 && product.allotment > 1">
	                    	 &nbsp;
		                     <i class="fa fa-arrow-circle-right"></i>
		                     &nbsp;
		                     <span class="chr_red">{{product.allotment}} {{product.accType}}s left </span>
							
						</span>
						<span class="chr_red" ng-if="product.allotment == 1">
							Our last {{product.accType}}
						</span>
						&nbsp;
						<span class="blue" ng-show="product.lastMinuteDeal"><a popover="Last minute deal off published rate if you book now" popover-trigger="mouseenter" popover-placement="right" href><i class="fa fa-question-circle"></i></a></span>
						&nbsp;
	                </div> 
	                <!-- end person and discount -->


	                <!-- breakfast -->
	                <div class="chr_mb6">
						<span ng-show="product.breakfast == 1" >
							<i class="chr_green-text fa fa-cutlery"></i>&nbsp;
							<span class="">Breakfast</span>
							<span class="" ng-show="product.promoType == 'Full Board ' && product.meals == ''">Lunch & Dinner </span>
							<span class="" ng-show="product.promoType == 'Half Board ' && product.meals == 0"> & Lunch</span>
							<span class="" ng-show="product.promoType == 'Half Board ' && product.meals == 1"> & Dinner</span> Included
						</span>

						<span ng-hide="product.breakfast == 1" class="chr_non-active-text">
							<i class=" fa fa-cutlery"></i>&nbsp;
							<span>{{product.hid.breakfastText}}</span>&nbsp;
							<a popover="{{product.hid.breakfastTextDesc}}" popover-trigger="mouseenter" href><i class="fa fa-question-circle"></i></a>
						</span>
	                </div> 
	                <!-- end person, breakfast and discount -->

	                <!-- refundable -->
	                <div class="chr_mb6" ng-show="product.hid.refundable == 1">
	                	<a popover="{{product.hid.refundableTextDesc}}" popover-trigger="mouseenter" href class="chr_cursor-default" popover-placement="right">			
							<span class="">
								<i class="chr_green-text fa fa-info-circle"></i>&nbsp;
								{{product.hid.refundableText}}
							</span>
						</a> &nbsp;
						
	                </div> 
	                <div class="chr_mb6" ng-hide="product.hid.refundable == 1">
	                	<a popover="{{product.hid.refundableTextDesc}}" popover-trigger="mouseenter" href class="chr_cursor-default" popover-placement="right">	
							<span class="chr_non-active-text">
								<i class="fa fa-info-circle"></i>&nbsp;
								{{product.hid.refundableText}}
							</span>
						</a>
	                </div> 
	                <!-- end refundable -->

	                <div class="chr_mb6 chr_detail-link">
	                <!-- link -->
	                	<a href ng-click="showCustom(product, product.lastMinuteDeal)">
							{{product.accType}} & Rate Details
						</a> &nbsp;&nbsp; | &nbsp;&nbsp;
						<a href ng-click="showTerm(product)">
							Terms & Conditions
						</a>
	                <!-- akhir link -->
	                </div>
	            </div>
	            <div class="chr_text-left chr_pleft-xs-15 chr_pleft-md-15 chr_pleft-sm-15">
	            	<!-- room night -->
					<div class="">
						{{product.rooms}} 
						<span ng-show="product.rooms < 2">{{product.accType}}</span>
						<span ng-show="product.rooms >= 2">{{product.accType}}s</span>
						<span> for {{product.bookingDate}} ({{product.night}} Night<span ng-show="product.night > 1">s</span>)</span>
						<span> @avg {{product.cur}}. {{(product.rate*product.rooms)/product.night | currencys:product.cur}}/night</span>&nbsp;
					</div>
					<!-- end room night -->
	            </div>
	            <!-- product detail -->
				<div id="replyForm" class="fadein fadeout chr_mtop10 chr_pleft-xs-15 chr_pleft-md-15 chr_pleft-sm-15">					
					<div ng-show="isShowDetail" id="replyForm" class="fadein fadeout">
						<span ng-bind-html="product.desc+product.surchargeDescription+product.specialDescription | limitTo: 150">
						</span>
						<!-- <span class="" ng-show="product.surchargeDescription != ''" ng-bind-html="product.surchargeDescription" style="padding-top:10px;"></span> -->
						<!-- <span class="" ng-show="product.specialDescription != ''" ng-bind-html="product.specialDescription" style="padding-top:10px;"></span> -->
					</div>
					<div ng-show="!isShowDetail" id="replyForm" class="fadein fadeout">
						<span ng-bind-html="product.desc">
						</span>
						<span class="" ng-show="product.surchargeDescription != ''" ng-bind-html="product.surchargeDescription" style="padding-top:10px;"></span>
						<span class="" ng-show="product.specialDescription != ''" ng-bind-html="product.specialDescription" style="padding-top:10px;"></span>
					</div>
					<div class="chr_detail-link" ng-show="product.desc.length+product.surchargeDescription.length+product.specialDescription.length > 150">
						<a href ng-click="isShowDetail = !isShowDetail">
							<span ng-show="isShowDetail">Show More</span>
							<span ng-show="!isShowDetail">Hide </span>
							<i ng-class="isShowDetail ? 'fa fa-chevron-down' : 'fa fa-chevron-up'"></i>
						</a>						
					</div>
				</div>
				<!-- product detail -->
	        </div>

	    	<div class="chr_col-md-3 chr_col-sm-3 chr_col-xs-12 bg-price chr_brtr chr_brbr chr_hidden-xs chr_text-right">
            	<!-- normal view -->
            	<!-- <div class="chr_promo-label-small chr_mb6" ng-show="product.oldRate > product.rate && product.hid.utc_rate > 0">
	            	<span class="chr_label chr_label-danger">
	            		PROMOCODE DISC. {{product.cur}} {{product.hid.utc_rate | currencys:product.cur}}	
	            	</span>
	            </div> -->

	            <div ng-show="product.depositText != ''" class="chr_mb20">
	            	<span class="chr_label chr_label-success2">
	            		<i class="fa fa-money"></i>
	            		{{product.depositText}}
	            	</span>
	            </div>
            	
                <div class="chr_mb6" ng-show="product.oldRate > product.rate">
                	<a href popover="Standard Publish Price" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
						<span class="chr_old-price">{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
						</span>	
					</a>
					
				</div>
				<div class="chr_mb6" ng-show="product.oldRate > product.rate && product.hid.utc_rate > 0">
					<a href popover="Price before promocode disc. is applied" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
						<span class="chr_discount-price" >{{product.cur}} {{product.hid.utc_rate+(product.rate*product.rooms) | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
							<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
						</span>	
					</a>
						
				</div>
				<div class="chr_mb6">
					<a href popover="{{product.hid.finalPriceHoverText}}" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
						<i class="fa fa-question-circle" ng-show="product.hid.utc_rate > 0"></i>
						&nbsp;&nbsp;
						<span class="chr_final-price">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
						</span>
					</a>
					<!-- converter -->
				</div>

				<!-- link currency converter -->
				<div class="chr_mb10">
					<span class="chr_text-right chr_detail-link">
						<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter" popover-placement="left">
							Currency Converter
						</a>
					</span>
					<!-- end converter -->
				</div>	

				<!-- Button book now -->
				<div class="chr_mb10">
					<button type="submit" ui-sref="reserve({id:products.indexOf(product)})" class="chr_btn-book-now chr_btn-book-md text-uppercase">
						Book Now
					</button>
				</div>
				<!-- normal view -->
			</div>

	        <!-- <div class="chr_col-xs-12">
	            <hr class="chr_visible-lg chr_visible-md chr_visible-sm">
	        </div> -->

			<div class="chr_clearfix"></div>
			<!-- price section for small layout -->
			<div class="chr_col-xs-12 chr_hidden-lg chr_hidden-md chr_hidden-sm">
				<div class="chr_text-right pb15">
					<!-- <div class="chr_promo-label-small chr_mb6" ng-show="product.oldRate > product.rate && product.hid.utc_rate > 0">
		            	<span class="chr_label chr_label-danger">
		            		PROMOCODE DISC. {{product.cur}} {{product.hid.utc_rate | currencys:product.cur}}	
		            	</span>
		            </div> -->

		            <div ng-show="product.depositText != ''" class="chr_mb10">
		            	<span class="chr_label chr_label-success2">
		            		<i class="fa fa-money"></i>
		            		{{product.depositText}}
		            	</span>
		            </div>

					<div class="chr_mb6" ng-show="product.oldRate > product.rate">
						<a href popover="Standard Publish Price" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
							<span class="chr_old-price" >{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
								<span ng-show="product.taxIncluded == 0">++</span>
								<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
							</span>	
						</a>
					</div>
					<div class="chr_mb6" ng-show="product.oldRate > product.rate && product.hid.utc_rate > 0">
						<span class="chr_discount-price-title">Before promocode disc.</span>
						<a href popover="Price before promocode disc. is applied" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
							<span class="chr_discount-price" >{{product.cur}} {{product.hid.utc_rate+(product.rate*product.rooms) | currencys:product.cur}} 
								<span ng-show="product.taxIncluded == 0">++</span>
								<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
							</span>	
						</a>
							
					</div>

					<div class="chr_mb6">
						<a href popover="Price with Promo Code" popover-trigger="mouseenter" class="chr_cursor-default" popover-placement="left">
							<i class="fa fa-question-circle" ng-show="product.hid.utc_rate > 0"></i>
							&nbsp;&nbsp;
							<span class="chr_size14 chr_final-price">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
								<span ng-show="product.taxIncluded == 0">++</span>
							</span>
						</a>
					</div>
					<div class="chr_mb10">
						<!-- converter -->
						<br>
						<span class="chr_text-right chr_ptop20 chr_detail-link">
							<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter" popover-placement="left">
								Currency Converter
							</a>
						</span>
						<!-- end converter -->
					</div>	
					<div class="chr_mb6">
						<button type="submit" ui-sref="reserve({id:products.indexOf(product)})" class="chr_btn-book-now chr_btn-book-md chr_btn-book-sm text-uppercase">
							Book Now
						</button>
					</div>					
				</div>	
			</div>
			<!-- end price section for small layout -->

	    </div>
	</div>
	<!-- rate sorting promo list -->

	<!-- <hr class="chr_visible-sm chr_visible-xs"> -->


					
		
