<style type="text/css">
	.chr_box {
		display: table-row;
    	vertical-align: middle;
	}
	.chr_box-icon {
		padding: 7px;
		display: table-cell;
		vertical-align: middle;
	}
</style>

<div ng-hide="info.promoListType == 1">    
	<!-- Sort rate promo list type -->
	<form name="searcForm" ng-submit="addForm()" target="_self" class="chr_form-search form-reserve">
			<div class="chr_col-lg-4 chr_col-md-4 chr_col-sm-4 chr_col-xs-12">
				<div class="chr_row">
					<div class="chr_col-md-12 chr_col-xs-12">
						<span>Check-in: {{cday}}</span>
					</div>
				</div>
				<div class="chr_row">
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" name="cd" ng-model="fd" class="chr_form-control" ng-change="chrCheckout()">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>        
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>        
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>        
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>        
						  <option value="23">23</option>
						  <option value="24">24</option>
						  <option value="25">25</option>
						  <option value="26">26</option>
						  <option value="27">27</option>
						  <option value="28">28</option>        
						  <option value="29">29</option>
						  <option value="30">30</option>
						  <option value="31">31</option>
						</select>
					</div>
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" name="cm" ng-model="fm" class="chr_form-control" ng-change="chrCheckout()">
						  <option value="1">Jan</option>
						  <option value="2">Feb</option>        
						  <option value="3">Mar</option>
						  <option value="4">Apr</option>
						  <option value="5">May</option>
						  <option value="6">Jun</option>
						  <option value="7">Jul</option>
						  <option value="8">Aug</option>        
						  <option value="9">Sep</option>
						  <option value="10">Oct</option>
						  <option value="11">Nov</option>
						  <option value="12">Dec</option>
						</select>
					</div>
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" ng-options="ye for ye in yearOpt track by ye" ng-model="fy" class="chr_form-control" ng-change="chrCheckout()">
							<option value="">{{fy}}</option>
						</select>
					</div>
				</div>	
			</div>

			<div class="chr_col-lg-3 chr_col-md-3 chr_col-sm-3 chr_col-xs-12">
				<div class="chr_row">
					<div class="chr_col-md-4 chr_col-xs-4">
						Night:&nbsp;
					</div>
					<div class="chr_col-md-8 chr_col-xs-8">
						<span class="chr_mleft-lg-15">Check-out:</span> &nbsp;
					</div>
				</div>
				<div class="chr_row">
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" ng-model="nite" name="nite" class="chr_form-control" ng-change="chrCheckout()">
						  <option value="1">1</option>
						  <option value="2">2</option>
						  <option value="3">3</option>
						  <option value="4">4</option>        
						  <option value="5">5</option>
						  <option value="6">6</option>
						  <option value="7">7</option>
						  <option value="8">8</option>
						  <option value="9">9</option>
						  <option value="10">10</option>        
						  <option value="11">11</option>
						  <option value="12">12</option>
						  <option value="13">13</option>
						  <option value="14">14</option>
						  <option value="15">15</option>
						  <option value="16">16</option>        
						  <option value="17">17</option>
						  <option value="18">18</option>
						  <option value="19">19</option>
						  <option value="20">20</option>
						  <option value="21">21</option>
						  <option value="22">22</option>        
						  <option value="23">23</option>
						  <option value="24">24</option>
						  <option value="25">25</option>
						  <option value="26">26</option>
						  <option value="27">27</option>
						  <option value="28">28</option>        
						  <option value="29">29</option>
						  <option value="30">30</option>
						  <option value="31">31</option>
						</select>
					</div>
					<div class="chr_col-md-8 chr_col-xs-8">
						<span id="coday" class="chr_mleft-lg-15">&nbsp; {{coday}}</span>
			    	</div>
				</div>
			</div>

			<div class="chr_col-lg-3 chr_col-md-3 chr_col-sm-3 chr_col-xs-12">
				<div class="chr_row">
					<div class="chr_col-md-4 chr_col-xs-4">
						Adult
					</div>
					<div class="chr_col-md-4 chr_col-xs-4">
						Child
					</div>
					<div class="chr_col-md-4 chr_col-xs-4">
						Rooms:
					</div>
				</div>
				<div class="chr_row"> 
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" name="adult" ng-model="adu" class="chr_form-control">
						  <option ng-repeat="n in max_adu_opt">{{n}}</option>
						</select> 
					</div>
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" name="child" ng-model="chi" class="chr_form-control">
							<option ng-repeat="n in max_chi_opt">{{n}}</option>
						</select>
					</div>
					<div class="chr_col-md-4 chr_col-xs-4">
						<select style="padding: 6px 6px;" name="pax" ng-model="pax" class="chr_form-control">
						   <option ng-repeat="n in max_pax_opt">{{n}}</option>
						</select>
					</div>
				</div>
			</div>

			<div class="chr_col-lg-2 chr_col-md-2 chr_col-sm-2 chr_col-xs-12">
				<div class="chr_row"> 
		            <div class="chr_col-md-12 chr_col-xs-12 chr_ptop10 chr_text-center">
		                <input type="hidden" ng-model="tm">
						<input type="hidden" ng-model="ty">
						<input type="hidden" name="api" value="">

						<button type="submit" class="chr_btn-book-now chr_btn-change-search chr_btn-book-sm chr_text-uppercase" style="font-size: 14px;">
							Change Search
						</button>
						

						<a href ng-click='havePromoCode = !havePromoCode; utc = ""' class="amend-button chr_btn" style="font-size:80%;">Have Promo Code?</a>
						
						<input ng-show="havePromoCode" name="utc" type='text' ng-model="utc" class="chr_form-control chr_text-uppercase chr_mb6" placeholder="Promo Code" min="1" />
						
					</div>
				</div>
			</div>
	</form>
	<!-- End Sort rate promo list type -->
</div>

<div class="chr_wrapper" ng-show="info.promoListType == 1">
    <div class="chr_fixed-wrapper">

        <div ng-class="(searchShow) ? 'chr_box_search chr_fixed' : 'chr_box_search-auto chr_fixed' ">

			<!-- Sort room type -->
			<div class="chr_col-md-12 chr_col-xs-12 chr_text-center chr_header chr_ptop10" ng-show="info.promoListType == 1">
				<span class="animated fadeInLeft">Change Your Date</span>
			</div>

			<div class="chr_search-form chr_row fadein fadeout chr_non-active-text chr_text-center" ng-hide="searchShow">

				<div class="chr_mb6 chr_col-xs-12">
					<div class="chr_row">
						<div class="chr_mb6 chr_col-xs-6">
							<div class="chr_box">
								<div class="chr_box-icon">
									<i class="fa fa-calendar"></i>&nbsp;
									Check-in
									<br>
									<a href class="chr_form-link" ng-click="searchShow = !searchShow"><span class="chr_size11">{{info.checkin}}</span></a>		
								</div>
							</div>
						</div>
						<div class="chr_mb6 chr_col-xs-6">
							<div class="chr_box">
								<div class="chr_box-icon">
									<i class="fa fa-calendar"></i>&nbsp;
									Check-out
									<br>
									<a href class="chr_form-link" ng-click="searchShow = !searchShow"><span class="chr_size11">{{info.checkout}}</span></a>		
								</div>
							</div>
						</div>
					</div>
						
				</div>


				<div class="chr_mb6 chr_col-xs-12">
					<div class="chr_row">

						<div class="chr_mb6 chr_col-xs-4">
							<div class="chr_box">
								<div class="chr_box-icon">
									<i class="fa fa-moon-o"></i>&nbsp;
									Night{{ plural(info.night) }}
									<br>
									<a href class="chr_form-link" ng-click="searchShow = !searchShow"> <span class="chr_size11">{{info.night}} night{{ plural(info.night) }}</span></a>
								</div>
							</div>
						</div>

						<div class="chr_mb6 chr_col-xs-4">
							<div class="chr_box">
								<div class="chr_box-icon">
									<i class="fa fa-male"></i>&nbsp;
									Guest{{ plural(adu+chi) }}
									<br>
									<a href class="chr_form-link" ng-click="searchShow = !searchShow">
										<span class="chr_size11">{{adu}} Adult{{ plural(adu) }} <span ng-show="chi > 0">+ {{chi}} Child{{ plural(chi) }}</span></span>
									</a>	
								</div>
							</div>
						</div>

						<div class="chr_mb6 chr_col-xs-4">
							<div class="chr_box">
								<div class="chr_box-icon">
									<i class="fa fa-bed"></i>&nbsp;
									Room{{ plural(pax) }}
									<br>
									<a href class="chr_form-link" ng-click="searchShow = !searchShow">
										<span class="chr_size11">{{pax}} Room{{ plural(pax) }}</span>
									</a>	
								</div>
							</div>
						</div>

					</div>	
				</div>


				<div class="chr_mb6 chr_col-xs-12">
					<div class="chr_row">
						<div class="chr_mb6 chr_col-xs-12">
							<div class="chr_box" ng-show="utc == ''">
								<div class="chr_box-icon">
									<i class="fa fa-qrcode"></i>&nbsp;
									<a href class="chr_form-link"  ng-click="searchShow = !searchShow">Have Promo Code?</a>
								</div>
							</div>

							
					    	<div class="chr_box" ng-hide="utc == ''">
								<div class="chr_box-icon">
									<i class="fa fa-qrcode"></i>&nbsp;
									Promo Code
									<br>
									<a ng-hide="utc == ''" href class="chr_form-link" ng-click="searchShow = !searchShow">
										<span class="chr_size11">{{utc}}</span>
									</a>
								</div>
							</div>
									
						</div>
					</div>
				</div>
			</div>

			<form ng-show="searchShow" name="searcForm" ng-submit="addForm()" target="_self" class="form-reserve">
					<div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
						<div class="chr_row">
							<div class="chr_col-md-12 chr_col-xs-12">
								<span class=" chr_size13">Check-in: {{cday}}</span>
							</div>
						</div>
						<div class="chr_row">
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" name="cd" ng-model="fd" class="chr_form-control" ng-change="chrCheckout()">
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>        
								  <option value="5">5</option>
								  <option value="6">6</option>
								  <option value="7">7</option>
								  <option value="8">8</option>
								  <option value="9">9</option>
								  <option value="10">10</option>        
								  <option value="11">11</option>
								  <option value="12">12</option>
								  <option value="13">13</option>
								  <option value="14">14</option>
								  <option value="15">15</option>
								  <option value="16">16</option>        
								  <option value="17">17</option>
								  <option value="18">18</option>
								  <option value="19">19</option>
								  <option value="20">20</option>
								  <option value="21">21</option>
								  <option value="22">22</option>        
								  <option value="23">23</option>
								  <option value="24">24</option>
								  <option value="25">25</option>
								  <option value="26">26</option>
								  <option value="27">27</option>
								  <option value="28">28</option>        
								  <option value="29">29</option>
								  <option value="30">30</option>
								  <option value="31">31</option>
								</select>
							</div>
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" name="cm" ng-model="fm" class="chr_form-control" ng-change="chrCheckout()">
								  <option value="1">Jan</option>
								  <option value="2">Feb</option>        
								  <option value="3">Mar</option>
								  <option value="4">Apr</option>
								  <option value="5">May</option>
								  <option value="6">Jun</option>
								  <option value="7">Jul</option>
								  <option value="8">Aug</option>        
								  <option value="9">Sep</option>
								  <option value="10">Oct</option>
								  <option value="11">Nov</option>
								  <option value="12">Dec</option>
								</select>
							</div>
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" ng-options="ye for ye in yearOpt track by ye" ng-model="fy" class="chr_form-control" ng-change="chrCheckout()">
									<option value="">{{fy}}</option>
								</select>
							</div>
						</div>	
					</div>

					<div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
						<div class="chr_row">
							<div class="chr_col-md-4 chr_col-xs-4">
								Night:&nbsp;
							</div>
							<div class="chr_col-md-8 chr_col-xs-8">
								Check-out: &nbsp;
							</div>
						</div>
						<div class="chr_row">
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" ng-model="nite" name="nite" class="chr_form-control" ng-change="chrCheckout()">
								  <option value="1">1</option>
								  <option value="2">2</option>
								  <option value="3">3</option>
								  <option value="4">4</option>        
								  <option value="5">5</option>
								  <option value="6">6</option>
								  <option value="7">7</option>
								  <option value="8">8</option>
								  <option value="9">9</option>
								  <option value="10">10</option>        
								  <option value="11">11</option>
								  <option value="12">12</option>
								  <option value="13">13</option>
								  <option value="14">14</option>
								  <option value="15">15</option>
								  <option value="16">16</option>        
								  <option value="17">17</option>
								  <option value="18">18</option>
								  <option value="19">19</option>
								  <option value="20">20</option>
								  <option value="21">21</option>
								  <option value="22">22</option>        
								  <option value="23">23</option>
								  <option value="24">24</option>
								  <option value="25">25</option>
								  <option value="26">26</option>
								  <option value="27">27</option>
								  <option value="28">28</option>        
								  <option value="29">29</option>
								  <option value="30">30</option>
								  <option value="31">31</option>
								</select>
							</div>
							<div class="chr_col-md-8 chr_col-xs-8">
								<span id="coday">&nbsp; {{coday}}</span>
					    	</div>
						</div>
					</div>

					<div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
						<div class="chr_row">
							<div class="chr_col-md-4 chr_col-xs-4">
								Adult:
							</div>
							<div class="chr_col-md-4 chr_col-xs-4">
								Child:
							</div>
							<div class="chr_col-md-4 chr_col-xs-4">
								Rooms:
							</div>
						</div>
						<div class="chr_row"> 
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" name="adult" ng-model="adu" class="chr_form-control">
								  <option ng-repeat="n in max_adu_opt">{{n}}</option>
								</select> 
							</div>
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" name="child" ng-model="chi" class="chr_form-control">
								  <option ng-repeat="n in max_chi_opt">{{n}}</option>
								</select>
							</div>
							<div class="chr_col-md-4 chr_col-xs-4">
								<select style="padding: 6px 6px;" name="pax" ng-model="pax" class="chr_form-control">
								  <option ng-repeat="n in max_pax_opt">{{n}}</option>
								</select>
							</div>
						</div>
					</div>

					<!-- <div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
						<div class="chr_row">
							<div class="chr_col-md-12 chr_col-xs-12">
								Promo Code:
							</div>
						</div>
						<div class="chr_row"> 
							<div class="chr_col-md-12 chr_col-xs-12">
								<input id="utc" name="utc" type='text' ng-model="utc" class="chr_form-control" placeholder="Promo Code" min="1" />
							</div>
						</div>
					</div> -->

					<div class="chr_col-sm-12 chr_col-xs-12">
						<div class="chr_row"> 
			                <div class="chr_col-md-12 chr_col-xs-12 chr_text-center chr_mtop10 chr_pb15">
			                    <input type="hidden" ng-model="tm">
								<input type="hidden" ng-model="ty">
								<input type="hidden" name="api" value="">

								<button type="submit" class="chr_btn-book-now chr_btn-chronoz chr_btn-block chr_btn-book-sm chr_text-uppercase">
									Change Search
								</button>
								<!-- <input type="submit" name="availcheck" class="chr_btn chr_btn-book chr_w100" value="Search"> -->

								<a href ng-click='havePromoCode = !havePromoCode; utc = ""' class="amend-button chr_btn" style="font-size:80%;">Have Promo Code?</a>
								<span ng-show="havePromoCode">
									<input name="utc" type='text' ng-model="utc" class="chr_form-control" placeholder="Promo Code" min="1" />
								</span>
							</div>
						</div>
					</div>
			</form>
			<!-- End Sort room type -->

        </div>
    </div>
</div>	

<div class="clearfix"></div>
<script language="JavaScript">
	var $ = jQuery.noConflict();
	var urlnya = window.location.host;
	$('#url').val(urlnya);
	//chrFirstLoad(document.searcForm);
</script>

