<div>
	<div class="chr_row scroll chr_p15">
        <div class="chr_col-md-12">
        	<a class="boxclose" id="boxclose" href ng-click="close()">x</a>
          	<b>General Terms & Condition: </b><br>
          	<p ng-bind-html="product.generalTerms"></p> 
       </div>
    </div>
</div>
