<div class="container-chr mt25 offset-0">
	<div class="chr_col-md-12 ichronoz_pagecontainer2 offset-0">
		<alert type="success" close="closeAlert($index)">
			<p>Thank you for your booking, You will receive an email containing Booking Code . If you do not get an email make sure you also check email spam box , in case of our incoming email into the spam box.</p>
			<p>This page will be redirected to the home page after seconds...</p>
		</alert>
	</div>
</div>
