<div class="container-chr mt25 offset-0">
	<div class="chr_col-md-12 ichronoz_pagecontainer2 offset-0">
		<alert type="success" close="closeAlert($index)">
			<p>
				Thank you for your booking, our staff will taking care of your booking
			</p>
			<p>This page will be redirected to the home page after seconds...</p>
		</alert>
	</div>
</div>
