
      <div class="modal-header">
          <h4 class="bold">Welcome back!</h4>
      </div>
      <div class="modal-body">
          <p>
            Prices and availablity may have changed while you were gone
          </p>
          <p>
			  <button type="button" class="chr_btn chr_btn-primary" ng-click="ok();">
        <i class="fa fa-refresh"></i>  
        Refresh Prices and Availability
        </button>
          </p>
      </div>

    
