<div ng-show="info.promoListType == 0">
	<div ng-repeat="product in products | orderBy:orderByField:reverseSort" ng-show="list.isSet(1)">
		<room-items ng-show="product.pax <= product.rooms"></room-items>
	</div>
</div>
<div ng-show="info.promoListType == 1">
	<div ng-repeat="item in products | groupBy:'[typeName, img, allotment, accType, promoListType]' | toArray:true | orderBy:min track by item.$key" ng-show="list.isSet(1)">
		<!-- Just for promo type sorting list -->
		<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12" ng-show="getValueArray(item.$key, ',', 4) == 1">
			<div class="chr_image">
				<img width="100%" alt="..." ng-src="{{getValueArray(item.$key, ',', 1)}}" class="img-responsive" style="max-height: 350px;">
			</div>
			<div class="chr_mtop20 chr_mb10">
				<span class="chr_size14 chr_text-uppercase">{{ getValueArray(item.$key, ',', 0)}} </span>
				<small class="chr_pleft10">
					<span class="chr_red" ng-if="getValueArray(item.$key, ',', 2) <= 5 && getValueArray(item.$key, ',', 2) > 1">
						{{ getValueArray(item.$key, ',', 2) }} {{ getValueArray(item.$key, ',', 3) }}s left 
					</span>
					<span class="chr_red" ng-if="getValueArray(item.$key, ',', 2) == 1">
						Our last {{getValueArray(item.$key, ',', 3)}}
					</span>
				</small>

			</div>
		</div>
		<!-- Just for promo type sorting list -->

		<div ng-repeat="product in item | orderBy:'rate'">
			<room-items ng-show="product.pax <= product.rooms"></room-items>
			<room-items ng-hide="product.pax <= product.rooms"></room-items>
		</div>
	</div>
</div>

<!-- <div ng-repeat="product in products | orderBy:'-rate'" ng-show="list.isSet(1)">
	<room-items ng-show="product.recomend == 0 && product.rooms < product.pax"></room-items>
</div> -->