<div>
	<a class="boxclose" id="boxclose" href ng-click="close()"><img src="ichronoz/img/close_new.png"></a>
	<div class="chr_row scroll chr_p10">
		<div class="chr_col-lg-6 chr_col-md-6 chr_col-sm-6 chr_col-xs-12 chr_mtop5">
			<div class="">
				<carousel interval="myInterval">
				  <slide ng-repeat="slide in product.gallery">
					<img ng-src="{{slide}}" class="" style="max-height:290px;">
				  </slide>
				</carousel>
			</div>
		</div>
		  
		<div class="chr_col-lg-6 chr_col-md-6 chr_col-sm-6 chr_col-xs-12">
			<div class="chr_row">
				<div class="chr_col-md-12">
					<span class="chr_size12 chr_text-bold">{{product.name}}</span>
				</div>
				<div class="chr_col-md-12 chr_mb10">
					<div class="chr_text-left">
		            	<!-- room night -->
						<div class="chr_ptop10">
							{{product.rooms}} 
							<span ng-show="product.rooms < 2">{{product.accType}}</span>
							<span ng-show="product.rooms >= 2">{{product.accType}}s</span>
							<span> for {{product.bookingDate}} ({{product.night}} Night<span ng-show="product.night > 1">s</span>)</span>
							<br>
							<span class="chr_red"> @avg {{product.cur}}. {{(product.rate*product.rooms)/product.night | currencys:product.cur}}/night</span>&nbsp;
						</div>
						<!-- end room night -->
		            </div>
				</div>
				<div class="chr_col-md-12 chr_mb10">
					<div class="descriptionCustom scroll">
						  <div class="info-board" style="chr_color:#333333">
							<p ng-bind-html="product.typeDesc"></p>  
						  </div>
					</div>
				</div>
			</div>
		</div>

		<div class="chr_col-xs-12">
			<div style="padding-right:20px;padding-left:20px;">
				<div class="rateDetail scroll">
				  	<b>Rate Detail ({{product.cur}})</b>
				  	<table class="chr_table" style="width:auto;padding:20px 0px 10px 0px;">
						<tr>
							<td ng-repeat="rateList in product.allotments">{{rateList.dates}}</td>
							<td>{{product.departure}}</td>
						</tr>
						<tr>
							<td ng-repeat="rateList in product.allotments">
								<!--span class="oldRate">{{rateList.oldRate}}</span><br-->
								<span class="newRate chr_red">{{rateList.rate | currencys:product.cur}}</span>
							</td>
							<td>Departure</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

