<style>
	.popover  {
		top:9px;
	}
	.popover.bottom .arrow:after {
		border-bottom-color: #428BCA;
	}
</style>
	<!-- room type sorting promo list -->
	<section class="widget" ng-show="info.promoListType == 1">
	    <div class="chr_row">
	    	<div class="chr_col-md-8 chr_col-sm-8 chr_col-xs-12 chr_mtop10">
	            <div class="chr_text-left">
	            	<div class="chornoz-chr_label chr_mb6">
		            	<!-- chr_label -->
						<span class="chr_size11 chr_label chr_label-warning" ng-hide="(product.recomend == 1 || product.lastMinuteDeal) || product.specialName != ''"> {{product.promoType}} </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-hide="(product.recomend == 1 || product.lastMinuteDeal) || product.specialName == ''"> {{product.specialName}} </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-show="product.recomend == 1"> Extend Your Stay </span>
						<span class="chr_size11 chr_pleft10 chr_text-italic" ng-show="product.recomend2"> Recommendation </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-show="product.lastMinuteDeal"> Last Minute Deal </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-show="product.availability_limit"> But, Has Limited Availability </span>
						<!-- chr_label -->
					</div>
					<div class="chr_mb6 chr_mtop10">
	                	<span class="chr_size12">{{product.name}}</span>
	                </div>
	                <!-- person, breakfast and discount -->
	                <div class="chr_mb6">
	                	<a popover="{{product.accType}} Occupancy : Max {{product.maxPax}} Pax and extra {{product.maxAdult}} Adults + {{product.maxChild}} Child / {{product.accType}}" popover-trigger="mouseenter" href>			
							<span ng-repeat="n in [] | each:product.maxPax">
								<i class="glyphicon glyphicon-user"></i>
							</span>
						</a> &nbsp;
						<span ng-show="product.breakfast == 1">
							<img src="ichronoz/img/breakfast.png">
							Breakfast
							<span ng-show="product.promoType == 'Full Board ' && product.meals == ''">, Lunch & Dinner </span>
							<span ng-show="product.promoType == 'Half Board ' && product.meals == 0"> & Lunch</span>
							<span ng-show="product.promoType == 'Half Board ' && product.meals == 1"> & Dinner</span> Included, 
						</span>

						<span ng-show="product.oldRate > product.rate" class="ptop5 chr_text-center">
	                    	{{getPersen(product.oldRate, product.rate)}}% 
							Discount
	                    </span>

						<span class="blue" ng-show="product.lastMinuteDeal"><a popover="Last minute deal off published rate if you book now" popover-trigger="mouseenter" href><i class="fa fa-question-circle"></i></a></span>
						&nbsp;
	                </div> 
	                <!-- end person, breakfast and discount -->

	                <div class="chr_detail-link">
	                <!-- link -->
	                	<a href ng-click="showCustom(product, product.lastMinuteDeal)">
							{{product.accType}} & Rate Detail
						</a> |
						<a href ng-click="showTerm(product)">
							Term & Condition
						</a>
	                <!-- akhir link -->
	                </div>
	            </div>
	        </div>

	    	<div class="chr_col-md-4 chr_col-sm-4 chr_col-xs-12 bg-price chr_brtr chr_brbr chr_hidden-xs chr_text-right">
            	<!-- normal view -->
                <div ng-show="product.oldRate > product.rate">
					<span class="chr_old-price" >{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
						<span ng-show="product.taxIncluded == 0">++</span>
						<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
					</span>	
				</div>
				<div class="chr_mb10">
					<span class="chr_size14">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
						<span ng-show="product.taxIncluded == 0">++</span>
						<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
					</span>
					<!-- converter -->
					<br>
					<span class="chr_text-right chr_ptop20 chr_detail-link">
						<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter">
							Currency Converter
						</a>
					</span>
					<!-- end converter -->
				</div>	
				<div>
					<input type="submit" ui-sref="reserve({id:products.indexOf(product)})" name="book" class="chr_btn chr_btn-book chr_btn-book-md text-uppercase"  value="Book Now">
				</div>
				<!-- normal view -->
	        </div>

	        <div class="chr_col-xs-12 chr_mb10">
	            <div class="chr_text-left">
	            	<!-- room night -->
					<div class="chr_ptop10">
						{{product.rooms}} 
						<span ng-show="product.rooms < 2">{{product.accType}}</span>
						<span ng-show="product.rooms >= 2">{{product.accType}}s</span>
						<span> for {{product.bookingDate}} ({{product.night}} Night<span ng-show="product.night > 1">s</span>)</span>
						<span> @avg {{product.cur}}. {{(product.rate*product.rooms)/product.night | currencys:product.cur}}/night</span>&nbsp;
					</div>
					<!-- end room night -->
	            </div>
	        </div>

	        <!-- product detail -->
			<div class="chr_col-md-12 chr_col-sm-12 chr_col-xs-12">
				<span class="chr_detail-link">
					<a href ng-click="isShowDetail = !isShowDetail">
						Promo Detail &nbsp <i class="fa fa-chevron-right"></i>
					</a>
				</span>
				<div ng-show="!isShowDetail" id="replyForm" class="fadein fadeout chr_p10">
					<span ng-bind-html="product.desc">
					</span>
					<span class="" ng-show="product.surchargeDescription != ''" ng-bind-html="product.surchargeDescription" style="padding-top:10px;"></span>
					<span class="" ng-show="product.specialDescription != ''" ng-bind-html="product.specialDescription" style="padding-top:10px;"></span>
				</div>
				<hr class="chr_visible-lg chr_visible-md chr_visible-sm">
			</div>
			<!-- end product detail -->
			<div class="chr_clearfix"></div>
			<!-- price section for small layout -->
			<div class="chr_col-md-12 chr_hidden-lg chr_hidden-md chr_hidden-sm">
				<div class="chr_text-right pb15">
					<div ng-show="product.oldRate > product.rate">
						<span class="chr_old-price" >{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
							<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
						</span>	
					</div>
					<div class="chr_mb20">
						<span class="chr_size14">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
							<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
						</span>
						<!-- converter -->
						<br>
						<span class="chr_text-right chr_ptop20 chr_detail-link">
							<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter">
								Currency Converter
							</a>
						</span>
						<!-- end converter -->
					</div>	
					<div>
						<input type="submit" ui-sref="reserve({id:products.indexOf(product)})" name="book" class="chr_btn chr_btn-book chr_btn-book-sm"  value="Book Now">
					</div>
				</div>	
			</div>
			<!-- end price section for small layout -->

	    </div>

		<!-- <div class="chr_col-md-4 chr_col-sm-4 chr_col-xs-12 pb15">
			<div class="chr_row chr_text-right">
				<div class="chr_col-xs-12">
					<input type="submit" ui-sref="reserve({id:products.indexOf(product)})" name="book" class="chr_btn chr_btn-book"  value="Book Now">
				</div>
			</div>
		</div> -->
		<!-- <div class="chr_col-md-4 chr_col-sm-4 chr_col-xs-12 product-desc">
			<p ng-bind-html="product.typeDesc"></p>
		</div> -->
	</section>

	<!-- rate sorting promo list -->
	<section class="widget" ng-hide="info.promoListType == 1">
	    <div class="chr_row">
	    	<div class="chr_col-md-3 chr_col-sm-3 chr_col-xs-12">
	    		<div class="image">
					<a data-lightbox="products" href ng-click="showCustom(product, product.lastMinuteDeal)" >
						<img width="100%" height="100%" alt="..." ng-src="{{product.img}}" class="img-responsive">
					</a>
				</div>
	    	</div>
	    	<div class="chr_col-md-6 chr_col-sm-6 chr_col-xs-12 chr_mtop6">
	            <div class="chr_text-left">
	            	<div class="chornoz-chr_label">
		            	<!-- chr_label -->
						<span class="chr_size11 chr_label chr_label-warning" ng-hide="(product.recomend == 1 || product.lastMinuteDeal) || product.specialName != ''"> {{product.promoType}} </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-hide="(product.recomend == 1 || product.lastMinuteDeal) || product.specialName == ''"> {{product.specialName}} </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-show="product.recomend == 1"> Extend Your Stay </span>
						<span class="chr_size11 chr_pleft10 chr_text-italic" ng-show="product.recomend2"> Recommendation </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-show="product.lastMinuteDeal"> Last Minute Deal </span>
						<span class="chr_size11 chr_label chr_label-warning" ng-show="product.availability_limit"> But, Has Limited Availability </span>
						<!-- chr_label -->
					</div>
					<div class="chr_mtop10 chr_mb6">
						<span class="chr_size14">{{product.name}}</span>
						 - 
						<span class="chr_size12">{{product.typeName}} </span>
	                </div>

	                
	                <!-- person, breakfast and discount -->
	                <div class="chr_mb6">
	                	<a popover="{{product.accType}} Occupancy : Max {{product.maxPax}} Pax and extra {{product.maxAdult}} Adults + {{product.maxChild}} Child / {{product.accType}}" popover-trigger="mouseenter" href>			
							<span ng-repeat="n in [] | each:product.maxPax">
								<i class="glyphicon glyphicon-user"></i>
							</span>
						</a> &nbsp;
						<span ng-show="product.breakfast == 1">
							<img src="ichronoz/img/breakfast.png">
							Breakfast
							<span ng-show="product.promoType == 'Full Board ' && product.meals == ''">, Lunch & Dinner </span>
							<span ng-show="product.promoType == 'Half Board ' && product.meals == 0"> & Lunch</span>
							<span ng-show="product.promoType == 'Half Board ' && product.meals == 1"> & Dinner</span> Included, 
						</span>

						<span ng-show="product.oldRate > product.rate" class="ptop5 chr_text-center">
	                    	{{getPersen(product.oldRate, product.rate)}}% 
							Discount
	                    </span>
	                    <span class="chr_red" ng-if="product.allotment <= 5 && product.allotment > 1">
							{{product.allotment}} {{product.accType}}s left 
						</span>
						<span class="chr_red" ng-if="product.allotment == 1">
							Our last {{product.accType}}
						</span>
						<span class="blue" ng-show="product.lastMinuteDeal"><a popover="Last minute deal off published rate if you book now" popover-trigger="mouseenter" href><i class="fa fa-question-circle"></i></a></span>
						&nbsp;
	                </div> 
	                <!-- end person, breakfast and discount -->

	                <div class="chr_mb6 chr_detail-link">
	                <!-- link -->
	                	<a href ng-click="showCustom(product, product.lastMinuteDeal)">
							{{product.accType}} and Rate Detail
						</a> |
						<a href ng-click="showTerm(product)">
							Term & Condition
						</a>
	                <!-- akhir link -->
	                </div>
	            </div>
	            <div class="chr_text-left">
	            	<!-- room night -->
					<div class="chr_ptop10">
						{{product.rooms}} 
						<span ng-show="product.rooms < 2">{{product.accType}}</span>
						<span ng-show="product.rooms >= 2">{{product.accType}}s</span>
						<span> for {{product.bookingDate}} ({{product.night}} Night<span ng-show="product.night > 1">s</span>)</span>
						<span> @avg {{product.cur}}. {{(product.rate*product.rooms)/product.night | currencys:product.cur}}/night</span>&nbsp;
					</div>
					<!-- end room night -->
	            </div>
	            <!-- product detail -->
	            <!-- <span class="detail-link">
					<a href ng-click="isShowDetail = !isShowDetail">
						Promo Detail &nbsp <i class="fa fa-chevron-right"></i>
					</a>
				</span> -->
				<div id="replyForm" class="fadein fadeout chr_mtop10">
					<span ng-bind-html="product.desc">
					</span>
					<span class="text-bold" ng-show="product.surchargeDescription != ''" ng-bind-html="product.surchargeDescription" style="padding-top:10px;"></span>
				</div>
				<!-- product detail -->
	        </div>

	    	<div class="chr_col-md-3 chr_col-sm-3 chr_col-xs-12 bg-price chr_brtr chr_brbr chr_hidden-xs chr_text-right">
            	<!-- normal view -->
                <div ng-show="product.oldRate > product.rate">
					<span class="chr_old-price" >{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
						<span ng-show="product.taxIncluded == 0">++</span>
						<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
					</span>	
				</div>
				<div class="chr_mb20">
					<span class="chr_size14">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
						<span ng-show="product.taxIncluded == 0">++</span>
						<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
					</span>
					<!-- converter -->
					<br>
					<span class="chr_text-right chr_ptop20 chr_detail-link">
						<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter">
							Currency Converter
						</a>
					</span>
					<!-- end converter -->
				</div>	
				<div>
					<input type="submit" ui-sref="reserve({id:products.indexOf(product)})" name="book" class="chr_btn chr_btn-book chr_btn-book-md text-uppercase"  value="Book Now">
				</div>
				<!-- normal view -->
			</div>

	        <div class="chr_col-xs-12">
	            <hr class="chr_visible-lg chr_visible-md chr_visible-sm">
	        </div>

			<div class="chr_clearfix"></div>
			<!-- price section for small layout -->
			<div class="chr_col-md-12 chr_hidden-lg chr_hidden-md chr_hidden-sm">
				<div class="chr_text-right pb15">
					<div ng-show="product.oldRate > product.rate">
						<span class="chr_old-price" >{{product.cur}} {{product.oldRate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
							<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
						</span>	
					</div>
					<div class="chr_mb20">
						<span class="chr_size14">{{product.cur}}  {{product.rate*product.rooms | currencys:product.cur}} 
							<span ng-show="product.taxIncluded == 0">++</span>
							<!-- <span ng-hide="product.taxIncluded == 0">Nett</span> -->
						</span>
						<!-- converter -->
						<br>
						<span class="chr_text-right chr_ptop20 chr_detail-link">
							<a href ng-click="currencyConverter(product)" popover="Check total cost in your local currency" popover-trigger="mouseenter">
								Currency Converter
							</a>
						</span>
						<!-- end converter -->
					</div>	
					<div>
						<input type="submit" ui-sref="reserve({id:products.indexOf(product)})" name="book" class="chr_btn chr_btn-book chr_btn-book-sm"  value="Book Now">
					</div>
				</div>	
			</div>
			<!-- end price section for small layout -->

	    </div>
	</section>
	<!-- rate sorting promo list -->

	<hr class="chr_visible-sm chr_visible-xs">


					
		
