<div ng-hide="info.promoListType == 1">
    <!-- Sort rate promo list type -->
    <div class="chr_col-md-12 chr_col-xs-12 chr_text-center chr_header chr_ptop10" ng-show="info.promoListType == 1">
        <span class="animated fadeInLeft">Change Your Date</span>
    </div>
    <form name="searcForm" ng-submit="addForm()" target="_self" class="form-reserve">
        <div class="chr_col-lg-4 chr_col-md-4 chr_col-sm-4 chr_col-xs-12">
            <div class="chr_row">
                <div class="chr_col-md-12 chr_col-xs-12">
                    <span class="opensans chr_size13"><b>Check-in: {{cday}}</b></span>
                </div>
            </div>
            <div class="chr_row">
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" name="cd" ng-model="fd" class="chr_form-control" ng-change="chrCheckout()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" name="cm" ng-model="fm" class="chr_form-control" ng-change="chrCheckout()">
                        <option value="1">Jan</option>
                        <option value="2">Feb</option>
                        <option value="3">Mar</option>
                        <option value="4">Apr</option>
                        <option value="5">May</option>
                        <option value="6">Jun</option>
                        <option value="7">Jul</option>
                        <option value="8">Aug</option>
                        <option value="9">Sep</option>
                        <option value="10">Oct</option>
                        <option value="11">Nov</option>
                        <option value="12">Dec</option>
                    </select>
                </div>
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" ng-options="ye for ye in yearOpt track by ye" ng-model="fy" class="chr_form-control" ng-change="chrCheckout()">
                        <option value="">{{fy}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="chr_col-lg-3 chr_col-md-3 chr_col-sm-3 chr_col-xs-12">
            <div class="chr_row">
                <div class="chr_col-md-4 chr_col-xs-4">
                    Night:&nbsp;
                </div>
                <div class="chr_col-md-8 chr_col-xs-8">
                    Check-out: &nbsp;
                </div>
            </div>
            <div class="chr_row">
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" ng-model="nite" name="nite" class="chr_form-control" ng-change="chrCheckout()">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                        <option value="13">13</option>
                        <option value="14">14</option>
                        <option value="15">15</option>
                        <option value="16">16</option>
                        <option value="17">17</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>
                        <option value="22">22</option>
                        <option value="23">23</option>
                        <option value="24">24</option>
                        <option value="25">25</option>
                        <option value="26">26</option>
                        <option value="27">27</option>
                        <option value="28">28</option>
                        <option value="29">29</option>
                        <option value="30">30</option>
                        <option value="31">31</option>
                    </select>
                </div>
                <div class="chr_col-md-8 chr_col-xs-8">
                    <span id="coday">&nbsp; {{coday}}</span>
                </div>
            </div>
        </div>
        <div class="chr_col-lg-3 chr_col-md-3 chr_col-sm-3 chr_col-xs-12">
            <div class="chr_row">
                <div class="chr_col-md-4 chr_col-xs-4">
                    Adult
                </div>
                <div class="chr_col-md-4 chr_col-xs-4">
                    Child
                </div>
                <div class="chr_col-md-4 chr_col-xs-4">
                    Rooms:
                </div>
            </div>
            <div class="chr_row">
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" name="adult" ng-model="adu" class="chr_form-control">
                        <option ng-repeat="n in max_adu_opt">{{n}}</option>
                    </select>
                </div>
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" name="child" ng-model="chi" class="chr_form-control">
                        <option ng-repeat="n in max_chi_opt">{{n}}</option>
                    </select>
                </div>
                <div class="chr_col-md-4 chr_col-xs-4">
                    <select style="padding: 6px 6px;" name="pax" ng-model="pax" class="chr_form-control">
                        <option ng-repeat="n in max_pax_opt">{{n}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="chr_col-lg-2 chr_col-md-2 chr_col-sm-2 chr_col-xs-12">
            <div class="chr_row">
                <div class="chr_col-md-12 chr_col-xs-12 chr_ptop10 chr_text-center">
                    <input type="hidden" ng-model="tm">
                    <input type="hidden" ng-model="ty">
                    <input type="hidden" name="api" value="">
                    <input type="submit" name="availcheck" class="chr_btn chr_btn-book chr_w100" value="Search">
                    <a href ng-click='havePromoCode = !havePromoCode; utc = ""' class="amend-button chr_btn" style="font-size:80%;">Have Promo Code?</a>
                    <span ng-show="havePromoCode">
                    <input name="utc" type='text' ng-model="utc" class="chr_form-control" placeholder="Promo Code" min="1" />
                    </span>
                </div>
            </div>
        </div>
    </form>
    <!-- End Sort rate promo list type -->
</div>
<div class="chr_wrapper_" ng-show="info.promoListType == 1">
    <div class="chr_fixed-wrapper_">
        <div class="chr_fixed_ chr_box_search">
            <!-- Sort room type -->
            <div class="chr_col-md-12 chr_col-xs-12 chr_text-center chr_header chr_ptop10" ng-show="info.promoListType == 1">
                <span class="animated fadeInLeft">Change Your Date</span>
            </div>
            <form name="searcForm" ng-submit="addForm()" target="_self" class="form-reserve">
                <div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
                    <div class="chr_row">
                        <div class="chr_col-md-12 chr_col-xs-12">
                            <span class=" chr_size13">Check-in: {{cday}}</span>
                        </div>
                    </div>
                    <div class="chr_row">
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" name="cd" ng-model="fd" class="chr_form-control" ng-change="chrCheckout()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" name="cm" ng-model="fm" class="chr_form-control" ng-change="chrCheckout()">
                                <option value="1">Jan</option>
                                <option value="2">Feb</option>
                                <option value="3">Mar</option>
                                <option value="4">Apr</option>
                                <option value="5">May</option>
                                <option value="6">Jun</option>
                                <option value="7">Jul</option>
                                <option value="8">Aug</option>
                                <option value="9">Sep</option>
                                <option value="10">Oct</option>
                                <option value="11">Nov</option>
                                <option value="12">Dec</option>
                            </select>
                        </div>
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" ng-options="ye for ye in yearOpt track by ye" ng-model="fy" class="chr_form-control" ng-change="chrCheckout()">
                                <option value="">{{fy}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
                    <div class="chr_row">
                        <div class="chr_col-md-4 chr_col-xs-4">
                            Night:&nbsp;
                        </div>
                        <div class="chr_col-md-8 chr_col-xs-8">
                            Check-out: &nbsp;
                        </div>
                    </div>
                    <div class="chr_row">
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" ng-model="nite" name="nite" class="chr_form-control" ng-change="chrCheckout()">
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                                <option value="6">6</option>
                                <option value="7">7</option>
                                <option value="8">8</option>
                                <option value="9">9</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                                <option value="13">13</option>
                                <option value="14">14</option>
                                <option value="15">15</option>
                                <option value="16">16</option>
                                <option value="17">17</option>
                                <option value="18">18</option>
                                <option value="19">19</option>
                                <option value="20">20</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                                <option value="30">30</option>
                                <option value="31">31</option>
                            </select>
                        </div>
                        <div class="chr_col-md-8 chr_col-xs-8">
                            <span id="coday">&nbsp; {{coday}}</span>
                        </div>
                    </div>
                </div>
                <div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
                    <div class="chr_row">
                        <div class="chr_col-md-4 chr_col-xs-4">
                            Adult:
                        </div>
                        <div class="chr_col-md-4 chr_col-xs-4">
                            Child:
                        </div>
                        <div class="chr_col-md-4 chr_col-xs-4">
                            Rooms:
                        </div>
                    </div>
                    <div class="chr_row">
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" name="adult" ng-model="adu" class="chr_form-control">
                                <option ng-repeat="n in max_adu_opt">{{n}}</option>
                            </select>
                        </div>
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" name="child" ng-model="chi" class="chr_form-control">
                                <option ng-repeat="n in max_chi_opt">{{n}}</option>
                            </select>
                        </div>
                        <div class="chr_col-md-4 chr_col-xs-4">
                            <select style="padding: 6px 6px;" name="pax" ng-model="pax" class="chr_form-control">
                                <option ng-repeat="n in max_pax_opt">{{n}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <!-- <div class="chr_col-sm-12 chr_col-xs-12 chr_mb6">
                    <div class="chr_row">
                    	<div class="chr_col-md-12 chr_col-xs-12">
                    		Promo Code:
                    	</div>
                    </div>
                    <div class="chr_row"> 
                    	<div class="chr_col-md-12 chr_col-xs-12">
                    		<input id="utc" name="utc" type='text' ng-model="utc" class="chr_form-control" placeholder="Promo Code" min="1" />
                    	</div>
                    </div>
                    </div> -->
                <div class="chr_col-sm-12 chr_col-xs-12">
                    <div class="chr_row">
                        <div class="chr_col-md-12 chr_col-xs-12 chr_text-center chr_mtop10 chr_pb15">
                            <input type="hidden" ng-model="tm">
                            <input type="hidden" ng-model="ty">
                            <input type="hidden" name="api" value="">
                            <input type="submit" name="availcheck" class="chr_btn chr_btn-book chr_w100" value="Search">
                            <a href ng-click='havePromoCode = !havePromoCode; utc = ""' class="amend-button chr_btn" style="font-size:80%;">Have Promo Code?</a>
                            <span ng-show="havePromoCode">
                            <input name="utc" type='text' ng-model="utc" class="chr_form-control" placeholder="Promo Code" min="1" />
                            </span>
                        </div>
                    </div>
                </div>
            </form>
            <!-- End Sort room type -->
        </div>
    </div>
</div>

<div class="clearfix"></div>

<script language="JavaScript">
    var $ = jQuery.noConflict();
    var urlnya = window.location.host;
    $('#url').val(urlnya);
</script>