
      <div class="modal-header">
          <h4 class="bold">Sorry but your session has expired...</h4>
      </div>
      <div class="modal-body">
          <p>
            You can return to room listing page by clicking on search room button.
          </p>
          <p>
			  <button type="button" class="chr_btn chr_btn-primary" ng-click="ok();">Search Room</button>
          </p>
      </div>

    
