.lumonata_menu ul li.spa{ background-image:url('../images/ico-spa.png'); }
.lumonata_menu ul li.rooms{ background-image:url('../images/ico-rooms.png'); }
.lumonata_menu ul li.awards{ background-image:url('../images/ico-awards.png'); }
.lumonata_menu ul li.offers{ background-image:url('../images/ico-offers.png'); }
.lumonata_menu ul li.reviews{ background-image:url('../images/ico-reviews.png'); }
.lumonata_menu ul li.gallery{ background-image:url('../images/ico-gallery.png'); }
.lumonata_menu ul li.services{ background-image:url('../images/ico-services.png'); }
.lumonata_menu ul li.locations{ background-image:url('../images/ico-locations.png'); }
.lumonata_menu ul li.restaurant{ background-image:url('../images/ico-restaurant.png'); }
.lumonata_menu ul li.activities{ background-image:url('../images/ico-activities.png'); }