.boxs-wrapp .boxs{ padding:5px; border:0; background:#FFFFFF; }
.boxs-wrapp .boxs:last-child{ border-bottom:0; }
.boxs-wrapp .boxs label{ margin-right:20px; padding-top:0; }
.boxs-wrapp .boxs select{ background:#FFFFFF; }
.boxs-wrapp .boxs textarea.textbox{ height:100px !important; }
.boxs-wrapp .boxs .note{ margin-left:130px; margin-top:10px; }
.boxs-wrapp .boxs .note-2{ margin-left:147px; }
.boxs-wrapp .boxs .map{ height:400px; width:100%; }

.additional-featured-img .slider{ padding:10px; }
.additional-featured-img .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.additional-featured-img .featured-img{margin-bottom:20px;}
.additional-featured-img .featured-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.additional-featured-img .featured-img img{width:auto; max-width:100%;}
.additional-featured-img .featured-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.additional-featured-img .featured-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.additional-featured-img .featured-img .box:hover .overlay{opacity:1;}

.additional-hero-img .slider{ padding:10px; }
.additional-hero-img .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.additional-hero-img .hero-img{margin-bottom:20px;}
.additional-hero-img .hero-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.additional-hero-img .hero-img img{width:auto; max-width:100%;}
.additional-hero-img .hero-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.additional-hero-img .hero-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.additional-hero-img .hero-img .box:hover .overlay{opacity:1;}

.additional-masking-img .slider{ padding:10px; float:left; width:25%; }
.additional-masking-img .slider h4{ font-size:12px; font-weight:400; margin-top:0; }
.additional-masking-img .slider span{ display:block; color:red; margin-top:5px; }
.additional-masking-img h3{ font-size:12px; font-weight:400; margin-top:0; padding:10px; }
.additional-masking-img .masking-img{margin-bottom:20px;}
.additional-masking-img .masking-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.additional-masking-img .masking-img img{width:auto; max-width:100%;}
.additional-masking-img .masking-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.additional-masking-img .masking-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.additional-masking-img .masking-img .box:hover .overlay{opacity:1;}

.additional-rooms-img .slider{ padding:10px; float:left; width:25%; }
.additional-rooms-img .slider span{ display:block; color:red; margin-top:5px; }
.additional-rooms-img h3{ font-size:12px; font-weight:400; margin-top:0; padding:10px; }
.additional-rooms-img .rooms-img{margin-bottom:20px;}
.additional-rooms-img .rooms-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.additional-rooms-img .rooms-img img{width:auto; max-width:100%;}
.additional-rooms-img .rooms-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.additional-rooms-img .rooms-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.additional-rooms-img .rooms-img .box:hover .overlay{opacity:1;}

.additional-gallery-data .dropzone.dz-drag-hover{ background-color:#E8AEB6; border-style:none; }
.additional-gallery-data .dropzone{ border:none; background-color:#f5f5f5; padding:5px; }
.additional-gallery-data .dropzone .dz-preview{ border:1px solid #DDDDDD; margin:5px; }
.additional-gallery-data .dropzone .dz-preview .dz-image{ float:left; border-radius:0; margin:5px; }
.additional-gallery-data .dropzone .dz-preview .dz-image img{ width:100%; }
.additional-gallery-data .dropzone .dz-detail-box{ float:left; }
.additional-gallery-data .dropzone .dz-preview .dz-details{ width:130px; min-width:130px; height:130px; }
.additional-gallery-data .dropzone .dz-preview .dz-detail-box{ display:none; }
.additional-gallery-data .dropzone .dz-preview.opened{ width:100%; }
.additional-gallery-data .dropzone .dz-preview.opened .dz-detail-box{ display:block; }
.additional-gallery-data .dropzone .dz-preview .dz-detail-box fieldset{ border:none; }
.additional-gallery-data .dropzone .dz-preview .dz-edit,
.additional-gallery-data .dropzone .dz-preview .dz-delete{ margin:25px 5px; display:inline-block; cursor:pointer; }
.additional-gallery-data .dropzone .dz-preview.dz-file-preview .dz-image{ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
.additional-gallery-data .dropzone .dz-preview.ui-sortable-placeholder{ background-color:#E8AEB6; visibility:visible !important; height:130px; }
.additional-gallery-data .block-gallery{ padding:5px; }
.additional-gallery-data .note{ margin:0 5px; }

.additional-hero-data .dropzone.dz-drag-hover{ background-color:#E8AEB6; border-style:none; }
.additional-hero-data .dropzone{ border:none; background-color:#f5f5f5; padding:5px; }
.additional-hero-data .dropzone .dz-preview{ border:1px solid #DDDDDD; margin:5px; }
.additional-hero-data .dropzone .dz-preview .dz-image{ float:left; border-radius:0; margin:5px; }
.additional-hero-data .dropzone .dz-preview .dz-image img{ width:100%; }
.additional-hero-data .dropzone .dz-detail-box{ float:left; }
.additional-hero-data .dropzone .dz-preview .dz-details{ width:130px; min-width:130px; height:130px; }
.additional-hero-data .dropzone .dz-preview .dz-detail-box{ display:none; }
.additional-hero-data .dropzone .dz-preview.opened{ width:100%; }
.additional-hero-data .dropzone .dz-preview.opened .dz-detail-box{ display:block; }
.additional-hero-data .dropzone .dz-preview .dz-detail-box fieldset{ border:none; }
.additional-hero-data .dropzone .dz-preview .dz-edit,
.additional-hero-data .dropzone .dz-preview .dz-delete{ margin:25px 5px; display:inline-block; cursor:pointer; }
.additional-hero-data .dropzone .dz-preview.dz-file-preview .dz-image{ -webkit-border-radius:0; -moz-border-radius:0; border-radius:0; }
.additional-hero-data .dropzone .dz-preview.ui-sortable-placeholder{ background-color:#E8AEB6; visibility:visible !important; height:130px; }
.additional-hero-data .block-hero{ padding:5px; }
.additional-hero-data .note{ margin:0 5px; }

.additional-iconpicker .btn-group{ border:1px solid #BBBBBB; }
.additional-iconpicker .btn-group .btn{ font-size:12px; }
.additional-iconpicker .btn-group .btn i{ margin-left:7px; }
.additional-iconpicker .btn-group .btn:focus{ box-shadow:none; }
.additional-iconpicker .iconpicker-container{ margin-top:5px; border-radius:0; border-color:#BBBBBB; }
.additional-iconpicker .iconpicker-search{ border-radius:0; border-color:#BBBBBB; font-size:12px; height:auto; padding:7px; }
.additional-iconpicker .iconpicker-search:focus{ box-shadow:none; }
.additional-iconpicker .iconpicker-popover.popover .popover-title{ border-color:#BBBBBB; }
.additional-iconpicker .iconpicker .iconpicker-item{ border-radius:0; box-shadow:0 0 0 1px #BBBBBB; }
.additional-iconpicker .lead{ margin:10px 0 0; border:1px solid #BBBBBB; padding:5px; float:left; }
.additional-iconpicker .lead i{ color:#C8B178; }
.additional-iconpicker .form-check-label{ padding-bottom:10px; }
.additional-iconpicker .form-check-input{ margin-top:2px; }
.additional-iconpicker .icon-default{ list-style:none; margin:0 0 15px; padding:0; }
.additional-iconpicker .icon-default li{ display:inline-block; position:relative; width:50px; height:50px; margin-right:10px; margin-bottom:10px; }
.additional-iconpicker .icon-default li input{ position:absolute; top:0; left:0; bottom:0; right:0; width:50px; height:50px; opacity:0; z-index:1; cursor:pointer; }
.additional-iconpicker .icon-default li img{ width:100%; height:100%; object-fit:contain; border:1px solid #BBBBBB; padding:5px; }
.additional-iconpicker .icon-default li input:checked + img,
.additional-iconpicker input:checked + .lead{ border-color:red; }

.additional-select-wrapp .multiple{ width:100%; }
.additional-select-wrapp .single{ width:200px; }

.additional-reviews .rating{ border:none; float:left; }
.additional-reviews .rating > input{ display:none; } 
.additional-reviews .rating > label:before{ 
  content:'\f005';
	  font-family:FontAwesome;
	  display:inline-block;
	  font-size:30px;
	  margin:5px;}
.additional-reviews .rating > .half:before{ content:'\f089'; position:absolute; }
.additional-reviews .rating > label{ color:#BBBBBB; float:right; margin:0; padding:0 }
.additional-reviews .rating > input:checked ~ label,
.additional-reviews .rating:not(:checked) > label:hover,
.additional-reviews .rating:not(:checked) > label:hover ~ label{ color:#FFD700;  }

.additional-reviews .rating > input:checked + label:hover,
.additional-reviews .rating > input:checked ~ label:hover,
.additional-reviews .rating > label:hover ~ input:checked ~ label,
.additional-reviews .rating > input:checked ~ label:hover ~ label{ color:#FFED85;  } 

.apps-setting-wrapp .message{ display:block; padding:10px; margin:0 20px 5px; }
.apps-setting-wrapp .message p{ margin:0; line-height:1.38; }
.apps-setting-wrapp .error{ background-color:#FFBABA; border:1px solid #D8000C; color:#D8000C; }
.apps-setting-wrapp .success{ background-color:#DFF2BF; border:1px solid #4F8A10; color:#4F8A10; }

.rule-additional-featured-img .slider{ padding:10px; background-color:#f5f5f5; border:1px solid #bbbbbb; }
.rule-additional-featured-img .slider h3{font-size:12px; font-weight:400; margin-top:0;}
.rule-additional-featured-img .featured-img{margin-bottom:20px;}
.rule-additional-featured-img .featured-img .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:auto; max-width:300px; position:relative; text-align:center;}
.rule-additional-featured-img .featured-img img{width:auto; max-width:100%;}
.rule-additional-featured-img .featured-img .overlay{ cursor:pointer; opacity:0; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.rule-additional-featured-img .featured-img .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.rule-additional-featured-img .featured-img .box:hover .overlay{opacity:1;}

.post-additional-data-wrapp .new-field-box{  }
.post-additional-data-wrapp .field{ float:left; margin-right:10px; width:200px !important; }
.post-additional-data-wrapp .add-new-field{ cursor:pointer; padding:0 15px; text-decoration:underline; }
.post-additional-data-wrapp .chosen-container,
.post-additional-data-wrapp .chosen-container-single .chosen-single{ height:32px; }
.post-additional-data-wrapp .chosen-container-single .chosen-single{ line-height:30px; }
.post-additional-data-wrapp .chosen-container-single .chosen-single div b{ background-position:0 6px; }
.post-additional-data-wrapp .new-field-list ol{ list-style:none; padding:0; margin:10px 0 0; }
.post-additional-data-wrapp .new-field-list li{ padding:0; position:relative; border:1px solid #bbbbbb !important; margin-bottom:10px; }
.post-additional-data-wrapp .new-field-list li:last-child{ margin-bottom:0; }
.post-additional-data-wrapp .new-field-list li.placeholder{ background-color:#E8AEB6; border-color:#E8AEB6; }
.post-additional-data-wrapp .new-field-list li .inner{ padding:10px; }
.post-additional-data-wrapp .new-field-list li .inner span{ margin-bottom:7px; display:block; }
.post-additional-data-wrapp .new-field-list li .inner .textbox{ margin-bottom:7px; }
.post-additional-data-wrapp .new-field-list li .inner .textarea{ margin-bottom:7px; }
.post-additional-data-wrapp .new-field-list li p{ background:#f5f5f5; margin:0; height:30px; line-height:30px; padding:0 15px; border-bottom:1px solid #bbbbbb; }
.post-additional-data-wrapp .new-field-list .delete-field{ position:absolute; top:3px; right:3px; background-color:#333; cursor:pointer; }
.post-additional-data-wrapp .new-field-list .delete-field img{ padding:5px; width:24px; }