<!-- BEGIN additional-block -->

<input type="hidden" name="action_type" value="{action_type}">
<input type="hidden" name="app_name" value="{app_name}">
<input type="hidden" name="site_url" value="{site_url}">
<input type="hidden" name="index" value="{i}">

<fieldset>
    <div class="additional_data">
        <h2>Subtitle</h2>
        <div class="additional_content">
            <div class="boxs-wrapp">
                <div class="boxs">
                    <p>Input your subtitle text for this page : </p>
                    <input type="text" class="textbox" name="additional_fields[subtitle][{i}]" value="{subtitle}">
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="additional_data">
        <h2>Brief Text</h2>
        <div class="additional_content">
            <div class="boxs-wrapp">
                <div class="boxs">
                    <p>Input your brief text for this page : </p>
                    <textarea class="textbox area" name="additional_fields[brief][{i}]">{brief}</textarea>
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="additional_data">
        <h2>Booking Link</h2>
        <div class="additional_content">
            <div class="boxs-wrapp">
                <div class="boxs">
                    <p>*if empty, system will direct to detail page</p>
                    <input type="text" class="textbox" name="additional_fields[booking_link_add][{i}]" value="{booking_link_add}">
                </div>
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="additional_data">
        <h2>Featured Image</h2>
        <div class="additional_content additional-featured-img">
            <div class="slider">
                <h3>Select an image file on your computer (2MB max):</h3>
                <div class="featured-img clearfixed">{featured_img}</div>
                <input type="file" name="featured_img" autocomplete="off" />
            </div>
            <div class="slider">
            	<p>Image Title</p>
            	<input type="text" class="textbox" name="additional_fields[featured_img_title][{i}]" value="{featured_img_title}">
            </div>
            <div class="slider">
            	<p>Image Alternate Text</p>
            	<input type="text" class="textbox" name="additional_fields[featured_img_alt][{i}]" value="{featured_img_alt}">
            </div>
            <div class="slider">
            	<p>Image Copyright</p>
            	<input type="text" class="textbox" name="additional_fields[featured_img_copyright][{i}]" value="{featured_img_copyright}">
            </div>
        </div>
    </div>
</fieldset>

<fieldset>
    <div class="additional_data">
        <h2>Related Post</h2>
        <div class="additional_content additional-related-post">
            <div class="boxs-wrapp">
                <div class="boxs">
                    {related}
                </div>
            </div>
        </div>
    </div>
</fieldset>

{custom_field}

{additional_field}

<!-- END additional-block -->