<!-- BEGIN rule-additional-block -->

<input type="hidden" name="action_type" value="{action_type}">
<input type="hidden" name="app_name" value="{app_name}">
<input type="hidden" name="site_url" value="{site_url}">
<input type="hidden" name="index" value="{i}">

<fieldset>
	<p>Featured Image</p>
    <div class="rule-additional-featured-img">
        <div class="slider">
            <p>Select an image file on your computer (2MB max):</p>
            <div class="featured-img rule-featured-img clearfixed">{featured_img}</div>
            <input type="file" name="rule_featured_img" autocomplete="off" />
        </div>
    </div>
</fieldset>

<!-- END rule-additional-block -->