<!-- BEGIN setting-block -->

<h1>{app_title}</h1>
<ul class="tabs">{tab}</ul>
<div class="tab_container apps-setting-wrapp">
	<form method="POST" enctype="multipart/form-data">
		<div class="button_wrapper clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
				    <li>{btn_save}</li>
				    <li>{btn_cancel}</li>
		        </ul>
		    </div>
		</div>

		{message}

        <div class="list_edit">
            <fieldset>
                <p>Title</p>
                <input type="text" class="textbox" name="additional_setting[title]" value="{title}" autocomplete="off" />
                {sef_scheme}
            </fieldset>

            <fieldset>
                <p>Description</p>
                {textarea}
            </fieldset>

            <fieldset>
			    <div class="additional_data">
			        <h2 id="hero_image_0">Hero Image</h2>
			        <div id="hero_image_details_0" class="additional_content additional-hero-img">
			            <div class="slider">
			                <h3>Select an image file on your computer (2MB max):</h3>
			                <div class="hero-img clearfixed">{hero_img}</div>
			                <input type="file" name="hero_img" autocomplete="off" />
			            </div>
			        </div>
			    </div>
            </fieldset>

            <fieldset>
            	<div class="additional_data">
			        <h2 id="meta_data_0">Meta Data</h2>
			        <div id="meta_data_details_0" class="additional_content">           
				    	<div class="clearfix" style="padding:5px;">
				            <p>
				            	Title:<br><br>
								<input type="text" class="textbox forclone" name="additional_setting[meta_title]" value="{meta_title}" autocomplete="off">
							</p>
							<p>
								Description:<br><br>
								<textarea class="textarea forclone" name="additional_setting[meta_description]" autocomplete="off">{meta_description}</textarea>
							</p>
							<p>
								Keywords:<br><br>
								<input type="text" class="textbox forclone" name="additional_setting[meta_keywords]" value="{meta_keywords}" autocomplete="off">
							</p>
						</div>
			        </div>
			    </div>
            </fieldset>

            <fieldset class="hidden">
                <input type="text" class="textbox" name="site_url" value="{site_url}" autocomplete="off" />
                <input type="text" class="textbox" name="ajax_url" value="{ajax_url}" autocomplete="off" />
                <input type="text" class="textbox" name="app_name" value="{app_name}" autocomplete="off" />
            </fieldset>
        </div>

		<div class="button_wrapper bottom clearfix">
		    <div class="button_left">
		        <ul class="button_navigation">
				    <li>{btn_save}</li>
				    <li>{btn_cancel}</li>
		        </ul>
		    </div>
		</div>
	</form>
</div>

<!-- END setting-block -->