<!-- BEGIN detail-block -->

<div class="detail-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="center-content">
                            <div class="boxs">
                                <h1>{post-title}</h1>
                                <nav></nav>
                                <a class="submit reserve-btn" href="javascript:;">Reserve</a>
                                <a class="discover-more">Discover More <img src="{image-url}/discover-white.svg" alt="" /></a>
                            </div>
                        </div>

                        <!-- BEGIN hero-slide-block -->
                        <div class="slide">
                        	<!-- BEGIN hero-slide-loop-block -->
                            <figure>
                                <img class="slide-lazy-load" src="{post-hero-img-thumb}" data-src="{post-hero-img}" alt="">
                            </figure>
                        	<!-- END hero-slide-loop-block -->
                        </div>
                        <!-- END hero-slide-block -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-spa next-section">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <figure class="mask-1 {mask-1-css}">
                        <img class="lazy-load" src="{mask-1-img-thumb}" data-src="{mask-1-img}" alt="">
                    </figure>
                    <figure class="mask-2 {mask-2-css}">
                        <img class="lazy-load" src="{mask-2-img-thumb}" data-src="{mask-2-img}" alt="">
                    </figure>
                </div>
                <div class="col-md-6">
                    <figure class="mask-3 {mask-3-css}">
                        <img class="lazy-load" src="{mask-3-img-thumb}" data-src="{mask-3-img}" alt="">
                    </figure>

                    <article>
                        <small>{post-subtitle}</small>
                        <h2>{post-title}</h2>
                        <div class="desc">
                            {post-content}
                        </div>
                    </article>

                    <figure class="mask-4 {mask-4-css}">
                        <img class="lazy-load" src="{mask-4-img-thumb}" data-src="{mask-4-img}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
        
<!-- BEGIN packages-block -->
<div class="detail-spa-list cream-white-large-bg">
	
	<!-- BEGIN packages-loop-block -->
    <div class="item">
        <div class="container-wrapp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="boxs">
                            <article>
                                <small>Spa Package</small>
                                <h2>{package-title}</h2>
                                <hr />
                                <div class="desc">
                                    <small>Included</small>
                                    {package-content}
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="slide">
                            <figure>
                                <img class="lazy-load" src="{package-featured-img-thumb}" data-src="{package-featured-img}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- END packages-loop-block -->

</div>
<!-- END packages-block -->

<!-- END detail-block -->