<!-- BEGIN settings-form -->
<link type="text/css" rel="stylesheet" href="//{plugin_url}/style.css">

{nested_js}

<div class="global-setting-wrapp">
    <h1>{form_title}</h1>
    <ul class="tabs" style="border-bottom:none;">{admin_tab}</ul>
    <div class="tab_container">
        <div class="single_content">
            {alert}

            <form method="post" action="#" enctype="multipart/form-data">

                <!-- BEGIN landing-form -->
                <div class="landing-page">
                    <fieldset style="display:none;">
                      <h2>Home Promo</h2>l

                      <p>Active/Deactive Promo</p>
                      <select name="banner_option">{banner_option}</select>

                      <p>Link Promo</p>
                      <input class="textbox" type="text" name="hm_link_promo" value="{hm_link_promo}" />

                      <p>Poster</p>
                      <div class="post-top-image-block">
                        <div class="overlay">
                          <!-- <img src="{HTTP}{plugin_url}/images/loader.GIF" /> -->
                        </div>
                        <div class="top-image-wrapp clearfix">{background_img_top}</div>
                        <input type="file" name="homepage_top_image" />
                        <p>Select an image file on your computer (2MB max):</p>
                      </div>
                    </fieldset>
                    <fieldset>
                        <h2>Homepage Slideshow</h2>
                        <p>this setting for slide content in landing page<br /></p>
                        <div id="slideshow-upload" class="dropzone">
                            <div class="dz-message needsclick">
                                Drop files here or click to upload.
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                      <div class="field-box">
                          <h2>Header Booking Method</h2>
                          <select name="header_method" id="header_method">
                              <option value="1">Booking Engine</option>
                              <option value="2">Contact</option>
                              <option value="3">Whatsapp</option>
                            </select>
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="field-box">
                          <h2>Default Booking Engine</h2>
                          <input class="textbox" type="text" name="link_booking_engine" value="{link_booking_engine}" />
                      </div>
                    </fieldset>
                    <fieldset>
                      <div class="field-box">
                          <p>Link Video</p>
                          <input class="textbox" type="text" name="landing_link_video" value="{landing_link_video}" />
                      </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section One</h2>
                        <p>this setting for content in landing page section one<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="landing_page_section_1_title" value="{landing_page_section_1_title}" />
                        </div>
                        <div class="field-box">
                            <p>Subtitle</p>
                            <input class="textbox" type="text" name="landing_page_section_1_subtitle" value="{landing_page_section_1_subtitle}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {landing_page_section_1_content}
                        </div>
                        <div class="field-box">
                            <p>Triple Box Image</p>
                            <div id="media-upload" class="dropzone">
                                <div class="dz-message needsclick">
                                    Drop files here or click to upload.
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section Two</h2>
                        <p>this setting for content in landing page section two<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="landing_page_section_2_title" value="{landing_page_section_2_title}" />
                        </div>
                        <div class="field-box">
                            <p>Subtitle</p>
                            <input class="textbox" type="text" name="landing_page_section_2_subtitle" value="{landing_page_section_2_subtitle}" />
                        </div>
                        <div class="field-box">
                            <p>View All Text</p>
                            <input class="textbox" type="text" name="landing_page_section_2_link_text" value="{landing_page_section_2_link_text}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section Three</h2>
                        <p>this setting for content in landing page section three<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="landing_page_section_3_title" value="{landing_page_section_3_title}" />
                        </div>
                        <div class="field-box">
                            <p>View All Text</p>
                            <input class="textbox" type="text" name="landing_page_section_3_link_text" value="{landing_page_section_3_link_text}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section Four</h2>
                        <p>this setting for content in landing page section four<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="landing_page_section_4_title" value="{landing_page_section_4_title}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {landing_page_section_4_content}
                        </div>
                        <div class="field-box">
                            <p>Slide</p>
                            <div id="slide-upload" class="dropzone slide-upload">
                                <div class="dz-message needsclick">
                                    Drop files here or click to upload.
                                </div>
                            </div>
                            <div id="slide-dropzone-preview" class="hidden">
                                <div class="dz-preview dz-file-preview">
                                    <div class="dz-image"><img data-dz-thumbnail data-dz-thumbnail-id/></div>
                                    <div class="dz-details">
                                        <a class="dz-edit">Edit</a>
                                        <a class="dz-delete">Delete</a>
                                    </div>
                                    <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
                                    <div class="dz-detail-box">
                                        <div class="detail">
                                            <fieldset>
                                                <p>Title</p>
                                                <input type="text" value="" class="textbox slide-title" />
                                            </fieldset>

                                            <fieldset>
                                                <p>Sub title</p>
                                                <input type="text" value="" class="textbox slide-subtitle" />
                                            </fieldset>

                                            <fieldset>
                                                <p>Use Link?</p>
                                                <select class="slide-use-link-opt" id="" style="width:150px;">
                                                    <option value="0" selected>No</option>
                                                    <option value="1">Yes</option>
                                                </select>
                                            </fieldset>

                                            <fieldset>
                                                <p>Select your post or make custom link</p>
                                                <select class="slide-post-link-id" id="" style="width:100%;" disabled>
                                                    <option value="custom" data-type="custom" data-link="#">Custom Link</option>
                                                    {post_on_slide}
                                                </select>
                                            </fieldset>

                                            <fieldset>
                                                <p>Target</p>
                                                <select class="slide-link-target" id="" style="width:150px;">
                                                    <option value="_self">Same Window</option>
                                                    <option value="_blank" selected>New Window</option>
                                                </select>
                                            </fieldset>

                                            <fieldset>
                                                <p>URL</p>
                                                <input type="text" class="textbox slide-link-url" id="" disabled/>
                                                <input type="hidden" class="textbox slide-link-type" id="" disabled/>
                                            </fieldset>

                                            <fieldset>
                                                <input type="button" class="save-detail" value="Save"/>
                                                <input type="button" class="close-detail" value="Close"/>
                                            </fieldset>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section Five</h2>
                        <p>this setting for content in landing page section five<br /></p>
                        <div class="field-box">
                            <p>Link Button text</p>
                            <input class="textbox" type="text" name="landing_page_section_5_button_text" value="{landing_page_section_5_button_text}" />
                        </div>
                        <div class="field-box">
                            <p>View All Text</p>
                            <input class="textbox" type="text" name="landing_page_section_5_link_text" value="{landing_page_section_5_link_text}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section Six</h2>
                        <p>this setting for content in landing page section six<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="landing_page_section_6_title" value="{landing_page_section_6_title}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {landing_page_section_6_content}
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Section Seven</h2>
                        <p>this setting for content in landing page section seven<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="landing_page_section_7_title" value="{landing_page_section_7_title}" />
                        </div>
                        <div class="field-box">
                            <p>View All Text</p>
                            <input class="textbox" type="text" name="landing_page_section_7_link_text" value="{landing_page_section_7_link_text}" />
                        </div>
                        <div class="field-box">
                            <p>Tripadvisor Link</p>
                            <input class="textbox" type="text" name="landing_page_section_7_link" value="{landing_page_section_7_link}" />
                        </div>
                    </fieldset>

                    <fieldset>
                        <h2>"Why Book Direct" - content</h2>
                        <p><br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="wbd_title" value="{wbd_title}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {wbd_content}
                        </div>
                    </fieldset>
                </div>
                <!-- END landing-form -->

                <!-- BEGIN global-form -->
                <div class="global-form">
                    <fieldset>
                        <h2>Contact Form Setting</h2>
                        <p>this setting for contact form with google recaptcha<br /></p>
                        <div class="field-box">
                            <p>SMTP Port</p>
                            <input class="textbox" type="text" name="smtp_email_port" value="{smtp_email_port}" />
                        </div>
                        <div class="field-box">
                            <p>SMTP Email address</p>
                            <input class="textbox" type="text" name="smtp_email_address" value="{smtp_email_address}" />
                        </div>
                        <div class="field-box">
                            <p>SMTP Email password</p>
                            <input class="textbox" type="password" name="smtp_email_pwd" value="{smtp_email_pwd}" />
                        </div>
                        <div class="field-box">
                            <p>From Email address</p>
                            <input class="textbox" type="text" name="smtp_email_from" value="{smtp_email_from}" />
                        </div>
                        <div class="field-box">
                            <p>Recaptcha Public Key</p>
                            <input class="textbox" type="text" name="r_public_key" value="{r_public_key}" />
                        </div>
                        <div class="field-box">
                            <p>Recaptcha Secret Key</p>
                            <input class="textbox" type="text" name="r_secret_key" value="{r_secret_key}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Contact Form Info</h2>
                        <p>this setting for contact form additional information<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="contact_info_title" value="{contact_info_title}" />
                        </div>
                        <div class="field-box">
                            <p>Description</p>
                            {contact_info_desc}
                        </div>
                        <div class="field-box">
                            <p>Email</p>
                            <input class="textbox" type="text" name="contact_info_email" value="{contact_info_email}" />
                        </div>
                        <div class="field-box">
                            <p>Phone</p>
                            <input class="textbox" type="text" name="contact_info_phone" value="{contact_info_phone}" />
                        </div>
                        <div class="field-box">
                            <p>Faximile</p>
                            <input class="textbox" type="text" name="contact_info_fax" value="{contact_info_fax}" />
                        </div>
                        <div class="field-box">
                            <p>Whatsapp</p>
                            <input class="textbox" type="text" name="contact_info_wa" value="{contact_info_wa}" />
                        </div>
                        <div class="field-box">
                            <p>Whatsapp Link</p>
                            <input class="textbox" type="text" name="contact_info_wa_link" value="{contact_info_wa_link}" />
                        </div>
                        <div class="field-box">
                            <p>Google Maps Link</p>
                            <input class="textbox" type="text" name="contact_info_map_addrs" value="{contact_info_map_addrs}" />
                        </div>
                        <div class="field-box">
                            <p>Address</p>
                            <textarea class="textbox auto" name="contact_info_addrs" rows="10">{contact_info_addrs}</textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Maichimp Newsletter</h2>
                        <p>this setting for mailchimp subscribe newsletter<br /></p>
                        <div class="field-box">
                            <p>API Key</p>
                            <input class="textbox" type="text" name="mailchimp_api_key" value="{mailchimp_api_key}" />
                        </div>
                        <div class="field-box">
                            <p>List ID</p>
                            <input class="textbox" type="text" name="mailchimp_list_id" value="{mailchimp_list_id}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>iChronoz Booking Engine</h2>
                        <p>this setting for ichronoz booking engine page<br /></p>
                        <div class="field-box">
                            <p>API Key</p>
                            <input class="textbox" type="text" name="ichronoz_api_key" value="{ichronoz_api_key}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Social Media Link</h2>
                        <p>this setting for show your social media link on your website<br /></p>
                        <div class="field-box">
                            <p>Facebook</p>
                            <input class="textbox" type="text" name="social_media_facebook" value="{social_media_facebook}" />
                        </div>
                        <div class="field-box">
                            <p>Instagram</p>
                            <input class="textbox" type="text" name="social_media_instagram" value="{social_media_instagram}" />
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Thanks Page Content - Contact</h2>
                        <p>this setting for content on thank you page after contact enquiry<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="thanks_contact_title" value="{thanks_contact_title}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {thanks_contact_content}
                        </div>
                        <div class="field-box">
                            <p>Meta Title</p>
                            <input class="textbox" type="text" name="thanks_contact_meta_title" value="{thanks_contact_meta_title}" />
                        </div>
                        <div class="field-box">
                            <p>Meta Keywords</p>
                            <input class="textbox" type="text" name="thanks_contact_meta_keywords" value="{thanks_contact_meta_keywords}" />
                        </div>
                        <div class="field-box">
                            <p>Meta Description</p>
                            <textarea class="textbox" name="thanks_contact_meta_description" rows="10">{thanks_contact_meta_description}</textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Thanks Page Content - Booking</h2>
                        <p>this setting for content on thank you page after booking process<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="thanks_booking_title" value="{thanks_booking_title}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {thanks_booking_content}
                        </div>
                        <div class="field-box">
                            <p>Meta Title</p>
                            <input class="textbox" type="text" name="thanks_booking_meta_title" value="{thanks_booking_meta_title}" />
                        </div>
                        <div class="field-box">
                            <p>Meta Keywords</p>
                            <input class="textbox" type="text" name="thanks_booking_meta_keywords" value="{thanks_booking_meta_keywords}" />
                        </div>
                        <div class="field-box">
                            <p>Meta Description</p>
                            <textarea class="textbox" name="thanks_booking_meta_description" rows="10">{thanks_booking_meta_description}</textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Footer Text</h2>
                        <p>this setting for text on footer section<br /></p>
                        <div class="field-box">
                            <p>Title</p>
                            <input class="textbox" type="text" name="footer_text_title" value="{footer_text_title}" />
                        </div>
                        <div class="field-box">
                            <p>Content</p>
                            {footer_text_content}
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Google Tag Manager (head tag)</h2>
                        <div class="field-box">
                            <p>insert your google analytic script here<br /></p>
                            <textarea class="textbox auto" name="g_analytic" rows="10">{g_analytic}</textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Google Tag Manager (body tag)</h2>
                        <div class="field-box">
                            <p>insert your google tag manager script here<br /></p>
                            <textarea class="textbox auto" name="g_tag_manager" rows="10">{g_tag_manager}</textarea>
                        </div>
                    </fieldset>
                    <fieldset>
                        <h2>Sojern Pixels - Homepage</h2>
                        <div class="field-box">
                            <p>insert your sojern pixels script here<br /></p>
                            <textarea class="textbox auto" name="sojern_script" rows="10">{sojern_script}</textarea>
                        </div>
                    </fieldset>

                    <fieldset>
                        <h2>Sojern Pixels - Product</h2>
                        <div class="field-box">
                            <p>insert your sojern pixels script here<br /></p>
                            <textarea class="textbox auto" name="sojern_script_product" rows="10">{sojern_script_product}</textarea>
                        </div>
                    </fieldset>

                    <fieldset>
                        <h2>Sojern Pixels - Tracking</h2>
                        <div class="field-box">
                            <p>insert your sojern pixels script here<br /></p>
                            <textarea class="textbox auto" name="sojern_script_tracking" rows="10">{sojern_script_tracking}</textarea>
                        </div>
                    </fieldset>
                </div>
                <!-- END global-form -->

                <input type="hidden" name="state_url" value="{state_url}">

                <div class="button_wrapper clearfix">
                    <ul class="button_navigation">
                        <li>{save_changes_botton}</li>
                    </ul>
                </div>

            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
jQuery(document).ready(function(){
	var header_method    = {header_method};
	if(header_method != "" ){
	    document.getElementById("header_method").value = header_method;
	}
})
jQuery('[name=homepage_top_image]').change(function(e){
    jQuery.each(e.currentTarget.files, function(i, el){
        var data = new FormData();
            data.append('ajax_key', 'add-app-image');
            data.append('meta_name', 'homepage_top_image');
            data.append('app_name', 'static_setting');
            data.append('file_name', el);

        var xhrObject = new XMLHttpRequest();

        xhrObject.open('POST', '{state_url}');
        xhrObject.onreadystatechange = function(){
            if(xhrObject.readyState==4 && xhrObject.status==200){
                var ee = JSON.parse(xhrObject.responseText);
                // console.log(ee);
                if(ee.result=='success'){
                    var obj =
                    '<div class="box">'+
                        '<img src="//{plugin_url}/background/thumbnail/'+ee.data.filename+'" />'+
                        '<div class="ioverlay" style="display: none;">'+
                            '<a data-bg-name="'+ee.data.filename+'" class="top-delete-header">'+
                                '<img src="{HTTP}{site_url}/lumonata-plugins/additional/images/delete.png">'+
                            '</a>'+
                        '</div>'+
                    '</div>';

                    jQuery('.top-image-wrapp').html(obj);
                }else{
                    alert('Failed to save main image')
                }
            }
        }
        xhrObject.send(data);
    });
});
</script>

<!-- END settings-form -->
