.global-setting-wrapp fieldset{ position:relative; padding:20px; }
.global-setting-wrapp fieldset i{margin-bottom:5px; display:block;}
.global-setting-wrapp fieldset textarea.textbox{height:80px !important; resize:none;}
.global-setting-wrapp fieldset textarea.textbox.auto{ height:auto !important; resize:vertical; }
.global-setting-wrapp fieldset .field-box{ margin-bottom:15px; }
.global-setting-wrapp fieldset .field-box:last-child{ margin-bottom:0; }

.global-setting-wrapp fieldset .field-box .sp-image-wrapp .box{padding:10px; border:1px solid #ddd; background:#F0F0EE; width:350px; position:relative; text-align:center;}
.global-setting-wrapp fieldset .field-box .sp-image-wrapp img{height:100%; width:100%; object-fit:cover;}
.global-setting-wrapp fieldset .field-box .sp-image-wrapp .overlay{ cursor:pointer; display:none; position:absolute; top:0; left:0; right:0; bottom:0; background:rgba(0,0,0,0.5); }
.global-setting-wrapp fieldset .field-box .sp-image-wrapp .overlay a{ position:absolute; top:50%; left:50%; cursor:pointer; margin-left:-12px; margin-top:-12px; }
.global-setting-wrapp fieldset .field-box .sp-image-wrapp .box:hover .overlay{display:block;}

.global-setting-wrapp .dropzone .dz-preview .dz-remove{ margin-top:7px; }
.global-setting-wrapp .dropzone.dz-drag-hover{ background-color:#E8AEB6; border-style:none; border-radius:20px; }
.global-setting-wrapp .dropzone .dz-preview.ui-sortable-helper{ background-color:transparent; }
.global-setting-wrapp .dropzone .dz-preview.ui-sortable-placeholder{ background-color:#E8AEB6; visibility:visible !important; height:130px; border-radius:20px; }

.slide-upload .dz-preview .dz-image{ float:left; }
.slide-upload .dz-preview .dz-image img{ width:100%; }
.slide-upload .dz-detail-box{ float:left; }
.slide-upload .dz-preview .dz-detail-box{ display:none; }
.slide-upload .dz-preview.opened{ width:100%; }
.slide-upload .dz-preview.opened .dz-details{ display:none; }
.slide-upload .dz-preview.opened .dz-detail-box{ display:block; }
.slide-upload .dz-preview .dz-detail-box fieldset{ border:none; padding:10px 20px; }
.slide-upload .dz-preview .dz-edit,
.slide-upload .dz-preview .dz-delete{ margin:25px 5px; display:inline-block; cursor:pointer; font-weight:bold; color:#FFFFFF; }
.slide-upload .dz-preview.opened:hover .dz-image img{
	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	-ms-transform:scale(1);
	-o-transform:scale(1);
		transform:scale(1);
			-webkit-filter:blur(0);
				filter:blur(0);}