@media screen and (max-width:1440px){
	.mask-2{ height:400px; }

	.homepage-activity .inner figure{ height:500px; }
	.homepage-room-type .room-type-list .item figure{ height:600px; }
	.homepage-special-promo .container-slide .item a,
	.homepage-reason .container-slide .item a{ height:450px; }

	.archive-list .item figure,
	.archive-list .item .boxs{ height:500px; }

	.detail-room figure{ height:600px; }
	.detail-other-type .inner figure{ height:430px; }
	.detail-gallery .container-full-gallery figure{ height:600px; }

	.detail-spa-list .item figure{ height:400px; }
}

@media screen and (max-width:1280px){
	.container-wrapp{ padding:0 40px; }
	.homepage-hero .hero-right .booking-form{ padding:70px 40px 40px; }
	.homepage-brief .brief-left .inner{ margin:0 auto; padding:0; }

	.archive-list{ padding-top:80px; }
	.archive-hero::before{ height:150px; }

	.detail-spa-list .item:before, .detail-spa-list .item:last-child:after{ width:calc( 100vw - 110px ); }

	.fixed-button header nav{ padding-right:120px; }
	footer .inner nav ul{ float:none; }
	footer .inner nav small{ float:none; margin-top:20px; display:block; }
}

@media screen and (max-width:1200px){
	.detail-header h1,
	.detail-gallery h2,
	.homepage-reason h2,
	.detail-other-type h2,
	.homepage-room-type h2,
	.detail-room article h2,
	.detail-room-amenities h2,
	.homepage-review-promo h2,
	.homepage-special-promo h2,
	.booking .booking-header h1,
	.homepage-location .inner h2,
	.detail-restaurant article h2,
	.archive-hero .inner .boxs h1,
	.homepage-brief .brief-right h2,
	.not-found .not-found-content h1,
	.detail-restaurant-menu .slide h2,
	.archive-list .item .boxs article h2,
	.detail-spa-list .item .boxs article h2,
	.homepage-activity .inner .boxs article h2,
	.homepage-review .container-slide .item article h2,
	.homepage-activity .inner figure .mobile-head-title h2{ font-size:30px; }

	.homepage-activity{ padding-top:0; }
	.homepage-activity .inner .boxs{ padding:0 50px; }

	.homepage-location .inner{ padding-top:100px; }
	.homepage-location .inner .map-wrapp{ padding:40px 0 0; }

	.homepage-special-promo{ padding:100px 0 0; }
	.homepage-special-promo .container-slide .item a div{ padding:30px; }
	.homepage-special-promo .container-slide .item a div h3{ font-size:22px; }
	.homepage-special-promo .container-slide .slick-list{ padding-left:55px; }
	.homepage-special-promo .container-slide .item{ width:calc( ( 100vw - 190px ) / 2 ); }

	.homepage-reason{ padding:100px 0; }
	.homepage-reason .container-slide .item a div{ padding:30px; }
	.homepage-reason .container-slide .item a div h3{ font-size:22px; }
	.homepage-reason .container-slide .slick-list{ padding-left:55px; }
	.homepage-reason .container-slide .item{ width:calc( ( 100vw - 190px ) / 2 ); }

	.homepage-review{ padding:100px 0; margin-top:100px; }
	.homepage-review .container-slide{ padding-left:55px; padding-right:55px; }

	.homepage-brief{ padding-top:100px; padding-bottom:50px; }
	.homepage-brief .brief-left .inner{ width:450px; }

	.homepage-room-type{ padding-top:50px; padding-bottom:100px; }
	.homepage-room-type .room-type-list .item figure{ height:500px; }
	.homepage-room-type .room-type-list .item article .inner{ top:67%; }
	.homepage-room-type .room-type-list .item article .inner h3{ font-size:20px; line-height:1.68; }
	.homepage-room-type .room-type-list .item:hover article .inner{ padding-top:30px; }
	.homepage-room-type .room-type-list .item:hover article .inner h3:after{ height:80px; }
	.homepage-room-type .room-type-list .item:hover article .inner a{ top:83%; }
	.homepage-room-type .room-type-list .item:hover article .inner p{ height:150px; line-height:30px; overflow:hidden; }

	.archive-list{ padding-top:50px; }

	.detail-hero .inner .boxs h1{ font-size:35px; }
	.detail-hero .inner .boxs .discover-more{ margin-top:33px; }
	.detail-gallery .container-full-gallery figure{ height:500px; margin:0 10px; }

	.newsletter-subscribe{ padding:0 0 100px; }
	.newsletter-subscribe hr{ margin-bottom:100px; }
}

@media screen and (max-width:1024px){
	header nav ul li{ padding-right:15px; }
	header nav ul li a{ font-size:10px; }
	header .book-now{ font-size:10px; }
	header .logo img{ height:50px; }

	.fixed header .logo{ top:5px; }
	.fixed header .logo img{ height:40px; }

	.fixed-button header nav{ padding-right:60px; }
	.fixed-button header .book-now{ width:100px; }

	.cream-white-large-bg{ background:#F7F4EF; }

	.homepage-room-type .container-wrapp,
	.homepage-room-type .container-fluid{ padding:0; }
	.homepage-room-type .head-title{ padding-left:55px; }
	.homepage-room-type .room-type-list{ padding-top:30px; }
	.homepage-room-type .room-type-list .row{ margin:0; }
	.homepage-room-type .room-type-list .slick-slide{ width:80vw; padding:0; margin:0 20px; }
	.homepage-room-type .room-type-list .slick-slide:first-child{ visibility:hidden; }
	.homepage-room-type .room-type-list .slick-list{ padding-left:55px; }
	.homepage-room-type .more{ padding-right:55px; }

	.homepage-special-promo .container-slide{ padding-top:30px; }
	.homepage-special-promo .container-slide .item{ width:80vw; }
	.homepage-special-promo .container-slide .item a{ height:700px; }

	.homepage-reason .container-slide{ padding-top:30px; }
	.homepage-reason .container-slide .item{ width:80vw; }
	.homepage-reason .container-slide .item a{ height:700px; }
	
	.homepage-activity{ padding-bottom:80px; }
	.homepage-activity .more{ margin-top:40px; }
	.homepage-activity .inner{ padding-top:40px; }
	.homepage-activity .inner [class*="col-"]:first-child{ -ms-flex-order:1; order:1;  }
	.homepage-activity .inner [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }

	.homepage-activity .inner figure{ height:600px; }
	.homepage-activity .inner figure .mobile-head-title{ display:block; }

	.homepage-activity .inner .boxs{ padding:40px 0 0; }
	.homepage-activity .inner .boxs article small,
	.homepage-activity .inner .boxs article h2,
	.homepage-activity .inner .boxs article hr{ display:none; }
	.homepage-activity .inner .boxs article .desc{ margin:0 0 40px; }
	.homepage-activity .inner .boxs article .desc p{ height:auto; }
	.homepage-activity .inner .boxs article [class*="col-"]:first-child{ -ms-flex-order:0; order:0;  }
	.homepage-activity .inner .boxs article [class*="col-"]{ -ms-flex:0 0 50%; flex:0 0 50%; max-width:50%; }

	.homepage-location .container-wrapp,
	.homepage-location .container-fluid{ padding:0; }
	.homepage-location .inner{ padding-top:80px; }
	.homepage-location .inner h2{ padding-left:55px; }
	.homepage-location .inner p{ padding-right:55px; }
	.homepage-location .inner .map-list-location{ position:relative; width:100%; top:0; right:0; bottom:auto; }
	.homepage-location .inner .map-list-location h3{ position:absolute; padding:0 55px 5px; top:0; width:100%; background:#FFFFFF; border-bottom:1px solid rgba(200, 177, 120, 0.2); }
	.homepage-location .inner .map-list-location ol{ margin-top:45px; }
	.homepage-location .inner .map-list-location ol li{ padding:0 55px; }
	.homepage-location .inner .map-list-location ol li span{ padding-left:0; background-position:100% center; }
	.homepage-location .inner .map-list-location .location{ height:400px; padding:0; }
	.homepage-location .inner .map-list-location .category{ height:auto; padding:0 55px; text-align:justify; height:50px; position:relative; z-index:1; }
	.homepage-location .inner .map-list-location .category:after{ content:''; display:inline-block; width:100%; } 
	.homepage-location .inner .map-list-location .category a{ display:inline-block; float:none; width:auto; padding-right:0; }

	.homepage-review{ padding:80px 0; margin-top:0; }
	.homepage-review .container-slide .item{ width:calc( ( 100vw - 110px ) ); }

	.archive-hero:before{ height:80px; background:#F7F4EF; }
	.archive-hero .discover-more{ left:40px; bottom:30px; }
	.archive-hero .inner{ padding:50px 0 80px 40px; }

	.archive-list{ padding-top:0; }
	.archive-list .item{ padding:50px 0; }
	.archive-list .item .boxs{ padding:0 40px; }

	.detail-header{ padding:80px 0; }

	.detail-room,
	.detail-room-amenities{ padding-top:100px; }

	.detail-room article{ padding:50px; }
	.detail-room article hr{ float:none; }
	.detail-room article .desc{ margin:30px 0 0; }

	.detail-hero .inner .boxs{ padding-left:50px; }
	.detail-hero .inner .center-content .boxs{ padding-left:0; }

	.detail-other-type{ padding:80px 0; }
	.detail-other-type h2{ padding-left:55px; }
	.detail-other-type .container-wrapp,
	.detail-other-type .container-fluid{ padding:0; }
	.detail-other-type .container-fluid .row{ margin:0; }
	.detail-other-type .container-fluid [class*="col-"]{ padding:0; }

	.detail-other-type .inner figure{ height:600px; }
	.detail-other-type .inner .slick-list{ padding-left:55px; }
	.detail-other-type .inner .slick-slide{ margin:0 5px; width:calc( 100vw - 120px ); }
	.detail-other-type .inner .slick-slide:first-child{ visibility:hidden; }

	.detail-gallery .container-full-gallery figure{ height:600px; }

	.detail-restaurant{ padding-top:50px; }
	.detail-restaurant-menu .line{ margin-bottom:50px; }
	.detail-restaurant-menu .slide h2{ margin-bottom:30px; }
	.detail-restaurant-menu .line-end{ margin:50px 0 0; }

	.detail-spa{ padding-top:50px; }
	.detail-spa-list .item .boxs{ padding:0 40px; }

	.detail-location .inner .map-list-location{ position:relative; width:100%; top:0; right:0; bottom:0; }
	.detail-location .inner .map-list-location h3{ position:absolute; padding:0 55px 5px; top:0; width:100%; background:#FFFFFF; border-bottom:1px solid rgba(200, 177, 120, 0.2); }
	.detail-location .inner .map-list-location ol{ margin-top:45px; }
	.detail-location .inner .map-list-location ol li{ padding:0 55px; }
	.detail-location .inner .map-list-location ol li span{ padding-left:0; background-position:100% center; }
	.detail-location .inner .map-list-location .location{ height:400px; padding:0; }
	.detail-location .inner .map-list-location .category{ height:auto; padding:0 55px; text-align:justify; height:50px; }
	.detail-location .inner .map-list-location .category:after{ content:''; display:inline-block; width:100%; } 
	.detail-location .inner .map-list-location .category a{ display:inline-block; float:none; width:auto; padding-right:0; }

	.services .archive-list{ padding:80px 0; }

	.service-list .row{ margin:0 -30px; }
	.service-list [class*="col-"] div{ margin:0 30px 15px; }
	.service-list [class*="col-"] span{ padding-left:80px;; }

	.newsletter-subscribe{ padding:0 0 80px; }
	.newsletter-subscribe hr{ margin-bottom:80px; }
	.newsletter-subscribe form fieldset button{ width:120px; }
	.newsletter-subscribe form fieldset input{ padding-right:120px; }

	footer .inner{ padding:80px 0; }
}

@media screen and (max-width:991px){
	.homepage-hero{ height:auto; }
	.homepage-hero .container-wrapp{ padding:0; }
	.homepage-hero figure{ height:500px; min-height:0; }
	.homepage-hero .hero-left{ width:100%; padding:0 55px 0 0; }
	.homepage-hero .hero-right{ width:100%; position:static; }
	.homepage-hero .hero-right .booking-form{ padding:40px 55px; }
	.homepage-hero .hero-right .booking-form .submit{ margin-top:20px; }
	.homepage-hero .hero-right .navigation{ position:static; padding:40px 55px; }
	.homepage-hero .hero-right .navigation .discover-more{ position:static; }
	.homepage-hero .hero-right .navigation .slick-dots{ margin-bottom:0; }

	.homepage-special-promo .container-slide .item{ width:80vw; float:left; margin:0 20px; }
	.homepage-special-promo .container-slide .item a{ height:600px; }

	.homepage-reason .container-slide .item{ width:80vw; float:left; margin:0 20px; }
	.homepage-reason .container-slide .item a{ height:600px; }

	.homepage-review{ padding:50px 0; }
	.homepage-review .more,
	.homepage-review .navigation{ display:none; }
	.homepage-review .review-mobile-more{ display:block; }
	.homepage-review .review-mobile-more .mobile-navigation{ display:block; margin:0; float:left; padding-left:80px; text-align:left; }
	.homepage-review .review-mobile-more a{ margin-top:6px; float:right; }
	.homepage-review .container-slide .item article h2{ margin-bottom:25px; }

	.archive-hero{ height:auto; }
	.archive-hero:before{ content:none; }
	.archive-hero figure{ padding-right:55px; height:500px; }
	.archive-hero .inner{ padding-bottom:50px; padding-left:55px; display:block; height:auto; }
	.archive-hero .inner .boxs{ display:block; }
	.archive-hero .inner .boxs h1{ max-width:100%; }
	.archive-hero .inner .submit{ margin-top:30px; }
	.archive-hero .container-wrapp{ padding:0; }
	.archive-hero .container-fluid{ padding:0; }
	.archive-hero .container-fluid [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%;  }
	.archive-hero .discover-more{ position:static; padding:40px 55px 0; background:#F7F4EF; }

	.archive-list .item:nth-child(2n) .col-md-6:first-child{ -ms-flex-order:0; order:0; }

	.archive-list .item .boxs{ padding:0; }
	.archive-list .item .boxs article hr,
	.archive-list .item:nth-child(2n) .boxs article hr{ float:none; width:100%; }
	.archive-list .item .boxs article .desc{ margin:0; height:auto; }
	.archive-list .item figure, .archive-list .item .boxs{ height:auto; }
	.archive-list .item [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.archive-list .item .boxs article .read-more, .archive-list .item .boxs article .book-now{ display:none; }
	.archive-list .item .archive-mobile-link{ display:block; }
	.archive-list .item .archive-mobile-link [class*="col-"]{ -ms-flex:0 0 50%; flex:0 0 50%; max-width:50%; }

	.detail-hero .container-wrapp{ padding:0; }
	.detail-hero .container-fluid{ padding:0; }

	.detail-hero .inner .boxs{ padding-left:55px; }
	.detail-hero .inner .boxs [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.detail-hero .inner .boxs .submit{ float:left; margin-bottom:80px; margin-top:50px; max-width:250px; width:100%; }
	.detail-hero .inner .boxs .discover-more{ position:absolute; bottom:0; left:15px; }
	.detail-hero .inner .center-content .boxs .discover-more{ position:static; }

	.detail-other-type .inner figure,
	.detail-gallery .container-full-gallery figure{ height:500px; }

	.detail-spa-list .item{ padding:50px 0; }
	.detail-spa-list .item:nth-child(2n) .col-md-6:first-child{ -ms-flex-order:0; order:0; }

	.detail-spa-list .item .boxs{ padding:0; }
	.detail-spa-list .item .boxs article hr,
	.detail-spa-list .item:nth-child(2n) .boxs article hr{ float:none; width:100%; }
	.detail-spa-list .item .boxs article .desc{ margin:0 0 30px; height:auto; }
	.detail-spa-list .item figure, .detail-spa-list .item .boxs{ height:auto; }
	.detail-spa-list .item [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }

	.mask-2{ height:300px; }
	.mask-3{ margin-bottom:-30px; margin-top:0; }

	.detail-restaurant article,
	.detail-spa article{ padding-left:20px; }

	.detail-restaurant article .desc,
	.detail-spa article .desc{ max-width:100%; }

	.gallery .archive-list{ padding:50px 0; }
	.gallery .archive-hero .inner{ padding:30px 0 50px 55px; }
	.gallery .archive-hero .inner .boxs h1{ margin-bottom:25px; }

	.services .archive-list{ padding-top:50px; padding-bottom:80px; }
}

@media screen and (max-width:990px){
	header .desktop-menu{ display:none; }
	header .hamburger{ display:block; padding:15px 0 0; float:right; }
	header .hamburger-inner, 
	header .hamburger-inner::after, 
	header .hamburger-inner::before{ height:2px; }

	.homepage-brief{ background:#FFFFFF; padding-bottom:0; }
	.homepage-brief .container-wrapp,
	.homepage-brief .container-fluid{ padding:0; }
	.homepage-brief [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.homepage-brief .brief-left{ padding:0 55px; margin-bottom:100px; }
	.homepage-brief .brief-right{ padding:70px 55px 50px; background:#F7F4EF; }
	.homepage-brief .brief-right h2{ max-width:none; }

	.homepage-room-type{ background:#F7F4EF; padding:0 0 80px; }
	.homepage-room-type .more,
	.homepage-room-type .navigation{ display:none; }
	.homepage-room-type .room-mobile-more{ display:block; }

	.homepage-special-promo{ background:#FFFFFF; padding:50px 0; }
	.homepage-special-promo .more,
	.homepage-special-promo .navigation{ display:none; }
	.homepage-special-promo .promo-mobile-more{ display:block; }

	.homepage-reason{ background:#FFFFFF; padding:50px 0; }
	.homepage-reason .navigation{ display:none; }

	.homepage-activity .more{ display:none; }
	.homepage-activity .inner .boxs article nav{ display:none; }
	.homepage-activity .inner .boxs article .activity-mobile-more{ display:block; }

	.homepage-location .inner [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.homepage-location .inner h2{ margin-top:0; }
	.homepage-location .inner p{ padding-left:55px; max-width:80%; margin-top:30px; }

	.detail-room, 
	.detail-room-amenities{ padding-top:55px; }

	.detail-room figure{ display:none; }
	.detail-room article{ position:static; width:100%; }
	.detail-room article hr{ width:100%; }
	.detail-room article .desc{ height:auto; }

	.detail-room-amenities .line{ margin-bottom:40px; }
	.detail-room-amenities .inner{ padding-left:0; padding-top:30px; }
	.detail-room-amenities [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }

	.detail-gallery,
	.detail-other-type{ padding-top:55px; }

	.newsletter-subscribe [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.newsletter-subscribe form{ margin-left:0; margin-top:40px; }
	.newsletter-subscribe form fieldset button{ width:240px; }
	.newsletter-subscribe form fieldset input{ padding-right:240px; }

	footer .inner{ background:#F0F0F0; }
	footer .inner .article{ padding-right:30px; }
	footer .inner .article ul{ margin-top:40px; }
	footer .inner .scroll-top{ display:none; }
	footer .inner .article + .scroll-top{ display:block; }
	footer .inner nav{ padding-left:0; position:static; padding-top:40px; }
	footer .inner .other-properties{ padding-left:0; margin-top:40px; }
	footer .inner .awards{ padding-left:0; padding-top:40px; }
	footer .inner [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
}

@media screen and (max-width:767px){
	.homepage-room-type .room-type-list [class*="col-"],
	.homepage-special-promo .container-slide .item{ width:70vw; }
	.homepage-reason .container-slide .item{ width:70vw; }

	.homepage-location .inner .map-list-location .category:after{ content:none; }
	.homepage-location .inner .map-list-location .category{ height:100px; }
	.homepage-location .inner .map-list-location .category a{ width:33.33%; float:left; }

	.detail-other-type .inner figure,
	.detail-gallery .container-full-gallery figure{ height:400px; }

	.detail-restaurant article,
	.detail-spa article{ padding-left:0; }

	.detail-location .inner .map-list-location .category:after{ content:none; }
	.detail-location .inner .map-list-location .category{ height:100px; }
	.detail-location .inner .map-list-location .category a{ width:33.33%; float:left; }

	.service-list [class*="col-"]:last-child div{ margin-bottom:0; padding-bottom:0; }

	.contact-from .g-recaptcha{ 
		-webkit-transform:scale(0.85);
		-moz-transform:scale(0.85);
			transform:scale(0.85);
				-webkit-transform-origin:0 0;
				-moz-transform-origin:0 0;
					transform-origin:0 0;
						width:100%;
						float:none;}

	.homepage-reason .article{ padding:0; margin-top:30px; max-width:100%; }
}

@media screen and (max-width:640px){
	.homepage-room-type .room-type-list [class*="col-"],
	.homepage-special-promo .container-slide .item{ width:70vw; }
	.homepage-reason .container-slide .item{ width:70vw; }

	.homepage-activity .inner figure{ height:450px; }
	.homepage-activity .inner .boxs article .read-more{ width:120px; }

	.homepage-location .inner p{ max-width:none; }
	.homepage-location .inner .map-block{ height:500px; }

	.contact-map-location .map-block{ height:500px; }

	.newsletter-subscribe form fieldset button{ width:120px; }
	.newsletter-subscribe form fieldset input{ padding-right:120px; }
}

@media screen and (max-width:575px){
	.fixed-button header .hamburger{ margin-right:85px; }
	.mm-panel_has-navbar{ padding:0 30px; }
	.container-wrapp{ padding:0 15px; }

	.homepage-hero{ height:calc(100vh - 90px); min-height:650px; }
	.homepage-hero figure{ height:calc(100vh - 490px); min-height:250px; }
	.homepage-hero .hero-left{ padding-right:30px; }
	.homepage-hero .hero-right{ height:400px; }
	.homepage-hero .hero-right .booking-form,
	.homepage-hero .hero-right .navigation{ padding:40px 30px; background:#FFFFFF; }
	.homepage-hero .hero-right .booking-form fieldset,
	.homepage-hero .hero-right .booking-form .book-now-btn{ display:none; }
	.homepage-hero .hero-right .booking-form .mobile-book-now-btn{ display:block; }

	.homepage-brief{ padding-top:60px; }
	.homepage-brief .brief-left{ margin-bottom:0; position:relative; z-index:1; padding:0 30px; }
	.homepage-brief .brief-right{ margin-top:-50px; padding:100px 30px 50px; }

	.homepage-room-type{ padding-bottom:50px; }

	.homepage-location .inner p,
	.homepage-location .inner h2,
	.homepage-room-type .head-title,
	.homepage-room-type .room-type-list .slick-list,
	.homepage-reason .container-slide .slick-list{ padding-left:30px; }
	.homepage-special-promo .container-slide .slick-list{ padding-left:30px; }
	.homepage-location .inner p{ padding-right:30px; }

	.homepage-room-type .room-type-list [class*="col-"],
	.homepage-special-promo .container-slide .item,
	.homepage-reason .container-slide .item{ width:85vw; margin:0 10px; }

	.homepage-special-promo .container-slide .item a,
	.homepage-reason .container-slide .item a{ height:450px; }

	.homepage-activity{ padding-bottom:50px; }
	.homepage-activity .inner .boxs article [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.homepage-activity .inner .boxs article .activity-mobile-more{ margin-top:30px; }
	.homepage-activity .inner .boxs article .read-more{ width:178px; }

	.homepage-location .inner{ padding-top:50px; }
	.homepage-location .inner .map-list-location h3{ padding:0 30px 5px }
	.homepage-location .inner .map-list-location ol li,
	.homepage-location .inner .map-list-location .category{ padding:0 30px; }

	.homepage-review .container-slide{ padding-left:30px; padding-right:30px; }
	.homepage-review .container-slide .item{ padding-left:70px; width:calc( 100vw - 60px ); padding-left:0; }
	.homepage-review .container-slide .item img{ width:50px; position:static; margin-bottom:20px; }
	.homepage-review .container-slide .item article h2{ margin-bottom:15px; }
	.homepage-review .review-mobile-more .navigation{ padding-left:0; }

	.archive-hero figure{ height:calc(100vh - 90px); min-height:550px; }
	.archive-hero figure{ padding-right:30px; height:calc(100vh - 540px); min-height:250px }
	.archive-hero .inner{ padding:30px 30px 40px; }
	.archive-hero .inner .boxs p{ height:90px; overflow:hidden; }
	.archive-hero .discover-more{ padding:40px 30px 0; }

	.mask-1{ width:150px; height:auto; margin-bottom:0; }
	.mask-2{ height:250px; }
	.mask-3{ margin-bottom:0; height:auto; width:200px; }
	.mask-4{ margin-top:0; }

	.detail-hero .inner .boxs{ padding:0 30px 60px 30px }
	.detail-hero .inner .center-content .boxs{ padding:0 30px; bottom:30px; text-align:left; }
	.detail-hero .inner .center-content .boxs nav{ margin-top:20px; }
	.detail-hero .inner .center-content .boxs nav .slick-dots{ padding:0; margin:0 -5px; list-style:none; }
	.detail-hero .inner .center-content .boxs nav .slick-dots li{ display:inline-block; }
	.detail-hero .inner .center-content .boxs nav .slick-dots li button{ 
		background-color:rgba(255, 255, 255, 0.5);
		overflow:hidden;
		cursor:pointer;
		margin:0 5px;
		border:none;
		width:50px;
		height:2px;}
	.detail-hero .inner .center-content .boxs nav .slick-dots li button:focus{ outline:none; }
	.detail-hero .inner .center-content .boxs nav .slick-dots .slick-active button{ background-color:rgba(255, 255, 255, 1); }

	.detail-hero .inner .center-content .boxs .discover-more{ margin:30px 0 0; }
	.detail-hero .inner .center-content .boxs .submit, 
	.detail-hero .inner .center-content .boxs .submit{ margin-top:50px; }
	
	.detail-room{ padding-top:15px; }
	.detail-room .container-wrapp{ padding:0; }

	.detail-room article{ padding:15px; }
	.detail-other-type h2{ padding-left:30px; }
	.detail-other-type .inner .boxs h3{ line-height:1.5; }
	.detail-room-amenities .inner ul{ columns:1; }

	.detail-gallery [class*="col-"]{ -ms-flex:0 0 100%; flex:0 0 100%; max-width:100%; }
	.detail-gallery nav{ display:none; }

	.detail-other-type .inner figure,
	.detail-gallery .container-full-gallery figure{ height:350px; }

	.detail-location .inner .map-list-location h3{ padding:0 30px 5px }
	.detail-location .inner .map-list-location ol li,
	.detail-location .inner .map-list-location .category{ padding:0 30px; }

	.detail-page{ padding:30px 0; }
	.detail-page .page-content .submit{ margin-top:30px; }

	.gallery .archive-hero .inner{ padding:30px 30px 50px; }
	.gallery .archive-hero .inner .boxs .filter ul li{ float:left; width:33.33%; }
	.gallery .archive-hero .inner .boxs .filter ul li span:after{ margin-bottom:20px; }
	.gallery .archive-hero .inner .submit{ margin-top:10px; }

	.services .archive-list{ padding:50px 0; }
	.service-list [class*="col-"] div{ margin-bottom:0; }
	.service-list [class*="col-"] span{ margin-top:0; }
	.service-list [class*="col-"] i{ font-size:30px; width:30px; }
	.service-list [class*="col-"] img{ width:30px; }

	.contact .archive-list{ padding:50px 0; }
	.contact-from .row-act{ margin-top:20px; }
	.contact-from button{ margin-top:30px; }
	.contact-map-location .container-wrapp,
	.contact-map-location .container-fluid{ padding:0; }

	.not-found header{ padding:50px 0; }
	.not-found footer{ height:120px; }
	.not-found .not-found-content h1,
	.not-found .not-found-content p{ max-width:95%; }
	.not-found .not-found-content{ height:calc( 100vh - 220px ); }

	.booking header{ padding:50px 0; }
	.booking footer{ height:120px; }

	.newsletter-subscribe{ padding:0 0 50px; }
	.newsletter-subscribe hr{ margin-bottom:50px; }
	.newsletter-subscribe form fieldset button{
		background-image:url('../images/arrow-pointer-right-white.svg');  
		background-repeat:no-repeat; 
		background-position:center;
		background-size:20px;
		color:transparent;
		width:80px;}
	.newsletter-subscribe form fieldset input{ padding-right:80px; }

	footer .inner{ padding:50px 0 80px; }
	footer .inner .container-wrapp{ padding:0 15px; }
}

@media screen and (max-width:500px){
	.homepage-brief .brief-left .inner{ width:320px; height:352px; }
	.homepage-brief .brief-left .inner .bottom{ width:160px; height:262px; right:32px; }
	.homepage-brief .brief-left .inner .middle{ width:185px; height:282px; margin-top:0; top:38px; }
	.homepage-brief .brief-left .inner .top{ width:282px; height:185px; }

	.homepage-room-type .room-type-list [class*="col-"],
	.homepage-special-promo .container-slide .item,
	.homepage-reason .container-slide .item{ width:80vw; }

	.homepage-room-type .room-type-list .item figure{ height:400px; }
	.homepage-room-type .room-type-list .item article .inner{ top:60%; }

	.detail-other-type .inner figure,
	.detail-gallery .container-full-gallery figure{ height:300px; }

	.detail-other-type .inner .boxs{ padding:30px 20px 20px; }
	.detail-other-type .inner .boxs h3{ font-size:20px; }

	.contact-map-location .map-block{ height:400px; }
}

@media screen and (max-width:360px){
	.homepage-brief .brief-right{ margin-top:-70px; }
	.homepage-brief .brief-left .inner{ width:250px; height:275px; }
	.homepage-brief .brief-left .inner .bottom{ width:125px; height:205px; right:50px; }
	.homepage-brief .brief-left .inner .middle{ width:115px; height:175px; top:50px; }
	.homepage-brief .brief-left .inner .top{ width:175px; height:115px; }

	.homepage-special-promo .container-slide .item a,
	.homepage-reason .container-slide .item a{ height:350px; }

	.homepage-room-type .room-type-list .item:hover article .inner h3:after{ height:50px; }
	.homepage-room-type .room-type-list .item:hover article .inner a{ top:80%; }
	.homepage-room-type .room-type-list .item:hover article .inner p{ height:90px; line-height:30px; overflow:hidden; }

	.homepage-activity .inner figure{ height:380px; }

	.homepage-location .inner .map-list-location .category a{ width:40px; float:none; padding:0; height:40px; text-indent:51px; overflow:hidden; }
	.homepage-location .inner .map-list-location .category{ height:auto; line-height:normal; padding:10px 30px; }

	.detail-other-type .inner figure{ height:250px; }
	.detail-gallery .container-full-gallery figure{ height:250px; }

	.detail-location .inner .map-list-location .category a{ width:40px; float:none; padding:0; height:40px; text-indent:51px; overflow:hidden; }
	.detail-location .inner .map-list-location .category{ height:auto; line-height:normal; padding:10px 30px; }
	
	.detail-page .page-content .submit{ width:100%; }

	.gallery .archive-hero .inner .boxs .filter ul li{ float:left; width:50%; }

	.contact-map-location .map-block{ height:350px; }

	footer .inner .awards .slide{ width:100%; }
}

@media screen and (max-width:320px){
	.homepage-location .inner .map-list-location .category a{ width:35px; height:35px; }

	.detail-location .inner .map-list-location .category a{ width:35px; height:35px; }

	footer .inner .other-properties .item figure{ width:110px; }
	footer .inner .awards .slide .item p{ font-size:16px; }
}