/* 
| -----------------------------------------------------------------------------
| General
| -----------------------------------------------------------------------------
*/
*{
    font-display:swap;
}
body{ font-family:'Muli', sans-serif; color:#343233; background-color:#FFFFFF; padding-top:90px; text-rendering: optimizeSpeed; font-display:swap; }
h1, h2, h3, h4{ font-family:'EB Garamond', serif; }
a, a:hover{ text-decoration:none; }
a:focus, button:focus{ outline:none; }

.container-wrapp{ padding:0 85px; overflow:hidden; }
.container-slide{ padding:0; overflow:hidden; }
.white-cream-half-bg{ background:linear-gradient(90deg, #FFFFFF 50%, #F7F4EF 50%); }
.gray-white-half-bg{ background:linear-gradient(90deg, #F0F0F0 50%, #FFFFFF 50%); }
.cream-white-large-bg{ background:linear-gradient(90deg, #F7F4EF calc(50% + 310px), #FFFFFF 0); }
.cream-white-v-half-bg{ background:linear-gradient(180deg, #F7F4EF 50%, #FFFFFF 50%); }
.cream-bg{ background-color:#F7F4EF; }

.mask-1{ width:260px; height:215px; margin-bottom:-50px; position:relative; }
.mask-2{ width:100%; height:500px; margin-bottom:0; }
.mask-3{ width:203px; height:135px; float:right; margin-bottom:-50px; margin-top:50px; }
.mask-4{ margin-top:50px; width:227px; height:150px; margin-bottom:0; }

.mask-1 img, .mask-2 img, .mask-3 img, .mask-4 img{ width:100%; height:100%; object-fit:cover; }

.ico-attractions{ background-image:url('../images/ico-attractions.svg'); background-repeat:no-repeat; }
.ico-restaurants{ background-image:url('../images/ico-restaurants.svg'); background-repeat:no-repeat; }
.ico-worships{ background-image:url('../images/ico-worships.svg'); background-repeat:no-repeat; }
.ico-beachs{ background-image:url('../images/ico-beachs.svg'); background-repeat:no-repeat; }
.ico-shops{ background-image:url('../images/ico-shops.svg'); background-repeat:no-repeat; }
.ico-all{ background-image:url('../images/ico-all.svg'); background-repeat:no-repeat; }

.category .ico-attractions:hover, .category .ico-active.ico-attractions{ background-image:url('../images/ico-attractions-white.svg'); }
.category .ico-restaurants:hover, .category .ico-active.ico-restaurants{ background-image:url('../images/ico-restaurants-white.svg'); }
.category .ico-worships:hover, .category .ico-active.ico-worships{ background-image:url('../images/ico-worships-white.svg'); }
.category .ico-beachs:hover, .category .ico-active.ico-beachs{ background-image:url('../images/ico-beachs-white.svg'); }
.category .ico-shops:hover, .category .ico-active.ico-shops{ background-image:url('../images/ico-shops-white.svg'); }
.category .ico-all:hover, .category .ico-active.ico-all{ background-image:url('../images/ico-all-white.svg'); }

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
		transition-duration: 0s;}

/*
| -------------------------------------------------------------------------------------
| Select Box Style
| -------------------------------------------------------------------------------------
*/
.select2-container--default .select2-dropdown,
.select2-container--default .select2-search--dropdown .select2-search__field{ border-color:#C8B178; }
.select2-container--default .select2-results__option[aria-selected="true"]{ background-color:#F7F4EF; }
.select2-container--default .select2-results__option--highlighted[aria-selected]{ background-color:#C8B178; }
.select2-container--default .select2-selection--single{ border:none; height:32px; }
.select2-container--default .select2-selection--single .select2-selection__arrow{ line-height:30px; }
.select2-container--default .select2-selection--single .select2-selection__arrow b{ 
	background-image:url('../images/arrow-down.svg');
	background-position:center;
	background-size:10px 5px;
	margin-left:-8px;
	margin-top:0;
	border:none;
	width:10px;
	height:5px;}
.select2-container--default .select2-selection--single .select2-selection__rendered{ color:#373E48; line-height:32px; }
.select2-container--default.select2-container--open .select2-selection--single{ border:1px solid; border-color:#C8B178; }

/*
| -------------------------------------------------------------------------------------
| mmenu Style
| -------------------------------------------------------------------------------------
*/
.mm-menu_fullscreen{ z-index:100; }
.mm-panel{ background-color:#F7F4EF; }
.mm-panels{ top:90px; background-color:#F7F4EF; }
.mm-wrapper_opened header{ background-color:#F7F4EF; }
.mm-wrapper_opened .fixed header{ box-shadow:none; }
.mm-panel_has-navbar{ padding:0 55px; }
.mm-panel_has-navbar .mm-navbar{ display:none; }
.mm-listitem__text{ padding-left:0; padding-right:0; }
.mm-listitem:after{ left:0; }
.mm-panels > .mm-panel > .mm-listview{ margin:0; }

/*
| -------------------------------------------------------------------------------------
| Datepicker Custom Style
| -------------------------------------------------------------------------------------
*/
.ui-datepicker.ui-widget.ui-widget-content{ border:1px solid #C8B178; }
.ui-datepicker{	
	background-color:#FFFFFF;
	font-family:inherit;
	border-radius:0;
	font-size:12px;
	color:inherit;
	margin-top:0;
	padding:10px;
	display:none;
	width:250px;}
.ui-datepicker table{ font-size:inherit; }
.ui-datepicker a, .ui-datepicker a:hover{ text-decoration:none; background:transparent; border:none; }
.ui-datepicker a:hover, .ui-datepicker td:hover a{
	-webkit-transition:color 0.1s ease-in-out;
	   -moz-transition:color 0.1s ease-in-out;
	     -o-transition:color 0.1s ease-in-out;
	        transition:color 0.1s ease-in-out;
				color:rgb(42, 100, 150);}
.ui-datepicker .ui-widget-header{ color:inherit; font-weight:inherit; background:transparent; border:none; }
.ui-datepicker .ui-datepicker-header{ margin-bottom:4px; text-align:center; padding:0; }
.ui-datepicker .ui-datepicker-title{ font-weight:500; line-height:inherit; margin:0 0 5px; }
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next{
		position:static;
		cursor:pointer;
		margin-top:-1px;
		line-height:1;
		height:20px;
		width:30px;}
.ui-datepicker .ui-datepicker-prev{ float:left;	text-align:left; }
.ui-datepicker .ui-datepicker-next{ float:right; text-align:right; }
.ui-datepicker .ui-datepicker-prev span, 
.ui-datepicker .ui-datepicker-next span{ display:none; }
.ui-datepicker .ui-datepicker-prev:before,
.ui-datepicker .ui-datepicker-next:before{ 
	content:'';
		background-repeat:no-repeat;
		background-position:center;
		background-size:8px auto;
		display:inline-block;
		height:20px;
		width:20px;}
.ui-datepicker .ui-datepicker-prev:before{ background-image:url('../images/arrow-left.svg'); }
.ui-datepicker .ui-datepicker-next:before{ background-image:url('../images/arrow-right.svg'); }
.ui-datepicker .ui-icon{ display:none; }
.ui-datepicker .ui-datepicker-calendar{ table-layout:fixed;	width:100%; }
.ui-datepicker .ui-datepicker-calendar th,
.ui-datepicker .ui-datepicker-calendar td{ text-align:center; padding:4px 0; }
.ui-datepicker .ui-datepicker-calendar td{
	-webkit-transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	   -moz-transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	     -o-transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
	        transition:background-color 0.1s ease-in-out, color 0.1s ease-in-out;
				border-radius:0;}
.ui-datepicker .ui-datepicker-calendar td:hover{ background-color:#F7F4EF; cursor:pointer; }
.ui-datepicker .ui-datepicker-calendar td:hover a{ color:#373E48; }
.ui-datepicker .ui-datepicker-calendar td a{ text-decoration:none; border:none; background:transparent; text-align:center; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today:hover{ background-color:#F7F4EF; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today a{ color:#373E48; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-today:hover a{ color:#373E48; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day{ background-color:#C8B178; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day a,
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-current-day:hover a{ color:#FFFFFF; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable{ font-size:inherit; color:rgb(210, 210, 210); }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable span{ border:none; text-align:center; }
.ui-datepicker .ui-datepicker-calendar .ui-datepicker-unselectable:hover{ background-color:#FFFFFF; cursor:default; }

.fixed .mm-panels{ top:60px; }
.fixed-button header .hamburger{ margin-right:60px; }

/* 
| -----------------------------------------------------------------------------
| Header
| -----------------------------------------------------------------------------
*/
header{
	-webkit-transition:height 0.6s ease-in-out, padding 0.3s ease-in-out, box-shadow 0.1s;
	-moz-transition:height 0.6s ease-in-out, padding 0.3s ease-in-out, box-shadow 0.1s;
		transition:height 0.6s ease-in-out, padding 0.3s ease-in-out, box-shadow 0.1s;
			background-color:#FFFFFF;
			padding-top:15px;
			position:fixed;
			z-index:1000;
			height:90px;
			width:100%;
			left:0;
			top:0;}
header .logo{ height:60px; position:absolute; top:0; left:8px; }
header .logo a{ display:block; }
header .logo img{ height:60px; }
header .book-now{
	-webkit-transition:width 0.3s ease-in;
	-moz-transition:width 0.3s ease-in;
		transition:width 0.3s ease-in;
			background-color:#C8B178;
			text-transform:uppercase;
			letter-spacing:1.5px;
			position:absolute;
			text-align:center;
			line-height:60px;
			overflow:hidden;
			font-weight:600;
			font-size:11px;
			color:#FFFFFF;
			height:60px;
			width:0;
			right:0;
			top:0;}
header .desktop-menu{
	-webkit-transition:padding 0.3s ease-in 0.6s;
	-moz-transition:padding 0.3s ease-in 0.6s;
		transition:padding 0.3s ease-in 0.6s;
			height:60px;}
header .desktop-menu ul{ margin:15px 0 0; padding:0; text-align:right; }
header .desktop-menu ul li{ display:inline-block; padding-right:20px; }
header .desktop-menu ul li:last-child{ padding-right:0; }
header .desktop-menu ul li a{ color:#373E48; font-size:11px; letter-spacing:1.5px; text-transform:uppercase; font-weight:600; }
header .desktop-menu ul li a:hover{ color:inherit; }
header .mobile-menu{ display:none; }
header .hamburger{ display:none; }

/* 
| -----------------------------------------------------------------------------
| Homepage
| -----------------------------------------------------------------------------
*/
.homepage-hero{ height:calc(100vh - 90px); position:relative; min-height:750px; overflow:hidden; }
.homepage-hero figure{ margin:0; height:calc(100vh - 90px); min-height:750px; }
.homepage-hero figure img{ width:100%; height:100%; object-fit:cover; }
.homepage-hero .hero-left{ padding-left:15px; width:calc(100% - 365px); }
.homepage-hero .hero-right{ position:absolute; top:0; right:0; width:450px; bottom:0; background-color:#FFFFFF; }
.homepage-hero .hero-right .booking-form{ padding:70px 100px 40px; }
.homepage-hero .hero-right .booking-form h1{ font-size:30px; color:#C8B178; line-height:40px; margin-bottom:30px; }
.homepage-hero .hero-right .booking-form fieldset{ border-bottom:1px solid #C8B178; padding:0; margin-bottom:15px; position:relative; }
.homepage-hero .hero-right .booking-form fieldset label{ letter-spacing:1.5px; margin:0 0 5px; font-size:10px; display:block; text-transform:uppercase; font-weight:600; }
.homepage-hero .hero-right .booking-form fieldset select{ width:100%; border:none; }
.homepage-hero .hero-right .booking-form fieldset .date-picker{ border:none; font-family:'EB Garamond', serif; font-size:20px; }
.homepage-hero .hero-right .booking-form fieldset .ui-datepicker-trigger{ width:10px; height:5px; position:absolute; right:8px; margin-top:8px; top:50%; cursor:pointer; }
.homepage-hero .hero-right .booking-form fieldset ::placeholder{ color:#343233; opacity:1; }
.homepage-hero .hero-right .booking-form fieldset :-ms-input-placeholder{ color:#343233; }
.homepage-hero .hero-right .booking-form fieldset ::-ms-input-placeholder{ color:#343233; }
.homepage-hero .hero-right .booking-form .book-direct{ text-align:center; font-family:'EB Garamond', serif; font-size:15px; margin-top:20px; }
.homepage-hero .hero-right .booking-form .book-direct img{ width:15px; height:15px; margin-left:15px; }
.homepage-hero .hero-right .booking-form .submit,
.homepage-hero .hero-right .booking-form .mobile-book-now-btn{ 
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
		transition:background-color 0.3s ease-in-out; 
			text-transform:uppercase;
			background-color:#C8B178;
			letter-spacing:1.5px;
			line-height:65px;
			font-weight:600;
			margin-top:70px;
			font-size:10px;
			cursor:pointer;
			color:#FFFFFF;
			height:65px;
			border:none;
			width:100%;}
.homepage-hero .hero-right .booking-form .submit:hover,
.homepage-hero .hero-right .booking-form .mobile-book-now-btn:hover{ background-color:#988555; }
.homepage-hero .hero-right .booking-form .mobile-book-now-btn{ display:none; margin-top:30px; }
.homepage-hero .hero-right .navigation{ position:absolute; bottom:0; left:0; right:0; padding:40px 100px 70px; background-color:#F7F4EF; }
.homepage-hero .hero-right .navigation .discover-more{ 
	text-transform:uppercase;
	letter-spacing:1.5px;
	position:absolute;
	font-weight:600;
	font-size:10px;
	cursor:pointer;
	bottom:70px;
	left:100px;
	right:0;}
.homepage-hero .hero-right .navigation .discover-more img{ width:20px; height:20px; margin-left:10px; }
.homepage-hero .hero-right .navigation .slick-dots{ padding:0; margin:0 -5px 40px; list-style:none; }
.homepage-hero .hero-right .navigation .slick-dots li{ display:inline-block; }
.homepage-hero .hero-right .navigation .slick-dots li button{ 
	background-color:rgba(200, 177, 120, 0.5);
	overflow:hidden;
	cursor:pointer;
	margin:0 5px;
	border:none;
	width:75px;
	height:2px;}
.homepage-hero .hero-right .navigation .slick-dots li button:focus{ outline:none; }
.homepage-hero .hero-right .navigation .slick-dots .slick-active button{ background-color:rgba(200, 177, 120, 1); }

.homepage-brief{ padding:190px 0 72px; }
.homepage-brief .brief-left{ padding:0 0 0 30px; float: }
.homepage-brief .brief-left .inner{ width:500px; height:552px; position:relative; }
.homepage-brief .brief-left .inner .bottom{ width:256px; height:360px; top:0; right:70px; }
.homepage-brief .brief-left .inner .middle{ width:235px; height:350px; left:0; top:50%; margin-top:-175px; }
.homepage-brief .brief-left .inner .top{ width:350px; height:235px; bottom:0; right:0; }
.homepage-brief .brief-left .inner figure{ position:absolute; margin:0; }
.homepage-brief .brief-left .inner img{ width:100%; height:100%; object-fit:cover; }
.homepage-brief .brief-right{ padding:70px 50px 0; }
.homepage-brief .brief-right small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.homepage-brief .brief-right h2{ font-size:35px; line-height:45px; color:#C8B178; max-width:350px; margin:0; }
.homepage-brief .brief-right .article{ line-height:30px; margin-top:30px; }
.homepage-brief .brief-right .article p{ margin-bottom:30px; }

.homepage-room-type{ padding:72px 0 150px; }
.homepage-room-type small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.homepage-room-type h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.homepage-room-type .more{ text-align:right; margin:35px 0 0; }
.homepage-room-type .more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-room-type .more a img{ width:40px; margin-left:10px; vertical-align:baseline; }
.homepage-room-type .navigation{ margin:35px 0 0 20px; }
.homepage-room-type .navigation .slick-arrow{  
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:20px 20px;
		vertical-align:middle;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:20px;
		padding:0;}
.homepage-room-type .navigation .slick-prev{ background-image:url('../images/arrow-left.svg'); margin-left:0; }
.homepage-room-type .navigation .slick-next{ background-image:url('../images/arrow-right.svg'); margin-right:0; }

.homepage-room-type .room-mobile-more{ display:none; padding-top:40px; text-align:center; }
.homepage-room-type .room-mobile-more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-room-type .room-mobile-more a img{ width:40px; margin-left:10px; vertical-align:baseline; }

.homepage-room-type .room-type-list{ padding-top:50px; }
.homepage-room-type .room-type-list .row{ margin:0 -20px; }
.homepage-room-type .room-type-list [class*="col-"]{ padding:0 20px; }
.homepage-room-type .room-type-list .item{ position:relative; overflow:hidden; }
.homepage-room-type .room-type-list .item figure{ height:700px; padding:0; margin:0; }
.homepage-room-type .room-type-list .item figure img{ 
	-webkit-transition:transform 0.3s ease-in;
	-moz-transition:transform 0.3s ease-in;
		transition:transform 0.3s ease-in; 
			object-fit:cover;
			height:100%; 
			width:100%;}
.homepage-room-type .room-type-list .item article{
	-webkit-transition:background 0.3s ease-in;
	-moz-transition:background 0.3s ease-in;
		transition:background 0.3s ease-in;
			background: rgba(52,50,51,0);
			background: -webkit-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
			background: -moz-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
			background: -ms-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
			background: -o-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
			background: linear-gradient(to bottom, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);		
				text-align:center;
				position:absolute;
				cursor:pointer;
				color:#FFFFFF;
				bottom:0;
				right:0;
				left:0;
				top:0;}
.homepage-room-type .room-type-list .item article .inner{ 
	-webkit-transition:top 0.3s ease-in;
	-moz-transition:top 0.3s ease-in;
		transition:top 0.3s ease-in;
			padding:80px 40px 0;
			position:absolute;
			bottom:0;
			top:72%;
			right:0;
			left:0;}
.homepage-room-type .room-type-list .item article .inner small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(255, 255, 255, 0.5); }
.homepage-room-type .room-type-list .item article .inner h3{ margin:0; line-height:50px; font-size:25px; }
.homepage-room-type .room-type-list .item article .inner h3:after{ 
	-webkit-transition:height 0.3s ease-in;
	-moz-transition:height 0.3s ease-in;
		transition:height 0.3s ease-in;
			content:''; 
				background-color:#FFFFFF;
				margin:30px auto;
				display:block;
				width:1px;
				height:0;}
.homepage-room-type .room-type-list .item article .inner p{ 
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
		transition:opacity 0.3s ease-in;
			opacity:0; 
			margin:0;}
.homepage-room-type .room-type-list .item article .inner a{
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
			text-transform:uppercase;
			letter-spacing:1.5px;
			margin-left:-100px;
			background:#FFFFFF;
			text-align:center;
			position:absolute;
			line-height:50px;
			font-weight:600;
			font-size:10px;
			color:#343233;
			width:200px;
			height:50px;
			opacity:0;
			left:50%;
			top:85%;}
.homepage-room-type .room-type-list .item:hover figure img{ transform: scale(1.1); }
.homepage-room-type .room-type-list .item:hover article{ background:rgba(52, 50, 51, 0.98); }
.homepage-room-type .room-type-list .item:hover article .inner{ top:0; }
.homepage-room-type .room-type-list .item:hover article .inner p{
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
		transition:opacity 0.3s ease-in;
			opacity:1;}
.homepage-room-type .room-type-list .item:hover article .inner a{ 
	-webkit-transition:opacity 0.3s ease-in;
	-moz-transition:opacity 0.3s ease-in;
		transition:opacity 0.3s ease-in;
			opacity:1;}
.homepage-room-type .room-type-list .item:hover article .inner a:hover{ 
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
			background-color:#988555; 
			color:#FFFFFF;}
.homepage-room-type .room-type-list .item:hover article .inner h3:after{ 
	-webkit-transition:height 0.3s ease-in;
	-moz-transition:height 0.3s ease-in;
		transition:height 0.3s ease-in;
			height:150px;}

.homepage-special-promo{ padding:150px 0 0; }
.homepage-special-promo h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.homepage-special-promo .more{ text-align:right; margin:10px 0 0; }
.homepage-special-promo .more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-special-promo .more a img{ width:40px; margin-left:10px; vertical-align:baseline; }
.homepage-special-promo .navigation{ margin:10px 0 0 50px; }
.homepage-special-promo .navigation .slick-arrow{  
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:11px 20px;
		vertical-align:middle;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:11px;
		padding:0;}
.homepage-special-promo .navigation .slick-prev{ background-image:url('../images/arrow-left.svg'); margin-left:0; }
.homepage-special-promo .navigation .slick-next{ background-image:url('../images/arrow-right.svg'); margin-right:0; }

.homepage-special-promo .container-slide{ overflow:hidden; padding-top:50px; }
.homepage-special-promo .container-slide .item{ width:calc( ( 100vw - 280px ) / 2 ); float:left; margin:0 20px; }
.homepage-special-promo .container-slide .item a{ display:block; height:656px; position:relative; }
.homepage-special-promo .container-slide .item a img{ width:100%; height:100%; object-fit:cover; }
.homepage-special-promo .container-slide .item a div{ position:absolute; bottom:0; right:0; left:0; padding:40px 55px; background-color:#F0F0F0; }
.homepage-special-promo .container-slide .item a div small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.homepage-special-promo .container-slide .item a div h3{ font-size:25px; line-height:50px; font-style:italic; color:#343233; margin-bottom:0; }
.homepage-special-promo .container-slide .slick-list{ padding-left:100px; }
.homepage-special-promo .container-slide .slick-slide:first-child{ visibility:hidden; }

.homepage-special-promo .promo-mobile-more{ display:none; padding-top:40px; text-align:center; }
.homepage-special-promo .promo-mobile-more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-special-promo .promo-mobile-more a img{ width:40px; margin-left:10px; vertical-align:baseline; }

.homepage-reason{ padding:150px 0; }
.homepage-reason h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.homepage-reason .article{ padding-left:50px; max-width:545px; }
.homepage-reason .navigation{ margin:40px 0 0 50px; }
.homepage-reason .navigation .slick-arrow{  
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:11px 20px;
		vertical-align:middle;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:11px;
		padding:0;}
.homepage-reason .navigation .slick-prev{ background-image:url('../images/arrow-left.svg'); margin-left:0; }
.homepage-reason .navigation .slick-next{ background-image:url('../images/arrow-right.svg'); margin-right:0; }

.homepage-reason .container-slide{ overflow:hidden; padding-top:50px; }
.homepage-reason .container-slide .item{ width:calc( ( 100vw - 280px ) / 2 ); float:left; margin:0 20px; }
.homepage-reason .container-slide .item a{ display:block; height:656px; position:relative; }
.homepage-reason .container-slide .item a img{ width:100%; height:100%; object-fit:cover; }
.homepage-reason .container-slide .item a div{
		background: rgba(52,50,51,0);
		background: -webkit-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,1) 100%);
		background: -moz-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,1) 100%);
		background: -ms-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,1) 100%);
		background: -o-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,1) 100%);
		background: linear-gradient(to bottom, rgba(52,50,51,0) 0%, rgba(52,50,51,1) 100%);
			padding:150px 55px 40px;
			position:absolute; 
			bottom:0; 
			right:0; 
			left:0;}
.homepage-reason .container-slide .item a div small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:#FFFFFF; }
.homepage-reason .container-slide .item a div h3{ font-size:25px; line-height:50px; font-style:italic; color:#FFFFFF; margin-bottom:0; }
.homepage-reason .container-slide .slick-list{ padding-left:100px; }
.homepage-reason .container-slide .slick-slide:first-child{ visibility:hidden; }

.homepage-activity{ padding:40px 0 100px; }
.homepage-activity .more{ text-align:right; margin:15px 0 0; }
.homepage-activity .more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-activity .more a img{ width:40px; margin-left:10px; vertical-align:baseline; }
.homepage-activity .inner{ padding-top:50px; }
.homepage-activity .inner .slide{ overflow:hidden; }
.homepage-activity .inner .row{ margin:0 -20px; }
.homepage-activity .inner [class*="col-"]{ padding:0 20px; }
.homepage-activity .inner .boxs{ display:table; width:100%; height:100%; padding:0 100px; }
.homepage-activity .inner .boxs article{ vertical-align:middle; display:table-cell; }
.homepage-activity .inner .boxs article small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.homepage-activity .inner .boxs article h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.homepage-activity .inner .boxs article h2 a{ color:inherit; }
.homepage-activity .inner .boxs article hr{ border:none; display:block; width:160%; height:1px; background-color:#C8B178; z-index:1; position:relative; margin-top:20px; }
.homepage-activity .inner .boxs article nav{ text-align:right; margin-top:15px; }
.homepage-activity .inner .boxs article nav .slick-arrow{  
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:20px 20px;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:20px;
		padding:0;}
.homepage-activity .inner .boxs article nav .slick-prev{ background-image:url('../images/arrow-left.svg'); }
.homepage-activity .inner .boxs article nav .slick-next{ background-image:url('../images/arrow-right.svg'); }
.homepage-activity .inner .boxs article .desc{ margin:30px 0 60px; }
.homepage-activity .inner .boxs article .desc p{ line-height:30px; height:210px; color:#343233; overflow:hidden; }

.homepage-activity .inner .boxs article .activity-mobile-more{ display:none; text-align:left; margin-top:10px; }
.homepage-activity .inner .boxs article .activity-mobile-more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-activity .inner .boxs article .activity-mobile-more a img{ width:40px; margin-left:10px; vertical-align:baseline; }

.homepage-activity .inner .boxs article .read-more{
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
			border:1px solid #C8B178;
			text-transform:uppercase;
			letter-spacing:1.5px;
			text-align:center;
			line-height:48px;
			font-weight:600;
			cursor:pointer;
			font-size:10px;
			display:block;
			color:#343233;
			width:180px;
			height:50px;}
.homepage-activity .inner .boxs article .read-more:hover{ background-color:#988555; color:#FFFFFF; border-color:#988555; }

.homepage-activity .inner figure{ width:calc( ( 100vw - 255px ) / 2 ); height:600px; margin:0; }
.homepage-activity .inner figure .mobile-head-title{ display:none; }
.homepage-activity .inner figure .mobile-head-title small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.homepage-activity .inner figure .mobile-head-title h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.homepage-activity .inner figure .mobile-head-title h2 a{ color:inherit; }
.homepage-activity .inner figure .mobile-head-title hr{ border:none; display:block; width:100%; height:1px; background-color:#C8B178; z-index:1; position:relative; margin:20px 0 30px; }
.homepage-activity .inner figure img{ width:100%; height:100%; object-fit:cover; }
 
.homepage-activity .inner .boxs article h2,
.homepage-activity .inner .boxs article small,
.homepage-activity .inner .boxs article .desc{
	-webkit-transition:opacity 0.3s ease-in-out;
	-moz-transition:opacity 0.3s ease-in-out;
		transition:opacity 0.3s ease-in-out;}

.homepage-activity .inner .boxs .fadeout h2,
.homepage-activity .inner .boxs .fadeout small,
.homepage-activity .inner .boxs .fadeout .desc{ opacity:0; }

.homepage-location .inner{ border-top:1px solid #F7F4EF; margin-top:-1px; padding-top:1px; padding-top:141px; }
.homepage-location .inner h2{ font-size:35px; line-height:45px; color:#C8B178; margin:10px 0 0; }
.homepage-location .inner p{ margin:0; line-height:30px; max-width:545px; padding:0 0 0 50px; }
.homepage-location .inner .map-wrapp{ padding:80px 0 0; }
.homepage-location .inner .map-boxs{ position:relative; }
.homepage-location .inner .map-block{ height:700px; background-color:#F0F0F0; }
.homepage-location .inner .map-list-location{ position:absolute; bottom:10px; right:10px; top:10px; background:#FFFFFF; width:400px; }
.homepage-location .inner .map-list-location .location{ padding:25px 0; height:580px; overflow:hidden; }
.homepage-location .inner .map-list-location .category{ padding:0 25px; height:100px; background-color:#343233; }
.homepage-location .inner .map-list-location .category a{ 
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out; 
			background-position:left center;
			background-size:15px auto;
			text-transform:uppercase;
			letter-spacing:1.5px;
			padding:17px 25px;
			cursor:pointer;
			font-size:10px;
			color:#C8B178;
			width:33.33%;
			float:left;}
.homepage-location .inner .map-list-location .category a:hover{ color:#FFFFFF; }
.homepage-location .inner .map-list-location .category a.ico-active{ color:#FFFFFF; }
.homepage-location .inner .map-list-location h3{ font-size:25px; line-height:40px; margin:0 0 5px; padding:0 25px; color:#C8B178; }
.homepage-location .inner .map-list-location ol{ margin:0; padding:0; list-style:none; counter-reset:number; }
.homepage-location .inner .map-list-location ol li{ 
	-webkit-transition:background 0.2s ease-in-out;
	-moz-transition:background 0.2s ease-in-out;
		transition:background 0.2s ease-in-out; 
			cursor:pointer; padding:0 25px; }
.homepage-location .inner .map-list-location ol li span{ 
	border-bottom:1px solid rgba(200, 177, 120, 0.2);
	background-position:325px center;
	padding:10px 40px 10px 5px;
	background-size:17px auto;
	display:block;}
.homepage-location .inner .map-list-location ol li span:before{ content:counter(number) '. '; counter-increment:number;  }
.homepage-location .inner .map-list-location ol li:hover,
.homepage-location .inner .map-list-location ol li.active{ 
	border-bottom:1px solid rgba(200, 177, 120, 0.2);
	border-top:1px solid rgba(200, 177, 120, 0.2);
	background-color:#F7F4EF;
	margin-top:-1px;
	color:#343233;}
.homepage-location .inner .map-list-location ol li:hover span,
.homepage-location .inner .map-list-location ol li.active span{ border:none; }

.homepage-review{ padding:150px 0; background-color:#F7F4EF; margin-top:150px; }
.homepage-review h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.homepage-review .more{ text-align:right; margin:10px 0 0; }
.homepage-review .more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-review .more a img{ width:40px; margin-left:10px; vertical-align:baseline; }
.homepage-review .navigation,
.homepage-review .mobile-navigation{ margin:10px 0 0 50px; }
.homepage-review .navigation .slick-arrow,
.homepage-review .mobile-navigation .slick-arrow{  
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:11px 20px;
		vertical-align:middle;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:11px;
		padding:0;}
.homepage-review .navigation .slick-prev,
.homepage-review .mobile-navigation .mobile-slick-prev{ background-image:url('../images/arrow-left.svg'); margin-left:0; }
.homepage-review .navigation .slick-next,
.homepage-review .mobile-navigation .mobile-slick-next{ background-image:url('../images/arrow-right.svg'); margin-right:0; }
.homepage-review .navigation .slick-disabled,
.homepage-review .mobile-navigation .mobile-slick-disabled{ opacity:0.5; }

.homepage-review .container-slide{ overflow:hidden; padding:50px 100px 0; }
.homepage-review .container-slide .item{ width:calc( ( 100vw - 280px ) / 2 ); float:left; margin:0 20px; position:relative; padding-left:80px; }
.homepage-review .container-slide .item img{ position:absolute; top:0; left:0; display:block; width:58px; }
.homepage-review .container-slide .item article{ line-height:1.68;  }
.homepage-review .container-slide .item article a{ margin-left:10px; color:#C8B178; }
.homepage-review .container-slide .item article p{ margin-bottom:0; }
.homepage-review .container-slide .item article h2{ font-size:35px; line-height:50px; font-style:italic; color:#343233; margin-bottom:40px; }
.homepage-review .container-slide .item article .rating{ display:inline-block; margin-top:40px; }
.homepage-review .container-slide .item article .rating label{ display:inline-block; width:15px; height:15px; margin-right:5px; margin-bottom:0; background-size:15px; background-position:center;  }
.homepage-review .container-slide .item article .rating .rating-empty{ background-image:url(../images/star-empty.svg); }
.homepage-review .container-slide .item article .rating .rating-half{ background-image:url(../images/star-half.svg); }
.homepage-review .container-slide .item article .rating .rating-fill{ background-image:url(../images/star-fill.svg); }
.homepage-review .container-slide .item article .review-by{ font-weight:400; font-size:10px; }
.homepage-review .container-slide .item article .review-by span{ text-transform:uppercase; letter-spacing:1.5px; margin-right:5px; }

.homepage-review .review-mobile-more{ display:none; padding-top:40px; text-align:center; }
.homepage-review .review-mobile-more a{ color:#343233; text-transform:uppercase; font-size:10px; letter-spacing:1.5px; font-weight:600; cursor:pointer; }
.homepage-review .review-mobile-more a img{ width:40px; margin-left:10px; vertical-align:baseline; }

/* 
| -----------------------------------------------------------------------------
| Archive
| -----------------------------------------------------------------------------
*/
.archive-hero{ height:calc(100vh - 90px); position:relative; }
.archive-hero .row{ margin:0; }
.archive-hero [class*="col-"]{ padding:0; }
.archive-hero:before{ 
	content:''; 
		background:linear-gradient(90deg, #F7F4EF calc(50% + 310px), #FFFFFF 0);
		position:absolute;
		display:block;
		height:170px;
		width:100%;
		bottom:0;
		right:0;
		left:0;}
.archive-hero figure{ margin:0; height:calc(100vh - 90px); }
.archive-hero figure img{ width:100%; height:100%; object-fit:cover; }
.archive-hero .inner{ padding:50px 100px 170px 80px; display:table; width:100%; height:100%; }
.archive-hero .inner .boxs{ display:table-cell; vertical-align:middle; }
.archive-hero .inner .boxs h1{ font-size:35px; max-width:350px; line-height:45px; margin-bottom:37px; color:#C8B178; }
.archive-hero .inner .boxs p{ line-height:30px; }
.archive-hero .inner .boxs .filter small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.archive-hero .inner .boxs .filter ul{ padding:0; margin:5px -20px 0; list-style:none; }
.archive-hero .inner .boxs .filter ul li{  
	-webkit-transition:color 0.3s ease-in-out;
	-moz-transition:color 0.3s ease-in-out;
		transition:color 0.3s ease-in-out;
			font-family:'EB Garamond', serif;
			display:inline-block;
			font-size:18px;
			cursor:pointer; 
			padding:0 20px;}
.archive-hero .inner .boxs .filter ul li span{ display:inline-block; }
.archive-hero .inner .boxs .filter ul li span:after{ content:''; display:block; height:1px; background-color:#FFFFFF; margin:5px 0 10px; }
.archive-hero .inner .boxs .filter ul li:hover,
.archive-hero .inner .boxs .filter ul li.active{ color:#C8B178 }
.archive-hero .inner .boxs .filter ul li:hover span:after,
.archive-hero .inner .boxs .filter ul li.active span:after{ background-color:#C8B178; }
.archive-hero .inner .submit{  
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
		transition:all 0.3s ease-in-out;
			text-transform:uppercase;
			background-color:#C8B178;
			letter-spacing:1.5px;
			text-align:center;
			line-height:65px;
			font-weight:600;
			margin-top:50px;
			font-size:10px;
			cursor:pointer;
			display:block;
			color:#FFFFFF;
			height:65px;
			border:none;
			width:230px;}
.archive-hero .inner .submit:hover{ background-color:#988555; color:#FFFFFF; }
.archive-hero .discover-more{ 
	text-transform:uppercase;
	letter-spacing:1.5px;
	position:absolute;
	font-weight:600;
	font-size:10px;
	cursor:pointer;
	bottom:70px;
	left:80px;
	right:0;}
.archive-hero .discover-more img{ width:20px; height:20px; margin-left:10px; }

.archive-list{ padding-top:100px; }
.archive-list .item{ padding:100px 0; }
.archive-list .item .row{ margin:0; }
.archive-list .item [class*="col-"]{ padding:0; }
.archive-list .item .boxs{ display:table; width:100%; height:600px; padding:0 100px; }
.archive-list .item .boxs article{ vertical-align:middle; display:table-cell; }
.archive-list .item .boxs article small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.archive-list .item .boxs article h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.archive-list .item .boxs article h2 a{ color:inherit; }
.archive-list .item .boxs article hr{ border:none; display:block; width:160%; height:1px; background-color:#C8B178; z-index:1; position:relative; margin-top:20px; float:left; }
.archive-list .item .boxs article nav{ text-align:right; margin-top:15px; }
.archive-list .item .boxs article nav .slick-arrow{
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:20px 20px;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:20px;
		padding:0;}
.archive-list .item .boxs article nav .slick-prev{ background-image:url('../images/arrow-left.svg'); }
.archive-list .item .boxs article nav .slick-next{ background-image:url('../images/arrow-right.svg'); }
.archive-list .item .boxs article .desc{ margin:50px 0 60px; line-height:30px; height:180px; overflow:hidden; clear:both; }
.archive-list .item .boxs article .desc p{ color:#343233; } 

.archive-list .item .boxs article .read-more,
.archive-list .item .boxs article .book-now{ 
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out; 
			border:1px solid #C8B178;
			text-transform:uppercase;
			letter-spacing:1.5px;
			text-align:center;
			line-height:48px;
			font-weight:600;
			cursor:pointer;
			font-size:10px;
			display:block;
			color:#343233;
			width:180px;
			height:50px;}
.archive-list .item .boxs article .read-more:hover,
.archive-list .item .boxs article .book-now:hover{ background-color:#988555; border-color:#988555; color:#FFFFFF; }

.archive-list .item .archive-mobile-link{ display:none; margin-top:40px; }
.archive-list .item .archive-mobile-link nav{ text-align:right; margin-top:15px; }
.archive-list .item .archive-mobile-link nav .slick-arrow{
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:20px 20px;
		color:transparent;
		cursor:pointer;
		margin:0 25px;
		border:none;
		height:20px;
		width:20px;
		padding:0;}
.archive-list .item .archive-mobile-link nav .slick-prev{ background-image:url('../images/arrow-left.svg'); }
.archive-list .item .archive-mobile-link nav .slick-next{ background-image:url('../images/arrow-right.svg'); }

.archive-list .item .archive-mobile-link .read-more,
.archive-list .item .archive-mobile-link .book-now{ 
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out; 
			border:1px solid #C8B178;
			text-transform:uppercase;
			letter-spacing:1.5px;
			text-align:center;
			line-height:48px;
			font-weight:600;
			cursor:pointer;
			font-size:10px;
			display:block;
			color:#343233;
			width:180px;
			height:50px;}
.archive-list .item .archive-mobile-link .read-more:hover,
.archive-list .item .archive-mobile-link .book-now:hover{ background-color:#988555; border-color:#988555; color:#FFFFFF; }

.archive-list .item figure{ height:600px; }
.archive-list .item figure img{ width:100%; height:100%; object-fit:cover; }

.archive-list .item:nth-child(2n){ background-color:#FFFFFF; }
.archive-list .item:nth-child(2n) .col-md-6:first-child{ order:2; }
.archive-list .item:nth-child(2n) .col-md-6:last-child{ order:1; }
.archive-list .item:nth-child(2n) .boxs article hr{ float:right; }
.archive-list .item:nth-child(2n) .boxs article .col-md-6:first-child{ order:1; }
.archive-list .item:nth-child(2n) .boxs article .col-md-6:last-child{ order:2; }

/* 
| -----------------------------------------------------------------------------
| Detail
| -----------------------------------------------------------------------------
*/
.detail-hero{ height:calc(100vh - 90px); position:relative; overflow:hidden; }
.detail-hero .inner{ position:relative; }
.detail-hero .inner figure{ margin:0; height:calc(100vh - 90px); position:relative; }
.detail-hero .inner figure:after{ 
	content:'';		
		background: rgba(52,50,51,0);
		background: -webkit-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: -moz-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: -ms-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: -o-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: linear-gradient(to bottom, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
			position:absolute;
			bottom:0;
			top:50%;
			right:0;
			left:0;}
.detail-hero .inner figure img{ width:100%; height:100%; object-fit:cover; }
.detail-hero .inner .boxs{ position:absolute; bottom:0; padding:0 0 60px 90px; right:0; left:0; }
.detail-hero .inner .boxs h1{ font-size:40px; color:#FFFFFF; margin:0; max-width:400px; line-height:50px; }
.detail-hero .inner .boxs .discover-more{ 
	text-transform:uppercase;
	letter-spacing:1.5px;
	margin-top:23px;
	font-weight:600;
	font-size:10px;
	cursor:pointer;
	color:#FFFFFF;
	float:left;}
.detail-hero .inner .boxs .discover-more img{ width:20px; height:20px; margin-left:10px; }
.detail-hero .inner .boxs .submit{
	-webkit-transition:background 0.2s ease-in-out;
	-moz-transition:background 0.2s ease-in-out;
		transition:background 0.2s ease-in-out; 
			text-transform:uppercase;
			background-color:#C8B178;
			letter-spacing:1.5px;
			text-align:center;
			line-height:65px;
			font-weight:600;
			font-size:10px;
			cursor:pointer;
			color:#FFFFFF;
			display:block;
			float:right;
			height:65px;
			border:none;
			width:230px;}
.detail-hero .inner .boxs .submit:hover{ background-color:#988555; }

.detail-hero .inner .center-content .boxs .submit, 
.detail-hero .inner .center-content .boxs .submit{ float:none; margin:140px auto 0; display:inline-block; }
.detail-hero .inner .center-content .boxs .discover-more{ margin:50px auto 0; display:block; width:150px; }

.detail-hero .center-content{ position:absolute; top:0; left:0; right:0; bottom:0; }
.detail-hero .center-content .boxs{ position:absolute; bottom:50px; left:0; right:0; text-align:center; z-index:1; padding:0; }
.detail-hero .center-content .boxs h1{ font-size:40px; color:#FFFFFF; margin:0; max-width:none; line-height:50px; }
.detail-hero .center-content .boxs .discover-more{ 
	text-transform:uppercase;
	display:inline-block;
	letter-spacing:1.5px;
	margin-top:130px;
	font-weight:600;
	font-size:10px;
	cursor:pointer;
	color:#FFFFFF;
	float:none;}
.detail-hero .center-content .boxs .discover-more img{ width:20px; height:20px; margin-left:10px; }

.detail-hero .inner .slide:after{
	content:'';
		background: rgba(52,50,51,0);
		background: -webkit-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,0.6) 100%);
		background: -moz-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,0.6) 100%);
		background: -ms-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,0.6) 100%);
		background: -o-linear-gradient(top, rgba(52,50,51,0) 0%, rgba(52,50,51,0.6) 100%);
		background: linear-gradient(to bottom, rgba(52,50,51,0) 0%, rgba(52,50,51,0.6) 100%);
			position:absolute;
			bottom:0;
			top:20%;
			right:0;
			left:0;}
.detail-hero .slide figure:after{ content:none; }
.detail-hero .slide .slick-arrow{
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:auto 30px;
		position:absolute;
		color:transparent;
		margin-top:-7.5px;
		cursor:pointer;
		border:none;
		height:30px;
		z-index:99;
		width:30px;
		padding:0;
		top:50%;}
.detail-hero .slide .slick-prev{ background-image:url('../images/arrow-left-white.svg'); left:20px; }
.detail-hero .slide .slick-next{ background-image:url('../images/arrow-right-white.svg'); right:20px; }
.detail-hero .slide .slick-disabled{ opacity:0.5; }

.detail-gallery{ padding-top:100px; }
.detail-gallery .line{ height:1px; background-color:#F7F4EF; width:100%; display:block; clear:both; margin-bottom:20px; }
.detail-gallery h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.detail-gallery nav{ text-align:right; margin-top:15px; }
.detail-gallery nav .slick-arrow{
	background-color:transparent;
	background-repeat:no-repeat;
	background-size:20px 20px;
		color:transparent;
		cursor:pointer;
		border:none;
		height:20px;
		width:20px;
		padding:0;}
.detail-gallery nav .slick-prev{ background-image:url('../images/arrow-left.svg'); margin-right:25px; }
.detail-gallery nav .slick-next{ background-image:url('../images/arrow-right.svg'); margin-left:25px; }
.detail-gallery .container-full-gallery{ padding:30px 0 50px; overflow:hidden; } 
.detail-gallery .container-full-gallery figure{ height:700px; margin:0 25px; cursor:grab; }
.detail-gallery .container-full-gallery figure img{ object-fit:cover; width:100%; height:100%; }

.detail-other-type{ padding:90px 0; }
.detail-other-type h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.detail-other-type .inner{ margin-top:30px; }
.detail-other-type .inner a{ display:block; position:relative; }
.detail-other-type .inner a:after{
	content:'';
		background: rgba(52,50,51,0);
		background: -webkit-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: -moz-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: -ms-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: -o-linear-gradient(top, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
		background: linear-gradient(to bottom, rgba(52,50,51,0) 60%, rgba(52,50,51,1) 100%);
			position:absolute;
			top:50%;
			bottom:0;
			right:0;
			left:0;}
.detail-other-type .inner figure{ margin:0; background-color:#343233; height:530px; }
.detail-other-type .inner figure img{ width:100%; height:100%; object-fit:cover; }
.detail-other-type .inner .boxs{ position:absolute; bottom:0; left:0; right:0; padding:30px 30px 20px; color:#FFFFFF; z-index:1; }
.detail-other-type .inner .boxs small{ font-size:9px; font-weight:bold; letter-spacing:1.5px; display:block; text-transform:uppercase; }
.detail-other-type .inner .boxs h3{ font-family:'EB Garamond', serif; font-size:25px; line-height:50px; font-style:italic; margin:0; padding-right:50px; }
.detail-other-type .inner .boxs img{ position:absolute; right:30px; height:20px; bottom:35px; }

/* 
| -----------------------------------------------------------------------------
| Detail - Rooms
| -----------------------------------------------------------------------------
*/
.detail-room{ padding:190px 0 0; }
.detail-room figure{ float:right; height:700px; margin:0; width:70%; }
.detail-room figure img{ width:100%; height:100%; object-fit:cover; }
.detail-room article{ position:absolute; background-color:#F7F4EF; padding:100px 90px; top:36px; bottom:36px; width:50vw; }
.detail-room article small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.detail-room article h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.detail-room article hr{ border:none; display:block; width:140%; height:1px; background-color:#C8B178; z-index:1; position:relative; margin-top:20px; float:left; }
.detail-room article .desc{ margin:50px 0 60px; line-height:30px; height:180px; overflow:hidden; clear:both; }
.detail-room article .desc p{ color:#343233; } 

.detail-room-amenities{ padding-top:190px; }
.detail-room-amenities .line{ height:1px; background-color:#F7F4EF; width:100%; display:block; clear:both; margin-bottom:80px; }
.detail-room-amenities h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.detail-room-amenities .inner{ padding-left:40px; }
.detail-room-amenities .inner ul{ columns:2; padding:0; margin:0 0 50px 15px; line-height:40px; }
.detail-room-amenities .inner button{
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out; 
			text-transform:uppercase;
			border:1px solid #C8B178;
			background-color:#FFFFFF;
			letter-spacing:1.5px;
			line-height:65px;
			font-weight:600;
			font-size:10px;
			cursor:pointer;
			color:#343233;
			height:65px;
			width:100%;}
.detail-room-amenities .inner button:hover{ background-color:#988555; color:#FFFFFF; border-color:#988555; }

/* 
| -----------------------------------------------------------------------------
| Detail - Activity
| -----------------------------------------------------------------------------
*/
.detail-activity{ padding-top:100px; }
.detail-activity .line{ height:1px; background-color:#F7F4EF; width:100%; display:block; clear:both; margin-bottom:80px; }
.detail-activity h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.detail-activity .inner{ padding-left:40px; }
.detail-activity .inner p{ margin-bottom:20px; }
.detail-activity .inner ul{ padding:0; margin:0 0 0 15px; line-height:40px; }

/* 
| -----------------------------------------------------------------------------
| Detail - Restaurant
| -----------------------------------------------------------------------------
*/
.detail-restaurant{ padding-top:100px; }
.detail-restaurant article{ clear:both; padding-left:40px; }
.detail-restaurant article small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.detail-restaurant article h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; border-bottom:1px solid #C8B178; padding-bottom:20px; }
.detail-restaurant article .desc{ margin:30px 0 0; line-height:30px; max-width:80%; }
.detail-restaurant article .desc p{ color:#343233; }

.detail-restaurant-menu .line{ height:1px; background-color:#F7F4EF; width:100%; display:block; clear:both; margin-bottom:80px; }
.detail-restaurant-menu .line-end{ margin-bottom:0; margin-top:80px; }
.detail-restaurant-menu .slide .item{ line-height:40px; }
.detail-restaurant-menu .slide h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0 0 50px; }
.detail-restaurant-menu .slide small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); margin:0; }
.detail-restaurant-menu .slide h3{ font-family:'Muli'; font-weight:600; font-size:18px; color:#343233; padding-right:80px; line-height:1.68; }
.detail-restaurant-menu .slide p{ margin:0; }
.detail-restaurant-menu .slide span{ position:absolute; right:55px; top:0; line-height:normal; font-size:18px; font-weight:600; }
.detail-restaurant-menu .slide .col-item{ margin-bottom:30px; }
.detail-restaurant-menu .slide .col-item:last-child{ margin-bottom:0; }
.detail-restaurant-menu .slide .row-menu{ margin:0 -55px; }
.detail-restaurant-menu .slide .row-menu [class*="col-"]{ padding:0 55px; }

/* 
| -----------------------------------------------------------------------------
| Detail - Spa
| -----------------------------------------------------------------------------
*/
.detail-spa{ padding-top:100px; padding-bottom:80px; }
.detail-spa article{ clear:both; padding-left:40px; }
.detail-spa article small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.detail-spa article h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; border-bottom:1px solid #C8B178; padding-bottom:20px; }
.detail-spa article .desc{ margin:30px 0 0; line-height:30px; max-width:80%; }
.detail-spa article .desc p{ color:#343233; }

.detail-spa-list{ padding-top:0; }
.detail-spa-list .item:before,
.detail-spa-list .item:last-child:after{
	content:'';
		width:calc( 100vw - 200px );
		background-color:#F7F4EF;
		position:absolute;
		display:block;
		margin:0 auto;
		height:1px;
		right:0;
		left:0;
		top:0;}
.detail-spa-list .item:last-child:after{ top:auto; bottom:0; }
.detail-spa-list .item{ padding:100px 0; position:relative; }
.detail-spa-list .item .row{ margin:0; }
.detail-spa-list .item [class*="col-"]{ padding:0; }
.detail-spa-list .item .boxs{ display:table; width:100%; height:100%; padding:0 100px; }
.detail-spa-list .item .boxs article{ vertical-align:middle; display:table-cell; }
.detail-spa-list .item .boxs article small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.detail-spa-list .item .boxs article h2{ font-size:35px; line-height:45px; color:#C8B178; margin:0; }
.detail-spa-list .item .boxs article hr{ border:none; display:block; width:160%; height:1px; background-color:#C8B178; z-index:1; position:relative; margin-top:20px; float:left; }
.detail-spa-list .item .boxs article .desc{ margin:50px 0 60px; line-height:30px; height:170px; overflow:hidden; clear:both; }
.detail-spa-list .item .boxs article .desc p{ color:#343233; }
.detail-spa-list .item .boxs article .desc small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5) }
.detail-spa-list .item .boxs article .desc ul{ padding:0; margin:0 0 0 15px; }

.detail-spa-list .item figure{ height:500px; }
.detail-spa-list .item figure img{ width:100%; height:100%; object-fit:cover; }

.detail-spa-list .item:nth-child(2n){ background-color:#FFFFFF; }
.detail-spa-list .item:nth-child(2n) .boxs article hr{ float:right; }
.detail-spa-list .item:nth-child(2n) .col-md-6:first-child{ order:2; }
.detail-spa-list .item:nth-child(2n) .col-md-6:last-child{ order:1; }

/* 
| -----------------------------------------------------------------------------
| Detail - Map Location
| -----------------------------------------------------------------------------
*/
.detail-location .container-wrapp{ padding:0; }
.detail-location .container-wrapp .row{ margin:0; }
.detail-location .container-wrapp [class*="col-"]{ padding:0; }
.detail-location .container-wrapp .container-fluid{ padding:0 }
.detail-location .inner{ border-top:1px solid #F7F4EF; margin-top:-1px; padding-top:1px; }
.detail-location .inner h2{ font-size:35px; line-height:45px; color:#C8B178; margin:10px 0 0; }
.detail-location .inner p{ margin:0; line-height:30px; max-width:545px; padding:0 0 0 50px; }
.detail-location .inner .map-wrapp{ padding:0; }
.detail-location .inner .map-boxs{ position:relative; }
.detail-location .inner .map-block{ height:calc(100vh - 90px); background-color:#F0F0F0; }
.detail-location .inner .map-list-location{ position:absolute; bottom:10px; right:10px; top:10px; background:#FFFFFF; width:400px; }
.detail-location .inner .map-list-location .location{ padding:25px 0; height:calc(100vh - 210px); overflow:hidden; }
.detail-location .inner .map-list-location .category{ padding:0 25px; height:100px; background-color:#343233; }
.detail-location .inner .map-list-location .category a{ 
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out; 
			background-position:left center;
			background-size:15px auto;
			text-transform:uppercase;
			letter-spacing:1.5px;
			padding:17px 25px;
			cursor:pointer;
			font-size:10px;
			color:#C8B178;
			width:33.33%;
			float:left;}
.detail-location .inner .map-list-location .category a:hover{ color:#FFFFFF; }
.detail-location .inner .map-list-location .category a.ico-active{ color:#FFFFFF; }
.detail-location .inner .map-list-location h3{ font-size:25px; line-height:40px; margin:0 0 5px; padding:0 25px; color:#C8B178; }
.detail-location .inner .map-list-location ol{ margin:0; padding:0; list-style:none; counter-reset:number; }
.detail-location .inner .map-list-location ol li{ 
	-webkit-transition:background 0.2s ease-in-out;
	-moz-transition:background 0.2s ease-in-out;
		transition:background 0.2s ease-in-out; 
			cursor:pointer; padding:0 25px; }
.detail-location .inner .map-list-location ol li span{ 
	border-bottom:1px solid rgba(200, 177, 120, 0.2);
	background-position:325px center;
	padding:10px 40px 10px 5px;
	background-size:17px auto;
	display:block;}
.detail-location .inner .map-list-location ol li span:before{ content:counter(number) '. '; counter-increment:number;  }
.detail-location .inner .map-list-location ol li:hover,
.detail-location .inner .map-list-location ol li.active{ 
	border-bottom:1px solid rgba(200, 177, 120, 0.2);
	border-top:1px solid rgba(200, 177, 120, 0.2);
	background-color:#F7F4EF;
	margin-top:-1px;
	color:#343233;}
.detail-location .inner .map-list-location ol li:hover span,
.detail-location .inner .map-list-location ol li.active span{ border:none; }

.locations footer .inner .scroll-top{ top:100px; right:-70px; }

/* 
| -----------------------------------------------------------------------------
| Detail - Services
| -----------------------------------------------------------------------------
*/
.services .archive-list{ padding:130px 0 100px; }
.services .archive-hero:before{ background:#F7F4EF; }

.service-list{ border-top:1px solid #C8B178; padding-top:20px; }
.service-list small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); display:block; margin-bottom:30px; }
.service-list ul{ margin:30px -50px 0; padding:0; list-style:none; columns:2; }
.service-list ul li{ padding:15px 0; border-top:1px solid rgba(200, 177, 120, 0.3); margin:0 50px 15px; }
.service-list ul li i{ font-size:40px; width:40px; margin-right:60px; color:#C8B178; vertical-align:middle; }
.service-list ul li img{ width:40px; margin-right:60px; }

.service-list .row{ margin:0 -50px; }
.service-list [class*="col-"]{ padding:0; }
.service-list [class*="col-"] div{ border-top:1px solid rgba(200, 177, 120, 0.3); padding-top:15px; padding-bottom:15px; margin:0 50px 15px; }
.service-list [class*="col-"] span{ margin-top:5px; float:left; padding-left:100px; width:100%; margin-left:-40px; }
.service-list [class*="col-"] i{ font-size:40px; width:40px; color:#C8B178; float:left; }
.service-list [class*="col-"] img{ width:40px; float:left; }

/* 
| -----------------------------------------------------------------------------
| Detail - Gallery
| -----------------------------------------------------------------------------
*/
.gallery .archive-list{ padding:130px 0 100px; }
.gallery .archive-hero:before{ background:#F7F4EF; }

.gallery-list a{ display:block }
.gallery-list img{ width:100%; }
.gallery-list .row{ margin:0 -5px; }
.gallery-list [class*="col-"]{ padding:0 5px; margin:5px 0; }

.gallery-nav .pagination{ display:none; }
.gallery-nav .scroller-status{ display:none; text-align:center; margin-top:20px; }
.gallery-nav .scroller-status .infinite-scroll-request img{ width:55px; }
.gallery-nav .scroller-status .infinite-scroll-last,
.gallery-nav .scroller-status .infinite-scroll-error{ color:rgb(124, 124, 124); }

/* 
| -----------------------------------------------------------------------------
| Detail - Contact
| -----------------------------------------------------------------------------
*/
.contact .archive-list{ padding:130px 0 100px; }
.contact .archive-hero:before{ background:#F7F4EF; }

.contact-from .row{ margin:0 -20px; }
.contact-from [class*="col-"]{ padding:0 20px; }
.contact-from .input-placeholder{ position:relative; margin-bottom:20px; }
.contact-from .input-placeholder input{ padding:18px 0; width:100%; border:none; border-bottom:1px solid #C8B178; background:none; box-shadow:none; }
.contact-from .input-placeholder textarea{ padding:18px 0; width:100%; resize:none; border:none; border-bottom:1px solid #C8B178; background:none; box-shadow:none; }
.contact-from .input-placeholder input:valid + .placeholder,
.contact-from .input-placeholder textarea:valid + .placeholder{ display:none; }
.contact-from button{
	-webkit-transition:all 0.2s ease-in-out;
	-moz-transition:all 0.2s ease-in-out;
		transition:all 0.2s ease-in-out; 
			border:1px solid #C8B178;
			text-transform:uppercase;
			background:transparent;
			letter-spacing:1.5px;
			text-align:center;
			line-height:48px;
			font-weight:600;
			cursor:pointer;
			font-size:10px;
			display:block;
			color:#343233;
			height:65px;
			float:right;
			width:100%;}
.contact-from button:hover{ background-color:#988555; border-color:#988555; color:#FFFFFF; }
.contact-from .row-act{ margin-top:50px; }
.contact-from .placeholder{
  pointer-events:none;
  position:absolute;
  color:#343233;
  margin:auto;
  bottom:18px;
  top:18px;
  left:0;}
.contact-from .placeholder small{ color:#F20C0C; }
.contact-from .g-recaptcha{ 
	-webkit-transform:scale(0.87);
	-moz-transform:scale(0.87);
		transform:scale(0.87);
			-webkit-transform-origin:0 0;
			-moz-transform-origin:0 0;
				transform-origin:0 0;
					margin-right:-40px;
					float:right;}
.contact-from ::placeholder{ color:#343233; opacity:1; }
.contact-from :-ms-input-placeholder{ color:#343233; }
.contact-from ::-ms-input-placeholder{ color:#343233; }

.contact-map-location .map-wrapp{ padding:20px 0 0; }
.contact-map-location .map-boxs{ position:relative; }
.contact-map-location .map-block{ height:700px; background-color:#F0F0F0; }

.contact-response{ padding:44px 30px 30px; max-width:600px; background-color:#F7F4EF; min-width:400px; }
.contact-response h2{ padding-bottom:10px; border-bottom:1px solid #C8B178; margin-bottom:20px; }
.contact-response .btn{
	-webkit-transition:background 0.2s ease-in-out;
	-moz-transition:background 0.2s ease-in-out;
		transition:background 0.2s ease-in-out; 
			-webkit-border-radius:0;
			-moz-border-radius:0;
				border-radius:0;
					background-color:#C8B178;
					text-transform:uppercase;
					letter-spacing:1.5px;
					text-align:center;
					max-width:100px;
					margin-top:30px;
					font-weight:600;
					font-size:10px;
					cursor:pointer;
					color:#FFFFFF;
					display:block;
					border:none;
					height:40px;
					width:100%;}
.contact-response .btn:hover{ background-color:#988555; }
.contact-response .btn:focus{ box-shadow:none; outline:none; }

/* 
| -----------------------------------------------------------------------------
| Static Content
| -----------------------------------------------------------------------------
*/
.detail-header{ padding:150px 0 100px; text-align:center; }
.detail-header h1{ font-size:35px; color:#C8B178; line-height:40px; margin:0 0 20px; line-height:1.38; }
.detail-header small{ font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.detail-header .desc{ max-width:500px; margin:0 auto; line-height:1.68; }
.detail-header .desc p{ color:rgba(52, 50, 51, 0.5); }
.detail-page{ padding:100px 0; }
.detail-page .page-content{ max-width:1000px; margin:0 auto; line-height:1.68; }
.detail-page .page-content p{ margin-bottom:20px; }
.detail-page .page-content .submit{ 
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
		transition:background-color 0.3s ease-in-out; 
			text-transform:uppercase;
			background-color:#C8B178;
			letter-spacing:1.5px;
			text-align:center;
			line-height:65px;
			font-weight:600;
			margin-top:70px;
			font-size:10px;
			cursor:pointer;
			display:block;
			color:#FFFFFF;
			height:65px;
			border:none;
			width:200px;}
.detail-page .page-content .submit:hover{ background-color:#988555; }
.detail-page .page-content .back-to-home{ margin:0 auto; }

/* 
| -----------------------------------------------------------------------------
| 404 Content
| -----------------------------------------------------------------------------
*/
.not-found body{ background-color:#FFFFFF; height:100vh; padding:0; }
.not-found header{ position:static; padding:100px 0; text-align:center; }
.not-found header .logo{ position:static; display:block; width:160px; margin:0 auto; }
.not-found .not-found-content{ height:calc( 100vh - 350px ); text-align:center; padding:50px 0 0; min-height:450px; }
.not-found .not-found-content article{ max-width:500px; margin:0 auto; }
.not-found .not-found-content small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.not-found .not-found-content h1{ font-size:35px; color:#C8B178; line-height:40px; margin:15px auto 30px; max-width:60%; line-height:1.38; }
.not-found .not-found-content p{ margin:0 auto; max-width:80%; }
.not-found .not-found-content .back-to-home{ 
	-webkit-transition:background-color 0.3s ease-in-out;
	-moz-transition:background-color 0.3s ease-in-out;
		transition:background-color 0.3s ease-in-out; 
			text-transform:uppercase;
			background-color:#C8B178;
			letter-spacing:1.5px;
			margin:70px auto 0;
			line-height:65px;
			font-weight:600;
			max-width:200px;
			font-size:10px;
			cursor:pointer;
			display:block;
			color:#FFFFFF;
			height:65px;
			border:none;
			width:100%;}
.not-found .not-found-content .back-to-home:hover{ background-color:#988555; }
.not-found footer{ height:150px; }

.not-found footer nav{ text-align:center; }
.not-found footer nav ul{ list-style:none; padding:0; margin:0; }
.not-found footer nav ul li{ display:inline; margin-right:20px; }
.not-found footer nav ul li:last-child{ margin-right:0; }
.not-found footer nav ul li a{ text-decoration:underline; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.not-found footer nav small{ font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); margin-top:30px; display:inline-block; }


/* 
| -----------------------------------------------------------------------------
| Booking Content
| -----------------------------------------------------------------------------
*/
.booking{ background-color:#FFFFFF; height:100vh; padding:0; margin:0; }
.booking header{ position:static; padding:100px 0; text-align:center; }
.booking header .logo{ position:static; display:block; width:160px; margin:0 auto; }

.booking .booking-header{ padding:50px 0 100px; text-align:center; }
.booking .booking-header h1{ font-size:35px; color:#C8B178; line-height:40px; margin:0 0 20px; line-height:1.38; }
.booking .booking-header .desc{ max-width:800px; margin:0 auto; line-height:1.68; }
.booking .booking-header .desc p{ color:rgba(52, 50, 51, 0.5); }
.booking .booking-header .desc a{ color:inherit; text-decoration:underline; }
.booking .booking-availability{ text-align:center; padding:50px 0; min-height:450px; }
.booking .booking-availability article{ max-width:500px; margin:0 auto; }
.booking .booking-availability small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.booking .booking-availability h1{ font-size:35px; color:#C8B178; line-height:40px; margin:15px auto 30px; max-width:60%; line-height:1.38; }
.booking .booking-availability p{ margin:0 auto; max-width:80%; }
.booking .booking-availability .chronoz{ font-family:inherit; color:#343233; line-height:1.68; font-size:16px; text-align:left; }
.booking .booking-availability .chronoz .opensans{ font-weight:normal; }
.booking .booking-availability .chronoz .chr_form-control{ box-shadow:none; border-radius:0; border-color:#C8B178; }
.booking .booking-availability .chronoz .chr_table-bordered{ margin-bottom:15px; }
.booking .booking-availability .chronoz .chr_table-bordered > thead > tr > th, 
.booking .booking-availability .chronoz .chr_table-bordered > tbody > tr > th, 
.booking .booking-availability .chronoz .chr_table-bordered > tfoot > tr > th, 
.booking .booking-availability .chronoz .chr_table-bordered > thead > tr > td, 
.booking .booking-availability .chronoz .chr_table-bordered > tbody > tr > td, 
.booking .booking-availability .chronoz .chr_table-bordered > tfoot > tr > td{ border-color:#C8B178; }
.booking .booking-availability .chronoz .chr_table-bordered > thead > tr > th, 
.booking .booking-availability .chronoz .chr_table-bordered > thead > tr > td{ border-bottom-width:1px; }
.booking .booking-availability .chronoz .chr_table-bordered > thead:first-child > tr:first-child > th{ border-top:1px solid #C8B178; }
.booking .booking-availability .chronoz .chr_header img{ display:block; width:32px; margin:10px auto; }
.booking .booking-availability .chronoz .chr_badge{ border-radius:0; }
.booking .booking-availability .chronoz .chr_row{ margin-bottom:5px; }
.booking .booking-availability .chronoz .chr_btn-book{ 
	background-color:#C8B178;
	text-transform:uppercase;
	letter-spacing:1px;
	margin-top:21px;
	font-size:12px;
	color:#FFFFFF;
	height:34px;
	padding:0;}
.booking .booking-availability .chronoz .amend-button{ margin-top:5px; font-size:12px; text-transform:none; letter-spacing:normal; color:#343233; text-decoration:underline; }
.booking .booking-availability .chronoz .amend-button:focus{ outline:none; }
.booking .booking-availability .chronoz .calendar-navbar .chr_btn-book{ margin-top:0; width:30px; border-radius:0; }
.booking .booking-availability .chronoz .calendar-navbar .chr_header strong{ font-weight:normal; }
.booking .booking-availability .chronoz .select2-container--default{ max-width:100%; }
.booking .booking-availability .chronoz .select2-container--default .select2-selection--single{ border:1px solid #C8B178; border-radius:0; }
.booking .booking-availability .chronoz .monthview-not-allow{ background-color:#F7F4EF; }
.booking .booking-availability .chronoz .monthview-primary-with-event{ background-color:#f7da94; }
.booking .booking-availability .chronoz .monthview-selected{ background-color:#C8B178; }
.booking .booking-availability .chronoz #coday{ padding:0; height:32px; display:block; line-height:32px; background:#F7F4EF; border:1px solid #C8B178; }

.booking footer{ height:150px; padding-top:50px; }
.booking footer nav{ text-align:center; }
.booking footer nav ul{ list-style:none; padding:0; margin:0; }
.booking footer nav ul li{ display:inline; margin-right:20px; }
.booking footer nav ul li:last-child{ margin-right:0; }
.booking footer nav ul li a{ text-decoration:underline; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.booking footer nav small{ font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); margin-top:30px; display:inline-block; }

/* 
| -----------------------------------------------------------------------------
| Newsletter Form
| -----------------------------------------------------------------------------
*/
.newsletter-subscribe{ padding:0 0 150px; }
.newsletter-subscribe hr{ border:none; display:block; width:100%; height:1px; background-color:#F7F4EF; z-index:1; position:relative; margin-top:0; margin-bottom:150px; }
.newsletter-subscribe small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
.newsletter-subscribe p{ margin:0; font-family:'EB Garamond', serif; font-size:25px; line-height:35px; max-width:500px; }
.newsletter-subscribe form{ margin-left:40px; }
.newsletter-subscribe form fieldset{ height:60px; position:relative; }
.newsletter-subscribe form fieldset input{ 
	-webkit-transition:border-color 0.2s ease-in-out;
	-moz-transition:border-color 0.2s ease-in-out;
		transition:border-color 0.2s ease-in-out;
			border-bottom:1px solid #343233;
			padding:22px 240px 22px 10px;
			text-transform:uppercase;
			letter-spacing:1.5px;
			text-align:center;
			border-right:none;
			border-left:none;
			border-top:none;
			font-weight:600;
			font-size:10px;
			width:100%;}
.newsletter-subscribe form fieldset button{ 
	-webkit-transition:background 0.2s ease-in-out;
	-moz-transition:background 0.2s ease-in-out;
		transition:background 0.2s ease-in-out; 
			background-color:#343233;
			text-transform:uppercase;
			letter-spacing:1.5px;
			padding:18px 10px;
			position:absolute;
			text-align:center;
			font-weight:600;
			font-size:10px; 
			cursor:pointer;
			color:#FFFFFF;
			border:none;
			width:230px;
			bottom:0;
			right:0;
			top:0;}
.newsletter-subscribe form fieldset button span:last-child{ display:none; }

.newsletter-subscribe form fieldset .btn-loader span:first-child{ display:none; }
.newsletter-subscribe form fieldset .btn-loader span:last-child{ display:inline-block; }
.newsletter-subscribe form fieldset .btn-loader:after{ 
	content:''; 
		background-image:url('../images/loader.svg'); 
		background-repeat:no-repeat; 
		background-size:30px;
			vertical-align:middle;
			display:inline-block;
			margin-left:5px;
			height:30px; 
			width:30px;}
.newsletter-subscribe form fieldset:hover button{ background-color:#988555; }
.newsletter-subscribe form fieldset:hover input{ border-color:#988555 }

.subscribe-response{ padding:44px 30px 30px; max-width:600px; background-color:#F7F4EF; min-width:400px; }
.subscribe-response h2{ padding-bottom:10px; border-bottom:1px solid #C8B178; margin-bottom:20px; }
.subscribe-response .btn{
	-webkit-transition:background 0.2s ease-in-out;
	-moz-transition:background 0.2s ease-in-out;
		transition:background 0.2s ease-in-out; 
			-webkit-border-radius:0;
			-moz-border-radius:0;
				border-radius:0;
					background-color:#C8B178;
					text-transform:uppercase;
					letter-spacing:1.5px;
					text-align:center;
					max-width:100px;
					margin-top:30px;
					font-weight:600;
					font-size:10px;
					cursor:pointer;
					color:#FFFFFF;
					display:block;
					border:none;
					height:40px;
					width:100%;}
.subscribe-response .btn:hover{ background-color:#988555; }
.subscribe-response .btn:focus{ box-shadow:none; outline:none; }

/* 
| -----------------------------------------------------------------------------
| Fixed Header
| -----------------------------------------------------------------------------
*/
.fixed header{  
	-webkit-transition:height 0.3s ease-in-out 0.1s, padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out 0.3s;
	-moz-transition:height 0.3s ease-in-out 0.1s, padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out 0.3s;
		transition:height 0.3s ease-in-out 0.1s, padding 0.3s ease-in-out, box-shadow 0.3s ease-in-out 0.3s;
			-webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15 );
			-moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15 );
				box-shadow: 0px 0px 10px 0px rgba(0,0, 0, 0.15 ); 
					padding-top:5px;
					position:fixed;
					height:60px;}
.fixed header .logo, .fixed header nav, .fixed header .logo img{ height:50px; }
.fixed header nav ul{ padding-top:11px; margin:0; }

.fixed-button header nav{ padding-right:75px; }
.fixed-button header .book-now{ 
	-webkit-transition:width 0.3s ease-in 0.6s, background 0.3s ease-in;
	-moz-transition:width 0.3s ease-in 0.6s, background 0.3s ease-in;
		transition:width 0.3s ease-in 0.6s, background 0.3s ease-in;
			width:150px;}
.fixed-button header .book-now:hover{ background-color:#988555; }

/* 
| -----------------------------------------------------------------------------
| Footer
| -----------------------------------------------------------------------------
*/
footer .inner{ padding:100px 0 100px; position:relative; }
footer .inner .article{ font-family:'EB Garamond', serif; font-size:16px; line-height:30px; }
footer .inner .article small{ font-family:'Muli'; text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
footer .inner .article p{ margin:30px 0 0; max-width:450px; }
footer .inner .article ul{ padding:0; margin:80px 0 0; list-style:none; }
footer .inner .article ul li{ margin-bottom:10px; }
footer .inner .article ul li a{ color:inherit; }
footer .inner .article ul li a:hover{ text-decoration:underline; }
footer .inner .article + .scroll-top{ display:none;  }

footer .inner .awards{ padding-left:40px; }
footer .inner .awards small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
footer .inner .awards .slide{ margin-top:30px; width:320px; }
footer .inner .awards .slide .item{ width:320px; }
footer .inner .awards .slide .item figure{ width:85px; height:80px; float:left; }
footer .inner .awards .slide .item figure img{ width:100%; height:100%; object-fit:cover; }
footer .inner .awards .slide .item p{ 
	font-family:'EB Garamond', serif;
	padding-left:110px;
	font-style:italic;
	margin-left:-85px;
	line-height:25px;
	margin-top:10px;
	margin-bottom:0;
	font-size:20px;
	float:left;
	width:100%;}

footer .inner .other-properties{ padding-left:40px; margin-top:80px; }
footer .inner .other-properties small{ text-transform:uppercase; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); display:block; margin-bottom:30px; }
footer .inner .other-properties .item{ float:left; margin-right:30px; }
footer .inner .other-properties .item:last-child{ margin-right:0; }
footer .inner .other-properties .item figure{ display:block; margin:0; position:relative; height:78px; width:120px; }
footer .inner .other-properties .item figure img{ opacity:0.5; position:absolute; bottom:0; }

footer .inner nav{ padding-left:40px; position:absolute; left:15px; bottom:0; right:15px; }
footer .inner nav ul{ list-style:none; padding:0; margin:0; float:left; }
footer .inner nav ul li{ display:inline; margin-right:20px; }
footer .inner nav ul li:last-child{ margin-right:0; }
footer .inner nav ul li a{ text-decoration:underline; font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); }
footer .inner nav ul li b{ font-weight:600; }
footer .inner nav small{ font-weight:600; font-size:10px; letter-spacing:1.5px; color:rgba(52, 50, 51, 0.5); float:right; margin-top:8px; }

footer .inner .scroll-top{ 
	transform:rotate(-90deg);
	text-transform:uppercase;
	letter-spacing:1.5px;
	position:absolute;
	font-weight:600;
	cursor:pointer;
	font-size:10px;
	color:#343233;
	display:block;
	z-index:100;
	right:-70px;
	top:100px;}
footer .inner .scroll-top img{ width:40px; margin-left:10px; vertical-align:baseline; }