<style type="text/css">
    body, html
    {
        margin: 0; padding: 0; height: 100%; overflow: hidden;
    }

    #content
    {
        position:absolute; left: 0; right: 0; bottom: 0; top: 0px; 
    }
</style>
<iframe src="http://api.ichronoz.net/guest/booking/login?api=cd220b70f85e402fa0db1637f1400afb1"  width="100%" height="100%" frameborder="0">Your browser doesn't support iFrames.</iframe>