<!-- BEGIN archive-block -->
{sticky-note}
<div class="archive-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="lazy-load" src="{archive-hero-img-thumb}" data-src="{archive-hero-img}" alt="">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <div class="boxs">
                            <h1>{archive-title}</h1>
                            {archive-description}

                            <a class="submit {archive-btn-class}" href="{archive-btn-link}">{archive-btn-text}</a>
                        </div>
                    </div>

                    <div class="discover-more">
                        <a>{archive-anchor-text} <img src="{image-url}/discover.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="archive-list next-section cream-white-large-bg">
	<!-- BEGIN archive-loop-block -->
    <div class="item">
        <div class="container-wrapp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="boxs">
                            <article>
                                <small>{post-subtitle}</small>
                                <h2><a href="{post-permalink}">{post-title}</a></h2>
                                <hr />
                                <div class="desc">
                                    <p>{post-brief}</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="read-more" href="{post-permalink}">{post-link-text}</a>
                                    </div>
                                    <div class="col-md-6">
                                        <nav></nav>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="slide">
                            <figure>
                                <a href="{post-permalink}">
                                    <img class="lazy-load" src="{post-thumb-img}" data-src="{post-medium-img}" alt="">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="archive-mobile-link">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="read-more" href="{post-permalink}">{post-link-text}</a>
                                </div>
                                <div class="col-md-6">
                                    <nav></nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- END archive-loop-block -->
</div>

<section class="book-reserve-inq">
  <div class="ovly_09"></div>

  <div class="inq-con">

    <a class="ccc_"></a>

    <form>
      <input type="hidden" name="url_ajax" value="//{site-url}/ajax-function/">
      <input type="hidden" name="titz_" value="Activities">
      <div class="fc_">
        <h2>Reservation Inquiry</h2>

        <!-- <label class="g66 type_option">
          <span>SPA TYPE: *</span>
          <input autocomplete="off" readonly class="rq_" type="text" name="spa_type" placeholder="Select Package List">
          <ul class="opt_">
            <li>Bidadari Package (120 minutes)</li>
            <li>Yubi Rama – Shinta Package B (150 minutes)</li>
            <li>Traditional Balinese Massage (120 minutes)</li>
          </ul>
        </label> -->
        <label class="g66 type_option">
          <span>NO OF PERSON: *</span>
          <input autocomplete="off" readonly class="rq_" type="text" name="guest" value="1 Person">
          <ul class="opt_">
            <li>1 Person</li>
            <li>2 Persons</li>
            <li>3 Person</li>
            <li>4 Person</li>
          </ul>
        </label>
        <label class="g66 type_field">
          <span>PROMOTION CODE (IF ANY):</span>
          <input type="text" name="promo_code" placeholder="Your Code">
        </label>
        <label for="thedate__01" class="g66 type_option">
          <span>DATES: *</span>
          <input autocomplete="off" class="rq_" type="text" id="thedate__01" name="date" placeholder="Choose Date" readonly>
        </label>
        <label class="g66 koi siblings">
          <span>TIME: * <br> <br></span>
          <div class="oo0">
            <div class="kakak type_option">
              <input class="rq_" type="text" name="time" placeholder="Minute" autocomplete="off" readonly>
              <ul class="opt_ scd">
                <li>Other..</li>
                <li>15 Minutes</li>
                <li>30 Minutes</li>
                <li>45 Minutes</li>
              </ul>
            </div>
            <div class="kakak type_option">
              <input class="rq_" type="text" name="hour" placeholder="Hour" autocomplete="off" readonly>
              <ul class="opt_ scd">
                <li>Other..</li>
                <li>12 : 00 AM</li>
                <li>1 : 00 AM</li>
                <li>2 : 00 AM</li>
                <li>3 : 00 AM</li>
                <li>4 : 00 AM</li>
                <li>5 : 00 AM</li>
                <li>6 : 00 AM</li>
                <li>7 : 00 AM</li>
                <li>8 : 00 AM</li>
                <li>9 : 00 AM</li>
                <li>10 : 00 AM</li>
                <li>11 : 00 AM</li>
                <li>12 : 00 PM</li>
              </ul>
            </div>
          </div>
        </label>

        <label class="g66 type_field">
          <span>WHERE ARE YOU STAYING? *</span>
          <input class="rq_" type="text" name="current_stay" placeholder="Type Here">
        </label>

        <label class="g66 type_option">
          <span>SPECIAL REQUEST (OPTIONAL):</span>
          <!-- <input type="text" name="package_list" placeholder="Choose Date"> -->
          <textarea name="special_request"  placeholder="Type Here"></textarea>
        </label>
      </div>

      <div class="fc_">
        <h2>Contact Details</h2>
        <label class="g66 type_field">
          <span>NAME: *</span>
          <input class="rq_" type="text" name="guest_name" placeholder="Your Name">
        </label>
        <label class="g66 type_option opopmo">
          <span class="push_">NATIONALITY: *</span>
          <!-- <input class="rq_" type="text" name="nationality" placeholder="Select Your Nationality"> -->
          <select readOnly class="kkkk_" class="rq_" name="nationality">
            <option value="">Select Your Nationality</option>
            <option value="Afghanistan">Afghanistan</option> <option value="Aland Islands">Aland Islands</option> <option value="Albania">Albania</option> <option value="Algeria">Algeria</option> <option value="American Samoa">American Samoa</option> <option value="Andorra">Andorra</option> <option value="Angola">Angola</option> <option value="Anguilla">Anguilla</option> <option value="Antarctica">Antarctica</option> <option value="Antigua and Barbuda">Antigua and Barbuda</option> <option value="Argentina">Argentina</option> <option value="Armenia">Armenia</option> <option value="Aruba">Aruba</option> <option value="Australia">Australia</option> <option value="Austria">Austria</option> <option value="Azerbaijan">Azerbaijan</option> <option value="Bahamas">Bahamas</option> <option value="Bahrain">Bahrain</option> <option value="Bangladesh">Bangladesh</option> <option value="Barbados">Barbados</option> <option value="Belarus">Belarus</option> <option value="Belgium">Belgium</option> <option value="Belize">Belize</option> <option value="Benin">Benin</option> <option value="Bermuda">Bermuda</option> <option value="Bhutan">Bhutan</option> <option value="Bolivia">Bolivia</option> <option value="Bonaire, Saint Eustatius and Saba">Bonaire, Saint Eustatius and Saba</option> <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option> <option value="Botswana">Botswana</option> <option value="Bouvet Island">Bouvet Island</option> <option value="Brazil">Brazil</option> <option value="British Indian Ocean Territory">British Indian Ocean Territory</option> <option value="British Virgin Islands">British Virgin Islands</option> <option value="Brunei">Brunei</option> <option value="Bulgaria">Bulgaria</option> <option value="Burkina Faso">Burkina Faso</option> <option value="Burundi">Burundi</option> <option value="Cambodia">Cambodia</option> <option value="Cameroon">Cameroon</option> <option value="Canada">Canada</option> <option value="Cape Verde">Cape Verde</option> <option value="Cayman Islands">Cayman Islands</option> <option value="Central African Republic">Central African Republic</option> <option value="Chad">Chad</option> <option value="Chile">Chile</option> <option value="China">China</option> <option value="Christmas Island">Christmas Island</option> <option value="Cocos Islands">Cocos Islands</option> <option value="Colombia">Colombia</option> <option value="Comoros">Comoros</option> <option value="Cook Islands">Cook Islands</option> <option value="Costa Rica">Costa Rica</option> <option value="Croatia">Croatia</option> <option value="Cuba">Cuba</option> <option value="Curacao">Curacao</option> <option value="Cyprus">Cyprus</option> <option value="Czech Republic">Czech Republic</option> <option value="Democratic Republic of the Congo">Democratic Republic of the Congo</option> <option value="Denmark">Denmark</option> <option value="Djibouti">Djibouti</option> <option value="Dominica">Dominica</option> <option value="Dominican Republic">Dominican Republic</option> <option value="East Timor">East Timor</option> <option value="Ecuador">Ecuador</option> <option value="Egypt">Egypt</option> <option value="El Salvador">El Salvador</option> <option value="Equatorial Guinea">Equatorial Guinea</option> <option value="Eritrea">Eritrea</option> <option value="Estonia">Estonia</option> <option value="Ethiopia">Ethiopia</option> <option value="Falkland Islands">Falkland Islands</option> <option value="Faroe Islands">Faroe Islands</option> <option value="Fiji">Fiji</option> <option value="Finland">Finland</option> <option value="France">France</option> <option value="French Guiana">French Guiana</option> <option value="French Polynesia">French Polynesia</option> <option value="French Southern Territories">French Southern Territories</option> <option value="Gabon">Gabon</option> <option value="Gambia">Gambia</option> <option value="Georgia">Georgia</option> <option value="Germany">Germany</option> <option value="Ghana">Ghana</option> <option value="Gibraltar">Gibraltar</option> <option value="Greece">Greece</option> <option value="Greenland">Greenland</option> <option value="Grenada">Grenada</option> <option value="Guadeloupe">Guadeloupe</option> <option value="Guam">Guam</option> <option value="Guatemala">Guatemala</option> <option value="Guernsey">Guernsey</option> <option value="Guinea">Guinea</option> <option value="Guinea-Bissau">Guinea-Bissau</option> <option value="Guyana">Guyana</option> <option value="Haiti">Haiti</option> <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option> <option value="Honduras">Honduras</option> <option value="Hong Kong">Hong Kong</option> <option value="Hungary">Hungary</option> <option value="Iceland">Iceland</option> <option value="India">India</option> <option value="Indonesia">Indonesia</option> <option value="Iran">Iran</option> <option value="Iraq">Iraq</option> <option value="Ireland">Ireland</option> <option value="Isle of Man">Isle of Man</option> <option value="Israel">Israel</option> <option value="Italy">Italy</option> <option value="Ivory Coast">Ivory Coast</option> <option value="Jamaica">Jamaica</option> <option value="Japan">Japan</option> <option value="Jersey">Jersey</option> <option value="Jordan">Jordan</option> <option value="Kazakhstan">Kazakhstan</option> <option value="Kenya">Kenya</option> <option value="Kiribati">Kiribati</option> <option value="Kosovo">Kosovo</option> <option value="Kuwait">Kuwait</option> <option value="Kyrgyzstan">Kyrgyzstan</option> <option value="Laos">Laos</option> <option value="Latvia">Latvia</option> <option value="Lebanon">Lebanon</option> <option value="Lesotho">Lesotho</option> <option value="Liberia">Liberia</option> <option value="Libya">Libya</option> <option value="Liechtenstein">Liechtenstein</option> <option value="Lithuania">Lithuania</option> <option value="Luxembourg">Luxembourg</option> <option value="Macao">Macao</option> <option value="Macedonia">Macedonia</option> <option value="Madagascar">Madagascar</option> <option value="Malawi">Malawi</option> <option value="Malaysia">Malaysia</option> <option value="Maldives">Maldives</option> <option value="Mali">Mali</option> <option value="Malta">Malta</option> <option value="Marshall Islands">Marshall Islands</option> <option value="Martinique">Martinique</option> <option value="Mauritania">Mauritania</option> <option value="Mauritius">Mauritius</option> <option value="Mayotte">Mayotte</option> <option value="Mexico">Mexico</option> <option value="Micronesia">Micronesia</option> <option value="Moldova">Moldova</option> <option value="Monaco">Monaco</option> <option value="Mongolia">Mongolia</option> <option value="Montenegro">Montenegro</option> <option value="Montserrat">Montserrat</option> <option value="Morocco">Morocco</option> <option value="Mozambique">Mozambique</option> <option value="Myanmar">Myanmar</option> <option value="Namibia">Namibia</option> <option value="Nauru">Nauru</option> <option value="Nepal">Nepal</option> <option value="Netherlands">Netherlands</option> <option value="New Caledonia">New Caledonia</option> <option value="New Zealand">New Zealand</option> <option value="Nicaragua">Nicaragua</option> <option value="Niger">Niger</option> <option value="Nigeria">Nigeria</option> <option value="Niue">Niue</option> <option value="Norfolk Island">Norfolk Island</option> <option value="North Korea">North Korea</option> <option value="Northern Mariana Islands">Northern Mariana Islands</option> <option value="Norway">Norway</option> <option value="Oman">Oman</option> <option value="Pakistan">Pakistan</option> <option value="Palau">Palau</option> <option value="Palestinian Territory">Palestinian Territory</option> <option value="Panama">Panama</option> <option value="Papua New Guinea">Papua New Guinea</option> <option value="Paraguay">Paraguay</option> <option value="Peru">Peru</option> <option value="Philippines">Philippines</option> <option value="Pitcairn">Pitcairn</option> <option value="Poland">Poland</option> <option value="Portugal">Portugal</option> <option value="Puerto Rico">Puerto Rico</option> <option value="Qatar">Qatar</option> <option value="Republic of the Congo">Republic of the Congo</option> <option value="Reunion">Reunion</option> <option value="Romania">Romania</option> <option value="Russia">Russia</option> <option value="Rwanda">Rwanda</option> <option value="Saint Barthelemy">Saint Barthelemy</option> <option value="Saint Helena">Saint Helena</option> <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option> <option value="Saint Lucia">Saint Lucia</option> <option value="Saint Martin">Saint Martin</option> <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option> <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option> <option value="Samoa">Samoa</option> <option value="San Marino">San Marino</option> <option value="Sao Tome and Principe">Sao Tome and Principe</option> <option value="Saudi Arabia">Saudi Arabia</option> <option value="Senegal">Senegal</option> <option value="Serbia">Serbia</option> <option value="Seychelles">Seychelles</option> <option value="Sierra Leone">Sierra Leone</option> <option value="Singapore">Singapore</option> <option value="Sint Maarten">Sint Maarten</option> <option value="Slovakia">Slovakia</option> <option value="Slovenia">Slovenia</option> <option value="Solomon Islands">Solomon Islands</option> <option value="Somalia">Somalia</option> <option value="South Africa">South Africa</option> <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option> <option value="South Korea">South Korea</option> <option value="South Sudan">South Sudan</option> <option value="Spain">Spain</option> <option value="Sri Lanka">Sri Lanka</option> <option value="Sudan">Sudan</option> <option value="Suriname">Suriname</option> <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option> <option value="Swaziland">Swaziland</option> <option value="Sweden">Sweden</option> <option value="Switzerland">Switzerland</option> <option value="Syria">Syria</option> <option value="Taiwan">Taiwan</option> <option value="Tajikistan">Tajikistan</option> <option value="Tanzania">Tanzania</option> <option value="Thailand">Thailand</option> <option value="Togo">Togo</option> <option value="Tokelau">Tokelau</option> <option value="Tonga">Tonga</option> <option value="Trinidad and Tobago">Trinidad and Tobago</option> <option value="Tunisia">Tunisia</option> <option value="Turkey">Turkey</option> <option value="Turkmenistan">Turkmenistan</option> <option value="Turks and Caicos Islands">Turks and Caicos Islands</option> <option value="Tuvalu">Tuvalu</option> <option value="U.S. Virgin Islands">U.S. Virgin Islands</option> <option value="Uganda">Uganda</option> <option value="Ukraine">Ukraine</option> <option value="United Arab Emirates">United Arab Emirates</option> <option value="United Kingdom">United Kingdom</option> <option value="United States">United States</option> <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option> <option value="Uruguay">Uruguay</option> <option value="Uzbekistan">Uzbekistan</option> <option value="Vanuatu">Vanuatu</option> <option value="Vatican">Vatican</option> <option value="Venezuela">Venezuela</option> <option value="Vietnam">Vietnam</option> <option value="Wallis and Futuna">Wallis and Futuna</option> <option value="Western Sahara">Western Sahara</option> <option value="Yemen">Yemen</option> <option value="Zambia">Zambia</option> <option value="Zimbabwe">Zimbabwe</option>

          </select>
        </label>
        <label class="g66 type_field">
          <span>EMAIL ADDRESS: *</span>
          <input class="rq_" type="email" name="email" placeholder="Your Email Address">
        </label>
        <label class="g66 type_field siblings hmm">
          <span>PHONE: *</span>
          <input class="rq_" type="tel" name="phone" id="phone" placeholder="Your Phone Number">
          <!-- <input class="the-tel" type="text" name="package_list" placeholder="Your Phone Number"> -->
        </label>
        <label class="g66 type_option siblings hmm">
          <span>HOW WOULD YOU PPREFER US TO CONTACT YOU? *</span>

          <input id="r-phone" type="radio" name="radio_prefer_" value="Phone" checked>
          <label for="r-phone">Phone</label>

          <input id="r-email" type="radio" name="radio_prefer_" value="Email">
          <label for="r-email">Email</label>
        </label>
        <div class="small_capt">
          <p>
            Please be informed that by sending this Reservation form, your booking has not yet guaranteed. Our staff will contact you to proceed with your booking.
          </p>

          <p>
            Should you not receive any respond within <u>24 hours</u>,
            please email us at <a href="mailto:reservation@thebidadarivillasandspa.com" target="_blank">reservation@thebidadarivillasandspa.com</a>.
          </p>

          <p>
            Please tick on the box below.
          </p>
          <div class="recaptcha__">
            <div class="g-recaptcha" data-theme="light" data-sitekey="{page-recaptcha-public-key}"></div>
          </div>
        </div>
        <a class="inq_send_btn rest__">
          <span>SEND</span>
        </a>
      </div>
    </form>
  </div>
</section>
<!-- END archive-block -->
