<!-- BEGIN archive-block -->
{sticky-note}
<div class="archive-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="lazy-load" src="{archive-hero-img-thumb}" data-src="{archive-hero-img}" alt="">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <div class="boxs">
                            <h1>{archive-title}</h1>

                            <div class="filter">
                                <small>Filter By</small>
                                <ul>
                                    <li data-filter="*" class="active"><span>All</span></li>

                                    <!-- BEGIN archive-filter-loop-block -->
                                    <li data-filter="{filter-sef}"><span>{filter-name}</span></li>
                                    <!-- END archive-filter-loop-block -->

                                </ul>
                            </div>
                            
                            <button class="submit book-now-btn" type="submit">Book Now</button>
                        </div>
                    </div>
                    
                    <div class="discover-more">
                        <a>{archive-anchor-text} <img src="{image-url}/discover.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="archive-list next-section cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="gallery-list">
                        <div class="row">
                            <!-- BEGIN archive-loop-block -->
                            <div class="col-item col-md-3 col-sm-4 col-6 {gallery-class}">
                                <a href="{gallery-img-fullscreen}" data-fancybox="{gallery-class}" data-caption="{gallery-img-caption}">
                                    <img src="{gallery-img-thumb}" alt="{gallery-img-alt}">
                                </a>
                            </div>
                            <!-- END archive-loop-block -->
                        </div>
                    </div>

                    <div class="gallery-nav">
                        <div class="row">
                            <div class="col-md-12">
                                {archive-paging}
                                <div class="scroller-status">
                                    <div class="infinite-scroll-request">
                                        <img src="{image-url}/loader.svg" alt="Loading..." />
                                    </div>
                                    <p class="infinite-scroll-last sr-only">End of Gallery</p>
                                    <p class="infinite-scroll-error sr-only"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END archive-block -->