<!-- BEGIN archive-block -->
{sticky-note}
<div class="archive-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="lazy-load" src="{archive-hero-img-thumb}" data-src="{archive-hero-img}" alt="">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <div class="boxs">
                            <h1>{archive-title}</h1>
                            {archive-description}
                            
                            <button class="submit book-now-btn" type="submit">Book Now</button>
                        </div>
                    </div>

                    <div class="discover-more">
                        <a>{archive-anchor-text} <img src="{image-url}/discover.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="archive-list next-section cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="service-list">
                        <small>Services</small>
                        <div class="row">
                            <!-- BEGIN archive-loop-block -->
                            <div class="col-md-6 col-sm-12">
                                <div class="clearfix">
                                    {services-icon}
                                    <span>{services-name}</span>
                                </div>
                            </div>
                            <!-- END archive-loop-block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END archive-block -->