<!-- BEGIN archive-block -->
{sticky-note}
<div class="archive-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="lazy-load" src="{archive-hero-img-thumb}" data-src="{archive-hero-img}" alt="">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <div class="boxs">
                            <h1>{archive-title}</h1>
                            {archive-description}
                            
                            <a class="submit {archive-btn-class}" href="{archive-btn-link}">{archive-btn-text}</a>
                        </div>
                    </div>
                    
                    <div class="discover-more">
                        <a>{archive-anchor-text} <img src="{image-url}/discover.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="archive-list next-section cream-white-large-bg">
	<!-- BEGIN archive-loop-block -->
    <div class="item">
        <div class="container-wrapp">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <div class="boxs">
                            <article>
                                <small>{post-subtitle}</small>
                                <h2><a href="{post-permalink}">{post-title}</a></h2>
                                <hr />
                                <div class="desc">
                                    <p>{post-brief}</p>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <a class="read-more" href="{post-permalink}">{post-link-text}</a>
                                    </div>
                                    <div class="col-md-6">
                                        <nav></nav>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="slide">
                            <figure>
                                <a href="{post-permalink}">
                                    <img class="lazy-load" src="{post-thumb-img}" data-src="{post-medium-img}" alt="">
                                </a>
                            </figure>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="archive-mobile-link">                            
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="read-more" href="{post-permalink}">{post-link-text}</a>
                                </div>
                                <div class="col-md-6">
                                    <nav></nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<!-- END archive-loop-block -->
</div>
<!-- END archive-block -->