<!-- BEGIN archive-block -->
{sticky-note}
<div class="detail-location">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="map-wrapp">
                                    <div class="map-boxs">
                                        <div id="map-block" class="map-block"></div>
                                        <div id="map-list-location" class="map-list-location">
                                            <div class="location">
                                                <h3>Location</h3>
                                                <ol>
                                                    <!-- BEGIN archive-loop-block -->
                                                    <li data-type="{loc-type}" data-content="{loc-cordinate}|{loc-name}|ico-pin-{loc-type}.png|ico-pin-{loc-type}-active.png|0"><span class="ico-{loc-type}">{loc-name}</span></li>
                                                    <!-- END archive-loop-block -->
                                                </ol>
                                            </div>

                                            <div class="category">
                                                <a class="ico-active ico-all" data-filter="all">All</a>
                                                <!-- BEGIN archive-category-loop-block -->
                                                <a class="ico-{type}" data-filter="{type}">{name}</a>
                                                <!-- END archive-category-loop-block -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END archive-block -->