<!-- BEGIN page-block -->        
{sticky-note}
<div class="archive-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <figure>
                        <img class="lazy-load" src="{page-hero-image-thumb}" data-src="{page-hero-image}" alt="{page-hero-image-alt}">
                    </figure>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <div class="boxs">
                            <h1>{page-title}</h1>
                            <p>{page-brief}</p>
                            
                            <button class="submit book-now-btn" type="submit">Book Now</button>
                        </div>
                    </div>

                    <div class="discover-more">
                        <a>{page-anchor-text} <img src="{image-url}/discover.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="archive-list next-section cream-bg" id="form-contact">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="contact-from">
                        <form name="contact_form" action="//{site-url}/ajax-function/" method="POST" >
                            <div class="row">
                                <div class="col-md-6">
                                    <fieldset  class="input-placeholder">
                                        <input class="contact-field" type="text" name="name" required>
                                        <span class="placeholder">Your Name <small>*</small></span>
                                    </fieldset>
                                </div>
                                <div class="col-md-6">
                                    <fieldset  class="input-placeholder">
                                        <input class="contact-field" type="text" name="email" required>
                                        <span class="placeholder">Your Email <small>*</small></span>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset  class="input-placeholder">
                                        <input class="contact-field" type="text" name="subject" required>
                                        <span class="placeholder" id="label-subject">Subject</span>
                                    </fieldset>
                                </div>
                                <div class="col-md-12">
                                    <fieldset  class="input-placeholder">
                                        <textarea class="contact-field" name="message" placeholder="Your Message" rows="5"></textarea>
                                    </fieldset>
                                </div>
                            </div>
                            <div class="row row-act">
                                <div class="col-md-6 col-sm-6">
                                    <div class="g-recaptcha" data-theme="light" data-sitekey="{page-recaptcha-public-key}"></div>
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <input type="text" class="sr-only" name="pkey" value="send-contact" required>
                                    <button type="submit" name="send-contact">Send</button>
                                </div>
                            </div>
                        </form>

                        <div class="sr-only">
                            <div id="contact-response" class="contact-response">
                                <h2>Sending Enquiry</h2>
                                <p></p>
                                <button data-fancybox-close="" class="btn btn-primary">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="contact-map-location cream-white-v-half-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="map-wrapp">
                        <div class="map-boxs">
                            <div id="map-block" class="map-block"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END page-block -->