<!-- BEGIN detail-block -->
{sticky-note}
<div class="detail-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">
                        <figure>
                            <img class="lazy-load" src="{post-thumb-image}" data-src="{post-image}" alt="">
                        </figure>
                        
                        <div class="boxs">
                            <div class="row align-items-end">
                                <div class="col-md-6">
                                    <h1>{post-title}</h1>
                                </div>
                                <div class="col-md-6">
                                    <a class="discover-more">{post-anchor-text} <img src="{image-url}/discover-white.svg" alt="" /></a>
                                    <a class="submit book-now-btn" type="submit">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        
<div class="detail-room next-section">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <article>
                        <div class="row align-items-center h-100">
                            <div class="col-md-12">
                                <small>{post-subtitle}</small>
                                <h2>{post-title}</h2>
                                <hr />
                                <div class="desc">
                                    {post-content}
                                </div>
                            </div>
                        </div>
                    </article>

                    <figure>
                        <img class="lazy-load" src="{post-rooms-thumb-image}" data-src="{post-rooms-image}" alt="">
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>
        
<!-- BEGIN amenities-block -->
<div class="detail-room-amenities">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="line"></span>
                </div>
                <div class="col-md-6">
                    <h2>Amenities & Facilities</h2>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        <ul>
                            <!-- BEGIN amenities-loop-block -->
                            <li>{amenities-title}</li>
                            <!-- END amenities-loop-block -->
                        </ul>

                        <button class="book-now-btn-white">Book Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END amenities-block -->

<!-- BEGIN gallery-block -->        
<div class="detail-gallery">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="line"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <h2>Room Gallery</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <nav></nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-full-gallery">
        <div class="inner">
            <!-- BEGIN gallery-loop-block -->
            <figure>
                <a href="{gallery-img-fullscreen}" data-fancybox="rooms-gallery" data-caption="{gallery-img-caption}">
                    <img class="slide-lazy-load" src="{gallery-img-thumb}" data-src="{gallery-img}" alt="{gallery-img-alt}">
                </a>
            </figure>
            <!-- END gallery-loop-block -->
        </div>
    </div>
</div>
<!-- END gallery-block -->
        
<!-- BEGIN other-block -->
<div class="detail-other-type cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Other Room Type</h2>
                    <div class="inner">
                        <div class="row">
                            <!-- BEGIN other-loop-block -->
                            <div class="col-md-6">
                                <div class="item">
                                    <a href="{other-permalink}">
                                        <figure>
                                            <img class="slide-lazy-load" src="{other-featured-thumb-image}" data-src="{other-featured-image}" alt="">
                                        </figure>
                                        <div class="boxs">
                                            <small>Room Type</small>
                                            <h3>{other-post-title}</h3>
                                            <img src="{image-url}/arrow-right-white.svg" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- END other-loop-block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END other-block -->

<!-- END detail-block -->