<!-- BEGIN detail-block -->
{sticky-note}
<section class="detail-hero">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="center-content">
                            <div class="boxs">
                                <h1>{post-title}</h1>
                                <nav></nav>
                                <a class="discover-more">{post-anchor-text} <img src="{image-url}/discover-white.svg" alt="" /></a>
                            </div>
                        </div>

                        <div class="slide">
                            <figure>
                                <img class="lazy-load" src="{post-thumb-image}" data-src="{post-image}" alt="">
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="detail-activity next-section">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>{post-title}</h2>
                </div>
                <div class="col-md-6">
                    <div class="inner">
                        {post-content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- BEGIN gallery-block -->        
<section class="detail-gallery">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <span class="line"></span>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <h2>Activity Gallery</h2>
                </div>
                <div class="col-md-6 col-sm-6 col-6">
                    <nav></nav>
                </div>
            </div>
        </div>
    </div>
    <div class="container-full-gallery">
        <div class="inner">
            <!-- BEGIN gallery-loop-block -->
            <figure>
                <a href="{gallery-img-fullscreen}" data-fancybox="rooms-gallery" data-caption="{gallery-img-caption}">
                    <img class="slide-lazy-load" src="{gallery-img-thumb}" data-src="{gallery-img}" alt="{gallery-img-alt}">
                </a>
            </figure>
            <!-- END gallery-loop-block -->
        </div>
    </div>
</section>
<!-- END gallery-block -->
        
<!-- BEGIN other-block -->
<section class="detail-other-type cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h2>Other Activities</h2>
                    <div class="inner">
                        <div class="row">
                            <!-- BEGIN other-loop-block -->
                            <div class="col-md-6">
                                <div class="item">
                                    <a href="{other-permalink}">
                                        <figure>
                                            <img class="slide-lazy-load" src="{other-featured-thumb-image}" data-src="{other-featured-image}" alt="">
                                        </figure>
                                        <div class="boxs">
                                            <small>Activity</small>
                                            <h3>{other-post-title}</h3>
                                            <img src="{image-url}/arrow-right-white.svg" alt="">
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <!-- END other-loop-block -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END other-block -->

<!-- END detail-block -->