<!-- BEGIN content-block -->

<div class="homepage-hero">
    <div class="container-wrapp">

        <!-- BEGIN homepage-slide-block -->
        <div class="hero-left">
        	<!-- BEGIN homepage-slide-loop-block -->
            <figure>
                <img class="slide-lazy-load" src="{slide-thumb}" data-src="{slide-url}" alt="{slide-name}" />
            </figure>
        	<!-- END homepage-slide-loop-block -->
        </div>
        <!-- END homepage-slide-block -->

        <div class="hero-right">
            <div class="booking-form">
                <!-- <form name="booking_form" action="//{site-url}/booking/book.php" method="POST"> -->
                <form class="core_book" name="booking_form">
                    <h1>Villas in the heart of Bali</h1>
                    <fieldset>
                        <label>Check In</label>
                        <input type="text" name="check_in" class="date-picker" placeholder="Choose date" autocomplete="off" readonly />
                    </fieldset>
                    <fieldset>
                        <label>Check Out</label>
                        <input type="text" name="check_out" class="date-picker" placeholder="Choose date" autocomplete="off" readonly />
                    </fieldset>
                    <fieldset>
                        <label>Adult</label>
                        <select id="s-adult" name="adult" class="select-option" autocomplete="off">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    </fieldset>
                    <fieldset>
                        <label>Child</label>
                        <select id="s-child" name="child" class="select-option" autocomplete="off">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                        </select>
                    </fieldset>

                    <input type="text" id="url" class="sr-only" name="url" value="">
                    <input type="text" id="cbs" class="sr-only" name="cbs" value="0">
                    <input type="text" id="pax" class="sr-only" name="pax" value="1">

                    <button class="submit book-now-btn" type="submit">Book Now</button>
                    <button class="mobile-book-now-btn book-trigger" type="button">Book Now</button>

                    <div class="book-direct">
                        <a class="gopop" href="javascript:;" style="color:#343233" href="javascript:;">Why Book Direct <img src="{image-url}/info.svg" alt="" /></a>
                    </div>
                </form>
            </div>

            <div class="navigation">
                <div class="hero-nav"></div>
                <a class="discover-more">Discover More <img src="{image-url}/discover.svg" alt="" /></a>
            </div>
        </div>
    </div>
</div>

<div class="homepage-brief next-section white-cream-half-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <!-- BEGIN triple-box-block -->
                <div class="col-md-6">
                    <div class="brief-left">
                        <div class="inner">
                            <!-- BEGIN triple-box-loop-block -->
                            <figure class="{triple-box-img-class}">
                                <img class="lazy-load" src="{triple-box-img-thumb-url}" data-src="{triple-box-img-url}" alt="{triple-box-img-name}" />
                            </figure>
                            <!-- END triple-box-loop-block -->
                        </div>
                    </div>
                </div>
                <!-- END triple-box-block -->

                <div class="col-md-6">
                    <div class="brief-right">
                        <small>{section-one-subtitle}</small>
                        <h2>{section-one-title}</h2>
                        <div class="article">
                            {section-one-content}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN room-type-block -->
<div class="homepage-room-type white-cream-half-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <div class="head-title">
                        <small>{section-two-subtitle}</small>
                        <h2>{section-two-title}</h2>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="navigation"></div>
                        </div>
                        <div class="col-md-8">
                            <p class="more">
                                <a href="{archive-rooms-link}">{section-two-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="room-type-list">
                        <div class="row">
        					<!-- BEGIN room-type-loop-block -->
                            <div class="col-md-4">
                                <div class="item">
                                    <figure>
                                        <img class="slide-lazy-load" src="{featured-img-thumb}" data-src="{featured-img}" alt="" />
                                    </figure>
                                    <article>
                                        <div class="inner">
                                            <small>Room Type</small>
                                            <h3>{title}</h3>
                                            {brief-text}
                                            <a href="{permalink}">View Room</a>
                                        </div>
                                    </article>
                                </div>
                            </div>
        					<!-- END room-type-loop-block -->
                        </div>
                    </div>
                    <div class="room-mobile-more">
                        <a href="{archive-rooms-link}">{section-two-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END room-type-block -->

<!-- BEGIN special-promo-block -->
<div class="homepage-special-promo">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>{section-three-title}</h2>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="navigation"></div>
                        </div>
                        <div class="col-md-8">
                            <p class="more">
                                <a href="{archive-offers-link}">{section-three-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-slide">
        <div class="inner">
			<!-- BEGIN special-promo-loop-block -->
            <div class="item">
                <a href="{permalink}">
                    <figure>
                      <img class="slide-lazy-load" src="{featured-img-thumb}" data-src="{featured-img}" alt="" />
                    </figure>
                    <div>
                        <small>Package</small>
                        <h3>{title}</h3>
                    </div>
                </a>
            </div>
			<!-- END special-promo-loop-block -->
        </div>
        <div class="promo-mobile-more">
            <a href="{archive-promo-link}">{section-three-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
        </div>
    </div>
</div>
<!-- END special-promo-block -->

<div class="homepage-reason">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>{section-four-title}</h2>
                </div>
                <div class="col-md-6">
                    <div class="article">
                        {section-four-content}
                    </div>
                    <div class="navigation"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN reason-block -->
    <div class="container-slide">
        <div class="inner">
            <!-- BEGIN reason-loop-block -->
            <div class="item">
                <a href="{permalink}" target="{permalink-target}">
                    <img class="slide-lazy-load" src="{featured-img-thumb}" data-src="{featured-img}" alt="" />
                    <div>
                        <small>{subtitle}</small>
                        <h3>{title}</h3>
                    </div>
                </a>
            </div>
            <!-- END reason-loop-block -->
        </div>
    </div>
    <!-- END reason-block -->
</div>

<!-- BEGIN activity-block -->
<div class="homepage-activity cream-white-large-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <p class="more">
                        <a href="{archive-activities-link}">{section-five-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="row ">
                            <div class="col-md-6">
                                <div class="boxs">
                                    <article>
                                        <small>Activity</small>
                                        <h2><a href="{permalink}">{title}</a></h2>
                                        <hr />
                                        <div class="desc">
                                            <p>{content}</p>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <a href="{permalink}" class="read-more">{section-five-button-text}</a>
                                            </div>
                                            <div class="col-md-6">
                                                <nav></nav>
                                                <div class="activity-mobile-more">
                                                    <a href="{archive-activities-link}">{section-five-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="slide">
									<!-- BEGIN activity-loop-block -->
                                    <figure data-title="{slide-title}" data-content="{slide-content}" data-link="{slide-permalink}">
                                        <div class="mobile-head-title">
                                            <small>Activity</small>
                                            <h2><a href="{permalink}">{title}</a></h2>
                                            <hr />
                                        </div>
                                        <a href="{slide-permalink}">
                                            <img class="slide-lazy-load" src="{slide-featured-img-thumb}" data-src="{slide-featured-img}" alt="">
                                        </a>
                                    </figure>
									<!-- END activity-loop-block -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- END activity-block -->

<div class="homepage-location">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="inner">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>{section-six-title}</h2>
                            </div>
                            <div class="col-md-6">
                                {section-six-content}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="map-wrapp">
                                    <div class="map-boxs">
                                        <div id="map-block" class="map-block"></div>
                                        <div id="map-list-location" class="map-list-location">
                                            <div class="location">
                                                <h3>Location</h3>
                                                <ol>
                                                    <!-- BEGIN locations-loop-block -->
                                                    <li data-type="{loc-type}" data-content="{loc-cordinate}|{loc-name}|ico-pin-{loc-type}.png|ico-pin-{loc-type}-active.png|0"><span class="ico-{loc-type}">{loc-name}</span></li>
                                                    <!-- END locations-loop-block -->
                                                </ol>
                                            </div>

                                            <div class="category clearfix">
                                                <a class="ico-active ico-all" data-filter="all">All</a>
                                                <!-- BEGIN locations-category-loop-block -->
                                                <a class="ico-{type}" data-filter="{type}">{name}</a>
                                                <!-- END locations-category-loop-block -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- BEGIN reviews-block -->
<div class="homepage-review">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <h2>{section-seven-title}</h2>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="navigation"></div>
                        </div>
                        <div class="col-md-8">
                            <p class="more">
                                <a href="{section-seven-link}" target="_blank">{section-seven-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-slide">
        <div class="inner">
            <!-- BEGIN reviews-loop-block -->
            <div class="item">
                <img src="{image-url}/tripadvisor.svg" alt="" />
                <article>
                    <h2>{review-title}</h2>
                    <p>{review-content}</p>
                    {review-rate}
                    {review-by}
                </article>
            </div>
            <!-- END reviews-loop-block -->
        </div>
        <div class="review-mobile-more">
            <div class="mobile-navigation">
                <button class="mobile-slick-prev slick-arrow mobile-slick-disabled" aria-label="Previous" type="button" aria-disabled="true" style="display: inline-block;">Previous</button>
                <button class="mobile-slick-next slick-arrow" aria-label="Next" type="button" aria-disabled="false" style="display: inline-block;">Next</button>
            </div>
            <a href="{section-seven-link}" target="_blank">{section-seven-link-text} <img src="{image-url}/arrow-right-long.svg" alt="" /></a>
        </div>
    </div>
</div>
<!-- END reviews-block -->

<!-- END content-block -->
