<!-- BEGIN detail-block -->

<div class="detail-header cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>{post-title}</h1>
                    <!-- <small>Effective date {page-date}</small> -->
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-page">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                  <img src="{post-image}">
                                </p>
                                {page-content}
                            </div>
                        </div>
                        <div class="add_foot">
                            <div class="af-c">
                                <a href="{direct_offers_link}" target="_blank" class="submit book-now-btn ggwp_ nto_">Book Now</a>

                                <div class="share_">
                                  <span>SHARE</span>
                                  <a href="{facebookURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/facebook.svg"/>
                                  </a>
                                  <a href="{twitterURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/twitter.svg"/>
                                  </a>
                                  <a href="{whatsappURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/wa.svg"/>
                                  </a>
                                  <a href="{pinterestURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/pinterest.svg"/>
                                  </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END detail-block -->
