<!-- BEGIN page-block -->

<div class="detail-header cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>{page-title}</h1>
                    <small>Effective date {page-date}</small>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-page">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                {page-content}
                            </div>
                        </div>
                        <div class="add_foot">
                            <div class="af-c">
                                <a style="opacity:0" href="https://secure.staah.com/common-cgi/package/packagebooking.pl?propertyId=12695" target="_blank" class="submit book-now-btn">Book Now</a>

                                <div class="share_">
                                  <span>SHARE</span>
                                  <a href="{facebookURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/facebook.svg"/>
                                  </a>
                                  <a href="{twitterURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/twitter.svg"/>
                                  </a>
                                  <a href="{whatsappURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/wa.svg"/>
                                  </a>
                                  <a href="{pinterestURL}" target="_blank">
                                    <img src="{image-url}/icon_sosmed/pinterest.svg"/>
                                  </a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END page-block -->
