<!-- BEGIN page-block -->
<div class="detail-header cream-bg">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1>{page-title}</h1>
                    <div class="desc">
                        {page-content}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="detail-page">
    <div class="container-wrapp">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="page-content">
                        <div class="row">
                            <div class="col-md-12">
                                <a class="submit back-to-home" href="//{site-url}">Back to Home</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- END page-block -->