<!-- BEGIN menus_block -->
<fieldset {hide_field_menu}>
	<input type="hidden" name="action_type" value="{action_type}">

	<div id="menu-list" class="additional_data additional-food-drink-menu">
	    <h2>Food & Drink Menu</h2>
	    <div class="additional_content">
	    	<div class="boxs-wrapp">
	    		<ul id="tab-menu-setting" class="tab-menu-setting clearfix">
	    			<li class=""><a href="#category-box">Category</a></li>
	    			<li class="active"><a href="#list-box">Main</a></li>
	    		</ul>
				<div id="category-box" class="menu-box-wrapper">
			    	<div class="boxs clearfix category-box">
			    		<label class="push-left with-margin">Add new menu category : </label>
			    		<input type="text" name="new_category" class="textbox push-left small" />
			    		<button class="the-button cat-add-to-list">Add To List</button>
			    		<button class="the-button cat-edit-menu">Save Edited</button>
				    	<button class="the-button cat-cancel-edit">Cancel</button>			    		
			    	</div>
			    	<ol class="menu-category-list clearfix sortable"></ol>
			    </div>
				<div id="list-box" class="menu-box-wrapper" style="display:block;">
	    			<div class="boxs clearfix list-box">
			    		<div class="inner push-left">
				    		<label>Menu Name : </label>
				    		<input type="text" name="menu_name" class="textbox" />
				    		<label>Category Menu <em>( ex : Main Course, Desert )</em> : </label>
				    		<select name="menu_category" class="select">
				    			<option value="">-- select menu category --</option>
				    		</select>
				    		<label>Menu Type : </label>
				    		<ul class="menu-type-wrapp clearfix">
				    			<li>
						    		<input type="checkbox" name="menu_type[0]" value="gluten-free" autocomplete="off" />
						    		<span>Gluten Free</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[1]" value="vegan" autocomplete="off" />
						    		<span>Vegan</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[2]" value="vegetarian" autocomplete="off" />
						    		<span>Vegetarian</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[3]" value="healthy-choice" autocomplete="off" />
						    		<span>Healthy Choice</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[4]" value="indonesian" autocomplete="off" />
						    		<span>Indonesian</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[5]" value="considered-spicy" autocomplete="off" />
						    		<span>Considered Spicy</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[6]" value="spa-cuisine" autocomplete="off" />
						    		<span>Spa Cuisine</span>
					    		</li>
				    			<li>
						    		<input type="checkbox" name="menu_type[7]" value="seasonal" autocomplete="off" />
						    		<span>Seasonal</span>
					    		</li>
					    	</ul>
				    	</div>
			    		<div class="inner push-left">
				    		<label>Price : </label>
				    		<input type="text" name="menu_price" class="textbox smaller" />
				    		<em>&nbsp;&nbsp;input menu price without currency</em>
				    		<label>Description : </label>
				    		<textarea name="menu_desc" class="textbox"></textarea>
				    	</div>
			    	</div>
			    	<div class="boxs clearfix">
				    	<button class="the-button add-menu-to-list">Add To List</button>
				    	<button class="the-button cancel-edit">Cancel</button>
				    	<button class="the-button edit-menu">Save Edited</button>
			    	</div>
			    	<ol class="menu-list clearfix sortable"></ol>
		    		<div class="note">
		    			<p><em><b>Important Note : </b>remember to publish after you added, edited or deleted the menu</em></p>
		    		</div>
			    </div>
	    	</div>
	    </div>
	</div>
</fieldset>

<fieldset>
	<div class="additional_data additional-food-drink-menu">
	    <h2>PDF File</h2>
	    <div class="additional_content">
	        <div class="boxs-wrapp">
	            <div class="boxs clearfix">
	                <div class="menu-pdf-file">
	                    <p>Upload your PDF menu file :</p>
	                    <div class="clearfix">
	                        {menu_pdf}
	                    </div>
	                    <input type="file" name="menu_pdf" />
	                </div>
	                <div class="menu-pdf-link">
	                    <p>Input Text For Download PDF Link</p>
	                    <input type="text" class="textbox small" name="additional_fields[menu_pdf_text_link][{i}]" value="{menu_pdf_text_link}" />
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</fieldset>

<script type="text/javascript">
	function refresh_category_menu()
	{	
		var prm = new Object;
			prm.post_id  = jQuery('.post-id-field').val();
			prm.ajax_key = 'get-category-menu';
			prm.app_name = '{app_name}';

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function(e){
            	jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
            },
            success: function( e ){
		        jQuery('.menu-category-list .overlay').remove();

				if( e.result == 'success' )
				{					
					jQuery('.menu-category-list').html('');

					jQuery.each( e.data, function( i, el ){
						var list = 
						'<li id="list_' + el.id + '">'+
							'<div class="item item-' + el.id + '">'+
								'<p>' + el.name + '</p>'+
								'<a class="edit" rel="' + el.id + '"></a>'+
								'<a class="delete" rel="' + el.id + '"></a>'+
							'</div>';

							if( typeof el.child != 'undefined' )
							{
								list += 
								'<ol>';

									jQuery.each( el.child, function( ii, ele ){
										list += 
										'<li id="list_' + ele.id + '">'+
											'<div class="item item-' + ele.id + '">'+
												'<p>' + ele.name + '</p>'+
												'<a class="edit" rel="' + ele.id + '"></a>'+
												'<a class="delete" rel="' + ele.id + '"></a>'+
											'</div>'+
										'</li>';
									});

									list += 
								'</ol>';
							}

							list += 
						'</li>';

						jQuery('.menu-category-list').append( list );
					});

					reorder_category_menu();
					set_category_menu_option();
					category_menu_link_action();
				}
            },
            error: function( e ){
		        jQuery('.menu-category-list .overlay').remove();
            }
        });
	}

	function set_category_menu_option()
	{	
		var prm = new Object;
			prm.post_id  = jQuery('.post-id-field').val();
			prm.ajax_key = 'get-category-menu-option';
			prm.app_name = '{app_name}';

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function(e){
            },
            success: function( e ){
				if( e.result == 'success' )
				{
					jQuery('[name=menu_category] option[value!=""]').remove();
					jQuery('[name=menu_category]').append(e.data).trigger('chosen:updated');
				}
            },
            error: function( e ){
            }
        });
	}

	function category_menu_link_action()
	{
		jQuery('.menu-category-list .item .edit').unbind();
		jQuery('.menu-category-list .item .edit').click( function(){
			var id     = jQuery(this).attr('rel');
			var sel    = jQuery(this).parent();
			var name   = sel.find('p').text();

			jQuery('[name=new_category]').val(name);

			jQuery('.cat-add-to-list').hide();
			jQuery('.cat-cancel-edit').show();
			jQuery('.cat-edit-menu').attr('data-id', id).show();

			jQuery('html, body').stop().animate({
				scrollTop: jQuery('#menu-list').offset().top
			}, 1000);
		});

		jQuery('.menu-category-list .item .delete').unbind();
		jQuery('.menu-category-list .item .delete').click( function(){
			var url = '//{ajax_url}';
			var prm = new Object;
				prm.cat_id   = jQuery(this).attr('rel');
				prm.ajax_key = 'delete-category-menu';
				prm.app_name = '{app_name}';

	        jQuery.ajax({
	            url        : '//{ajax_url}',
	            type       : 'POST',
	            dataType   : 'json',
	            data       : prm,
	            beforeSend : function(e){
            		jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
	            },
	            success: function( e ){
		            jQuery('.menu-category-list .overlay').remove();

	            	if( e.result == 'success' )
	            	{
	            		refresh_category_menu();
	            	}
	            	else
	            	{
	            		alert('This category can\'t be deleted, because already used in another menu');
	            	}
	            },
	            error: function( e ){
		           jQuery('.menu-category-list .overlay').remove();
	            }
	        });
		});
	}

	function reorder_category_menu()
	{
		jQuery('.menu-category-list').nestedSortable({
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 2,
			opacity: .6,
			revert: 250,
			tabSize: 25,
			placeholder: 'placeholder',
			tolerance: 'pointer',
			toleranceElement: '> div',
			stop: function(eve, ui){
				var url  = '//{ajax_url}';
				var prm  = new Object;
					prm.list_arr = jQuery('.menu-category-list').nestedSortable('toHierarchy', { startDepthCount: 0 });
					prm.ajax_key = 'reorder-category-menu';
					prm.app_name = '{app_name}';

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
	            		jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
			            jQuery('.menu-category-list .overlay').remove();
		            },
		            error: function( e ){
			           jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}
		});	
	}

	function clear_category_menu_form()
	{
		jQuery('[name=new_category]').val('');
	}

	function category_menu_func()
	{
		refresh_category_menu();
		clear_category_menu_form();

		jQuery('.cat-add-to-list').click(function(){
			var vals = jQuery('[name=new_category]').val();
		
			if( vals == '' )
			{
				alert('Please add category name');
			}
			else
			{
				var prm = new Object;
					prm.post_id  = jQuery('.post-id-field').val();
					prm.ajax_key = 'save-category-menu';
					prm.app_name = '{app_name}';
					prm.cat_name = vals;

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.menu-category-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_category_menu();
		            		clear_category_menu_form();
		            	}
		            	else
		            	{
		            		alert('This category can\'t be deleted, because already used in another menu');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}

			return false;
		});

		jQuery('.cat-edit-menu').click(function(){
			var vals = jQuery('[name=new_category]').val();
		
			if( vals == '' )
			{
				alert('Please add category name');
			}
			else
			{
				var prm = new Object;
					prm.post_id  = jQuery('.post-id-field').val();
					prm.cat_id   = jQuery(this).attr('data-id');
					prm.ajax_key = 'update-category-menu';
					prm.app_name = '{app_name}';
					prm.cat_name = vals;

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.menu-category-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_category_menu();
		            		clear_category_menu_form();
		            	}
		            	else
		            	{
		            		alert('This category can\'t be deleted, because already used in another menu');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}

			return false;
		});
		
		jQuery('.cat-cancel-edit').click(function(){
			clear_category_menu_form();

			jQuery('.cat-add-to-list').show();
			jQuery('.cat-cancel-edit').hide();
			jQuery('.cat-edit-menu').attr('data-id', '').hide();

			return false;
		});
	}

	function refresh_menu()
	{	
		var prm = new Object;
			prm.post_id  = jQuery('.post-id-field').val();
			prm.ajax_key = 'get-main-menu';
			prm.app_name = '{app_name}';

        jQuery.ajax({
            url        : '//{ajax_url}',
            type       : 'POST',
            dataType   : 'json',
            data       : prm,
            beforeSend : function( e ){
            	jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
            },
            success: function( e ){
		        jQuery('.menu-list .overlay').remove();

				if( e.result == 'success' )
				{
					jQuery('.menu-list').html('');

					jQuery.each( e.data, function( i, el ){
						var mtype = el.lmenu_type == '-' ? '-' : el.lmenu_type.join(', ').replace(/-/g, ' ');
						var list = 
						'<li id="list_' + el.lmenu_id + '">'+
							'<div class="item item-' + el.lmenu_id + ' clearfix">'+
								'<p class="name">' + el.lmenu_name + '</p>'+
								'<p class="cat" rel="' + el.lcmenu_id + '">' + el.lcmenu_name2 + '</p>'+
								'<p class="type" rel="' + el.lmenu_type + '">' + mtype + '</p>'+
								'<p class="desc">' + ( el.lmenu_desc == '' ? '-' : el.lmenu_desc ) + '</p>'+
								'<p class="price">' + el.lmenu_price + '</p>'+
								'<a class="edit" rel="' + el.lmenu_id + '"></a>'+
								'<a class="delete" rel="' + el.lmenu_id + '"></a>'+
							'</div>'+
						'</li>';

						jQuery('.menu-list').append( list );
					});

					reorder_menu();
					menu_link_action();
				}
            },
            error: function( e ){
		        jQuery('.menu-list .overlay').remove();
            }
        });
	}

	function menu_link_action()
	{
		jQuery('.menu-list .item .edit').unbind();
		jQuery('.menu-list .item .edit').click( function(){
			var sel      = jQuery(this).parent();
			var id       = jQuery(this).attr('rel');
			var name     = sel.find('.name').text();
			var desc     = sel.find('.desc').text();
	        var type     = sel.find('.type').text();
			var cat      = sel.find('.cat').text();
			var price    = sel.find('.price').text();
			var cat_id   = sel.find('.cat').attr('rel');
			var type_arr = sel.find('.type').attr('rel').split(',');

			jQuery('[name=menu_name]').val(name);
			jQuery('[name=menu_desc]').val(desc);
			jQuery('[name=menu_price]').val(price);
			jQuery('[name=menu_category]').val(cat_id).trigger('chosen:updated');

            jQuery('.menu-type-wrapp input').each(function(){
            	var vals = jQuery(this).val();

            	if( jQuery.inArray( vals, type_arr ) < 0 )
            	{
            		jQuery(this).removeAttr('checked');
            	}
            	else
            	{
            		jQuery(this).attr('checked','checked');
            	}
            });

			jQuery('.add-menu-to-list').hide();
			jQuery('.cancel-edit').show();
			jQuery('.edit-menu').attr('data-id', id).show();

			jQuery('html, body').stop().animate({
				scrollTop: jQuery('#menu-list').offset().top
			}, 1000);
		});

		jQuery('.menu-list .item .delete').unbind();
		jQuery('.menu-list .item .delete').click( function(){
			var url = '//{ajax_url}';
			var prm = new Object;
				prm.menu_id  = jQuery(this).attr('rel');
				prm.ajax_key = 'delete-main-menu';
				prm.app_name = '{app_name}';

	        jQuery.ajax({
	            url        : '//{ajax_url}',
	            type       : 'POST',
	            dataType   : 'json',
	            data       : prm,
	            beforeSend : function(e){
            		jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
	            },
	            success: function( e ){
		            jQuery('.menu-list .overlay').remove();

	            	if( e.result == 'success' )
	            	{
	            		refresh_menu();
	            	}
	            	else
	            	{
	            		alert('This menu can\'t be deleted, because already used in another menu');
	            	}
	            },
	            error: function( e ){
		           jQuery('.menu-list .overlay').remove();
	            }
	        });
		});
	}

	function reorder_menu()
	{
		jQuery('.menu-list').nestedSortable({
			handle: 'div',
			helper:	'clone',
			items: 'li',
			maxLevels: 1,
			opacity: .6,
			revert: 250,
			tabSize: 25,
			placeholder: 'placeholder',
			tolerance: 'pointer',
			stop: function(eve, ui){
				var url  = '//{ajax_url}';
				var prm  = new Object;
					prm.list_arr = jQuery('.menu-list').nestedSortable('toHierarchy', { startDepthCount: 0 });
					prm.ajax_key = 'reorder-main-menu';
					prm.app_name = '{app_name}';

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
	            		jQuery('.menu-category-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){
			            jQuery('.menu-category-list .overlay').remove();
		            },
		            error: function( e ){
			           jQuery('.menu-category-list .overlay').remove();
		            }
		        });
			}
		});	
	}

	function clear_menu_form()
	{
		jQuery('[name=menu_category]').val('').trigger('chosen:updated');
		jQuery('[name=menu_name], [name=menu_desc]').val('');
		jQuery('[name=menu_price]').val(0);
		jQuery('.menu-type-wrapp input').each(function(e){
            jQuery(this).removeAttr('checked');
        });
	}

	function menu_func()
	{
		refresh_menu();
		clear_menu_form();

		jQuery('.add-menu-to-list').click(function(){
			var name  = jQuery('[name=menu_name]').val();
			var desc  = jQuery('[name=menu_desc]').val();
			var price = jQuery('[name=menu_price]').val();
			var cat   = jQuery('[name=menu_category]').val();

			if( name == '' && cat == '' )
			{
				alert('Please add menu name & category');
			}
			else if( name == '' )
			{
				alert('Please add menu name');
			}
			else if( cat == '' )
			{
				alert('Please add menu category');
			}
			else if( name != '' && cat != '' )
			{
                var type_data = new Array();

                jQuery('.menu-type-wrapp input:checked').each(function(e){
                    type_data.push( jQuery(this).val() );
                });

                var prm = new Object;
					prm.post_id  = jQuery('.post-id-field').val();
					prm.app_name = '{app_name}';
					prm.ajax_key = 'save-main-menu';
					prm.type     = type_data;
					prm.price    = price;
					prm.name     = name;
					prm.desc     = desc;
					prm.category = cat;

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.menu-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_menu();
		            		clear_menu_form();
		            	}
		            	else
		            	{
		            		alert('This menu can\'t be deleted, please try again later');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.menu-list .overlay').remove();
		            }
		        });
            }

            return false;
        });

		jQuery('.edit-menu').click(function(){
			var name  = jQuery('[name=menu_name]').val();
			var desc  = jQuery('[name=menu_desc]').val();
			var price = jQuery('[name=menu_price]').val();
			var cat   = jQuery('[name=menu_category]').val();

			if( name == '' && cat == '' )
			{
				alert('Please add menu name & category');
			}
			else if( name == '' )
			{
				alert('Please add menu name');
			}
			else if( cat == '' )
			{
				alert('Please add menu category');
			}
			else if( name != '' && cat != '' )
			{
                var type_data = new Array();

                jQuery('.menu-type-wrapp input:checked').each(function(e){
                    type_data.push( jQuery(this).val() );
                });

                var prm = new Object;
					prm.post_id  = jQuery('.post-id-field').val();
					prm.menu_id  = jQuery(this).attr('data-id');
					prm.ajax_key = 'update-main-menu';
					prm.app_name = '{app_name}';
					prm.type     = type_data;
					prm.price    = price;
					prm.name     = name;
					prm.desc     = desc;
					prm.category = cat;

		        jQuery.ajax({
		            url        : '//{ajax_url}',
		            type       : 'POST',
		            dataType   : 'json',
		            data       : prm,
		            beforeSend : function(e){
		            	jQuery('.menu-list').append('<li class="overlay"><img src="//{plugin_url}/images/loader.GIF"></li>');
		            },
		            success: function( e ){		            	
		            	jQuery('.menu-list .overlay').remove();

		            	if( e.result == 'success' )
		            	{
		            		refresh_menu();
		            		clear_menu_form();
		            	}
		            	else
		            	{
		            		alert('This menu can\'t be deleted, please try again later');
		            	}
		            },
		            error: function( e ){
		            	jQuery('.menu-list .overlay').remove();
		            }
		        });
            }

            return false;
        });
		
		jQuery('.cancel-edit').click(function(){
			clear_menu_form();

			jQuery('.cancel-edit').hide();
			jQuery('.add-menu-to-list').show();
			jQuery('.edit-menu').attr('data-id', '').hide();

			return false;
		});
	}

	jQuery(document).ready(function(){
		menu_func();
		category_menu_func();

		if( jQuery('.select').length > 0 )
		{
			jQuery('.select').chosen({ disable_search_threshold: 10 });
		}

		jQuery('.tab-menu-setting li').click(function(){
			var id = jQuery(this).find('a').attr('href');

			jQuery('.tab-menu-setting li').removeClass('active');
			jQuery('.menu-box-wrapper').css('display','none');
			jQuery(this).addClass('active');
			jQuery(id).css('display','block');

			return false;
		});
		
		jQuery('.pdf-file a').click(function(){
            var selector = jQuery(this).parent().parent();
            var url   = '//{ajax_url}';
            var prm = new Object;
                prm.ajax_key = 'delete-pdf-menu-file';
                prm.app_name = '{app_name}';
                prm.post_id  = jQuery('.post-id-field').val();
                
            jQuery.post(url, prm, function(e){
                if(e.result=='success'){
                    selector.fadeOut(200,function(){ jQuery(this).remove(); });     
                }
            },'json');
		});
	});
</script>

<!-- END menus_block -->